<div class="shipment-container">
  <ng-container *ngIf="!shipment.shippingReceipt; else shipdetails">

    <mat-icon class="shipment-icon">done</mat-icon>
    <div>No Shipment Required</div>

  </ng-container>

  <ng-template #shipdetails>

    <mat-icon class="shipment-icon pending-shipment">local_shipping</mat-icon>

    <div>
      <div style="margin-bottom: 3px;">Carrier: {{shipment.shippingReceipt.tracking.carrier || 'Pending'}}</div>
      <div class="tracking-info">
        Tracking Number: {{shipment.shippingReceipt.tracking.id || 'Pending'}}
        <mat-icon *ngIf="shipment.shippingReceipt.tracking.id" class="copy-icon" matTooltip="Copy Tracking Number" ngxClipboard [cbContent]="shipment.shippingReceipt.tracking.id">content_copy</mat-icon></div>
    </div>

  </ng-template>
</div>