.shipment-container {
  display: flex;
  align-items: center;
}

.shipment-icon {
  margin-right: 15px;
  height: 32px;
  width: 32px;
  font-size: 32px;
  background: #1EBEA5;
  color: #ffffff;
  border-radius: 50%;
}

.pending-shipment {
  background: rgba(0,0,0,0);
  color: #1EBEA5;
}

.status {
  text-transform: capitalize;
}

.tracking-info {
  display: flex;
  align-items: center;

  mat-icon {
    margin-left: 15px;
    height: 18px;
    width: 18px;
    font-size: 18px;
    cursor: pointer;
    color: rgba(0,0,0,0.65);
  }
}