<div class="details-header-container">
  <div class="side-container" [class.side-container--hidden]="!sideVisible">
    <ng-container *ngIf="sideVisible">
      <span>Items</span>
      <md-icon (click)="sideVisibleChanged.emit(false)">close</md-icon>
    </ng-container>
    <md-icon *ngIf="!sideVisible" (click)="sideVisibleChanged.emit(true)">keyboard_arrow_right</md-icon>
  </div>

  <ng-container *ngIf="!singleScheduleMode">
    <md-icon class="search-icon">search</md-icon>
    <md-input-container>
      <input md-input type="text" placeholder="Filter Product Schedules" (input)="filterChanged.emit($event.target.value)">
    </md-input-container>
  </ng-container>

  <md-icon class="grid-icon" [class.icon-selected]="displayMode === modes.grid" (click)="displayModeChanged.emit(modes.grid)">grid_on</md-icon>

  <div class="divider"></div>

  <div class="zoom-label">Zoom</div>
  <md-slider (mousewheel)="mouseWheel($event)" [min]="1" [max]="10" [step]="1" [value]="zoomLevel" (change)="zoomChanged.emit($event.value)"></md-slider>
</div>
