<div class="details-header-container">
  <div class="add-button">Add Product</div>

  <div class="divider"></div>

  <md-icon class="search-icon">search</md-icon>
  <md-input-container>
    <input md-input type="text" placeholder="Filter Product Schedules" (input)="filterChanged.emit($event.target.value)">
  </md-input-container>

  <md-icon class="grid-icon" [class.icon-selected]="displayMode === modes.grid" (click)="displayModeChanged.emit(modes.grid)">grid_on</md-icon>
  <md-icon class="list-icon" [class.icon-selected]="displayMode === modes.list" (click)="displayModeChanged.emit(modes.list)">list</md-icon>

  <div class="divider"></div>

  <div class="zoom-label">Zoom</div>
  <md-slider [min]="1" [max]="10" [step]="1" [value]="1" (change)="zoomChanged.emit($event.value)"></md-slider>
</div>
