<div class="details-header-container">
  <div class="side-container" [class.side-container--hidden]="!sideVisible">
    <ng-container *ngIf="sideVisible">
      <span>Items</span>
      <mat-icon (click)="sideVisibleChanged.emit(false)">close</mat-icon>
    </ng-container>
    <mat-icon *ngIf="!sideVisible" (click)="sideVisibleChanged.emit(true)">keyboard_arrow_right</mat-icon>
  </div>

  <ng-container *ngIf="!singleScheduleMode">
    <mat-icon class="search-icon">search</mat-icon>
    <mat-form-field [floatLabel]="'never'">
      <input class="search-input" matInput type="text" placeholder="Filter Items" (input)="filterChanged.emit($event.target.value)">
    </mat-form-field>
    <div *ngIf="editable" class="divider"></div>
  </ng-container>

  <div *ngIf="editable" class="actions-container" [class.actions-container--solo]="singleScheduleMode">
    <div class="revert" (click)="doRevert()" [class.action-inactive]="!undoEnabled">REVERT</div>
    <mat-icon (click)="doUndo()" [class.action-inactive]="!undoEnabled">undo</mat-icon>
    <mat-icon (click)="doRedo()" [class.action-inactive]="!redoEnabled">redo</mat-icon>
    <div class="saving"> {{ statusMessage }} </div>
  </div>

  <mat-icon class="grid-icon"
            [class.icon-selected]="displayMode === modes.grid"
            [class.icon-solo]="!editable"
            (click)="displayModeChanged.emit(modes.grid)">
    grid_on
  </mat-icon>

  <div class="divider"></div>

  <div class="zoom-label">Zoom</div>
  <input (mousewheel)="mouseWheel($event)" type="range" min="1" max="10" step="1" value="{{zoomLevel}}" (change)="zoomChanged.emit($event.target.value)">

  <div class="divider"></div>

  <mat-icon [class.info--active]="infoEnabled" (click)="infoEnabledChanged.emit(!infoEnabled)">info</mat-icon>
</div>
