.details-header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  height: 46px;
  line-height: 46px;
  padding: 0 15px 0 0;
  background: white;
  color: #8E8E8E;
  font-size: 12px;

  md-icon {
    cursor: pointer;
    width: 22px;
    height: 22px;
    font-size: 22px;
    color: #8E8E8E;
  }

  .side-container {
    display: flex;
    height: 100%;
    width: 230px;
    border-right: 1px solid rgba(0,0,0,0.2);
    transition: 0.25s ease-in-out;
    overflow: hidden;

    &--hidden {
      width: 42px;
      transition: 0.25s ease-in-out;
    }

    span {
      margin-left: 15px;
      color: rgba(0,0,0,0.87);
      font-weight: 500;
    }

    md-icon {
      margin: auto 10px auto auto;
    }
  }

  .icon-selected {
    color: #4A90E2;
  }

  .search-icon {
    margin: 0 3px;
  }

  .grid-icon {
    margin: 0 3px 0;
  }

  .actions-container {
    margin-left: auto;
    margin-right: 9px;
    display: flex;
    align-items: center;
  }

  .list-icon {
    margin: 0 3px;
  }

  md-input-container {
  }

  .zoom-label {
    margin: 0 3px;
  }

  .divider {
    margin: 0 6px;
    width: 1px;
    height: 38px;
    background: rgba(0,0,0,0.15);
  }
}

.action-inactive {
  color: rgba(0,0,0,0.18) !important;
}
