.body {
  padding: 20px 25px;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  button {
    background: #2C98F0;
    color: white;
  }

  .count {
    margin-left: auto;
    color: #5F6368;
    font-size: 16px;
    font-weight: 500;
  }
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-left: -12px;
  margin-right: -12px;

  .key-card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 24px;
    margin-right: 12px;
    margin-left: 12px;
    width: calc(33% - 24px);
    box-sizing: border-box;
    background: white;
    border-radius: 4px;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.12);

    @media only screen and (max-width: 1200px) {
      width: calc(50% - 24px);
    }

    @media only screen and (max-width: 600px) {
      width: calc(100%);
    }

    .title {
      font-size: 16px;
      padding: 20px 24px 12px;
      font-weight: 500;
    }

    .date {
      font-size: 16px;
      padding: 6px 24px 12px;
      color: rgba(0, 0, 0, 0.54);
    }

    .description {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.54);
      padding: 6px 25px 25px;
    }

    .key-container {
      position: relative;
      background: rgba(0, 0, 0, 0.06);
      border: 1px solid rgba(0,0,0,0.06);
      padding: 18px 14px;

      mat-icon {
        position: absolute;
        top: 12px;
        right: 12px;
        color: #2C98F0;
        cursor: pointer;
        height: 18px;
        width: 18px;
        font-size: 18px;
      }

      &--first {
        margin-top: auto;
        border-bottom: none;
      }

      &:last-of-type {
        border-radius: 0 0 4px 4px;
      }

      .label {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 25px;
      }

      .value {
        font-size: 13px;
        color: #2C98F0;
        overflow: hidden;
      }
    }

    .menu-icon {
      position: absolute;
      top: 10px;
      right: 5px;
      color: rgba(0, 0, 0, 0.54);
      height: 22px;
      width: 22px;
      font-size: 22px;
      cursor: pointer;
    }
  }
}

.mrw-bi-input {
  margin-left: 24px;
  color: #5F6368;
  background-color: rgba(0, 0, 0, 0.12);
}

.userstrings {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  min-height: 307px;
  box-sizing: border-box;

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
  }

  &__description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
  }

  &__button {
    margin-top: auto;
    margin-right: auto;
    padding: 0;
    font-size: 14px;
    color: #2C98F0;
  }

  &__container {
    display: flex;
    align-items: flex-start;
  }

  &__content {
    margin-right: 30px;
    max-width: 250px;
  }

  &__help-icon {
    display: flex;
    padding: 6px;
    margin-left: auto;
    background: rgba(0,0,0,0.12);
    border-radius: 50%;

    mat-icon {
      height: 25px;
      width: 25px;
      font-size:25px;
      color: rgba(0,0,0,0.12);
    }
  }
}
