<md-sidenav-layout>
  <md-sidenav (mouseenter)="hover(true)" (mouseleave)="hover(false)" #sidenav
              [mode]="(_navigation.mediumScreenAndDown || showOnHover) ? 'over' : 'side'"
              [opened]="showSidenav || !_navigation.mediumScreenAndDown">
    <app-sidenav [isHovering]="isHovering || showSidenav || _navigation.mediumScreenAndDown"></app-sidenav>
  </md-sidenav>
  <header>
    <app-topnav [sideNav]="sidenav"></app-topnav>
  </header>
  <md-progress-bar *ngIf="showTopProgress" mode="query"></md-progress-bar>

  <main [class.container--hover]="!showSidenav && showOnHover">
    <div class="container">
      <router-outlet></router-outlet>
      <div class="clearfix"></div>
    </div>
  </main>
  <footer>
    <c-footer></c-footer>
  </footer>
</md-sidenav-layout>
