.container {
  position: relative;
  background-color: #E6EAF2;
}

.container--hover {
  margin-left: 64px;
}

.header--hover {
  margin-left: 64px;
}

.progress-bar {
  position: absolute;
  top:64px;
  width: 100%;
  z-index: 1;
}
