<form class="entity-view__card entity-view__card--create" #customerAddForm="ngForm">

  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">
      {{'CUSTOMER_INFO_CREATETITLE' | translate}}
    </div>
  </div>

  <div class="entity-view__card__content customer-add__content">
    <div class="flex-custom">
      <mat-form-field class="entity-view__card__content__item" [class.error]="formInvalid && !customer.firstName">
        <input auto-focus matInput name="firstName" [(ngModel)]="customer.firstName" placeholder="{{'FORMINPUTS_FIRSTNAME' | translate}}" required type="text">
      </mat-form-field>

      <mat-form-field class="entity-view__card__content__item" [class.error]="formInvalid && !customer.lastName">
        <input matInput name="lastName" [(ngModel)]="customer.lastName" placeholder="{{'FORMINPUTS_LASTNAME' | translate}}" required type="text">
      </mat-form-field>
    </div>

    <div class="flex-custom">
      <mat-form-field class="entity-view__card__content__item" [class.error]="formInvalid && !customer.phone">
        <input matInput name="phone" [(ngModel)]="customer.phone" [textMask]="{mask: mask, guide: false}" placeholder="{{'FORMINPUTS_PHONE' | translate}}" required type="text">
      </mat-form-field>

      <mat-form-field class="entity-view__card__content__item" [class.error]="formInvalid && !customer.email">
        <input matInput name="email" [(ngModel)]="customer.email" placeholder="{{'FORMINPUTS_EMAIL' | translate}}" required type="text">
      </mat-form-field>
    </div>

    <div class="flex-custom">
      <mat-form-field class="entity-view__card__content__item" [class.error]="formInvalid && !customer.address.line1">
        <input matInput name="address" [(ngModel)]="customer.address.line1" placeholder="{{'FORMINPUTS_ADDRESS' | translate}}" required type="text">
      </mat-form-field>

      <mat-form-field class="entity-view__card__content__item">
        <input matInput name="address" [(ngModel)]="customer.address.line2" placeholder="{{'FORMINPUTS_ADDRESS2' | translate}}" type="text">
      </mat-form-field>

    </div>

    <div class="flex-custom">
      <autocomplete-input class="entity-view__card__content__item" [class.error]="formInvalid && !customer.address.state" [strictFilteringStrategy]="true" [required]="true" [initialValue]="customer.address.state" [placeholder]="'FORMINPUTS_STATE' | translate" [options]="states" (selected)="customer.address.state = $event"></autocomplete-input>

      <mat-form-field class="entity-view__card__content__item" [class.error]="formInvalid && !customer.address.city">
        <input matInput name="city" [(ngModel)]="customer.address.city" placeholder="{{'FORMINPUTS_CITY' | translate}}" required type="text">
      </mat-form-field>
    </div>

    <div class="flex-custom">
      <autocomplete-input class="entity-view__card__content__item" [class.error]="formInvalid && !customer.address.country" [strictFilteringStrategy]="true" [required]="true" [initialValue]="customer.address.country" [placeholder]="'FORMINPUTS_COUNTRY' | translate" [options]="countries" (selected)="customer.address.country = $event"></autocomplete-input>

      <mat-form-field class="entity-view__card__content__item" [class.error]="formInvalid && !isZip(customer.address.zip)">
        <input matInput (keydown)="isAllowedZipKey($event)" maxlength="10" name="postalCode" [(ngModel)]="customer.address.zip" placeholder="{{'FORMINPUTS_ZIP' | translate}}" required type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="entity-view__card__actions">
    <div (click)="cancel.emit(true)">{{'CUSTOMER_INFO_CANCEL' | translate}}</div>
    <div (click)="saveCustomer(customerAddForm.form)">{{'CUSTOMER_INFO_SAVE' | translate}}</div>
  </div>

</form>
