<div inViewport (inside)="fetch()" class="dashboard__chart">
  <div class="dashboard__chart__title">
    <div class="dashboard__chart__title__main">Events</div>
    <div class="dashboard__chart__title__sub">events summary</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')"> Download JSON </button>
      <button md-menu-item> Download CSV </button>
      <button md-menu-item> Download Excel </button>
    </md-menu>
  </div>

  <div [class.invisible]="!loaded">
    <chart #chartI [options]="options" (load)="loadChart(chartI)"></chart>
  </div>
  <md-spinner *ngIf="!loaded"></md-spinner>

  <div class="dashboard__table-chart__actions"><span [routerLink]="['/coming-soon']">VIEW MORE</span></div>
</div>
