<div inViewport (inside)="fetch()" class="dashboard__chart">
  <div class="dashboard__chart__title">
    <div class="dashboard__chart__title__main">{{'DASHBOARD_EVENTSUMMARY_TITLE' | translate}}</div>
    <div class="dashboard__chart__title__sub">{{'DASHBOARD_EVENTSUMMARY_SUBTITLE' | translate}}</div>
    <mat-icon [matMenuTriggerFor]="downloadOptions">more_vert</mat-icon>
    <mat-menu #downloadOptions="matMenu" x-position="before">
      <button mat-menu-item (click)="download('json')">{{'CHART_DOWNLOADJSON' | translate}}</button>
      <button mat-menu-item (click)="download('csv')">{{'CHART_DOWNLOADCSV' | translate}}</button>
      <button mat-menu-item (click)="download('excel')">{{'CHART_DOWNLOADEXCEL' | translate}}</button>
    </mat-menu>
  </div>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else data"></server-error-message>

  <ng-template #data>
    <div [class.invisible]="!loaded || (!events || events.length === 0)">
      <chart #chartI [options]="options" (load)="loadChart(chartI)"></chart>
    </div>

    <div class="dashboard__table-chart__no-data" *ngIf="loaded && (!events || events.length === 0)">{{'DASHBOARD_EVENTSUMMARY_NODATA' | translate}}</div>
    <chart *ngIf="!loaded" [options]="loaderOptions"></chart>

    <div class="dashboard__table-chart__actions"><span [routerLink]="['/coming-soon']">{{'CHART_VIEWMORE' | translate}}</span></div>
  </ng-template>
</div>
