.container {
  font-family: Roboto, serif;
  margin: -24px;
  background: #FAFAFA;
  border-radius: 4px;

  .title {
    padding: 40px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 4px 4px 0 0;
    font-size: 20px;
    font-weight: 500;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 35px 80px;

    mat-input-container {
      font-size: 16px;
      width: 320px;
    }
  }

  .buttons {
    display: flex;
    margin-top: 25px;
    padding: 0 25px 35px;

    button {
      &:first-of-type {
        margin-left: auto;
        margin-right: 15px;
        color: #2C98F0;
      }

      &:last-of-type {
        color: #ffffff;
        background: #2C98F0;
      }
    }
  }
}

.unselected {
  color: rgba(0, 0, 0, 0.54);
}

.error {
  border-color: #D00140 !important;
}

.roles {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);

  &__arrow {
    margin-left: auto;
    font-size: 20px;
    height: 20px;
    width: 20px;
    font-weight: 400;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.2);
}

.check-container {
  margin-right: 10px;
  width: 18px;

  &__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 32px;
  height: 32px;

  img {
    margin-left: auto;
    height: 14px;
    width: 14px;
  }
}
