.acl-container {
  color: #4A4A4A;
}

.toggler {
  cursor: pointer;
}

.acl-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: calc(100vh - 72px);
  width: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  z-index: 5;
}

.acl-modal {
  margin: 100px auto auto;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  .title {
    padding: 15px;
    color: #5B9BE1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14)
  }

  .tabz {
    display: flex;
    padding: 20px 15px 10px;
    font-size: 12px;

    div {
      cursor: pointer;

      &:first-of-type {
        margin-right: 12px;
      }
    }

    &--selected {
      border-bottom: 2px solid #5B9BE1;
    }
  }

  .button {
    font-size: 12px;
    cursor: pointer;

    &:first-of-type {
      margin-left: 55px;
      margin-right: 10px;
    }

    &:last-of-type {
      color: #5B9BE1;
    }
  }
}

.basic-container {
  padding: 15px 15px 25px;
}

table-advanced {
  padding: 15px 15px 25px;
  display: inline-block;
  width: 740px;
  max-width: 100%;
}
