<div class="acl-container">
  <div class="toggler" (click)="showModal = !showModal">ACLs</div>

  <div *ngIf="showModal && entityAcl" class="acl-modal-container" (click)="overlayClicked($event)">
    <div class="acl-modal">

      <div class="title">{{'SINGLEPAGE_ENTITYACL_TITLE' | translate}}</div>

      <div class="tabz">
        <div [class.tabz--selected]="selectedIndex === 0" (click)="selectedIndex = 0">{{'SINGLEPAGE_ENTITYACL_BASIC' | translate}}</div>
        <div [class.tabz--selected]="selectedIndex === 1" (click)="selectedIndex = 1">{{'SINGLEPAGE_ENTITYACL_ADVANCED' | translate}}</div>
      </div>

      <ng-container *ngIf="selectedIndex === 0; else advanced">
        <div class="flex-custom flex-custom--center basic-container">
          <dropdown-component
            [selected]="selectedVisibility"
            [showFloatingPlaceholder]="false"
            [placeholder]="'SINGLEPAGE_ENTITYACL_VISIBILITY' | translate"
            [options]="['Private', 'Public']"
            (onSelect)="selectVisibility($event)">
          </dropdown-component>

          <div class="button" (click)="cancel()">{{'SINGLEPAGE_ENTITYACL_CANCEL' | translate}}</div>
          <div class="button" (click)="saveAcl()">{{'SINGLEPAGE_ENTITYACL_SAVE' | translate}}</div>
        </div>
      </ng-container>

      <ng-template #advanced>
        <table-advanced class="table-advanced--no-margin table-advanced--thin-pagination table-advanced--autocomplete-full-width"
                        [data]="entityAcl.allowParsed"
                        [columnParams]="allowedParams"
                        [textOptions]="allowedTextOptions"
                        [showTopPagination]="false"
                        [entityFactory]="permissionFactory"
                        [viewEnabled]="false"
                        [showDensity]="false"
                        [showPreferences]="false"
                        (deleteEntity)="deleteAllowed($event)"
                        (deleteMultipleEntities)="deleteManyAllowed($event)"
                        (add)="addAllowed($event)"
                        (update)="updateAllowed($event)">
        </table-advanced>
      </ng-template>

    </div>
  </div>
</div>

