<div class="acl-container">
  <div class="toggler" (click)="showModal = !showModal">ACLs</div>

  <div *ngIf="showModal && entityAcl" class="acl-modal-container" (click)="overlayClicked($event)">
    <div class="acl-modal">

      <div class="title">{{'SINGLEPAGE_ENTITYACL_TITLE' | translate}}</div>

      <div class="subtitle">
        <div [class.subtitle--selected]="selectedIndex === 0" (click)="selectedIndex = 0">{{'SINGLEPAGE_ENTITYACL_BASIC' | translate}}</div>
        <div *ngIf="entityAcl.entity" [class.subtitle--selected]="selectedIndex === 1" (click)="selectedIndex = 1">{{'SINGLEPAGE_ENTITYACL_ADVANCED' | translate}}</div>
      </div>

      <ng-container *ngIf="selectedIndex === 0; else advanced">
        <div style="margin: 10px 0;" class="flex-custom flex-custom--center">
          <dropdown-component
            [selected]="selectedVisibility"
            [showFloatingPlaceholder]="false"
            [placeholder]="'SINGLEPAGE_ENTITYACL_VISIBILITY' | translate"
            [options]="['Private', 'Public']"
            (onSelect)="selectVisibility($event)">
          </dropdown-component>

          <div class="button" (click)="cancel()">{{'SINGLEPAGE_ENTITYACL_CANCEL' | translate}}</div>
          <div class="button" (click)="saveAcl()">{{'SINGLEPAGE_ENTITYACL_SAVE' | translate}}</div>
        </div>
      </ng-container>

      <ng-template #advanced>
        <table-advanced [data]="entityAcl.allowParsed"
                        [columnParams]="allowedParams"
                        [textOptions]="allowedTextOptions"
                        [showTopPagination]="false"
                        [entityFactory]="permissionFactory"
                        [viewEnabled]="false"
                        [showDensity]="false"
                        [showPreferences]="false"
                        (deleteEntity)="deleteAllowed($event)"
                        (deleteMultipleEntities)="deleteManyAllowed($event)"
                        (add)="addAllowed($event)"
                        (update)="updateAllowed($event)">
        </table-advanced>
      </ng-template>

    </div>
  </div>
</div>

