<md-card>
  <md-card-title>chips</md-card-title>
  <md-card-content>
    <p><code>chips</code> can be used to represent small blocks of information. They are most commonly used either for contacts or for tags.</p>
  </md-card-content>
</md-card>

<md-card class="card-toolbar">
  <md-toolbar color="primary">Contacts Chip</md-toolbar>
  <md-card-content>
    <c-chip [tags]="chipsContact" [placeholder]="chipsContactPlaceholder"></c-chip>
    <br/>
    <md-tab-group (selectChange)="updateTabs()">
      <md-tab label="HTML">
        <pre><code class="language-markup">&lt;c-chip [tags]=&quot;chipsContact&quot; [placeholder]=&quot;chipsContactPlaceholder&quot;&gt;&lt;/c-chip&gt;</code></pre>
      </md-tab>
      <md-tab label="Typescript">
        <pre><code class="language-javascript">{{chipsContactSrc}}</code></pre>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>

<md-card class="card-toolbar">
  <md-toolbar color="primary">Set Initial Tags</md-toolbar>
  <md-card-content>
    <c-chip [tags]="chipsInit"></c-chip>
    <br/>
    <md-tab-group (selectChange)="updateTabs()">
      <md-tab label="HTML">
        <pre><code class="language-markup">&lt;c-chip [tags]=&quot;chipsInit&quot;&gt;&lt;/c-chip&gt;</code></pre>
      </md-tab>
      <md-tab label="Typescript">
        <pre><code class="language-javascript">{{chipsInitSrc}}</code></pre>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>

<md-card class="card-toolbar">
  <md-toolbar color="primary">Placeholders and Overrides</md-toolbar>
  <md-card-content>
    <c-chip [placeholder]="chipsPlaceholder"></c-chip>
    <br/>
    <md-tab-group (selectChange)="updateTabs()">
      <md-tab label="HTML">
        <pre><code class="language-markup">&lt;c-chip [placeholder]=&quot;chipsPlaceholder&quot;&gt;&lt;/c-chip&gt;</code></pre>
      </md-tab>
      <md-tab label="Typescript">
        <pre><code class="language-javascript">{{chipsPlaceholderSrc}}</code></pre>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>

<md-card class="card-toolbar">
  <md-toolbar color="primary">Events</md-toolbar>
  <md-card-content>
    Chips component exposes a few events for hooking into chips functionality.
    <table class="table highlight">
      <thead>
      <tr>
        <th>Event</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>chipAdded</td>
        <td>this method is triggered when a chip is <strong>added</strong>.</td>
      </tr>
      <tr>
        <td>chipDeleted</td>
        <td>this method is triggered when a chip is <strong>deleted</strong>.</td>
      </tr>
      <tr>
        <td>chipSelected</td>
        <td>this method is triggered when a chip is <strong>selected</strong>.</td>
      </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
