<form class="entity-view__card" [class.entity-view__card--create]="mode === modes.Add" #accessKeyAddForm="ngForm">

  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">
      {{mode === modes.Add ? 'Create new Access Key' : 'Access Key Details'}}
    </div>
    <ng-container *ngIf="mode !== modes.Add">
      <md-icon [md-menu-trigger-for]="editOptions">more_vert</md-icon>
      <md-menu #editOptions="mdMenu" x-position="before">
        <button *ngIf="mode !== modes.Add" md-menu-item (click)="changeMode.emit(modes.Update)"> Edit Access Key Details</button>
      </md-menu>
    </ng-container>
  </div>

  <div class="entity-view__card__content customer-add__content">
    <md-input-container class="entity-view__card__content__item" [class.error]="formInvalid && !entity.name">
      <input md-input name="name" [(ngModel)]="entity.name" placeholder="Name" required type="text">
    </md-input-container>

    <md-input-container class="entity-view__card__content__item" [class.error]="formInvalid && !entity.accessKey">
      <input md-input name="accessKey" [(ngModel)]="entity.accessKey" placeholder="Access Key" required type="text">
    </md-input-container>

    <md-input-container class="entity-view__card__content__item" [class.error]="formInvalid && !entity.secretKey">
      <input md-input name="secretKey" [(ngModel)]="entity.secretKey" placeholder="Secret Key" required type="text">
    </md-input-container>

    <md-textarea class="entity-view__card__content__item access-key-notes" [(ngModel)]="entity.notes" placeholder="Notes" type="text" name="notes"></md-textarea>
   </div>
  <div *ngIf="mode !== modes.View" class="entity-view__card__actions">
    <div (click)="cancel.emit(true)">CANCEL</div>
    <div (click)="saveAccessKey(accessKeyAddForm.form.valid)">{{mode === modes.Add ? 'CREATE' : 'UPDATE'}}</div>
  </div>

</form>


