<div class="advanced-search">
  <div class="advanced-search__title">Advanced Search</div>

  <div class="advanced-search__icon"><md-icon>search</md-icon></div>

  <div class="advanced-search__content">

    <div class="advanced-search__content__title">
      Customers
    </div>

    <div class="advanced-search__content__fields">
      <div class="advanced-search__content__fields__column">
        <md-input class="advanced-search__content__fields__input" placeholder="First Name" [(ngModel)]="searchOptions.firstName"></md-input>
        <md-input class="advanced-search__content__fields__input" placeholder="Last Name" [(ngModel)]="searchOptions.lastName"></md-input>
        <md-input class="advanced-search__content__fields__input" placeholder="Phone Number" [(ngModel)]="searchOptions.phoneNumber"></md-input>
        <md-input class="advanced-search__content__fields__input" placeholder="Email Address" [(ngModel)]="searchOptions.emailAddress"></md-input>
        <md-input [disabled]="true" class="advanced-search__content__fields__input" placeholder="Shipment Tracking Number" [(ngModel)]="searchOptions.shipTrackNumber"></md-input>
      </div>

      <div class="advanced-search__content__fields__column">
        <md-input class="advanced-search__content__fields__input" placeholder="Address 1" [(ngModel)]="searchOptions.address1"></md-input>
        <md-input class="advanced-search__content__fields__input" placeholder="Address 2" [(ngModel)]="searchOptions.address2"></md-input>
        <md-input class="advanced-search__content__fields__input" placeholder="City" [(ngModel)]="searchOptions.city"></md-input>
        <md-input class="advanced-search__content__fields__input" placeholder="Postal Code" [(ngModel)]="searchOptions.postalCode"></md-input>
        <md-input class="advanced-search__content__fields__input" placeholder="State" [(ngModel)]="searchOptions.state"></md-input>
      </div>

      <div class="advanced-search__content__fields__column">
        <md-input class="advanced-search__content__fields__input" placeholder="Order Id" [(ngModel)]="searchOptions.orderId"></md-input>
        <md-input [disabled]="true" class="advanced-search__content__fields__input" placeholder="Credit Card Type" [(ngModel)]="searchOptions.creditCardType"></md-input>
        <md-input [disabled]="true" class="advanced-search__content__fields__input" placeholder="Credit Card # first 6" [(ngModel)]="searchOptions.creditCardf6"></md-input>
        <md-input [disabled]="true" class="advanced-search__content__fields__input" placeholder="Credit Card # last 4" [(ngModel)]="searchOptions.creditCardl4"></md-input>
        <md-input [disabled]="true" class="advanced-search__content__fields__input" placeholder="Ip Address" [(ngModel)]="searchOptions.ipAddress"></md-input>
      </div>

      <div class="advanced-search__content__fields__button" (click)="search()">
        Search
      </div>
    </div>
  </div>
</div>

