<div class="container">

  <div class="title">Create Role</div>

  <div class="body">

    <mat-form-field [class.error]="formInvalid && !name">
      <input type="text" matInput [(ngModel)]="name" placeholder="Role Name">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput [(ngModel)]="description" placeholder="Description">
    </mat-form-field>

  </div>

  <div class="buttons">
    <button mat-button (click)="close()">CANCEL</button>
    <button mat-button (click)="submit()">SAVE</button>
  </div>
</div>
