<md-toolbar>
  <img *ngIf="isHovering" src="/assets/images/logo-white.svg" class="logo">
  <img *ngIf="!isHovering" src="/assets/images/logo-white-small.svg" class="logo-small">
</md-toolbar>
<md-nav-list class="side-navigation" [ngStyle]="{'height': height}">
  <c-sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem" [parent]="_this" [full]="isHovering"></c-sidenav-item>

  <span *ngIf="isHovering" class="side-navigation__version">version: {{versionNumber}}</span>
</md-nav-list>
