<schedule-detailed-header
  [zoomLevel]="zoomLevel"
  [sideVisible]="sideVisible"
  [singleScheduleMode]="singleScheduleMode"
  [statusMessage]="statusMessage"
  [redoEnabled]="historyIndex < (schedulesHistory.length - 1)"
  [undoEnabled]="historyIndex !== 0 && (consecutiveUndo || historyIndex !== 1)"
  [infoEnabled]="infoEnabled"
  [editable]="editable"
  (infoEnabledChanged)="infoEnabled = $event"
  (undo)="undo()"
  (redo)="redo()"
  (revert)="revert()"
  (sideVisibleChanged)="sideVisible = $event"
  (zoomChanged)="zoomLevel = $event"
  (filterChanged)="filterProductSchedulesValue = $event">
</schedule-detailed-header>

<div class="flex-custom">
  <schedule-detailed-list
    [singleScheduleMode]="singleScheduleMode"
    [productSchedules]="schedulesHistory[historyIndex] | filterStrings: filterProductSchedulesValue: productScheduleFilterMapper"
    [sideVisible]="sideVisible"
    [products]="products"
    [allProducts]="allProducts"
    [editable]="editable"
    (newProductScheduleAdded)="addNewProductSchedule($event)"
    (newProductAdded)="addNewProduct($event)"
    (selected)="selectDetailsAndScroll($event)">
  </schedule-detailed-list>
  <schedule-detailed-timeline
    [numberOfDays]="numberOfDays"
    [productSchedules]="schedulesHistory[historyIndex] | filterStrings: filterProductSchedulesValue: productScheduleFilterMapper"
    [products]="products"
    [singleScheduleMode]="singleScheduleMode"
    [zoomLevel]="zoomLevel"
    [start]="startDate"
    [scrollTo]="scrollToElement"
    [editable]="editable"
    [canceled]="canceled"
    (loadMoreDays)="loadMore()"
    (scheduleChanged)="createNewState(true)"
    (selected)="selectDetails($event)">
  </schedule-detailed-timeline>
</div>

<ng-template #details>
  <schedule-details
    [singleScheduleMode]="singleScheduleMode"
    [hideDetails]="!infoEnabled || selectedIndex === 1"
    [allProducts]="allProducts"
    [schedule]="selectedSchedule"
    [startDate]="startDate"
    [editable]="editable"
    (focusSchedule)="selectDetails($event)"
    (save)="createNewState(true)"
    (deleteSchedule)="removeSchedule($event)"
    (deleteProductSchedule)="removeProductSchedule($event)"
    (close)="deselectSchedule()">
  </schedule-details>
</ng-template>
