<credit-card *ngIf="showEntityDetails" [entityId]="showEntityId" (close)="hideEntityDetails()"></credit-card>

<button md-raised-button color="primary" *ngIf="hasWritePermission()" class="entity-index__add" (click)="addEntity()">Add New</button>

<md-card class="entity-index__card">
  <md-card-content class="entity-index__card__content">

    <table class="entity-index__table highlight">
      <thead class="entity-index__table__header">
      <tr>
        <th data-field="Name">Name <md-icon>keyboard_arrow_down</md-icon> </th>
        <th data-field="Expiration">Expiration <md-icon>keyboard_arrow_down</md-icon> </th>
        <th data-field="Country">Country <md-icon>keyboard_arrow_down</md-icon> </th>
        <th data-field="State">State <md-icon>keyboard_arrow_down</md-icon> </th>
        <th data-field="City">City <md-icon>keyboard_arrow_down</md-icon> </th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let entity of entities">
        <td (click)="viewEntity(entity.id)">{{entity.name}}</td>
        <td (click)="viewEntity(entity.id)">{{entity.expiration}}</td>
        <td (click)="viewEntity(entity.id)">{{entity.address.country}}</td>
        <td (click)="viewEntity(entity.id)">{{entity.address.state}}</td>
        <td (click)="viewEntity(entity.id)">{{entity.address.city}}</td>
        <td>
          <table-actions
            [service]="service"
            (viewClicked)="viewEntity(entity.id)"
            (copyClicked)="copyEntity(entity.id)"
            (exportClicked)="exportEntity(entity.id)">
          </table-actions>
        </td>
      </tr>
      </tbody>
    </table>

    <table-pagination
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)">
    </table-pagination>
  </md-card-content>
</md-card>

