.persistent-notification {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;

  div {
    padding: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.87);
  }

  mat-icon {
    margin-right: 10px;
    font-size: 31px;
    height: 30px;
    width: 30px;
    color: rgba(255, 255, 255, 0.87);
  }

  &__action {
    margin-left: 10px;
    color: #5B9BE1;
    cursor: pointer;
  }

  button {
    margin-left: auto;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    font-size: 13px;
    width: 125px;
    padding: 0 25px;
  }
}

.billing-notification {
  background: #DC2547;
  padding: 12px 24px;
}

.notification {
  background: #FAFAAA;
  padding: 6px 24px;
  border-top: 1px solid rgba(0,0,0,0.2);

  div {
    font-size: 14px;
  }

  div, mat-icon, button {
    color: grey;
  }

  button {
    border-color: grey;
  }

  .close-icon {
    margin-left: auto;
    height: 18px;
    width: 18px;
    font-size: 18px;
  }
}
