.persistent-notification {
  display: flex;
  align-items: center;
  padding: 14px 24px;
  background: #F7EBCF;
  font-family: Roboto, sans-serif;

  strong {
    margin-right: 5px;
    margin-left: 10px;
  }

  div {
    padding: 5px;
    font-size: 16px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  md-icon {
    margin-right: 8px;
    margin-left: auto;
    height: 18px;
    width: 18px;
    font-size: 18px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
  }

  &__action {
    margin-left: 10px;
    color: #5B9BE1;
    cursor: pointer;
  }
}
