<div class="persistent-notification billing-notification" *ngIf="billingNotification">
  <mat-icon>error_outline</mat-icon>
  <div>{{billingNotification.body}}</div>
  <button mat-button [routerLink]="['/accountmanagement/billing']">PAY NOW</button>
</div>

<div class="persistent-notification notification" *ngFor="let notification of filteredPersistentNotifications">
  <div>{{notification.body}}</div>
  <mat-icon class="close-icon" (click)="dismissPersistent(notification)">close</mat-icon>
</div>
