<mat-toolbar [class.toolbar--small]="!isHovering">
  <img *ngIf="isHovering" src="{{'/assets/images/' + sidenavLogo}}" class="logo">
  <img *ngIf="!isHovering" src="{{'/assets/images/' + sidenavCollapsedLogo}}" class="logo-small">
</mat-toolbar>
<mat-nav-list class="side-navigation">
  <sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem" [parent]="_this" [full]="isHovering"></sidenav-item>

  <div *ngIf="isHovering" class="version">
    <img src="{{'/assets/images/' + sidenavFooterLogo}}">
    <span>Version - {{versionNumber}}</span>
  </div>
</mat-nav-list>
