<mat-toolbar [class.toolbar--small]="!isHovering">
  <img *ngIf="isHovering" src="/assets/images/logo-navigation.svg" class="logo">
  <img *ngIf="!isHovering" src="/assets/images/logo-navigation-small.svg" class="logo-small">
</mat-toolbar>
<mat-nav-list class="side-navigation">
  <c-sidenav-item *ngFor="let menuItem of menuItems" [menuItem]="menuItem" [parent]="_this" [full]="isHovering"></c-sidenav-item>

  <div *ngIf="isHovering" class="side-navigation__version">
    <img src="/assets/images/logo-blue.svg">
    <span>Version - {{versionNumber}}</span>
  </div>
</mat-nav-list>
