<div class="body">

  <div class="heading">

    <div class="mrw-bi-input">
      <mat-input-container [floatLabel]="'never'">
        <input #filterinput matInput type="text" placeholder="{{'Filter ' + title}}" [(ngModel)]="filterString" (keyup)="filterDebouncer.next(true)">
      </mat-input-container>
    </div>

    <div class="number-of">{{getNumberOfVisible()}} {{title}}</div>

    <ng-container *ngIf="bulkOptions">
      <div class="selected"> {{getNumberOfSelected()}} Selected</div>

      <div class="bulk-options">
        <div class="bulk-options__selection" [matMenuTriggerFor]="bulkOpts">
          <span>{{selectedBulkOption || bulkOptions[0]}}</span> <mat-icon>keyboard_arrow_down</mat-icon>
        </div>

        <mat-menu #bulkOpts="matMenu" x-position="before">
          <button mat-menu-item *ngFor="let option of bulkOptions" (click)="selectedBulkOption = option">{{ option | translate}}</button>
        </mat-menu>

        <button mat-button [disabled]="getNumberOfSelected() === 0">APPLY</button>
      </div>
    </ng-container>

    <ng-content></ng-content>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngIf="bulkOptions"><mat-checkbox (change)="globalCheckboxClicked($event)" class="checkbox-blue"></mat-checkbox></th>

        <ng-container *ngFor="let param of columnParams">
          <th [class.cell--separator]="param.separator">
            {{param.label | translate}}
          </th>
        </ng-container>

        <th class="options-header" *ngIf="options && options.length > 0"></th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of items; let i = index">
        <tr *ngIf="lineBreakFunction && lineBreakFunction(items[i - 1], item)">
          <td class="line-breaker" colspan="100">
            {{lineBreakFunction(items[i - 1], item)}}
          </td>
        </tr>

        <tr *ngIf="!item['hideAfterFilter']" [style.background-color]="rowColorFunction ? rowColorFunction(item) : '#ffffff'">
          <td *ngIf="bulkOptions"><mat-checkbox [(ngModel)]="item.bulkSelected" class="checkbox-blue"></mat-checkbox></td>

          <ng-container *ngFor ="let param of columnParams">
            <td [class.cell--separator]="param.separator"
                [class.clickable]="param.clickable"
                (click)="clicked(item, param)">
              <div class="cell-data-wrapper"
                   [style.text-align]="param.align || 'left'"
                   [style.color]="param.color || 'rgba(0, 0, 0, 0.87)'">
                <mat-icon
                  *ngIf="param.materialIconMapper"
                  class="cell-icon"
                  [style.background-color]="param.materialIconBackgroundColorMapper(item)"
                  [style.color]="param.materialIconColorMapper(item)">
                  {{param.materialIconMapper(item)}}
                </mat-icon>

                <span>{{param.mappingFunction(item) | translate}}</span>
              </div>

            </td>
          </ng-container>

          <td *ngIf="options && options.length > 0">
            <mat-icon class="menu-icon" [matMenuTriggerFor]="opts">more_vert</mat-icon>
            <mat-menu #opts="matMenu" x-position="before">
              <button mat-menu-item *ngFor="let option of options">{{ option | translate}}</button>
            </mat-menu>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>
