<div #persistentNotificationsContainer>
  <persistent-notifications-quick #persistentNotifications></persistent-notifications-quick>
</div>

<mat-sidenav-container [autosize]="true">
  <mat-sidenav (mouseenter)="hover(true)" (mouseleave)="hover(false)" #sidenav
              [mode]="(navigation.mediumScreenAndDown || showOnHover) ? 'over' : 'side'"
              [opened]="showSidenav || !navigation.mediumScreenAndDown">
    <app-sidenav [isHovering]="isHovering || showSidenav || navigation.mediumScreenAndDown"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content [class.container--hover]="!(navigation.showSidenav | async) && showOnHover">
    <header>
      <app-topnav [class.header--hover]="!showSidenav && showOnHover"></app-topnav>
    </header>

    <div class="container">
      <router-outlet></router-outlet>
      <notifications-quick *ngIf="navigation.showNotifications | async" (close)="navigation.toggleNotifications(false)"></notifications-quick>
      <div class="notifications-popup" [style.display]="!(navigation.showNotifications | async) ? 'block' : 'none'">
        <alerts-quick></alerts-quick>
      </div>
      <div class="clearfix"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!(authService.sixUserActivated$ | async)" class="registration-form__container">
  <registration-form></registration-form>
</div>

<div *ngIf="navigation.showCreateNewModal | async" class="create-order-modal-container">
  <create-order (close)="navigation.setShowCreateNewModal(false)"></create-order>
</div>

