<div #persistentNotificationsContainer>
  <persistent-notifications-quick #persistentNotifications></persistent-notifications-quick>
</div>

<mat-sidenav-container [autosize]="true">
  <mat-sidenav (mouseenter)="hover(true)" (mouseleave)="hover(false)" #sidenav [class.removeShadow]="removeShadow"
              [mode]="(navigation.mediumScreenAndDown || showOnHover) ? 'over' : 'side'"
              [opened]="showSidenav || !navigation.mediumScreenAndDown">
    <app-sidenav [isHovering]="isHovering || showSidenav || navigation.mediumScreenAndDown"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content (scroll)="onScroll($event)" [class.container--hover]="!(navigation.showSidenav | async) && showOnHover">
    <header>
      <app-topnav [isInvitedUser]="isInvitedUser" (invitedUserInstructionsDismissed)="isInvitedUser = false"></app-topnav>
    </header>

    <div class="container">
      <router-outlet></router-outlet>
      <notifications-quick *ngIf="navigation.showNotifications | async" (close)="navigation.toggleNotifications(false)" [sticky]="isStickyNotifications"></notifications-quick>
      <div class="notifications-popup" [style.display]="!(navigation.showNotifications | async) ? 'block' : 'none'">
        <alerts-quick></alerts-quick>
      </div>
      <div class="clearfix"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="navigation.showCreateNewOrderModal | async" class="create-order-modal-container">
  <create-order (close)="navigation.setShowCreateNewOrderModal(false)"></create-order>
</div>

<div *ngIf="userAclOutdated" class="terms-and-conditions-container">
  <terms-and-conditions [type]="'user'"></terms-and-conditions>
</div>

<div *ngIf="!userAclOutdated && ownerAclOutdated" class="terms-and-conditions-container">
  <terms-and-conditions [type]="'owner'"></terms-and-conditions>
</div>

<div *ngIf="showWelcomeOverlay" class="welcome-container">
  <div class="welcome">
    <mat-icon>done</mat-icon>
    <div class="text">{{'REGISTER_WELCOME' | translate}}</div>
  </div>
</div>

