.container {
  position: relative;
  background-color: #E6EAF2;
  font-family: Roboto, sans-serif;
}

.container--hover {
  margin-left: 80px;
}

.header--hover {
  margin-left: 80px;
}

.progress-bar {
  position: absolute;
  top:70px;
  width: 100%;
  z-index: 1;
}

.registration-form {
  &__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
  }
}

registration-form {
  margin: auto;
}

alerts-quick {
  position: absolute;
  display: block;
  z-index: 4;
  right: 0;
  width: 350px;
  font-family: Roboto, sans-serif;
}
