<div *ngIf="templates" class="template-list">

  <div class="entity-view__card__header">
    <div>
      <div class="entity-view__card__header__title">{{'EMAILTEMPLATE_SHARED_TITLE' | translate}}</div>
      <div class="entity-view__card__header__subtitle">{{'EMAILTEMPLATE_SHARED_SUBTITLE' | translate}}</div>
    </div>
  </div>
  <div class="template-list__header">
    <div class="flex-custom">
      <dropdown-component [options]="types" [placeholder]="'EMAILTEMPLATE_TOKEN_TYPE' | translate" [showFloatingPlaceholder]="true" [selected]="selectedType" (onSelect)="selectedType = $event"></dropdown-component>

      <md-icon>search</md-icon>
      <md-input-container>
        <input type="text" placeholder="{{'EMAILTEMPLATE_TOKEN_SEARCH' | translate}}" md-input [(ngModel)]="filterString" autocomplete=off>
      </md-input-container>
    </div>
  </div>

  <div class="template-list__container">
    <div *ngFor="let template of templates | filterTemplatesByType: selectedType | filterEntities: filterString">
      <div (click)="templateSelected.emit(template)" class="template-view__content">
        <div class="template-view__path">
          <div>
            <div class="template-view__path__title">{{template.name}}</div>
            <div class="template-view__path__type">{{template.type}}</div>
          </div>
          <md-icon>add</md-icon>
        </div>
      </div>
    </div>
  </div>
</div>
