.container {
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
}

table {
  background: white;

  th, td {
    padding: 15px 10px;
  }

  thead {
    th {
      font-weight: normal;
      color: rgba(0,0,0,0.5);

      &:last-of-type {
        width: 1px;
      }
    }
  }

  tbody {
    .transaction {
      border-top: 1px solid rgba(0,0,0,0.2);
    }

    .date {
      font-weight: 500;
    }

    .products-row {
      color: rgba(0,0,0,0.5);
    }

    mat-icon {
      height: 18px;
      width: 18px;
      font-size: 18px;
      color: rgba(0,0,0,0.6);
      cursor: pointer;
    }
  }

  .amount {
    text-align: right;
  }
}

.total {
  display: flex;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 15px 10px;
  font-weight: 500;
  background: white;

  div:last-of-type {
    margin-left: auto;
    margin-right: 25px;
  }
}
