.dummy-title-id {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 180px;
  background: rgba(0,0,0,0.12);
}

.dummy-title-arrow {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
