<div class="perfect-entity">

  <div *ngIf="product; else spin">
    <div class="perfect-entity__info">
      <div class="perfect-entity__info__title">Product Info</div>

      <div class="perfect-entity__info__fields">

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Name:</span>
          <span class="perfect-entity__info__fields__item__value">{{product.name}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Sku:</span>
          <span class="perfect-entity__info__fields__item__value">{{product.sku}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Ship:</span>
          <span class="perfect-entity__info__fields__item__value">{{product.ship}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Shipping Delay:</span>
          <span class="perfect-entity__info__fields__item__value">{{product.shippingDelay}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Fulfillment Provider:</span>
          <span class="perfect-entity__info__fields__item__value">{{product.fulfillmentProvider.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <ng-template #spin><md-spinner></md-spinner></ng-template>
</div>
