<div class="container">
  <div class="notifications-content">

    <div class="header flex-custom flex-custom--center">
      <div class="mrw-bi-input">
        <mat-icon>search</mat-icon>
        <mat-input-container [floatPlaceholder]="false">
          <input matInput placeholder="{{'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filter" type="text">
        </mat-input-container>
      </div>

      <div class="mrw-button">MARK ALL AS READ</div>
    </div>

    <div class="notifications-container"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="300"
         [scrollWindow]="false"
         (scrolled)="onScroll()">
      <table class="highlight">
        <thead>
          <th>Read</th>
          <th>Message</th>
          <th>Date</th>
          <th>Type</th>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications | filterStrings: filter: filterMapper" (click)="readNotification(notification)">
            <td><div *ngIf="!notification.readAt" class="circle"></div><mat-icon *ngIf="notification.readAt" class="circle-icon">done</mat-icon></td>
            <td [class.unread]="!notification.readAt">{{notification.body}}</td>
            <td>{{notification.createdAt | formatDateTime: 'MMMM DD': true}}</td>
            <td>{{notification.category}}</td>
          </tr>
        </tbody>
      </table>

      <div class="spinner" *ngIf="notificationsService.requestInProgress$ | async">
        <div></div><div></div><div></div>
      </div>
    </div>
  </div>

  <div class="notifications-test-container">
    <div class="content">
      <div>You can send notifications to more of your devices and applications by adding them to Devices and Apps</div>
      <div class="icon"><div class="layer1"><div class="layer2"><div class="text">?</div></div></div></div>
    </div>
    <div class="mrw-button test-button test-button--solo" [routerLink]="['/profile']" fragment="appsanddevices">APPS AND DEVICES</div>
  </div>
</div>
