<div class="container">
  <div class="notifications-content">

    <div class="header flex-custom flex-custom--center">
      <div class="mrw-bi-input">
        <mat-icon>search</mat-icon>
        <mat-form-field [floatLabel]="'never'">
          <input matInput placeholder="{{'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filter" type="text">
        </mat-form-field>
      </div>
      <mat-button-toggle-group #group="matButtonToggleGroup" value="buttonAll">
        <mat-button-toggle class="mrw-button" (click)="showAll()" value="buttonAll">{{'NOTIFICATIONS_TAB_ALL' | translate}}</mat-button-toggle>
        <mat-button-toggle class="mrw-button" (click)="showAlerts()" value="buttonAlerts">{{'NOTIFICATIONS_TAB_ALERTS' | translate}}</mat-button-toggle>
        <mat-button-toggle class="mrw-button" (click)="showNotifications()" value="buttonNotifications">{{'NOTIFICATIONS_TAB_NOTIFICATIONS' | translate}}</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="mrw-button mark-read" (click)="markAllAsRead()">{{'NOTIFICATIONS_MARKALLASREAD' | translate}}</div>
    </div>

    <div class="notifications-container"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="300"
         [scrollWindow]="false"
         (scrolled)="onScroll()">
      <table class="highlight">
        <thead>
          <th>Read</th>
          <th>
            <mat-icon>flag</mat-icon>
          </th>
          <th>Message</th>
          <th>Date</th>
          <th>Category</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications | filterEntitiesByField: 'type' : notificationType | filterStrings: filter: filterMapper" (click)="readNotification(notification)"
              [class.unread-notification]="!notification.readAt && notification.type=='notification'"
              [class.unread-alert]="!notification.readAt && notification.type=='alert'">
            <td><div *ngIf="!notification.readAt" class="circle"></div><mat-icon *ngIf="notification.readAt" class="circle-icon">done</mat-icon></td>
            <td>
              <mat-icon class="alert-flag" [class.unread]="!notification.readAt" *ngIf="notification.type == 'alert'">flag</mat-icon>
            </td>
            <td [class.unread]="!notification.readAt"><div>{{notification.name}}</div><div>{{notification.body}}</div></td>
            <td>{{notification.createdAt | formatDateTime: 'MMMM DD': true}}</td>
            <td>{{notification.category}}</td>
            <mat-icon [matMenuTriggerFor]="actionsMenu" class="notification-options">more_vert</mat-icon>
            <mat-menu #actionsMenu="matMenu" x-position="before">
              <button mat-menu-item (click)="markAsUnread(notification)">{{'NOTIFICATIONSQUICK_MARKASUNREAD' | translate}}</button>
              <button *ngIf="notification.hasContext()" mat-menu-item (click)="goToLink(notification)">{{'NOTIFICATIONSQUICK_GOTOLINK' | translate}}</button>
              <button mat-menu-item ngxClipboard [cbContent]="notification.body">{{'NOTIFICATIONSQUICK_COPYTOCLIPBOARD' | translate}}</button>
            </mat-menu>
          </tr>
        </tbody>
      </table>

      <div class="spinner" *ngIf="notificationsService.requestInProgress$ | async">
        <div></div><div></div><div></div>
      </div>
    </div>
  </div>

  <div class="modals">
    <div class="notifications-test-container modal-first">
      <div class="content">
        <div class="text">Adjust your notification settings.</div>
        <div class="icon-wrapper"><mat-icon>settings</mat-icon></div>
      </div>
      <div class="mrw-button test-button test-button--solo" [routerLink]="['/profile']" fragment="notificationpreferences">SETTINGS</div>
    </div>

    <div class="notifications-test-container">
      <div class="content">
        <div class="text">You can send notifications to more of your devices and applications by adding them to Devices and Apps</div>
        <div class="icon-wrapper"><mat-icon>help</mat-icon></div>
      </div>
      <div class="mrw-button test-button test-button--solo" [routerLink]="['/profile']" fragment="appsanddevices">APPS AND DEVICES</div>
    </div>
  </div>
</div>
