<div class="notifications__filter">
  <md-input-container>
    <input md-input placeholder="{{'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filter" type="text">
  </md-input-container>
</div>

<div class="notifications notifications-list notifications-list--standalone">

  <div class="notifications-list__topnav notifications-list__topnav--standalone">
    <span>{{'NOTIFICATIONSQUICK_TITLE' | translate}}</span>
    <div class="notifications-list__topnav__options notifications-list__topnav__options--standalone">
      <div [routerLink]="['/profile']" fragment="notifications">{{'NOTIFICATIONSQUICK_SETTINGS' | translate}}</div>
    </div>
  </div>

  <div class="notifications-list__content notifications-list__content--standalone"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <div class="notifications-list__content__no-results" *ngIf="isEmpty">{{'NOTIFICATIONSQUICK_NORESULTS' | translate}}</div>

    <div *ngFor="let notificationsByDate of notsByDate">

      <div *ngIf="notificationsByDate.entities.length > 0">
        <div class="notifications-list__content__title notifications-list__content__title--standalone">{{notificationsByDate.label | translate}}</div>

        <div *ngFor="let notification of notificationsByDate.entities | filterStrings: filter: filterMapper">
          <div class="notifications-list__content__notification notifications-list__content__notification--standalone" (click)="readNotification(notification)">
            <div class="notifications-list__content__notification__image"><img src="assets/images/{{notification.getIconName()}}" alt=""></div>
            <div class="notifications-list__content__notification__message notifications-list__content__notification__message--standalone">
              <div>{{notification.body}}</div>
              <div class="notifications-list__content__notification__message__date">
                {{notification.createdAt.format('MMMM Do [at] h:mm A')}}
              </div>
            </div>
            <div class="notifications-list__content__notification__read">
              <div [class.unread]="!notification.readAt"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="notificationsService.requestInProgress$ | async" class="spinner">
      <md-spinner></md-spinner>
    </div>

  </div>

</div>
