<div class="entity-index">

  <blue-header [items]="crumbItems" [titleValue]="'EMAILTEMPLATE_INDEX_TITLE'"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <email-templates-custom (addSelected)="addTemplate()"></email-templates-custom>
    </mat-tab>

    <mat-tab>
      <email-templates-shared (copySelected)="copyShared($event)"></email-templates-shared>
    </mat-tab>

  </mat-tab-group>

</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <email-template-add-new class="modal-center" [entity]="entity" [mode]="modes.Add" (cancel)="closeAddMode()" (save)="createEntity($event)"></email-template-add-new>
</div>
