<div class="entity-index">
  <div class="entity-index__title">
    {{'EMAILTEMPLATE_INDEX_TITLE' | translate}}
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>
      <email-templates-custom (addSelected)="addTemplate()"></email-templates-custom>
    </md-tab>

    <md-tab>
      <email-templates-shared (copySelected)="copyShared($event)"></email-templates-shared>
    </md-tab>

  </md-tab-group>

</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <email-template-add-new class="modal-center" [entity]="entity" [mode]="modes.Add" (cancel)="closeAddMode()" (save)="createEntity($event)"></email-template-add-new>
</div>
