<div>

  <div class="row" *ngFor="let location of locations; let i = index">
    <value-filter-dropdown class="item" [selectedOption]="location.country" [options]="countries" (optionSelected)="location.country = $event"></value-filter-dropdown>
    <value-filter-dropdown class="item" [selectedOption]="location.state" [options]="states" (optionSelected)="location.state = $event"></value-filter-dropdown>

    <mat-icon (click)="locationRemovedAtIndex.emit(i)">close</mat-icon>
  </div>

  <div class="add-value" (click)="locationAdded.emit(true)">Add Location</div>

</div>
