<div inViewport (inside)="notifyFetch()" class="dashboard__table-chart">
  <div class="dashboard__table-chart__title">
    <div class="dashboard__table-chart__title__main">{{title}}</div>
    <div class="dashboard__table-chart__title__sub">{{subtitle}}</div>
    <md-icon>more_vert</md-icon>
  </div>

  <chart *ngIf="affEvents" #chart (load)="saveChart($event.context)" [options]="options"></chart>
  <md-spinner *ngIf="!affEvents"></md-spinner>

  <div class="dashboard__table" [style.height]="calculateHeight()" [class.dashboard__table--inactive]="!showTable || !affEvents">
    <table class="highlight">
      <thead>
        <tr>
          <th>Affiliate</th>
          <th>Count</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody *ngIf="affEvents">
        <tr>
          <td><div [style.background]="colors[0]" class="color-indicator"></div>Other</td>
          <td>{{otherCount}}</td>
          <td>{{otherPercentage}}%</td>
        </tr>
        <tr *ngFor="let affiliate of affEvents.affiliates | subArray: maxNumber; let i = index" [routerLink]="['/affiliates', affiliate.affiliate]">
          <td><div [style.background]="colors[i]" class="color-indicator"></div>{{affiliate.affiliate.substring(0, 18) + '...'}}</td>
          <td>{{affiliate.count}}</td>
          <td>{{affiliate.percentage}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="dashboard__table-chart__actions dashboard__table-chart__actions--no-border">
    <span (click)="toggleTable()">{{showTable ? 'COLLAPSE' : 'SHOW TABLE'}}</span>
    <span [routerLink]="['/coming-soon']">VIEW MORE</span>
  </div>
</div>
