<div class="registration">

  <img class="logo" src="/assets/images/logo-white.svg" alt="">

  <div class="blue-screen__account-switcher">
    <simple-dropdown
      *ngIf="(authService.activeAcl$ | async).id"
      [mapper]="mapAcl"
      [selectedOption]="authService.activeAcl$ | async"
      [options]="authService.getAcls()"
      [icon]="'domain'"
      (optionSelected)="changeAcl($event)">
    </simple-dropdown>

    <button mat-button (click)="signout()">{{'REGISTER_SIGNOUT' | translate}}</button>
  </div>

  <div class="progress" *ngIf="showProgress">
    <div class="circle active"><div>{{'REGISTER_PROGRESS_ACCOUNT' | translate}}</div></div>
    <div class="line"></div>
    <div class="circle"></div>
    <div class="line"></div>
    <div class="circle"></div>
  </div>

  <div class="registration-form" [class.group]="showProgress">

    <div class="title">
      {{'REGISTER_FORM_TITLE' | translate}}
    </div>

    <div class="subtitle">
      {{'REGISTER_FORM_SUBTITLE' | translate}}
    </div>

    <div>
      <mat-input-container *ngIf="activatingUser" [class.form-error]="formInvalid && !firstName">
        <input matInput required placeholder="{{'REGISTER_FORM_FIRSTNAME' | translate}}" type="text" name="firstName" [(ngModel)]="firstName">
      </mat-input-container>

      <mat-input-container *ngIf="activatingUser" [class.form-error]="formInvalid && !lastName">
        <input matInput required placeholder="{{'REGISTER_FORM_LASTNAME' | translate}}" type="text" name="lastName" [(ngModel)]="lastName">
      </mat-input-container>

      <mat-input-container *ngIf="activatingAccount" [class.error]="duplicateAccountError">
        <input matInput required placeholder="{{'REGISTER_FORM_COMPANY' | translate}}" type="text" name="company" [(ngModel)]="companyName" (keyup)="resetError()">
        <mat-hint [class.error]="duplicateAccountError">{{'REGISTER_FORM_COMPANYHINT' | translate}}</mat-hint>
      </mat-input-container>
    </div>

    <div class="terms">
      {{'REGISTER_USERTERMS' | translate}} <span class="licenseagreement" (click)="openUserTerms()">{{'REGISTER_LICENSEAGREEMENT' | translate}}</span>.
    </div>

    <div class="actions">
      <button mat-button [disabled]="!formValid() || requestInProgress" [class.disabled]="!formValid() || requestInProgress" (click)="submitRegistration()">{{'REGISTER_FORM_CONT' | translate}}</button>
    </div>

  </div>

</div>
