th {
  font-size: 12px;
  font-weight: 400;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #131313;
  text-transform: capitalize;

  &--secondary {
    padding-left: 30px;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
    text-transform: none;
  }
}

.container {
  display: flex;
  padding: 25px 25px 0;
}

.table-container {
  width: calc(100% - 350px);
  margin-right: 25px;

  .table {
    overflow: auto;
  }
}

.modals {
  width: 300px;
  margin-left: auto;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;

  div {

    &:first-of-type {
      color: #4B90DD;
      font-size: 14px;
      margin-left: auto;
      margin-right: 35px;
      cursor: pointer;
    }

    &:last-of-type {
      color: white;
      background-color: #4B90DD;
    }
  }
}

.title-tr {
  border-top: 1px solid #d0d0d0;
}

.subtitle-tr {

}

mat-checkbox {
  color: #767676;
}

.loader {
  display: flex;
  flex-direction: column;

  div {
    margin: 16px 5px;
    height: 28px;
    background-color: rgba(0,0,0,0.08);
    border-radius: 5px;
    width: calc(100% - 20px);
  }
}

.modal-first {
  margin-bottom: 15px;
}

mat-slide-toggle {
  margin: 0;
}
