<entities-table-wrapper
  [data]="entities"
  [loaded]="initialLoaded"
  [columnParams]="columnParams"
  [filterString]="filterValue"
  [serverError]="serverError"
  (selected)="viewEntity($event.id)"

  [service]="service"
  [showCopy]="service.hasWritePermission()"
  [showDelete]="false"
  (viewClicked)="viewEntity($event.id)"
  (copyClicked)="copyRole($event)"
  (editClicked)="editEntity($event.id)"
  (deleteClicked)="deleteEntity($event.id)"
  (deleteManyClicked)="deleteMany($event)"
  (refreshData)="refreshData()"

  [limit]="limit"
  [paginationValues]="paginationValues"
  [previousDisabled]="page <= 0"
  [nextDisabled]="!hasMorePages()"
  (previous)="previous()"
  (next)="next()"
  (updateLimit)="updateLimit($event)"
  (filterChanged)="filterValue = $event"
  (searchChanged)="setSearchString($event)"
>
</entities-table-wrapper>
