<div>

  <div class="rebill" *ngFor="let rebill of rebills">

    <div class="order">
      <div>ORDER {{rebill.parentSession.alias}}</div>
      <div>CANCEL</div>
    </div>
    <div class="details">
      <span>{{rebill.amount.usd()}}</span>
      <span>Next Order bills in {{rebill.billAt.diff(utcf(), 'd')}} days, {{rebill.billAt | formatDateTime: 'MMMM D YYYY'}}</span>
    </div>

    <ng-container *ngFor="let ps of rebill.productSchedules">

      <div class="schedule" *ngFor="let schedule of ps.schedulesOnDay">

        <div class="name">{{schedule.product.name}}</div>
        <div class="sku">{{schedule.product.sku}}</div>
        <div class="price">{{schedule.price.usd()}}</div>
        <div class="description">{{schedule.product.description}}</div>

      </div>

    </ng-container>

  </div>

</div>
