<div class="perfect-entity">

  <div *ngIf="rebill; else spin">
    <div class="perfect-entity__info">
      <div class="perfect-entity__info__title">{{'SEARCH_PERFECT_REBILL_TITLE' | translate}}</div>

      <div class="perfect-entity__info__fields">

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_AMOUNT' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.amount.usd() | numberlocale}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_PARENTSESSION' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.parentSession.id}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_BILL' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.billAt | formatDateTime}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_CREATED' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.createdAt | formatDateTime}}</span>
        </div>

      </div>
    </div>

    <div class="perfect-entity__table">
      <div class="perfect-entity__table__title">{{'SEARCH_PERFECT_REBILL_TRANSACTIONS' | translate}}</div>

      <table class="highlight">
        <thead>
        <tr>
          <th>{{'SEARCH_ADVANCED_AMOUNT' | translate}}</th>
          <th>{{'SEARCH_ADVANCED_ALIAS' | translate}}</th>
          <th>{{'SEARCH_ADVANCED_RESPONSE' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of rebill.transactions" [routerLink]="['/transactions', transaction.id]">
          <td>{{transaction.amount.usd() | numberlocale}}</td>
          <td>{{transaction.alias}}</td>
          <td>{{transaction.processorResponse.message}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #spin><table-loader [rowHeight]="30"></table-loader></ng-template>
</div>

