<div class="perfect-entity">

  <div *ngIf="rebill; else spin">
    <div class="perfect-entity__info">
      <div class="perfect-entity__info__title">Rebill Info</div>

      <div class="perfect-entity__info__fields">

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Amount:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.amount.usd()}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Parent Session:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.parentSession.id}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Bill At:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.billAt | formatDateTime}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Created At:</span>
          <span class="perfect-entity__info__fields__item__value">{{rebill.createdAt | formatDateTime}}</span>
        </div>

      </div>
    </div>

    <div class="perfect-entity__table">
      <div class="perfect-entity__table__title">Transactions</div>

      <table class="highlight">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Alias</th>
          <th>Processor Response</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of rebill.transactions" [routerLink]="['/transactions', transaction.id]">
          <td>{{transaction.amount.usd()}}</td>
          <td>{{transaction.alias}}</td>
          <td>{{transaction.processorResponse.message}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #spin><table-loader [rowHeight]="30"></table-loader></ng-template>
</div>

