<div class="share-link">
  <mat-icon class="share-link__trigger" (click)="showShare()">link</mat-icon>
  <div class="share-link__container" *ngIf="shareVisible">
    <div class="share-link__pointer"></div>
    <div class="share-link__title">{{'SHARE_TITLE' | translate}}</div>
    <div class="share-link__url">
      <input type="text" #urlField class="share-link__url__content" value="{{shareUrl}}" readonly>
      <mat-icon class="share-link__url__icon" matTooltip="{{'SHARE_COPY' | translate}}" (click)="copyUrlToClipboard(urlField)">content_copy</mat-icon>
    </div>
  </div>
</div>
