$color-orange: #F16C00;

.advanced-filter {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding-top: 20px;
  background: white;

  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__date {
    display: flex;
    align-items: center;
    margin: 20px 5px;
    font-size: 12px;

    @media only screen and (max-width: 1440px) {
      margin: 10px 20px 10px 0;
    }

    &__quick {
      margin-left: 5px;

      &__item {
        padding: 0 5px;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &--active {
          padding-bottom: 3px;
          border-bottom: 2px solid $color-orange;
          color: black;
          font-weight: 500;
        }

        &--disabled {
          cursor: default;
        }
      }
    }

    &__range {
      margin-left: 30px;

      .daterangepicker {
        flex-wrap: wrap;
        width: 500px;

        .left {
          margin-left: 5px;
        }

        .ranges {
          flex-basis: 100%;
          margin-right: 20px;
          text-align: right;
        }
      }

      &__input {
        cursor: pointer;

        span {
          vertical-align: middle;
        }

        &__label {

        }

        &__value {
          margin: 0 5px 0 1px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          color: rgba(0,0,0,0.5);
        }

        md-icon {
          vertical-align: middle;
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
    }
  }

  &__group-by {
    display: inline-block;
    margin: 20px;

    @media only screen and (max-width: 1440px) {
      margin: 10px;
    }
  }

  &__query {
    position: relative;
    margin-left: auto;
    width: 42%;

    @media only screen and (max-width: 1440px) {
      margin-top: 20px;
      width: 100% !important;
    }

    &--no-group-by {
      width: 50%;
    }

    &__input {
      transition: 0.75s ease-in-out;
      width: calc(100% - 100px);

      @media only screen and (max-width: 1440px) {
        width: 100%;
      }

      &--advanced {
        @media only screen and (min-width: 1441px) {
          transform: translateY(100px);
          transition: 0.75s ease-in-out;
        }

        md-input {
          .md-input-prefix {
            max-width: 100% !important;
          }

          .md-input-infix {
            display: none;
          }
        }
      }

      md-input {
        width: 100%;
        font-size: 14px;
        margin: 0;

        @media only screen and (max-width: 1440px) {
          margin: 0 10px;
          width: calc(100% - 20px);
        }
      }

      .md-input-wrapper {
        margin-top: 0;

        .md-input-table {
          display: flex;
          flex-flow: row;
          align-items: flex-end;
          height: 35px;

          .md-input-prefix {
            max-width: 70%;
          }
        }
      }

      &__prefix {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1;
          margin: 2px;
          height: 30px;
          border-radius: 20px;
          background: rgba(0, 0, 0, 0.1);

          &__image {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 20px;
            text-align: center;
            color: white;
          }

          &__text {
            margin: 5px;
            font-size: 11px;
          }

          md-icon {
            margin-right: 5px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: gray;
            color: white;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }

      .md-input-underline {
        .md-input-ripple {
          background-color: $color-orange;
        }
      }

      .md-input-placeholder.md-focused {
        color: $color-orange !important;
      }
    }

    &__suggestions {
      position: absolute;
      top: calc(100% + 8px);
      left: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background-color: white;
      z-index: 5;

      &__item {
        width: 150px;
        padding: 15px 10px;
        cursor: pointer;
        font-size: 0;

        &:hover {
          background-color: $color-orange;
          color: white;
        }

        &__image {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          line-height: 30px;
          background: #039BE5;
          text-align: center;
          font-size: 16px;
          color: white;
        }

        &__text {
          display: inline-block;
          vertical-align: middle;
          max-width: 110px;
          font-size: 11px;
        }
      }
    }
  }

  &__icons {
    position: absolute;
    display: flex;
    right: 10px;
    top: 18px;
    z-index: 4;

    @media only screen and (max-width: 1440px) {
      top: 10px;
    }

    md-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;

      @media only screen and (min-width: 1441px) {
        margin-left: 5px;
      }
    }

    .share-link__container {
      top: 22px !important;
      right: -12px !important;
    }
  }

  &__advanced {
    margin: 0 5px;
    height: 190px;
    transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    overflow: hidden;

    &--inactive {
      height: 0 !important;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &--flex {
        display: flex;
        width: 100%;
      }

      .first {
        @media only screen and (min-width: 1441px) {
          margin-right: 75px;
        }
      }

      md-input {
        font-size: 14px;
      }
    }

    &__large {
      max-width: 260px;
    }

    &__small {
      max-width: 90px;
    }

    &__dropdown {
      display: inline-block;
      box-sizing: border-box;
      margin: 15px 0 0;
      width: 50%;
      max-width: 280px;
      padding-left: 5px;

      &--active {
        color: rgba(0, 0, 0, 0.3);
      }

      span {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.11);
        padding-bottom: 5px;
        max-width: 180px;
        font-size: 14px;
        cursor: pointer;

        md-icon {
          margin-left: auto;
          height: 16px;
          width: 16px;
          vertical-align: middle;
          font-size: 16px;
        }
      }

      .unselected {
        color: rgba(0, 0, 0, 0.35)
      }
    }
  }

  &__advanced-button {
    padding: 10px;
    text-align: right;
    color: #039BE5;
    font-size: 12px;

    span {
      cursor: pointer;
      margin-left: 10px;
    }
  }

  input-autocomplete {
    width: 50%;
    max-width: 280px;
  }
}
