.blue-screen {
  &__account-switcher {
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
    top: 10px;
    font-family: 'Roboto', serif;
    font-size: 16px;

    button {
      color: white !important;
      margin-left: 5px;
    }
  }
}
