@import "_variables.scss";

// Utility Color Classes

//.success {
//
//}

// Google Color Palette defined: http://www.google.com/design/spec/style/color.html

$primary: (
  "base": $primary-color
);

$colors: (
  "primary": $primary,
);

$main-color: #5B9BE1;;

$processing-color: rgb(41, 108, 204);

$main-color-100: #99CCFF;
$main-color-200: #4DA6FF;
$main-color-300: #0080FF;
$main-color-400: #296CCC;
$main-color-500: #2962B3;
$main-color-600: #294A78;
$dark-color: #333333;
$action-color: #1EBEA5;
$action-color-light: rgba(30, 190, 165, 0.7);
$danger-color: #DC2547;
// Color Classes

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else if $color_name != "shades" {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}

