$card-title-color: #5B9BE1;
$default-padding: 14px 12px 6px;

.customer-view {

  &__content {
    padding: 10px;

    &--invisible {
      display: none;
    }

    .column {

      &--small {
        width: 24%;
      }

      &--medium {
        width: 34%;
      }

      &--large {
        width: 42%;
      }
    }
  }

  &__card {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;

    md-card-title {
      position: relative;
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.4);
      padding: $default-padding;
      border-bottom: 1px solid rgba(0,0,0,0.2);

      md-icon {
        position: absolute;
        right: 12px;
        top: 16px;
        width: 10px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        font-size: 20px;
        cursor: pointer;
      }

      .title {
        margin-bottom: 5px;
        font-size: 18px;
        color: #5B9BE1;
      }

      .subtitle {
        font-size: 12px;
      }
    }

    md-card-content {
      padding: 5px 12px 16px;
    }

    &__column {
      width: 50%;

      &--first {
        margin-right: 20px;
      }
    }

    &__address-row {
      dropdown-component {
        width: 50%;

        .dropdown-component {
          min-width: 100%;
        }
      }

      md-input-container {
        width: 50%;
        margin-left: 10px;
      }

      autocomplete-input {
        width: 50%;

        md-input-container {
          width: 100%;
          margin-left: 0;
        }
      }
    }

    .default-autocomplete-input__options {
      width: 150px;
    }

    &__item {
      display: flex;
      margin-top: 15px !important;
      font-size: 12px;

      span:first-of-type {
        margin-right: 5px;
        font-weight: 500;
        white-space: nowrap;
      }

      md-input {
        margin: 0;

        .md-input-wrapper {
          margin: 0;
        }
      }
    }

    &__action {
      margin-left: auto;
      width: 12px;
      height: 18px;
      vertical-align: middle;
      font-size: 18px;
      color: rgba(0,0,0,0.4);
      cursor: pointer;
    }

    &__actions {
      margin-top: 20px;
      display: flex;
      font-size: 12px;

      div {
        cursor: pointer;

        &:first-of-type {
          margin: 0 10px 0 auto;
        }

        &:last-of-type {
          color: $card-title-color;
        }
      }
    }
  }

  &__edit {
    max-width: 500px;
    margin-bottom: 100px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    background: white;

    &__title {
      padding: $default-padding;
      border-bottom: 1px solid rgba(0,0,0,0.14);

      &--main {
        font-size: 18px;
        margin-bottom: 5px;
        color: $card-title-color;
      }

      &--sub {
        font-size: 12px;
        color: rgba(0,0,0,0.4);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding: 20px;
      font-size: 14px;

      &__expiration {
        display: flex;
        margin-top: 12px;

        &__item {

          &:first-of-type {
            margin-right: 20px;
          }

          &__title {
            margin-bottom: 6px;
            font-size: 10px;
            color: rgba(0,0,0,0.5);
          }

          dropdown-component {

            .dropdown-component {
              margin-top: 5px;

              span {
                font-size: 14px;
              }

              &__text {
                &--selected {
                  color: black !important;
                }

                &--unselected {
                  color: rgba(0, 0, 0, 0.36) !important;
                }
              }

              &__options {
                &__item {
                  padding: 6px 10px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

    &__address {
      display: flex;
      flex-direction: column;
      padding: 0 20px 20px 20px;
      font-size: 14px;

      &__title {
        margin-top: 15px;
        font-size: 18px;
        color: $card-title-color;
      }

      &__group {
        display: flex;

        dropdown-component {
          margin-left: 25px;
        }
      }
    }

    &__actions {
      display: flex;
      padding: 15px 20px;
      border-top: 1px solid rgba(0,0,0,0.14);
      font-size: 14px;

      div {
        cursor: pointer;

        &:first-child {
          margin: 0 10px 0 auto;
        }

        &:last-child {
          color: $card-title-color;
        }
      }
    }

    md-input {
      margin: 0;
      max-width: 240px;
    }

    .input-disabled {
      .md-input-underline {
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        background-image: none;
      }
    }

    .datepicker--custom__input {
      width: 90px;
    }

    .no-margin {
      .md-input-wrapper {
        margin: 0;
      }
    }
  }

  &__no-results {
    border-top: 1px solid rgba(0,0,0,0.2);
    padding: 12px;
  }
}

.credit-cards {
  padding: 0;

  &__title {
    padding: 18px 18px 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 15px 13px 15px 18px;
    font-size: 12px;

    &__column {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      span:first-of-type {
        margin-bottom: 4px;
      }
    }

    &__expiration {
      margin-left: auto;
      margin-right: 15px;
    }

    md-icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
      color: rgba(0,0,0,0.4);
      cursor: pointer;
    }

    img {
      height: 30px;
    }
  }
}

customer-notes {
  .notes {

    &__container {
      overflow: auto;
      max-height: 300px;
    }

    md-card-content {
      padding: 0;
    }

    .note {
      margin: 0;
      padding: 0;
      min-height: 105px;

      &__title {
        background-color: #E8E8E8;
        color: rgba(0,0,0,0.6);
        padding: 5px 18px;

        md-icon {
          margin: 0 5px 0 15px;
          width: 16px;
          height: 16px;
          font-size: 16px;
          vertical-align: middle;
        }

        &__label {
          vertical-align: middle;
          font-size: 12px;
          font-weight: 400;

          &--link {
            cursor: pointer;
            color: $card-title-color;
          }
        }

        &__save {
          float: right;
          vertical-align: middle;
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;
        }
      }

      &__content {
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px 18px 24px;
        font-size: 12px;

        span {
          margin: 0 20px;
        }

        img {
          height: 40px;
        }

        &__action {
          position: absolute;
          top: 20px;
          right: 12px;
          color: rgba(0,0,0,0.4);
          cursor: pointer;
        }
      }
    }

    md-card-title {
      padding: $default-padding;
      border-bottom: none;
    }

    &__new {
      position: absolute;
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 85%;
      padding: 10px 10px 5px;
      background: white;
      box-shadow: 0 0 5px rgba(0,0,0,0.4);

      md-textarea {
        width: 100%;

        textarea {
          height: 120px;
        }

      }

      &__actions {

        md-icon {
          padding: 0 10px;
          cursor: pointer;
        }
        &__close {
          color: #D0021B;
        }

        &__done {
          color: #60B003;
        }
      }
    }
  }
}

customer-events {
  padding: 5px;
  width: 50%;

  .events {
    margin: 0;

    &__container {
      padding-bottom: 20px;
      max-height: 420px;
      overflow: auto;
    }

    &__title {
      background-color: #E8E8E8;
      color: rgba(0,0,0,0.6);
      padding: 5px 18px;

      &__label {
        vertical-align: middle;
        font-size: 12px;
        font-weight: 400;
      }
    }

    &__content {
      position: relative;
      display: flex;
      align-items: center;
      padding: 12px 18px;
      font-size: 12px;
      border-bottom: 1px solid rgba(0,0,0,0.15);

      &__info {
        flex-basis: 100%;
        margin-left: 12px;

        div:first-of-type {
          margin-bottom: 4px;
          margin-right: 10px;
          text-align: right;
          font-size: 10px;
        }
      }

      &__image {
        margin-top: 15px;
      }

      span {
        margin-left: 10px;
      }

      img {
        height: 40px;
      }
    }
  }
}

.customer-transactions {

  &__title-container {
    padding: 6px 2px 0;

    .title {
      font-weight: 400;
      font-size: 16px;
      color: $card-title-color;
      margin-bottom: 5px;
    }

    .subtitle {
      font-size: 12px;
      font-weight: 400;
      color: rgba(0,0,0,0.4);
    }
  }
}
