$color-orange: #F16C00;

.dashboard {

  &__column {
    display: inline-block;
    width: 50%;
    vertical-align: top;

    &--left {
      padding-right: 10px;
      box-sizing: border-box;

      @media only screen and (max-width: 1440px ) {
        width: 60%;
      }

      @media only screen and (max-width: 860px ) {
        padding: 0;
        width: 100%;
      }
    }

    &--right {
      padding-left: 10px;
      box-sizing: border-box;

      @media only screen and (max-width: 1440px) {
        width: 40%;
      }

      @media only screen and (max-width: 860px ) {
        position: relative;
        top: 0;
        padding: 0;
        width: 100%;
      }
    }
  }

  &__filters {
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding-top: 20px;
    background: white;

    &__container {
      box-sizing: border-box;
      width: 100%;
    }

    input-autocomplete {
      width: 50%;
      max-width: 280px;
    }
  }

  &__overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 5px;

    &__item {
      width: calc(33.33% - 10px);
      margin-bottom: 15px;
    }

    mat-spinner {
      margin: 7px auto;
    }
  }

  &__chart {
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: white;

    &--embedded {
      margin-bottom: 0;
      box-shadow: none;
    }

    .invisible {
      overflow: hidden;
      height: 0;
    }

    &__title {
      position: relative;
      padding: 20px 10px 10px;

      &__main {
        margin-bottom: 5px;
        font-size: 18px;
      }

      &__sub {
        font-size: 12px;
        color: rgba(0,0,0,0.6);
      }

      mat-icon {
        position: absolute;
        right: 10px;
        top: 16px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: rgba(0,0,0,0.6);
        cursor: pointer;
      }
    }

    .highcharts-container {
      width: 100% !important;
      height: 100% !important;

      .highcharts-root {
        width: 100%;
        height: 100%;
      }
    }

    mat-spinner {
      margin: 50px auto;
    }
  }

  &__gray-table-chart {
    background-color: #ffffff;
    padding: 23px 25px;

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .main {
        color: rgba(0, 0, 0, 0.87);
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
      }

      mat-icon {
        margin-left: auto;
        width: 18px;
        height: 18px;
        font-size:18px;
        color: rgba(0,0,0,0.5);
        cursor: pointer;
      }
    }

    &__table {

      .item {
        margin-top: 18px;
        align-items: center;

        .row {
          display: flex;
          margin-top: 7px;
        }

        .line-container {
          height: 4px;
        }

        .line {
          height: 4px;
          background: #1EBEA5;
          animation: expand 750ms;
        }

        @keyframes expand {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }

        .num {
          display: flex;
          margin-bottom: 7px;
          line-height: 15px;
          color: #1EBEA5;
          border-radius: 50%;
          font-size: 13px;
          font-weight: 500;
        }

        .name {
          font-size: 14px;
          line-height: 15px;
          cursor: pointer;
        }

        .amount {
          margin-left: auto;
          font-size: 14px;
          line-height: 15px;
          font-weight: 500;
        }
      }
    }
  }

  &__table-chart {
    margin: 10px 0 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: white;

    &__no-data {
      padding: 20px 10px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
    }

    mat-spinner {
      margin: 60px auto;
    }

    &__title {
      position: relative;
      padding: 20px 10px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      &__main {
        margin-bottom: 5px;
        font-size: 18px;
      }

      &__sub {
        font-size: 12px;
        color: rgba(0,0,0,0.6);
      }

      mat-icon {
        position: absolute;
        right: 10px;
        top: 16px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: rgba(0,0,0,0.6);
        cursor: pointer;
      }
    }

    .highcharts-container {
      width: 100% !important;
      height: 100% !important;

      .highcharts-root {
        width: 100%;
        height: 100%;
      }
    }

    .table--no-border {
      margin-bottom: 0;

      tbody {
        tr {
          &:last-of-type {
            border: none;
          }
        }
      }
    }

    table {
      font-size: 12px;
      margin-bottom: 40px;

      @media only screen and (max-width: 1440px) {
        font-size: 10px;
      }

      thead {
        tr {

          .clickable {
            cursor: pointer;
          }

          th {
            padding: 15px;
            color: rgba(0,0,0,0.4);
            font-weight: 400;

            @media only screen and (max-width: 1440px) {
              padding: 10px;
            }

            mat-icon {
              position: absolute;
              height: 20px;
              width: 20px;
              font-size: 20px;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          cursor: pointer;

          td {
            padding: 15px;

            @media only screen and (max-width: 1440px) {
              padding: 10px;
            }
          }
        }
      }

      .color-indicator {
        display: inline-block;
        margin-right: 15px;
        height: 10px;
        width: 10px;
        border-radius: 50%;

        @media only screen and (max-width: 1440px) {
          margin-right: 5px;
        }
      }
    }

    &__actions {
      font-size: 14px;
      padding: 15px 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      color: $color-orange;

      &--no-border {
        border: none;
      }

      span {
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }

  &__boxes {
    margin: -5px -5px 15px;
    padding: 5px;
    overflow: auto;
  }

  .dashboard__table {
    overflow: hidden;
    transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

    @media only screen and (max-width: 1440px) {
      height: 235px;
    }

    &--inactive {
      height: 0 !important;
    }
  }
}

.dashboard-chart {
  .highcharts-container {
    width: 100% !important;
    overflow: visible !important;

    .highcharts-root {
      width: 100%;
      overflow: visible !important;
    }
  }
}

.dashboard-tooltip-text {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.dashboard-tooltip-date {
  font-size: 16px;
  font-weight: 600;
}

.dashboard-label-icon-holder {
  background: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.28);
  margin-left: 8px;
  display: flex;

  i {
    margin: auto;
    height: 22px;
    width: 22px;
    font-size: 22px;
    color: #4A4A4A;
  }

  div {
    margin: auto;
    height: 22px;
    line-height: 22px;
    font-size: 26px;
    font-weight: 600;
    color: #4A4A4A;
  }
}

.matTooltip {
  height: auto !important;
  width: 118px !important;
  text-align: center !important;
  padding: 10px 5px !important;
  line-height: 14px !important;
}
