@import 'colors';

.associate__dropdown {

  .dropdown-component {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 14px !important;

    &__options {
      max-height: 200px;
      overflow: auto;
    }
  }
}

associate-dialog {
  autocomplete-input {
    .default-autocomplete-input {
      margin-top: 10px;
    }

    .default-autocomplete-input__options {
      width: 100%;
    }

    mat-input-container {
      width: 100%;
    }
  }
}

mat-dialog-container {
  overflow: visible !important;
}

.add-schedule--modal {

  .entity-view__card {
    box-shadow: none;
    margin: 0;
  }

}

.yes-no-dialog {
  &__primary {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.custom-dialog {
  &__buttons {
    display: flex !important;
    padding: 15px !important;
    font-size: 12px;

    div {
      cursor: pointer;
    }

    div:first-of-type {
      margin-left: auto;
      margin-right: 20px;
    }

    div:last-of-type {
      color: $main-color;
    }

    div:only-child {
      margin-left: auto;
      margin-right: 0;
      color: $main-color;
    }
  }
}

.terms-switcher {

  .simple-dropdown__header {
    color: #2C98F0 !important;
  }

}

.backdrop-blue {
  background: $main-color;
  opacity: 0.65 !important;

  mat-dialog-container {
    padding: 0 !important;
  }
}
