@import 'colors';

associate-dialog {
  autocomplete-input {
    .default-autocomplete-input {
      margin-top: 10px;
    }

    .default-autocomplete-input__options {
      width: 100%;
    }

    mat-form-field {
      width: 100%;
    }
  }
}

mat-dialog-container {
  overflow: visible !important;
}

.add-schedule--modal {

  .entity-view__card {
    box-shadow: none;
    margin: 0;
  }

}

.yes-no-dialog {
  &__primary {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.custom-dialog {
  &__buttons {
    display: flex !important;
    padding: 15px !important;
    font-size: 12px;

    div {
      cursor: pointer;
    }

    div:first-of-type {
      margin-left: auto;
      margin-right: 20px;
    }

    div:last-of-type {
      color: $main-color;
    }

    div:only-child {
      margin-left: auto;
      margin-right: 0;
      color: $main-color;
    }
  }
}

.terms-switcher {

  .simple-dropdown__header {
    color: $main-color-400 !important;
  }

}

.backdrop-blue {
  background: $main-color-400;
  opacity: 0.65 !important;

  &--processing {
    opacity: 0.78 !important;
    background: $processing-color;
  }

  mat-dialog-container {
    padding: 0 !important;
  }
}

.panel-transparent {
  mat-dialog-container {
    background: rgba(0,0,0,0);
    box-shadow: none;
  }
}

.backdrop-none {
  background: rgba(0,0,0,0);

  mat-dialog-container {
    padding: 0 !important;
  }
}

mat-dialog-container {
  .container {
    font-family: Roboto, serif;
    margin: -24px;
    background: #FAFAFA;
    border-radius: 4px;

    .title {
      padding: 40px 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      background: white;
      border-radius: 4px 4px 0 0;
      font-size: 20px;
      font-weight: 500;
    }

    .body {
      display: flex;
      flex-direction: column;
      padding: 35px 80px;

      mat-form-field {
        font-size: 16px;
        width: 320px;
      }
    }

    .buttons {
      display: flex;
      margin-top: 25px;
      padding: 0 25px 35px;

      button {
        &:first-of-type {
          margin-left: auto;
          margin-right: 15px;
          color: $main-color-200;
        }

        &:last-of-type {
          color: #ffffff;
          background: $main-color-200;
        }
      }
    }
  }

  .error {
    border-color: $danger-color !important;
  }
}

.filters-dialog {
  width: 550px;
  max-height: 98vh;
  overflow: auto;

  .header {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    border-bottom: 1px solid rgba(0,0,0,0.12);

    div {
      font-size: 20px;
      line-height: 23px;
      font-weight: 500;
    }

    mat-icon {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .content {
    padding: 20px 25px;

    .search-input-container {
      background: rgba(0,0,0,0.06);
      width: 100%;

      mat-form-field {
        width: 100%;
      }

      mat-icon {
        font-size: 22px;
        height: 22px;
        width: 22px;
        color: rgba(0,0,0,0.45);
      }
    }

    .date {
      margin-top: 16px;
      padding: 16px 20px;
      border: 1px solid rgba(0,0,0,0.12);

      &__title {
        font-size: 13px;
        font-weight: 500;
        color: #5F6368;
        margin-bottom: 10px;
      }

      &__label {
        display: flex;
        align-items: center;
        color: $dark-color;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;

        mat-icon {
          color: $dark-color;
          font-size: 20px;
          width: 20px;
          height: 20px;
          margin-right: 12px;
        }
      }
    }

    .box-container {

      .box-row {
        display: flex;
        margin-top: 16px;

        .box {
          display: flex;
          flex-direction: column;
          padding: 16px 20px;
          width: calc(50% - 10px);
          border: 1px solid rgba(0,0,0,0.12);

          &--single {
            width: 100% !important;
            margin-right: 0 !important;
          }

          .label {
            font-size: 13px;
            font-weight: 500;
            color: #5F6368;
          }

          mat-checkbox {
            margin-top: 10px;
            font-size: 13px;
            color: $dark-color;
          }

          &:first-of-type {
            margin-right: 20px;
          }
        }
      }
    }

    .filter {
      margin-top: 16px;
      padding: 16px 20px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      &__title {
        font-size: 18px;
        color: #5F6368;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }

  .buttons-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 20px 25px;
    border-top: 1px solid rgba(0,0,0,0.12);

    button {
      font-size: 14px;
      font-weight: 500;
    }

    .save {

    }

    .cancel {
      margin-left: auto;
      margin-right: 10px;
    }

    .filter {
      color: #ffffff;
      background: $main-color-300;
    }
  }

}
