.flex-custom {
  display: flex;

  &--center {
    align-items: center;
  }

  .flex-align {
    &--right {
      margin-left: auto;
    }

    &--left {
      margin-right: auto;
    }

    &--center {
      margin: auto;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--align-start {
    align-items: flex-start;
  }
}
