$error-color: #D00140 !important;
$main-blue: #5383C3;

.content {

  &__block {
    &__first {
      margin-top: 30px;
      margin-left: 15px;
    }

    &__second {
      margin-top: 20px;
      margin-left: 15px;
    }

    &__third {
      margin-top: 10px;
      margin-left: 15px;
    }

    &__fourth {
      margin-top: 15px;
      margin-left: 15px;
    }

    &__fifth {
      margin-top: 5px;
      margin-left: 15px;
    }
  }
}

.input-error-message {
  margin-top: -8px;
  font-size: 10px;
  color: $error-color;
}

.error {
  color: $error-color;

  .dropdown-component__text {
    color: $error-color;
    border-color: $error-color
  }

  .dropdown-component__options {
    color: black;
  }

  label {
    color: $error-color;
  }

  input {
    color: $error-color;
  }

  .mat-form-field-underline {
    background-color: $error-color;

    span {
      background-color: $error-color;
    }
  }
}

dropdown-component {
  display: block;
  position: relative;

  .dropdown-component {
    font-size: 14px;
    min-width: 130px;
    width: auto;

    .dropdown-component--big {
      .dropdown-component {
        width: 100% !important;
      }
    }

    &__text {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.4);
      cursor: pointer;

      &--selected {
        color: rgba(0, 0, 0, 1);
      }

      &--disabled {
        border-bottom: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, .26) 0, rgba(0, 0, 0, .26) 33%, transparent 0) repeat-x bottom;
        background-size: 4px 1px;
      }

      &--with-placeholder {
        margin-top: 20px;

        &--disabled {
          margin-top: 0;
        }
      }

      mat-icon {
        margin-left: auto;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        font-size: 18px;
      }
    }

    &__placeholder {
      margin-bottom: 6px;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.4);
    }

    &__options {
      position: absolute;
      top: 22px;
      z-index: 5;
      background: white;
      box-shadow: 0 0 3px rgba(0,0,0,0.3);
      max-height: 130px;
      overflow: auto;

      &--with-placeholder {
        top: 40px;
      }

      &__item {
        padding: 5px;
        cursor: pointer;

        &:hover {
          background: rgba(0,0,0,0.08);
        }
      }
    }
  }
}

.product-autocomplete-input {
  font-size: 14px;

  mat-form-field {
    width: calc(100% - 25px);
  }
}

.campaign-autocomplete-input {
  font-size: 14px;

  mat-form-field {
    width: 100%;
  }
}

.default-autocomplete-input {
  position: relative;

  &--full-width {
    mat-form-field {
      width: 100%;
    }
  }

  &__input {
    display: flex;
    align-items: center;

    &--full-width {
      width: 100%;
    }

    .rotated {
      transform: rotate(180deg);
    }

    mat-icon {
      margin-top: 8px;
      margin-left: 12px;
      width: 18px;
      height: 18px;
      font-size: 18px;
      color: rgba(0,0,0,0.4);
      cursor: pointer;
      transition: all 250ms ease;
    }
  }

  &__options {
    position: absolute;
    top: 38px;
    left: -1px;
    border: 1px solid rgba(0,0,0,0.3);
    width: calc(100% - 30px);
    max-height: 180px;
    overflow: auto;
    background: #fff;
    color: black;
    z-index: 10;

    &--small {
      max-height: 130px;
    }

    &__item {
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background: rgba(0,0,0,0.05);
      }
    }

    .create-new {
      display: flex;
      align-items: center;

      span {
        margin-right: 20px;
      }

      mat-icon {
        margin-left: auto;
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }

    .focused {
      background-color: rgba(0,0,0,0.2);
    }
  }
}

.pixel-codemirror {
  font-size: 14px;
  max-width: 600px;

  .CodeMirror {
    background: #faf8f0;
  }

  .CodeMirror-code {
    max-width: 600px;
  }

  .CodeMirror-line {
    white-space: normal;

    span {
      display: inline-block;
      max-width: 600px;
    }
  }
}

.checkbox-blue.mat-checkbox-checked {
  .mat-checkbox-background {
    background-color: #4A90E2;;
  }
}
.checkbox-standalone {
  .mat-checkbox-inner-container {
    margin: auto;
  }
}

.slider-blue.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background: $main-blue;
}
.slider-blue.mat-checked:not(.mat-disabled) {
  .mat-slide-toggle-thumb {
    background-color: $main-blue !important;
  }
}
.slider-blue {
  .mat-slide-toggle-thumb {
    background-color: #E4E4E4;
  }
}

.three-row-autocomplete {
  .autocomplete-row {
    margin-bottom: 2px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: rgba(0,0,0,0.5);

    &:first-of-type {
      margin-bottom: 6px;
      height: 11px;
      line-height: 11px;
      font-size: 11px;
      color: rgba(0,0,0,0.85);
    }
  }
}
