.content {

  &__block {
    &__first {
      margin-top: 30px;
      margin-left: 15px;
    }

    &__second {
      margin-top: 20px;
      margin-left: 15px;
    }

    &__third {
      margin-top: 10px;
      margin-left: 15px;
    }

    &__fourth {
      margin-top: 15px;
      margin-left: 15px;
    }

    &__fifth {
      margin-top: 5px;
      margin-left: 15px;
    }
  }
}

md-input {
  margin: 0 5px 0 5px;
}

.error {
  color: #D00140 !important;

  label {
    color: #D00140 !important;
  }

  input {
    color: #D00140 !important;
  }

  .md-input-underline {
    background-color: #D00140 !important;

    span {
      background-color: #D00140 !important;
    }
  }
}

.dropdown-component--big {
  .dropdown-component {
    width: 100% !important;
  }
}
