.search-queries {

  .mat-form-field-infix {
    border-top: none;
    padding-top: 10px;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    margin-left: 14px;
    top: -8px;
  }
}

.search-queries--focused {
  span {
    label {
      color: transparent !important;
    }
  }
}

