.auth0-lock-overlay {
  opacity: 1 !important;
  background: linear-gradient(to bottom left, #4277C2, #2C98F0) !important;
}

.auth0-lock-widget {
  box-shadow: 0 0 40px 4px rgba(0,0,0,0.3) !important;
  transition-delay: 0.1s !important;
}
