.mrw {
  &-button {
    display: inline-block;
    padding: 10px 14px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  &-bi-input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 10px;
    width: 245px;
    height: 35px;
    border-radius: 3px;
    margin-right: 16px;

    mat-input-container {
      margin-left: 10px;
      font-size: 14px;
    }

    input {
      width: 190px;
    }

    .mat-input-wrapper {
      padding: 0;
    }

    .mat-form-field-infix {
      border-top: none;

    }
    .mat-input-underline {
      display: none;
    }

    .mat-input-placeholder {
      color: inherit;
    }
  }

  &-input--no-margin-top {
    .mat-input-wrapper {
      margin-top: 0;
    }
  }
}
