.mrw {
  &-button {
    display: inline-block;
    padding: 10px 14px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  &-bi-input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 10px;
    width: 245px;
    height: 35px;
    border-radius: 3px;
    margin-right: 16px;

    mat-form-field {
      margin-left: 10px;
      font-size: 14px;
    }

    input {
      width: 190px;
    }

    .mat-input-wrapper {
      padding: 0;
    }

    .mat-form-field-infix {
      border-top: none;

    }
    .mat-input-underline {
      display: none;
    }

    .mat-input-placeholder {
      color: inherit;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  &-filter-input {
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 4px;
    padding: 0 10px;
    background: #fafafa;
    font-size: 13px !important;
    line-height: 24px !important;
    color: #333333;

    .mat-input-wrapper {
      padding: 0;
    }

    .mat-form-field-infix {
      border-top: none;

    }
    .mat-input-underline {
      display: none;
    }

    .mat-input-placeholder {
      color: inherit;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  &-input--no-margin-top {
    .mat-input-wrapper {
      margin-top: 0;
    }
  }

  &--search-input {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  &-mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background: rgba(44, 152, 240, 0.5);
  }

  &-mat-slide-toggle.mat-checked:not(.mat-disabled) {
    .mat-slide-toggle-thumb {
      background: #2C98F0;
    }
  }

  &-mat-slide-toggle {
    .mat-slide-toggle-thumb {
      background: #F1F1F1;
    }

    .mat-slide-toggle-bar {
      background: rgba(34, 31, 31, 0.26);
    }
  }
}

.six-spinner {
  circle {
    stroke: #1EB1FC;
    stroke-width: 6px !important;
  }
}

.search--focused {
  span {
    label {
      color: transparent !important;
    }
  }
}

.material-icons--24 {
  font-size: 24px !important;
}
