.mat-menu-content {
  max-height: 250px;
  overflow: auto;
}

.topnav__items--collapsed__menu {
  .mat-menu-content {
    max-height: 400px;
    overflow: auto;

    button {
      font-weight: 100 !important;
    }
  }
}

.mat-menu-content {
  button {
    font-weight: normal !important;
  }
}
