.mat-menu-content {
  max-height: 250px;
  overflow: auto;
}

.topnav__items--collapsed__menu {
  .mat-menu-content {
    max-height: 400px;
    overflow: auto;

    button {
      font-weight: 100 !important;
    }
  }
}

.mat-menu-content {
  button {
    font-weight: normal !important;
  }
}

.transactions-details-item {
  margin: 0 15px;
  padding: 10px 0;
  font-size: 13px;
  line-height: 24px;
  color: #202124;
  border-top: 1px solid rgba(0,0,0,0.12);
  font-family: Roboto, serif;

  &:first-of-type {
    border-top: none;
  }

  div {
    &:first-of-type {
      font-weight: 500;
    }
  }
}
