@import "mixins";

$sidenav-width: 266px;
$sidenav-width-collapsed: 76px;
$topnav-height: 70px;
$sidebar-color-light: #385F8D;
$sidebar-color-middle: #2C486F;
$sidebar-color-dark: #171F38;

$sidebar-color: #fff;
$sidebar-text-color: #9B9B9B;
$sidebar-text-color-hover: #5383C3;

$navigation-color: #4277C2;

.mat-sidenav {
  max-width: $sidenav-width;
  min-width: 0 !important;
  z-index: 6 !important;
  overflow-x: hidden;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  font-family: Roboto, sans-serif;

  @media #{$medium-and-down} {
    &.mat-sidenav-opened {
      box-shadow: none !important;
    }
  }

  .mat-toolbar {
    padding: 0 72px 0 18px;
    height: $topnav-height;
    width: $sidenav-width;
    background-color: white;

    .logo {
      max-height: 40px;
    }

    .logo-small {
      max-height: 40px;
    }
  }

  .toolbar--small {
    width: $sidenav-width-collapsed;
  }

  .side-navigation {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
  }

  mat-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px !important;
  }

  .menu-item-image {
    margin-right: 10px;
    padding: 1px;
    width: 19px;
    height: 20px;
  }

  .menu-separator {
    margin: 5px 0;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.12);
  }

  .icon--solo {

    mat-icon {
      margin-right: 0;
    }

    .mat-list-item-content {
      padding-right: 0 !important;
    }
  }

  .icon--more {
    margin-right: 0;
    margin-left: auto;
    transition: 0.25s ease-in-out;

    &--rotate {
      transform: rotate(90deg);
    }
  }

  .nav-children {
    padding-top: 0;
    overflow: hidden;
    transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

    &:not(.active) {
      transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
      height: 0 !important;
    }

    &.level1 {
      .nav-dropdown {
        font-weight: 500;
      }

      .mat-list-item {
        height: 38px;
        font-size: 14px;
      }

      .placeholder {
        margin-right: 47px;
      }
    }

    &.level2 {
      .placeholder {
        margin-right: 67px;
      }
    }
  }

  .mat-list-item-content {
    padding-left: 0 !important;
    color: rgba(0,0,0,0.7);
  }

  .placeholder {
    width: 8px;
    margin-right: 17px;
    height: 100%;
    background: white;
  }

  .item-selected {
    background: rgba(0, 0, 0, 0.04);

    mat-icon {
      color: #5383C3;
    }

    .placeholder {
      background: #5383C3;
    }
  }

  .toolbar--small {
    padding-right: 0;
  }
}

mat-sidenav-container > .mat-sidenav-content {
  background-color: #E6EAF2 !important;
  height: 100vh;
  transform: none !important;
}

mat-sidenav-container {
  background-color: rgb(250, 250, 250);
}

.version {
  margin-top: auto;
  height: 30px;

  img {
    height: 15px;
    margin-right: 5px;
    margin-left: 25px;
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
    color: $sidebar-text-color;
    font-size: 11px;
  }
}


@media #{$medium-and-down} {
  main, footer {
    padding-left: 0;
  }
}

app-topnav {

  .topnav {
    height: $topnav-height;
    font-family: Roboto, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 5;
  }

  [mat-icon-button] {
    height: auto !important;
  }

  .mat-menu-click-catcher {
    z-index: 9999;
  }

  #menu-toggler {
    margin-right: 16px;
    margin-left: -16px;
    width: 64px;
    z-index: 1000;
    &[mat-icon-button] {
      border-radius: 0;
      padding: 10px;
      line-height: 44px;
    }

    @media #{$medium-and-down} {
      color: #ffffff;
    }
  }

  .app-flex-filler {
    flex: 1 1 auto;
  }
}

.topnav {
  background-color: $navigation-color !important;
}

.topnav-search-input {
  color: white;
  font-size: 16px;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-placeholder {
    color: white;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-wrapper {
    padding-bottom: 10px;
  }
}

.topnav__search__container {
  .auto-complete__option {
    line-height: 14px;
    font-weight: 400;
  }
}

.info-blue-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, #4277C2, #2C98F0);
  font-family: "Roboto", sans-serif;

  .text {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 36px;
  }

  .logout {
    color: white;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 18px;
  }

  .logo {
    height: 38px;
    position: absolute;
    top: 15px;
    left: 18px;
  }
}
