@import "mixins";

$sidenav-width: 215px;
$sidenav-width-overflow: 215px;
$topnav-height: 70px;
$sidebar-color-light: #385F8D;
$sidebar-color-middle: #2C486F;
$sidebar-color-dark: #171F38;

$sidebar-color: #fff;
$sidebar-text-color: #9B9B9B;
$sidebar-text-color-hover: #5383C3;

$navigation-color: #5383C3;

mat-sidenav {
  max-width: $sidenav-width-overflow;
  min-width: 0 !important;
  z-index: 6 !important;

  @media #{$medium-and-down} {
    &.mat-sidenav-opened {
      box-shadow: none !important;
    }
  }

  .mat-toolbar {
    padding: 0 72px 0 15px;
    height: $topnav-height;
    background-color: white;

    .logo {
      height: 40px;
    }

    .logo-small {
      height: 40px;
    }
  }

  .mat-list-item {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  mat-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px !important;
  }

  .icon--solo {

    mat-icon {
      margin-right: 0;
    }
  }

  .icon--more {
    margin-right: 0;
    margin-left: auto;
    transition: 0.25s ease-in-out;

    &--rotate {
      transform: rotate(90deg);
    }
  }

  .toolbar--small {
    padding-right: 0;
  }
}

mat-sidenav-container > .md-sidenav-content {
  background-color: #E6EAF2 !important;
  height: 100vh;
  transform: none !important;
}

mat-sidenav-container {
  background-color: rgb(250, 250, 250);
}

.item-selected.mat-list-item {
  padding-left: 0 !important;
  background-color: darken($sidebar-color, 4%) !important;

  mat-icon {
    color: $sidebar-text-color-hover;
  }

  .sidenav-item__text {
    color: #828282;
    font-weight: 600;
  }
}

mat-nav-list.side-navigation {
  width: 100%;
  padding-top: 0;

  a[mat-list-item] {
    position: relative;

    .mat-list-item-content {
      padding: 0;
    }
  }

  a[mat-list-item] > .mat-list-item {
    @include font-body();
    color: $sidebar-text-color;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
    letter-spacing: .14px;

    > i.material-icons:last-child {
      line-height: 40px;
      transition: .4s transform cubic-bezier(.25, .8, .25, 1);
      &:before {
        content: "keyboard_arrow_down";
      }
    }
  }

  a.active > .mat-list-item > i.material-icons:last-child {
    transform: rotate(180deg) translateZ(0);
  }

  a.active:not(.nav-dropdown) > .mat-list-item:not(:hover) {
    background-color: darken($sidebar-color, 4%) !important;
  }

  .nav-children {
    padding-top: 0;
    overflow: hidden;
    transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

    &:not(.active) {
      transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
      height: 0 !important;
    }

    .nav-dropdown {
      .sidenav-item__text {
        font-weight: 600;
        color: #828282;
      }
    }

    $base-padding: 16px;
    $base-padding-left: 25px;
    $base-color-change: 2%;

    &.level1 a > .mat-list-item {
      height: 38px;
      padding-left: $base-padding-left + 30px !important;
      padding-right: 5px !important;

      .sidenav-item__text {
        width: 100%;
        font-size: 12px;
      }
    }
    &.level1 .item-selected > .mat-list-item {
      padding-left: 0 !important;

      .selected-placeholder {
        margin-right: 49px;
      }
    }
    &.level2 a > .mat-list-item {
      padding-left: $base-padding-left + 45px !important;
      height: 38px;

      .sidenav-item__text {
        width: 140px;
        font-size: 12px;
      }
    }
    &.level2 a > .mat-list-item {
      .selected-placeholder {
        margin-right: 62px !important;
      }
    }
    &.level3 a > .mat-list-item {
      height: 38px;
      padding-left: $base-padding * 4;
    }
    &.level4 a > .mat-list-item {
      height: 38px;
      padding-left: $base-padding * 5;
    }
    &.level5 a > .mat-list-item {
      height: 38px;
      padding-left: $base-padding * 6;
    }
  }
}

.side-navigation {
  display: table;
  height: calc(100% - 70px);
  font-family: Montserrat, sans-serif;

  &__version {
    display: table-row;
    height: 30px;

    img {
      height: 15px;
      margin-right: 5px;
      margin-left: 25px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      color: $sidebar-text-color;
      font-size: 11px;
    }
  }
}

.side-navigation mat-nav-list {
  position: relative;
}

.side-navigation mat-nav-list.nav-children:before, .side-navigation mat-nav-list.nav-children:after, .side-navigation a.active:not(.nav-dropdown):before, .side-navigation a.active:not(.nav-dropdown):after {
  content: "";
  left: 0;
  position: absolute;
  width: $sidenav-width;
  height: 2px;
  z-index: 10;
}

.side-navigation mat-nav-list.nav-children:before, .side-navigation a.active:before {
  top: 0;
}

.side-navigation mat-nav-list.nav-children:after, .side-navigation a.active:after {
  bottom: 0;
}

@media #{$medium-and-down} {
  main, footer {
    padding-left: 0;
  }
}

app-topnav {

  .topnav {
    height: $topnav-height;
    font-family: Roboto, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    z-index: 5;
  }

  [mat-icon-button] {
    height: auto !important;
  }

  .md-menu-click-catcher {
    z-index: 9999;
  }

  #menu-toggler {
    margin-right: 16px;
    margin-left: -16px;
    width: 50px;
    z-index: 1000;
    &[mat-icon-button] {
      border-radius: 0;
      padding: 10px;
      line-height: 44px;
    }

    @media #{$medium-and-down} {
      color: #ffffff;
    }
  }

  .app-flex-filler {
    flex: 1 1 auto;
  }
}

.sidenav-item {

  &__text {
    width: 90px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }
}

.topnav {
  background-color: $navigation-color !important;
}

.topnav-search-input {
  color: white;
  font-size: 16px;

  .mat-input-placeholder {
    color: white;
  }

  .mat-input-underline {
    display: none;
  }
}
