.notifications-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: calc(100vh - 71px);
  z-index: 4;
  background-color: white;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);

  &--standalone{
    position: relative;
    width: 720px;
    max-width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.13);
  }

  &__topnav {
    display: flex;
    padding: 14px 10px;
    align-items: center;

    &--standalone {
      padding: 14px 20px;
      border-bottom: 1px solid #F5F5F5;
    }

    span {
      font-size: 13px;
      font-weight: 500;
      color: #39393A;
    }

    &__options {
      display: flex;
      margin-left: auto;
      color: #049AE4;
      font-size: 12px;
      font-weight: 500;

      &--standalone {
        div {
          margin: 0 0 0 15px;
        }
      }

      &__separator {
        display: inline-block;
        margin: 0 5px;
        width: 2px;
        height: 12px;
        background: #049AE4;
      }

      div {
        cursor: pointer;
      }
    }
  }

  &__content {
    height: calc(100% - 96px);
    overflow: auto;

    &--standalone {
      height: calc(100% - 44px);
    }

    &__no-results {
      padding: 30px 20px;
      font-size: 14px;
    }

    &__title {
      padding: 6px 10px;
      background: #F5F5F5;
      font-size: 13px;
      font-weight: 500;
      color: #9B9B9B;

      &--standalone {
        padding: 10px 20px;
      }
    }

    &__notification {
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      cursor: default;

      &--standalone {
        padding: 2px;
      }

      &:hover {
        background-color: #EBF2FE;
      }

      &__image {
        display: flex;
        margin: 0 18px;

        img {
          margin:auto;
          height: 32px;
        }
      }

      &__message {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 8px 0;
        font-size: 14px;
        min-height: 50px;

        &--standalone {
          width: 300px;
        }

        div:first-of-type {
          margin-top: auto;
        }

        div:last-of-type{
          margin-bottom: auto;
        }

        &__date {
          margin-top: 5px;
          font-size: 12px;
          color: #898989;
        }
      }

      &__read {
        display: flex;
        margin: 0 18px 0 auto;

        div {
          display: inline-block;
          margin: auto;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #9B9B9B
        }

        .unread {
          background: #9B9B9B;
        }

      }
    }
  }

  &__view-all {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 50px;
    text-align: center;

    span {
      line-height: 50px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      color: #049AE4;
    }
  }
}

.notifications {
  height: calc(100vh - 235px);
  overflow: auto;
  margin: 25px;

  &__filter {
    width: 720px;
    margin: 25px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.04), 0 2px 2px 0 rgba(0,0,0,0.02), 0 1px 3px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
    box-sizing: border-box;
    background: #fff;
    max-width: 100%;
    padding: 6px 20px;
    font-size: 14px;
  }

  .spinner {
    padding: 15px;
    background: #F5F5F5;

    mat-spinner {
      margin:auto;
      height: 30px;
      width: 30px;
    }
  }
}

snack-bar-container {
  height: auto !important;
  padding: 0 !important;
  margin-bottom: 30px;
}

.no-header {
  mat-tab-header {
    display: none;
  }
}

.notifications-test-container {
  margin-left: auto;
  box-sizing: border-box;
  width: 300px;
  padding: 15px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  background: white;

  .content {
    display: flex;
    font-size: 14px;
    color: rgba(0,0,0,0.6);

    .icon {
      margin-left: 15px;

      .layer1 {
        display: flex;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #F3F3F3;
      }

      .layer2 {
        margin: auto;
        display: flex;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #C9C9C9;
      }

      .text {
        margin: auto;
        font-size: 32px;
        color: #F3F3F3;
      }
    }
  }

  .test-button {
    margin-top: 18px;
    background-color: #00C9A6;
    color: white;
    border-color: #00C9A6;
    min-width: 60px;

    &--solo {
      margin-top: 40px;
    }
  }

  .test-text {
    margin-left: 10px;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
  }
}
