.reports-table {
  margin: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  &__table-container {
    overflow: auto;
  }

  &__title {
    display: flex;
    align-items: center;
    padding: 10px 5px 10px 15px;
    font-size: 20px;
    color: rgba(0,0,0,0.87);;

    mat-form-field {
      margin-left: auto;
      margin-right: 20px;
      font-size: 12px;
    }

    table-pagination {
      margin: 0 5px;

      .entity-index__pagination__buttons {
        margin: 0;
      }
    }

    &__icon--more {
      font-size: 20px;
      width: 20px;
      height: 20px;
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }

  table {
    thead {
      tr {
        th {
          position: relative;
          font-size: 12px;
          font-weight: normal;
          color: rgba(0,0,0,0.54);
          cursor: pointer;

          &:first-of-type {
            padding-left: 15px;
          }

          mat-icon {
            position: absolute;
            font-size: 18px;
            height: 18px;
            width: 18px;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #d0d0d0;

        .filter-cell {
          color: #5AA3E8;
        }

        td {
          font-size: 13px;
          color: rgba(0,0,0,0.87);
          cursor: pointer;

          &:first-of-type {
            padding-left: 15px;
          }

          mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }

  }

  table-pagination {
    font-size: 12px;
  }

  mat-spinner {
    margin: auto;
    padding: 20px;
  }

  &__pagination {

    &--right {
      margin-left: auto !important;
    }
  }
}
