<div class="top-data">

  <div #chartContainer class="chart">
    <div class="title">Transactions per 30 days</div>

    <chart [options]="chartOptions" (load)="saveChart($event.context)"></chart>
  </div>

  <div class="details">

    <div class="box" [class.box--error]="lastOverdue">
      <div class="date" *ngIf="lastBillDate">
        {{lastOverdue ? 'Past Due: ' : 'Previous Billing: '}}{{lastBillDate | formatDateTime: 'MMMM Do, YYYY h:mm A'}}
      </div>

      <div class="minimum">
        <div>Minimum monthly fee</div>
        <div>{{getPlanPrice().usd()}}</div>
      </div>

      <div class="amount" *ngIf="lastBillAmount">
        <div>{{lastOverdue ? 'Total to be billed as of today' : 'Total billed'}}</div>
        <div>{{lastBillAmount.usd()}}</div>
      </div>
    </div>

    <div class="box">
      <div class="date" *ngIf="nextBillDate">
        Next Billing: {{nextBillDate | formatDateTime: 'MMMM Do, YYYY'}}
      </div>

      <div class="minimum">
        <div>Minimum monthly fee</div>
        <div>{{getPlanPrice().usd()}}</div>
      </div>

      <div class="amount" *ngIf="nextBillDate">
        <div>Total to be billed as of today</div>
        <div>{{getPlanPrice().usd()}}</div>
      </div>
    </div>


  </div>
</div>
