<div class="top-data">

  <div #chartContainer class="chart">
    <div class="title">Transactions per 30 days</div>

    <chart [options]="chartOptions" (load)="saveChart($event.context)"></chart>
  </div>

  <div class="details">

    <div class="box">
      <div class="date" *ngIf="nextBillDate">
        Next Billing: {{nextBillDate | formatDateTime: 'MMMM DD, YYYY'}}
      </div>
    </div>

    <div class="box">
      <div class="date" *ngIf="lastBillDate">
        Previous Billing: {{lastBillDate | formatDateTime: 'MMMM DD, YYYY'}}
      </div>
    </div>

  </div>
</div>
