<div class="top-data">

  <div #chartContainer class="chart">
    <div class="title">Transactions per 30 days</div>

    <chart [options]="chartOptions" (load)="saveChart($event.context)"></chart>
  </div>

  <div class="details">

    <div class="box" [class.box-error]="lastBill && !isPaid(lastBill)">
      <ng-container *ngIf="lastBill">
        <div class="date">
          {{!isPaid(lastBill) ? 'Past Due: ' : 'Previous Billing: '}}{{lastBill.billAt | formatDateTime: 'MMMM Do, YYYY'}}
        </div>

        <div class="minimum">
          <div>Minimum monthly fee</div>
          <div>{{getPlanPrice(lastBill).usd()}}</div>
        </div>

        <div class="amount">
          <div>{{!isPaid(lastBill) ? 'Total to be billed as of today' : 'Total billed'}}</div>
          <div>{{lastBill.amount.usd()}}</div>
        </div>
      </ng-container>
    </div>

    <div class="box">
      <ng-container *ngIf="nextBill">
        <div class="date">
          Next Billing: {{nextBill.billAt | formatDateTime: 'MMMM Do, YYYY'}}
        </div>

        <div class="minimum">
          <div>Minimum monthly fee</div>
          <div>{{getPlanPrice(nextBill).usd()}}</div>
        </div>

        <div class="amount">
          <div>Total to be billed as of today</div>
          <div>{{nextBill.amount.usd()}}</div>
        </div>
      </ng-container>
    </div>


  </div>
</div>
