.field {
  margin-top: 25px;
  margin-left: 12px;

  &__container {
    display: flex;
  }

  &__description {
    margin-top: 3px;
  }

  &__copy-icon {
    margin-left: 18px;
    transform: rotate(90deg);
    font-size: 16px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
  }

  &__example {
    margin-left: 20px;
    display: flex;
    font-size: 12px;

    div {

    }

    mat-icon {

    }
  }
}
