<div class="entity-view__navigation">
      <span *ngFor="let t of tabs" class="entity-view__navigation__label">
        <span class="dummy-tab-label"></span>
      </span>
</div>

<md-tab-group>
  <md-tab>

    <div class="flex-custom" [class.flex-custom--wrap]="wrap">
      <div *ngFor="let c of cards"
           class="entity-view__card dummy-card"
           [style.width]="c">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title dummy-card-header">
            <div class="dummy-card-title"></div>
            <md-icon class="dummy-card-icon">more_vert</md-icon>
          </div>
        </div>

        <div class="entity-view__card__content">
          <table-loader [numberOfRows]="5" [rowHeight]="18" [rowMarginVertical]="22"></table-loader>
        </div>
      </div>
    </div>
  </md-tab>
</md-tab-group>
