<account-management-header [path]="path" [value]="value"></account-management-header>

<tab-header class="tab-header--account-management" [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

<mat-tab-group *ngIf="role" class="tab--no-header" [(selectedIndex)]="selectedIndex">
  <mat-tab>
    <div class="body body--general">
      <mat-input-container [class.error]="formInvalid && !roleBackup.name">
        <input type="text" matInput [(ngModel)]="roleBackup.name" [readonly]="isShared && !authService.isActiveAclMasterAccount()" placeholder="Role Name">
      </mat-input-container>

      <mat-input-container>
        <input type="text" matInput [(ngModel)]="roleBackup.description" [readonly]="isShared && !authService.isActiveAclMasterAccount()" placeholder="Description">
      </mat-input-container>

      <div class="buttons" *ngIf="!isShared || authService.isActiveAclMasterAccount()">
        <button mat-button (click)="cancel()">CANCEL</button>
        <button mat-button (click)="updateRoleName()">SAVE</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>

    <div class="toggle-container">
      <div class="text">SHOW ACTIVE ONLY</div>
      <mat-slide-toggle class="slider-blue" (change)="toggleActiveOnly($event)"></mat-slide-toggle>
    </div>
    <div class="table-wrapper" [class.table-wrapper--readonly]="isShared && !authService.isActiveAclMasterAccount()">
      <table>
        <thead>
        <tr>
          <th>Permission Name</th>
          <th>All
            <span [matMenuTriggerFor]="bulk" class="options">...</span>
            <mat-menu #bulk="matMenu" x-position="before">
              <button mat-menu-item (click)="enableAllActionsForAllEntities()">Enable All</button>
              <button mat-menu-item (click)="disableAllActionsForAllEntities()">Disable All</button>
            </mat-menu>
          </th>
          <th *ngFor="let action of allActions">
            {{action}}
            <span [matMenuTriggerFor]="bulk" class="options">...</span>
            <mat-menu #bulk="matMenu" x-position="before">
              <button mat-menu-item (click)="enableAllAction(action)">Enable All</button>
              <button mat-menu-item (click)="disableAllAction(action)">Disable All</button>
            </mat-menu>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let entity of visibleEntities">
          <td>{{entity}}</td>
          <td>
            <mat-checkbox class="checkbox-blue" [disabled]="isShared && !authService.isActiveAclMasterAccount()" [checked]="hasAllPermissionsFor(entity)" (change)="toggleAllPermissionsFor(entity, $event)"></mat-checkbox>
          </td>
          <td *ngFor="let action of allActions">
            <mat-checkbox class="checkbox-blue" [disabled]="isShared && !authService.isActiveAclMasterAccount()" [checked]="role.permissions.hasPermission(entity, action)" (change)="togglePermission(entity, action, $event)"></mat-checkbox>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!isShared || authService.isActiveAclMasterAccount()" [class.table-buttons--disabled]="!isChanged()" class="table-buttons">
      <button mat-button (click)="revertPermissions()" [disabled]="!isChanged()">CANCEL</button>
      <button mat-button (click)="savePermissions()" [disabled]="!isChanged()">SAVE</button>
    </div>
  </mat-tab>

  <mat-tab>
    <div class="body--users">
      <div class="users-editor" [class.users-editor--visible]="usersEditMode">
        <div class="content">
          <div class="title">
            Assign Role to Users
          </div>

          <div class="subtitle">
            Assigning users this role will replace existing role.
          </div>

          <div class="mrw-bi-input">
            <mat-input-container [floatLabel]="'never'">
              <input matInput type="text" placeholder="Find user..." [(ngModel)]="filterEditString">
            </mat-input-container>
          </div>

          <div class="items">
            <div class="item" *ngFor="let acl of otherAcls | filterStrings: filterEditString: filterFunction">
              <mat-checkbox class="checkbox-blue" (change)="aclRoleToggle(acl, $event)" [checked]="shouldAclRoleBeChanged(acl)"></mat-checkbox>

              <div class="details">
                <div>{{acl.user.name}}</div>
                <div>{{acl.user.email}}</div>
                <div>{{acl.role.name}}</div>
              </div>
            </div>
          </div>

          <div class="buttons buttons--users">
            <button mat-button (click)="cancelAclRoleUpdate()">CANCEL</button>
            <button mat-button (click)="saveAclRoleUpdate()">SAVE</button>
          </div>
        </div>
      </div>

      <div class="grid-container" [class.grid-container--partial]="usersEditMode">
        <div class="header">
          <button mat-button (click)="usersEditMode = !usersEditMode">TOGGLE ADD USERS</button>

          <div class="mrw-bi-input">
            <mat-input-container [floatLabel]="'never'">
              <input matInput type="text" placeholder="Find user..." [(ngModel)]="filterString">
            </mat-input-container>
          </div>

          <div class="count" *ngIf="acls">{{roleAcls.length}} Users</div>
        </div>

        <div class="content-wrapper" *ngIf="acls">

          <div *ngIf="!roleAcls || roleAcls.length === 0" class="no-data">No Users are assigned to this Role</div>

          <div class="user-card" [class.user-card--partial]="usersEditMode" *ngFor="let acl of roleAcls | filterStrings: filterString: filterFunction">
            <div class="avatar">{{getAvatar(acl)}}</div>
            <div class="data">
              <div class="name">{{acl.user.name}}</div>
              <div class="email">{{acl.user.email}}</div>
              <div class="login">Last login:</div>

              <account-management-roles-selector
                *ngIf="roles && sharedRoles"
                [acl]="acl"
                [sharedRoles]="sharedRoles"
                [roles]="roles"
                (updateRole)="updateAclRole($event)">
              </account-management-roles-selector>
            </div>
          </div>

        </div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
