.product-image {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.5vw;

  @media only screen and (max-width: 1200px) {
    height: 18vw;
  }

  @media only screen and (max-width: 900px) {
    height: 25vw;
  }

  @media only screen and (max-width: 600px) {
    height: 45vw
  }
}

.product-details {
  display: flex;
  align-items: flex-end;
  padding: 12px 15px;
  font-size: 13px;
  line-height: 24px;
  color: #202124;

  button {
    margin-left: auto;
    color: #2C98F0;
  }
}

.entity-card {
  cursor: pointer;
  margin-top: 5px;

  &--selected {
    margin-top: 0;
    margin-bottom: 19px !important;
    border: 5px solid #296CCC;
    width: calc(25% - 14px) !important;
    margin-left: 7px !important;
    margin-right: 7px !important;

    @media only screen and (max-width: 1200px) {
      width: calc(33% - 14px) !important;
    }

    @media only screen and (max-width: 900px) {
      width: calc(50% - 14px) !important;
    }

    @media only screen and (max-width: 600px) {
      width: 100% !important;
    }
  }
}

bulk-selector {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.subscription-mark {
  position: absolute;
  top: 75px;
  left: 0;
  padding: 8px 44px;
  background: #296CCC;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ffffff;
}
