<blue-header [items]="crumbItems" [titleValue]="'Products and Schedules'"></blue-header>

<div class="grid-body" *ngIf="status === 'NONEMPTY'; else noitems">
  <div class="header">
    <button mat-button class="add-new-button" *ngIf="productsService.hasWritePermission()" (click)="createNewProduct()">NEW PRODUCT</button>

    <div class="mrw-bi-input">
      <mat-form-field [floatLabel]="'never'">
        <input matInput type="text" placeholder="Find ..." [(ngModel)]="filterString">
      </mat-form-field>
    </div>

    <div class="count">{{(entities | filterStrings: filterString: filterFunction)?.length}} Items</div>

    <div class="sort" [matMenuTriggerFor]="sortoptions">
      <div>Sort by <span>{{selectedSortBy ? ' ' + selectedSortBy.label : ''}}</span></div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #sortoptions="matMenu" x-position="before">
      <button mat-menu-item *ngFor="let sort of sortBy" (click)="applySortBy(sort)">{{sort.label}}</button>
    </mat-menu>

    <div class="sort" [matMenuTriggerFor]="filterptions">
      <div>Show <span>{{selectedFilter ? ' ' + selectedFilter.label : ''}}</span></div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #filterptions="matMenu" x-position="before">
      <button mat-menu-item *ngFor="let filter of filters" (click)="applyFilter(filter)">{{filter.label}}</button>
    </mat-menu>

  </div>

  <div class="content-wrapper" *ngIf="entities">

    <ng-container *ngFor="let entity of entities | filterStrings: filterString: filterFunction">
      <div class="entity-card" [class.entity-card--selected]="entity.bulkSelected" (click)="selectEntity(entity)" (dblclick)="goToEntity(entity)">

        <div class="name heading">{{ entity.name }}</div>
        <div class="sku heading">{{ getSku(entity) }}</div>


        <div class="image-wrapper" [class.image-wrapper--blue]="getDefaultImagePath(entity) === '/assets/images/product-default-image.svg'">
          <img src="{{getDefaultImagePath(entity)}}" alt="">
          <ng-container *ngIf="isSubscription(entity)">
            <div class="subscription-mark">
              Subscription
              <div class="subscription-mark-addon"></div>
            </div>
          </ng-container>
        </div>

        <div class="card-buttons">
          <button mat-button (click)="navigateTo(entity)">EDIT</button>
          <mat-icon *ngIf="entity.bulkSelected">done</mat-icon>
        </div>
      </div>
    </ng-container>

  </div>

</div>

<ng-template #noitems>
  <div class="empty-container" *ngIf="status === 'EMPTY'">

    <div class="empty-content">

      <div class="config">Configuration</div>
      <div class="ttl">Products & Subscriptions</div>
      <div class="bdy">
        <div>You’re on your way to making your first sale!  Set up your first product to sell!  After you configure the base product you turn it into a product with Continuity by setting up a billing and shipping schedule.</div>
        <img src="/assets/images/dashboard/shopping_cart.svg">
      </div>
      <button mat-button *ngIf="productsService.hasWritePermission()" (click)="createNewProduct()">Create New Product</button>

    </div>

  </div>
</ng-template>
<bulk-selector [items]="entities" [options]="bulkOptions" (cancel)="deselectAllEntities()" (applyOption)="applyBulkOption($event)"></bulk-selector>
