<blue-header [items]="crumbItems" [titleValue]="'Products and Schedules'"></blue-header>

<div class="grid-body">
  <div class="header">
    <button mat-button class="add-new-button" *ngIf="productsService.hasWritePermission()" (click)="createNewProduct()">NEW PRODUCT</button>

    <div class="mrw-bi-input">
      <mat-form-field [floatLabel]="'never'">
        <input matInput type="text" placeholder="Find ..." [(ngModel)]="filterString">
      </mat-form-field>
    </div>

    <div class="count">{{(entities | filterStrings: filterString: filterFunction)?.length}} Items</div>

    <div class="sort" [matMenuTriggerFor]="sortoptions">
      <div>Sort by <span>{{selectedSortBy ? ' ' + selectedSortBy.label : ''}}</span></div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #sortoptions="matMenu" x-position="before">
      <button mat-menu-item *ngFor="let sort of sortBy" (click)="applySortBy(sort)">{{sort.label}}</button>
    </mat-menu>

    <div class="sort" [matMenuTriggerFor]="filterptions">
      <div>Show <span>{{selectedFilter ? ' ' + selectedFilter.label : ''}}</span></div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #filterptions="matMenu" x-position="before">
      <button mat-menu-item *ngFor="let filter of filters" (click)="applyFilter(filter)">{{filter.label}}</button>
    </mat-menu>

  </div>

  <div class="content-wrapper" *ngIf="entities">

    <ng-container *ngFor="let entity of entities | filterStrings: filterString: filterFunction">
      <div class="entity-card" [class.entity-card--selected]="entity.bulkSelected" (click)="selectEntity(entity)" (dblclick)="goToEntity(entity)">
        <div class="title">{{entity.name}}</div>

        <div class="image-wrapper" [class.image-wrapper--blue]="getDefaultImagePath(entity) === '/assets/images/product-default-image.svg'">
          <img src="{{getDefaultImagePath(entity)}}" alt="">
          <div class="subscription-mark" *ngIf="isSubscription(entity)">Schedule</div>
        </div>

        <ng-container *ngIf="isSubscription(entity); else product">
          <div class="product-details">
            <div>
              <div>Schedules {{entity.cycles.length}}</div>
              <div>{{entity.getInitialPrice().usd()}}</div>
            </div>
            <button mat-button [routerLink]="['/products', 'schedule', entity.id]">EDIT</button>
          </div>
        </ng-container>

        <ng-template #product>
          <div class="product-details">
            <div>
              <div>SKU {{entity.sku}}</div>
              <div>{{entity.defaultPrice.usd()}}</div>
            </div>
            <button mat-button [routerLink]="['/products', 'product', entity.id]">EDIT</button>
          </div>
        </ng-template>
      </div>
    </ng-container>

  </div>

</div>

<bulk-selector [items]="entities" [options]="bulkOptions" (cancel)="deselectAllEntities()" (applyOption)="applyBulkOption($event)"></bulk-selector>
