<blue-header [items]="crumbItems" [titleValue]="'Products'"></blue-header>

<div class="grid-body">
  <div class="header">
    <button mat-button class="add-new-button" *ngIf="service.hasWritePermission()" (click)="openAddMode()">NEW</button>

    <div class="mrw-bi-input">
      <mat-form-field [floatLabel]="'never'">
        <input matInput type="text" placeholder="Find Product..." [(ngModel)]="filterString">
      </mat-form-field>
    </div>

    <div class="count">{{entitiesHolder.length}} Products</div>

    <div class="sort" [matMenuTriggerFor]="sortoptions">
      <div>Sort by <span>{{selectedSortBy ? ' ' + selectedSortBy.label : ''}}</span></div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #sortoptions="matMenu" x-position="before">
      <button mat-menu-item *ngFor="let sort of sortBy" (click)="applySortBy(sort)">{{sort.label}}</button>
    </mat-menu>

  </div>

  <div class="content-wrapper" *ngIf="entitiesHolder">

    <ng-container *ngFor="let product of entitiesHolder | filterStrings: filterString: filterFunction">
      <div class="entity-card" [class.entity-card--selected]="product.bulkSelected" (click)="selectEntity(product, $event)">
        <div class="title">{{product.name}}</div>

        <div class="product-image" [style.background-image]="'url(' + product.getDefaultImagePath() + ')'"></div>

        <div class="product-details">
          <div>
            <div>SKU {{product.sku}}</div>
            <div>{{product.defaultPrice.usd()}}</div>
          </div>
          <button mat-button (click)="viewEntity(product.id)">EDIT</button>
        </div>
      </div>
    </ng-container>

  </div>

</div>

<bulk-selector [items]="entitiesHolder" [options]="bulkOptions" (cancel)="deselectAllEntities()" (applyOption)="applyBulkOption($event)"></bulk-selector>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <product-add-new class="modal-center" [mode]="modes.Add" [entity]="entity" (save)="createEntity($event)" (cancel)="closeAddMode()"></product-add-new>
</div>
