<div class="entity-view__table-component">
  <div *ngIf="showHeader" class="entity-view__table-component__header entity-view__table-component__header--homepage">
    <div class="entity-view__table-component__header__title">{{textOptions.title || 'Associated ' + title}}</div>
    <md-input-container *ngIf="filterEnabled" class="entity-view__table-component__header__filter">
      <input md-input placeholder="Filter" [(ngModel)]="filterString" type="text">
    </md-input-container>

    <ng-container *ngIf="associationEnabled && hasWritePermission">
      <md-icon class="entity-view__table-component__header__action" [class.alone]="!filterEnabled" [md-menu-trigger-for]="optionsMenu">more_vert</md-icon>
      <md-menu #optionsMenu="mdMenu" x-position="before">
        <button md-menu-item (click)="showAssociateDialog()">{{textOptions.associateOptionText || 'Associate ' + title}}</button>
      </md-menu>
    </ng-container>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <th *ngFor="let params of columnParams" (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
        {{params.label}}
        <md-icon *ngIf="sortEnabled && params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
      </th>
      <th *ngIf="showMenuOptions"></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntitiesByParams: columnParams: filterString | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <td *ngFor="let params of columnParams" [class.cell--align-right]="params.align === 'right'" (click)="view.emit(entity)">
        <div class="codeblock" *ngIf="params.code; else noCode">
          {{params.mappingFunction(entity)}}
        </div>
        <ng-template #noCode>{{params.mappingFunction(entity)}}</ng-template>
      </td>
      <td *ngIf="showMenuOptions">
        <md-icon [md-menu-trigger-for]="actionsMenu">more_vert</md-icon>
        <md-menu #actionsMenu="mdMenu" x-position="before">
          <button md-menu-item (click)="view.emit(entity)">{{textOptions.viewOptionText || 'View ' + title}}</button>
          <button *ngIf="editEnabled && hasWritePermission" md-menu-item (click)="edit.emit(entity)">{{textOptions.editOptionText || 'Edit ' + title || ''}}</button>
          <button *ngIf="dissociationEnabled && hasWritePermission" md-menu-item (click)="showDisassociateDialog(entity)">{{textOptions.disassociateOptionText || 'Disassociate ' + title || ''}}</button>
          <button *ngFor="let customOption of customMenuOptions" md-menu-item (click)="customMenuOptionSelected.emit({entity: entity, option: customOption.option})">{{customOption.label}}</button>
        </md-menu>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="!entities || entities.length === 0" class="entity-view__no-results entity-view__no-results--table">{{textOptions.noDataText || 'No ' + title + 's found'}}</div>

  <table-pagination
    *ngIf="showPagination"
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>



