<div class="entity-view__table-component">
  <div *ngIf="showHeader" class="entity-view__table-component__header entity-view__table-component__header--homepage">
    <div class="entity-view__table-component__header__title">{{textOptions.title || 'Associated ' + title | translate}}</div>
    <mat-form-field *ngIf="filterEnabled" class="entity-view__table-component__header__filter">
      <input matInput placeholder="{{ 'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filterString" type="text">
    </mat-form-field>

    <table-preferences
      *ngIf="columnPreferencesEnabled"
      [class.table-preferences--alone]="!filterEnabled"
      [columnParams]="columnParams"
      [small]="true">
    </table-preferences>

    <ng-container *ngIf="(associationEnabled || customTopMenuOptions.length > 0) && hasWritePermission">
      <mat-icon class="entity-view__table-component__header__action" [class.alone]="!filterEnabled" [matMenuTriggerFor]="optionsMenu">more_vert</mat-icon>
      <mat-menu #optionsMenu="matMenu" x-position="before">
        <button *ngIf="associationEnabled" mat-menu-item (click)="showAssociateDialog()">{{textOptions.associateOptionText || 'Associate ' + title | translate}}</button>
        <button *ngFor="let customOption of customTopMenuOptions" mat-menu-item (click)="customTopMenuOptionSelected.emit(customOption)">{{customOption | translate}}</button>
      </mat-menu>
    </ng-container>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <th (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
            {{params.label | translate}}
            <mat-icon *ngIf="sortEnabled && params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
          </th>
        </ng-container>
      </ng-container>
      <th></th>
    </tr>
    </thead>

    <tbody>

    <tr *ngFor="let entity of entities | filterEntitiesByParams: columnParams: filterString | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <td [class.cell--align-right]="params.align === 'right'" (click)="view.emit(entity)">
            <div class="codeblock" *ngIf="params.code; else noCode">
              {{params.mappingFunction(entity)}}
            </div>
            <ng-template #noCode>
              <div [class.flex-custom]="params.copy" [class.flex-custom--center]="params.copy">
                <ng-container *ngIf="params.number; else nan">{{params.mappingFunction(entity) | numberlocale}}</ng-container>
                <ng-template #nan>
                  <ng-container *ngIf="params.translate; else notranslate">{{params.mappingFunction(entity) | translate}}</ng-container>
                  <ng-template #notranslate>{{params.mappingFunction(entity)}}</ng-template>
                </ng-template>
                <mat-icon *ngIf="params.copy" class="copy-icon" matTooltip="{{'SHARE_COPY' | translate}}" ngxClipboard [cbContent]="params.mappingFunction(entity)">content_copy</mat-icon>
              </div>
            </ng-template>
          </td>
        </ng-container>
      </ng-container>
      <td>
        <ng-container *ngIf="showMenuOptions">
          <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
          <mat-menu #actionsMenu="matMenu" x-position="before">
            <button *ngIf="viewEnabled" mat-menu-item (click)="view.emit(entity)">{{textOptions.viewOptionText || 'View ' + title | translate}}</button>
            <button *ngIf="editEnabled && hasWritePermission" mat-menu-item (click)="edit.emit(entity)">{{textOptions.editOptionText || 'Edit ' + title || '' | translate}}</button>
            <ng-container *ngFor="let customOption of customMenuOptions">
              <button *ngIf="!customOption.show || customOption.show(entity)" mat-menu-item (click)="customMenuOptionSelected.emit({entity: entity, option: customOption.option})">{{customOption.label | translate}}</button>
            </ng-container>
            <button *ngIf="dissociationEnabled && hasWritePermission" mat-menu-item (click)="showDisassociateDialog(entity)">{{textOptions.disassociateOptionText || 'Disassociate ' + title || '' | translate}}</button>
          </mat-menu>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
  <table-loader *ngIf="loading" [numberOfRows]="loadingNumberOfRows"></table-loader>

  <div *ngIf="!loading && (!entities || entities.length === 0)" class="entity-view__no-results entity-view__no-results--table">{{textOptions.noDataText || 'No ' + title + 's found' | translate}}</div>
  <table-pagination
    *ngIf="showPagination"
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>



