<div class="transaction-overview">
  <ng-container *ngIf="overview && mapToResult && mapToResult(overview); else loader">
    <img  class="transaction-overview__image" src="/assets/images/{{image}}">
    <div class="transaction-overview__count">{{mapToResult(overview).count}}</div>
    <div class="transaction-overview__title">{{title}}</div>
    <div class="transaction-overview__amount">${{mapToResult(overview).amount}}</div>
  </ng-container>
  <ng-template #loader>
    <md-spinner></md-spinner>
  </ng-template>
</div>
