.transaction-overview {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: white;
  text-align: center;

  &__image {
    height: 40px;
    width: 40px;
  }

  &__count {
    font-size: 24px;
  }

  &__title {
    font-size: 16px;
    margin: 5px 0;
  }

  &__amount {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
}
