<md-card *ngIf="creditCard">
  <md-card-title>Credit Card</md-card-title>
  <md-card-content>
    <md-input disabled placeholder="CC Number" value="{{creditCard.ccnumber}}"></md-input>
    <md-input disabled placeholder="Expiration" value="{{creditCard.expiration}}"></md-input>
    <md-input disabled placeholder="CCV" value="{{creditCard.ccv}}"></md-input>
    <md-input disabled placeholder="Name" value="{{creditCard.name}}"></md-input>

    <div class="content__block__first">
      <md-card-subtitle>Address</md-card-subtitle>
      <md-input disabled placeholder="Line 1" value="{{creditCard.address.line1}}"></md-input>
      <md-input disabled placeholder="Line 2" value="{{creditCard.address.line2}}"></md-input>
      <md-input disabled placeholder="City" value="{{creditCard.address.city}}"></md-input>
      <md-input disabled placeholder="Zip" value="{{creditCard.address.state}}"></md-input>
      <md-input disabled placeholder="State" value="{{creditCard.address.zip}}"></md-input>
    </div>
  </md-card-content>
</md-card>
