<div class="entity-view__card fulfillment-view__validation">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{'FULFILLMENT_VALIDATE_TITLE' | translate}}</div>
  </div>

  <div class="entity-view__card__content">

    <div class="fulfillment-view__validation__explanation">{{'FULFILLMENT_VALIDATE_TEXT' | translate}}</div>

    <textarea #responseMessage
              [style.color]="!validationResponse ? 'grey' : (validationSuccess ? '#316537' : '#C31313')"
              rows="9"
              class="validation__explanation--message"
              value="{{validationResponse || ('FULFILLMENT_VALIDATE_RESPONSE' | translate)}}"
              readonly>
    </textarea>

    <md-icon *ngIf="!validationInProgress && !!validationResponse" md-tooltip="Copy to clipboard" (click)="copyToClipboard(responseMessage)">content_copy</md-icon>

  </div>

  <div class="entity-view__card__actions">
    <div (click)="validateProvider()">{{'FULFILLMENT_VALIDATE_VALIDATE' | translate}}</div>
  </div>
</div>
