<div>

  <div class="row row--title">
    <div class="item">Column</div>
    <div class="item">Filter</div>
    <div class="item">Value</div>
  </div>

  <div class="row" *ngFor="let filter of filters; let i = index">
    <value-filter-dropdown class="item" [selectedOption]="filter.column" [options]="columns" [mapper]="columnMapper" (optionSelected)="filter.column = $event"></value-filter-dropdown>
    <value-filter-dropdown class="item" [selectedOption]="filter.operator" [options]="operators" [mapper]="operatorMapper" (optionSelected)="filter.operator = $event"></value-filter-dropdown>
    <mat-form-field class="item mrw-filter-input">
      <input type="text" matInput [(ngModel)]="filter.value">
    </mat-form-field>

    <mat-icon (click)="filterRemovedAtIndex.emit(i)">close</mat-icon>
  </div>

  <div class="add-value" (click)="filterAdded.emit(true)">Add Value Filter</div>

</div>
