<div class="entity-view__card">
  <div class="entity-view__card__header">
    <div>
      <div class="entity-view__card__header__title">Tracking Code</div>
      <div class="entity-view__card__header__subtitle">Copy this code to your html page header</div>
    </div>
    <md-icon md-tooltip="Copy to clipboard" ngxClipboard [cbContent]="scriptContent">content_copy</md-icon>
  </div>

  <div class="entity-view__card__content">
    <codemirror #codemirror class="pixel-codemirror" *ngIf="showScript" [(ngModel)]="scriptContent" [config]="config"></codemirror>
  </div>

</div>
