<div class="entity-view__card">
  <div class="entity-view__card__header">
    <div>
      <div class="entity-view__card__header__title">{{'CAMPAIGN_TRACKING_TITLE' | translate}}</div>
      <div class="entity-view__card__header__subtitle">{{'CAMPAIGN_TRACKING_SUBTITLE' | translate}}</div>
    </div>
    <mat-icon matTooltip="{{'CAMPAIGN_TRACKING_COPY' | translate}}" ngxClipboard [cbContent]="scriptContent">content_copy</mat-icon>
  </div>

  <div class="entity-view__card__content">
    <codemirror #codemirror class="pixel-codemirror" *ngIf="showScript" [(ngModel)]="scriptContent" [config]="config"></codemirror>
  </div>

</div>
