<div *ngIf="product; else loader" class="container">

  <div class="header">
    <div>
      {{product.name}}
    </div>

    <mat-icon (click)="close()">
      close
    </mat-icon>
  </div>

  <div class="description">
    <div>{{product.description || 'This product has no description.'}}</div>
    <div class="image" [style.background-image]="'url(' + product.getDefaultImagePath() + ')'"></div>
  </div>

  <div class="details">
    <div class="name">Details</div>

    <div class="item">
      <div>SKU</div>
      <div>{{product.sku}}</div>
    </div>

    <div class="item">
      <div>Price</div>
      <div>{{product.defaultPrice.usd()}}</div>
    </div>

    <div *ngIf="product.ship" class="item">
      <div>Dimensions</div>
      <div>{{product.attributes.dimensions.width.units}} x {{product.attributes.dimensions.height.units}} x {{product.attributes.dimensions.length.units}}</div>
    </div>

    <div *ngIf="product.ship" class="item">
      <div>Weight</div>
      <div>{{product.attributes.weight.units}} {{product.attributes.weight.unitofmeasurement}}</div>
    </div>

    <div *ngIf="product.ship" class="item">
      <div>Shipping Delay</div>
      <div>{{product.shippingDelay}}</div>
    </div>

    <div *ngIf="product.ship" class="item">
      <div>Fulfillment</div>
      <div>{{product.fulfillmentProvider.name}}</div>
    </div>
  </div>

</div>

<ng-template #loader>
  <div class="container">
    <div class="header">
      <div class="dummy-title"></div>
      <mat-icon (click)="close()">close</mat-icon>
    </div>

    <div class="description">
      <div>
        <div class="dummy-description"></div>
        <div class="dummy-description"></div>
        <div class="dummy-description"></div>
      </div>
      <div class="image"></div>
    </div>

    <div class="details">
      <div class="name">Details</div>

      <div class="item">
        <div>SKU</div>
        <div class="dummy-value"></div>
      </div>

      <div class="item">
        <div>Price</div>
        <div class="dummy-value"></div>
      </div>
    </div>

  </div>
</ng-template>
