.bill-view {
  display: flex;
  align-items: baseline;

  .subtitle {
    font-size: 12px;
  }

  .sum {
    background: #F5F5F5;
    font-size: 14px;
    display: flex;

    div {
      margin-left: auto;
      padding: 15px 20px;
      color: #5B9BE1;
    }
  }

  .pay {
    display: flex;

    div {
      margin-top: 20px;
      margin-left: auto;
      margin-right: 20px;
      background: #4CBA38;
      color: white;
      padding: 10px 46px;
      border-radius: 2px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      display: inline-block;
    }
  }

  .entity-view__table-component {
    min-width:500px;
  }
}
