@import "../../../assets/scss/colors";

.entity-view__body {
  min-height: calc(100vh - 257px);
  box-sizing: border-box;
  display: block;
  padding: 25px 25px 0;
  background: white;
}

.entity-view__title--blue {
  display: flex;
  align-items: center;
  padding: 50px 50px 0;
}

.entity-view__title__heading {
  display: inline-block;
}

.entity-view__title--blue {
  background: $main-color-400 !important;
}

.notification-title-icon {
  margin-left: auto;
  margin-bottom: 30px;
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;
  background-color: $main-color-500;

  mat-icon {
    margin: auto;
    height: 65px;
    width: 65px;
    line-height: 65px;
    font-size: 65px;
    color: $main-color-200;
  }
}
