<div class="notifications"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="onScroll()">

  <div class="notifications__topnav">
    <span>Notifications</span>
    <md-icon class="notifications__topnav__options" [md-menu-trigger-for]="actionsMenu">more_vert</md-icon>

    <md-menu #actionsMenu="mdMenu" x-position="before">
    </md-menu>
  </div>

  <div class="notifications__content">

    <div class="notifications__content__no-results" *ngIf="isEmpty && !(notificationsService.requestInProgress$ | async)">
      You don't have any notifications at this time...
    </div>

    <div *ngFor="let notificationsByDate of notsByDate">

      <div *ngIf="notificationsByDate.nots.length > 0">
        <div class="notifications-list__content__title">Today</div>

        <div *ngFor="let notification of notificationsByDate.nots">
          <div class="notifications__content__notification" (click)="readNotification(notification)">
            <div class="notifications__content__notification__image"><img src="assets/images/alert-icon.svg" alt=""></div>
            <div class="notifications__content__notification__message">{{notification.message}}</div>
            <div class="notifications__content__notification__date">
              <span>{{notification.createdAt.format('HH:m')}}</span>
              <div *ngIf="!notification.readAt"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <md-spinner *ngIf="notificationsService.requestInProgress$ | async"></md-spinner>
  </div>
</div>
