<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Fulfillment Provider</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span>{{entityBackup.name}}</span>
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <fulfillment-provider-add-new [entity]="entity"
                                    [mode]="viewMode ? modes.View : modes.Update"
                                    (changeMode)="setMode($event)"
                                    (cancel)="cancelUpdate()"
                                    (save)="saveOrUpdate($event)">
      </fulfillment-provider-add-new>

    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>
