<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>

      <fulfillment-provider-add-new [entity]="entity"
                                    [mode]="viewMode ? modes.View : modes.Update"
                                    (changeMode)="setMode($event)"
                                    (cancel)="cancelUpdate()"
                                    (save)="saveOrUpdate($event)">
      </fulfillment-provider-add-new>

    </mat-tab>

    <mat-tab>
      <fulfillment-provider-validation [entity]="entity"></fulfillment-provider-validation>
    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [numberOfCards]="1" [title]="'FULFILLMENT_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
