<div inViewport (inside)="fetch()" class="dashboard__chart" [class.dashboard__chart--embedded]="embedded">
  <div *ngIf="!embedded" class="dashboard__chart__title">
    <div class="dashboard__chart__title__main">Transactions</div>
    <div class="dashboard__chart__title__sub">transactions summary</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')"> Download JSON </button>
      <button md-menu-item (click)="download('csv')"> Download CSV </button>
      <button md-menu-item (click)="download('excel')"> Download Excel </button>
    </md-menu>
  </div>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else data"></server-error-message>

  <ng-template #data>
    <div [class.invisible]="!loaded || (!summaries || summaries.length === 0)">
      <chart style="display: block" type="StockChart" [options]="chartOptions" (load)="saveChart($event.context)"></chart>
    </div>
    <div class="dashboard__table-chart__no-data" *ngIf="loaded && (!summaries || summaries.length === 0)"> No Transactions Found</div>
    <chart *ngIf="!loaded" style="display: block" [options]="loaderOptions"></chart>

    <div *ngIf="!embedded" class="dashboard__table-chart__actions"><span [routerLink]="['/reports', 'transaction']">VIEW MORE</span></div>
  </ng-template>

</div>
