.customer-service-item {
  min-height: 100%;
  overflow: hidden;

  .header {
    padding: 45px 15px;
    color: rgba(255,255,255,0.85);

    div {
      font-size: 14px;
      margin-top: 10px;

      &:first-of-type {
        margin-top: 0;
        font-size: 28px;
        color: white;
      }
    }
  }

  .blue-tab-header {
    margin: 0 15px;
  }

  .content {
    display: flex;
    background: #F5F5F5;
    font-size: 12px;
    padding: 15px;
    height: calc(100vh - 360px);
    overflow: auto;

    .info {
      padding: 15px;
      margin-right: 5px;
      box-shadow: 0 0 4px rgba(0,0,0,0.16);
      border-radius: 3px;
      background: white;
      color: black;

      .section {
        display: flex;

        mat-icon {
          background: rgba(0,0,0,0.06);
          padding: 1px;
          color: rgba(0,0,0,0.6);
          font-size: 14px;
          height: 14px;
          width: 14px;
          margin-right: 6px;
          cursor: pointer;
        }

        .data {

          .title {
            color: rgba(0,0,0,0.4);
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 8px;
          }

          .cards {
            .item {
              display: flex;
              margin-bottom: 5px;
            }
          }

          div {
            margin-bottom: 5px;
            font-size: 11px;

            &:last-of-type {
              margin-bottom: 25px;
            }
          }
        }

      }
    }

    .events {
      min-width: 65%;
      margin-left: 15px;
      border-radius: 3px;
      color: black;
    }
  }
}

notes-component {
  display: block;
  width: 100%;
}
