@import "../../../assets/scss/colors";

.container {
  width: 800px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  font-family: Roboto, serif;
  background: #fafafa;
  border-radius: 4px;

  .title {
    padding: 22px;
    color: #333333;
    font-size: 20px;
    font-weight: 500;
  }

  .buttons {
    display: flex;
    align-items: center;
    padding: 22px;
    border-top: 1px solid rgba(0,0,0,0.12);

    button {
      font-size: 14px;
    }

    button:first-of-type {
      margin-left: auto;
      margin-right: 22px;
      border: 1px solid rgba(0,0,0,0.12);
    }

    button:last-of-type {
      color: #ffffff;
      background: $action-color;
    }
  }
}
