.registration-form {
  max-width: 420px;
}

.registration-form__title__text--tac {
  text-align: center;
  margin: 15px 0;
}

.registration-form__form--tac {
  display: block;
  margin: 40px auto 15px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  text-align: justify;
  max-height: 200px;
  overflow: auto;
  color: black;
  background: white;
}
