<div class="container">

  <div class="title">{{termsAndConditions.title}}</div>
  <div *ngIf="termsAndConditions && termsAndConditions.body" class="body" Markdown>{{termsAndConditions.body}}</div>

  <mat-spinner diameter="80" *ngIf="!termsAndConditions || !termsAndConditions.body" class="entity-view__spinner"></mat-spinner>

  <div class="actions">

    <simple-dropdown
      *ngIf="showingOwnerTermsAndConditions"
      class="terms-switcher"
      [selectedOption]="authService.activeAcl$ | async"
      [disabled]="requestInProgress"
      [small]="true"
      [options]="authService.getAcls()"
      [mapper]="mapAcl"
      (optionSelected)="changeAcl($event)">
    </simple-dropdown>

    <button class="logout" mat-button (click)="logout()" [disabled]="requestInProgress">{{'TERMS_LOGOUT' | translate}}</button>
    <button class="accept" mat-button (click)="acceptTermsAndConditions()" [class.disabled]="requestInProgress" [disabled]="requestInProgress">{{'TERMS_ACCEPT' | translate}}</button>
  </div>

</div>
