<button md-fab class="entity-index__button--add" *ngIf="hasWritePermission()"> <md-icon>add</md-icon></button>

<table class="highlight">
  <thead class="entity-index__table__header">
  <tr>
    <th data-field="accessKey">Access Key</th>
    <th data-field="secretKey">Secret Key</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let entity of entities">
    <td>{{entity.accessKey}}</td>
    <td>{{entity.secretKey}}</td>
    <td>
      <table-actions
        [service]="service"
        (viewClicked)="viewEntity(entity.id)"
        (copyClicked)="copyEntity(entity.id)"
        (exportClicked)="exportEntity(entity.id)">
      </table-actions>
    </td>
  </tr>
  </tbody>
</table>

<table-pagination
  [limit]="limit"
  [paginationValues]="paginationValues"
  [previousDisabled]="page <= 0"
  [nextDisabled]="!hasMorePages()"
  (previous)="previous()"
  (next)="next()"
  (updateLimit)="updateLimit($event)">
</table-pagination>
