.simple-dropdown {
  position: relative;
  height: 70px;
  cursor: pointer;
  transition: background, box-shadow 0.25s ease-in-out;

  &--small {
    height: 50px;

    .simple-dropdown {
      height: 50px;
    }

    .simple-dropdown__header {
      height: 50px;
    }

    .simple-dropdown__menu {
      top: 50px;
    }

    .simple-dropdown__header__arrow {
      margin-left: auto;
    }

  }

  &--instructions {
    min-width: 185px;
  }

  &--active {
    background: #F7F7F7;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 70px;
    font-weight: 500;
    color: white;

    &--active {
      color: #4A4A4A;

      .simple-dropdown__header__icon {
        color: #9B9A9B;
      }
    }

    &__value {
      transition: min-width 0.25s ease-in-out;
    }

    &__icon {
      color: white;
      margin-right: 8px;
    }

    &__hello {
      font-weight: 300;
    }

    &__name {
      margin-left: 3px;
    }

    &__arrow {
      margin-left: 8px;
      font-size: 18px;
      width: 18px;
      height: 18px;
      transition: 0.2s ease-in-out;

      &--disabled {
        display: none;
      }
    }

    .arrow--rotate {
      transform: rotate(90deg);
    }
  }

  &__instructions {
    position: absolute;
    width: calc(100% + 30px);
    left: -15px;
    background: #FFFCAB;
    box-shadow: 2px 8px 8px rgba(0,0,0,0.25);

    .text {
      white-space: pre-wrap;
      color: rgba(0, 0, 0, 0.54);
      padding: 0 25px;
      font-size: 14px;
      line-height: 19px;
    }

    .actions {
      display: flex;

      button {
        margin: 10px 20px 5px auto;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 70px;
    height: 0;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), -1px 1px 1px rgba(0, 0, 0, 0.12);
    background: white;
    width: 100%;
    transition: 0.25s ease-in-out;

    &__item {
      padding: 15px;
      white-space: nowrap;
      height: 14px;
      line-height: 14px;
      font-weight: 400;

      &:hover {
        background: #F7F7F7;
      }
    }
  }
}

