.content {
  min-width: 100%;
  height: calc(100% - 44px);
  width: 1px;
  overflow: auto;
  min-height: calc(100vh - 268px);
  transition: height 0.6s cubic-bezier(0.35, 0, 0.25, 1);
  background: #f3f3f3;
}

.editor {
  position: relative;
  height: 100%;
  background-position-y: 46px;
  background-image: linear-gradient(to right, rgba(0,0,0,0.07) 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
  transition: background-size 250ms ease-in-out, background-position-x 250ms ease-in-out;

  .editor-header {
    position: relative;
    height: 46px;

    .item {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 65px;
      height: 46px;
      line-height: 20px;
      font-size: 10px;
      color: rgba(0,0,0,0.45);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      &__text {
        height: 20px;
        background: white;
      }

      &__background {
        height: 26px;
        background-image: linear-gradient(to right, rgba(0,0,0,0.07) 1px, transparent 1px), linear-gradient(to bottom, rgba(0,0,0,0.07) 1px, transparent 1px);
      }
    }
  }

  .editor-cycles {
    display: flex;

    .cycle {
      transition: width 80ms, opacity 80ms;

      .position {
        position: relative;
        display: flex;
        height: 90px;
        background: #2962B3;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.12);

        .data {
          margin: auto;
          font-weight: 500;

          div {
            line-height: 22px;
            vertical-align: middle;
          }
        }

        .inf {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);

          mat-icon {
            height: 32px;
            width: 32px;
            font-size: 32px;
          }
        }

        .resizer {
          width: 16px;
          cursor: col-resize;
        }
      }

      .block {
        margin: 3px 0;
        height: 48px;
        background: #99CCFF;
        border-radius: 5px;
        border: 1px solid rgba(41, 108, 204, 0.5);
      }

      &--selected {
        opacity: 0.5;
        transition: opacity 150ms;
      }

    }

  }
}
