<md-card class="entity-view__card" *ngIf="entity">
  <md-card-title class="entity-view__card__title"> <span>{{mode}} Customer</span> </md-card-title>
  <md-card-content class="entity-view__card__content">
    <md-input [disabled]="viewMode" placeholder="Email" [(ngModel)]="entity.email"></md-input>
    <md-input [disabled]="viewMode" placeholder="First Name" [(ngModel)]="entity.firstName"></md-input>
    <md-input [disabled]="viewMode" placeholder="Last Name" [(ngModel)]="entity.lastName"></md-input>
    <md-input [disabled]="viewMode" placeholder="Phone" [(ngModel)]="entity.phone"></md-input>

    <div>
      <md-card-subtitle>Address</md-card-subtitle>
      <md-input [disabled]="viewMode" placeholder="Line 1" [(ngModel)]="entity.address.line1"></md-input>
      <md-input [disabled]="viewMode" placeholder="Line 2" [(ngModel)]="entity.address.line2"></md-input>
      <md-input [disabled]="viewMode" placeholder="City" [(ngModel)]="entity.address.city"></md-input>
      <md-input [disabled]="viewMode" placeholder="Zip" [(ngModel)]="entity.address.state"></md-input>
      <md-input [disabled]="viewMode" placeholder="State" [(ngModel)]="entity.address.zip"></md-input>
    </div>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="primary" *ngIf="addMode" (click)="saveEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="updateEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="cancelUpdate()">Cancel</button>
  </md-card-actions>
</md-card>
