<div #indexR class="entity-index">

  <div class="entity-index__title">
    Rebills
    <md-input [(ngModel)]="filterValue" placeholder="Filter"></md-input>
  </div>

  <button md-icon-button color="primary" *ngIf="hasWritePermission()" class="entity-index__add" (click)="openAddEntity()"><md-icon>add</md-icon></button>

  <md-card class="entity-index__card">
    <md-card-content class="entity-index__card__content">

      <entities-table
        [data]="entities"
        [columnParams]="columnParams"
        [filterString]="filterValue"
        (selected)="viewEntity($event.id)"

        [service]="service"
        (viewClicked)="viewEntity($event.id)"
        (copyClicked)="copyEntity($event.id)"
        (exportClicked)="exportEntity($event.id)"
        (editClicked)="editEntity($event.id)"
        (deleteClicked)="deleteEntity($event.id)"

        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)">
      </entities-table>
    </md-card-content>
  </md-card>
</div>

