<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>

        <account-add-new
          [entity]="entity"
          [mode]="viewMode ? modes.View : modes.Update"
          [editEnabled]="isOwnerOrAdministrator() || authService.isActiveAclMasterAccount()"
          [actingAsEnabled]="authService.isActiveAclMasterAccount()"
          (actAs)="startActingAs()"
          (changeMode)="setMode($event)"
          (cancel)="cancelUpdate()"
          (save)="saveOrUpdate($event)">
        </account-add-new>

    </mat-tab>
    <mat-tab>
      <table-memory
        class="account-view__acls-table"
        [data]="entity.acls || []"
        [columnParams]="aclColumnParams"
        [textOptions]="text"
        [associateDataMapper]="aclMapper"
        [customAssociation]="true"
        [associationEnabled]="authService.isActiveAclMasterAccount()"
        [editEnabled]="authService.isActiveAclMasterAccount() || isOwnerOrAdministrator()"
        [viewEnabled]="false"
        [dissociationEnabled]="isOwnerOrAdministrator() || authService.isActiveAclMasterAccount()"
        [ignoreDisassociate]="isOwner"
        [customTopMenuOptions]="(isOwnerOrAdministrator() || authService.isActiveAclMasterAccount()) ? ['ACCOUNT_USERS_INVITE'] : []"
        [customMenuOptions]="menuOptions"
        (view)="navigateToUser($event)"
        (edit)="showEditAclModal($event)"
        (customMenuOptionSelected)="menuItemSelected($event)"
        (customTopMenuOptionSelected)="inviteUser()"
        (associate)="showAddAclModal()"
        (disassociate)="removeAcl($event)">
      </table-memory>
    </mat-tab>
    <mat-tab>
      <access-keys></access-keys>
    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="3" [cardsExpression]="'300px'" [title]="'ACCOUNT_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
