<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Account</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-customer-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        {{addMode ? 'Create new Account' : entityBackup.name}}
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label entity-view__navigation__label--active">GENERAL DETAILS</span>
  </div>

  <md-tab-group>
    <md-tab>

      <account-add-new
        [entity]="entity"
        [mode]="viewMode ? modes.View : modes.Update"
        (changeMode)="setMode($event)"
        (cancel)="cancelUpdate()"
        (save)="saveOrUpdate($event)"
      >
      </account-add-new>

      <table-memory
        class="account-view__acls-table"
        [data]="entity.acls || []"
        [columnParams]="aclColumnParams"
        [textOptions]="text"
        [associateDataMapper]="aclMapper"
        [customAssociation]="true"
        [editEnabled]="true"
        [ignoreDisassociate]="isOwner"
        (view)="navigateToUser($event)"
        (associate)="showAddAclModal()"
        (disassociate)="removeAcl($event)"
        (edit)="showEditAclModal($event)">
      </table-memory>

    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>
