<div class="registration-form">
  <div class="registration-form__header">
    <img class="registration-form__header__logo" src="/assets/images/sixlogo-circles.svg" alt="">
    <img class="registration-form__header__clouds" src="/assets/images/clouds.svg" alt="">
  </div>

  <div *ngIf="!showSuccessMessage; else successMessage">
    <div class="registration-form__title">
      <div class="registration-form__title__main">
        {{'REGISTER_FORM_TITLE' | translate}}
      </div>
      <div class="registration-form__title__sub">
        {{'REGISTER_FORM_SUBTITLE' | translate}}
      </div>
      <div class="registration-form__title__text">
        {{'REGISTER_FORM_TEXT' | translate}}
      </div>
    </div>
    <form #regForm="ngForm" class="registration-form__form">
      <md-input-container [class.form-error]="formInvalid && !company">
        <input md-input required placeholder="{{'REGISTER_FORM_COMPANY' | translate}}" type="text" name="company" [(ngModel)]="company">
      </md-input-container>

      <md-input-container [class.form-error]="formInvalid && !firstName">
        <input md-input required placeholder="{{'REGISTER_FORM_FIRSTNAME' | translate}}" type="text" name="firstName" [(ngModel)]="firstName">
      </md-input-container>

      <md-input-container [class.form-error]="formInvalid && !lastName">
        <input md-input required placeholder="{{'REGISTER_FORM_LASTNAME' | translate}}" type="text" name="lastName" [(ngModel)]="lastName">
      </md-input-container>
    </form>
    <div class="registration-form__button" (click)="submitRegistrationData(regForm.form.valid)">{{'REGISTER_FORM_CONT' | translate}}</div>

  </div>
  <ng-template #successMessage>
    <div class="registration-form__title registration-form__title--secondary">
      <div class="registration-form__title__main--secondary">
        {{'REGISTER_THANKYOU_TITLE' | translate}}
      </div>
      <div class="registration-form__title__text--secondary">
        {{'REGISTER_THANKYOU_SUBTITLE' | translate}}
      </div>
      <div class="registration-form__title__sub--secondary">
        {{'REGISTER_THANKYOU_TEXT' | translate}}
      </div>
    </div>

    <div class="registration-form__button" (click)="complete()">{{'REGISTER_THANKYOU_COMPLETE' | translate}}</div>
  </ng-template>
</div>
