<div class="registration-form">
  <div class="registration-form__header">
    <img class="registration-form__header__logo" src="/assets/images/sixlogo-circles.svg" alt="">
    <img class="registration-form__header__clouds" src="/assets/images/clouds.svg" alt="">
  </div>

  <div *ngIf="!showSuccessMessage; else successMessage">
    <div class="registration-form__title">
      <div class="registration-form__title__main">
        Welcome!
      </div>
      <div class="registration-form__title__sub">
        We're excited to have you join us
      </div>
      <div class="registration-form__title__text">
        To get started with your 90 day trial simply enter your company name and verify your information.
      </div>
    </div>
    <form #regForm="ngForm" class="registration-form__form">
      <md-input-container [class.form-error]="formInvalid && !company">
        <input md-input required placeholder="Company name" type="text" name="company" [(ngModel)]="company">
      </md-input-container>

      <md-input-container [class.form-error]="formInvalid && !firstName">
        <input md-input required placeholder="First Name" type="text" name="firstName" [(ngModel)]="firstName">
      </md-input-container>

      <md-input-container [class.form-error]="formInvalid && !lastName">
        <input md-input required placeholder="Last Name" type="text" name="lastName" [(ngModel)]="lastName">
      </md-input-container>

      <md-input-container [class.form-error]="formInvalid && !lastName">
        <input md-input required placeholder="Email" type="text" name="email" [(ngModel)]="email">
      </md-input-container>
    </form>
    <div class="registration-form__button" (click)="submitRegistrationData(regForm.form.valid)">Continue</div>

  </div>
  <ng-template #successMessage>
    <div class="registration-form__title registration-form__title--secondary">
      <div class="registration-form__title__main--secondary">
        Your account is now active and you may begin exploring at your leisure.
      </div>
      <div class="registration-form__title__text--secondary">
        HOWEVER, we still need some accounting details to complete your registration. Remember, you won't be able
        to take transactions until your account registration is complete. Click complete to go to your billing profile.
      </div>
      <div class="registration-form__title__sub--secondary">
        You're complimentary 90 days begins now!
      </div>
    </div>

    <div class="registration-form__button" (click)="complete()">Complete</div>
  </ng-template>
</div>
