<div class="entity-view__card entity-view__card--create" style="margin: auto">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{'AFFILIATE_INFO_CREATETITLE' | translate}}</div>
  </div>

  <div class="entity-view__card__content">
    <mat-form-field [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
      <input auto-focus required matInput placeholder="{{'AFFILIATE_INFO_NAME' | translate}}" [(ngModel)]="entity.name" type="text">
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !entity.affiliateId" class="entity-view__card__content__item">
      <input required matInput placeholder="{{'AFFILIATE_INFO_ID' | translate}}" [(ngModel)]="entity.affiliateId" type="text">
    </mat-form-field>
  </div>

  <div class="entity-view__card__actions">
    <div (click)="cancel.emit(true)">{{'AFFILIATE_INFO_CANCEL' | translate}}</div>
    <div (click)="saveAffiliate()">{{'AFFILIATE_INFO_SAVE' | translate}}</div>
  </div>
</div>

