<div class="entity-view__card entity-view__card--create" style="margin: auto">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">Create New Affiliate</div>
  </div>

  <div class="entity-view__card__content">
    <md-input-container [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
      <input required md-input placeholder="Affiliate Name" [(ngModel)]="entity.name" type="text">
    </md-input-container>

    <md-input-container [class.error]="formInvalid && !entity.affiliateId" class="entity-view__card__content__item">
      <input required md-input placeholder="Affiliate ID" [(ngModel)]="entity.affiliateId" type="text">
    </md-input-container>
  </div>

  <div class="entity-view__card__actions">
    <div (click)="cancel.emit(true)">CANCEL</div>
    <div (click)="saveAffiliate()">SAVE</div>
  </div>
</div>

