.setup-container {
  display: flex;
  flex-direction: column;
  color: white;
  background: linear-gradient(180deg, #4277C2 8.44%, #2C98F0 100%);
  min-height: calc(100vh - 70px); //subtract height of top nav
  font-family: Roboto;

  &__header {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
    min-height: 198px;

    .quote {
      justify-content: space-between;
      margin-left: auto;
      font-size: 24px;
      font-weight: lighter;
      font-style: italic;
      color: #B5D0FA;

      div:last-child {
        font-size: 16px;
        margin-left: auto;
        float: right;
      }
    }

    .greeting {
      font-size: 30px;
      font-weight: lighter;
      line-height: 35px;
      color: #b5d0fa;
      z-index: 1;
      margin-left: 15px;

      &__content {
        font-size: 72px;
        display: flex;
        line-height: 63px;
        color: #ffffff;

        &__img {
          margin-top: 23px;
          margin-left: 15px;
          z-index: 1;
        }
      }
    }

  }

  &__settings {
    color: #8ed8fd;
    padding: 20px;
    margin: -60px 20px 20px 20px;
    background-color: #36629f;
    border-radius: 4px;
    z-index: 0;

    &__columns {
      display: flex;

      .column {
        padding: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        width: 33%;

        &__header {
          margin-top: 30px;
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
        }

        .segment {
          display: flex;
          margin-top: 15px;

          img {
            min-width: 40px;
            width: 40px;
            height: 40px;
          }

          &__content {
            display: flex;
            flex-direction: column;
            color: #ffffff;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            margin-left: 15px;
            max-width: 560px;

            .title {
              margin: 10px 0;
              font-size: 16px;
              line-height: 19px;
              font-weight: 500;
              cursor: pointer;
            }
          }
        }

        @media only screen and (max-width: 1200px) {
          width: 100%;
        }
      }

      @media only screen and (max-width: 1200px) {
        flex-wrap: wrap;
      }
    }
  }
}

:host-context(.tab--dashboard-header) .setup-container {
  min-height: calc(100vh - 70px - 62px); //subtract height of top nav and height of dashboard state tabs
}
