<div class="perfect-entity">

  <div *ngIf="customer; else spin">
    <div class="perfect-entity__info">
      <div class="perfect-entity__info__title">{{'SEARCH_PERFECT_CUSTOMER_SHIPADDRESS' | translate}}</div>

      <div class="perfect-entity__info__fields">

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_NAME' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{customer.firstName + ' ' + customer.lastName}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_CITY' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{customer.address.city}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_ADDRESS1' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{customer.address.line1}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_STATE' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{customer.address.state}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_ADDRESS2' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{customer.address.line2}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_COUNTRY' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{customer.address.country}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_ZIP' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{customer.address.zip}}</span>
        </div>
      </div>
    </div>


      <div class="perfect-entity__table" *ngIf="!transactionsLoading; else spinTransactions">
        <div class="perfect-entity__table__title">{{'SEARCH_PERFECT_CUSTOMER_RECENTTRANSACTIONS' | translate}}</div>

        <server-error-message (refresh)="refreshTransactions()" *ngIf="transactionsServerError; else transactionsData;"></server-error-message>
        <ng-template #transactionsData>
          <table class="highlight">
            <thead>
              <tr>
                <th>{{'SEARCH_ADVANCED_ALIAS' | translate}}</th>
                <th class="cell--align-right">{{'SEARCH_ADVANCED_AMOUNT' | translate}}</th>
                <th>{{'SEARCH_ADVANCED_RESPONSE' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions" [routerLink]="['/transactions', transaction.id]">
                <td>{{transaction.alias}}</td>
                <td class="cell--align-right">{{transaction.amount.usd() | numberlocale}}</td>
                <td>{{transaction.processorResponse.message}}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>

      </div>

      <ng-template #spinTransactions>
        <table-loader></table-loader>
      </ng-template>

    <div class="perfect-entity__list">
      <div *ngFor="let ccard of customer.creditCards" class="perfect-entity__list__item">
        <img src="/assets/images/credit-card-notification.svg">
        <span class="perfect-entity__list__item__last">{{ccard.getType() | uppercase}} {{ccard.ccnumber | creditCardFormat}}</span>
        <span class="perfect-entity__list__item__expiration">{{ccard.expiration}}</span>
        <md-icon [routerLink]="['/creditcards', ccard.id]">visibility</md-icon>
      </div>
    </div>
  </div>

  <ng-template #spin><table-loader [rowHeight]="30"></table-loader></ng-template>
</div>
