<div inViewport (inside)="fetch()" class="movers-card">
  <div class="movers-card__title">
    <div class="movers-card__title__main">Campaigns Watch List</div>
    <div class="movers-card__title__sub">Campaigns on the move</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')"> Download JSON </button>
      <button md-menu-item (click)="download('csv')"> Download CSV </button>
      <button md-menu-item (click)="download('excel')"> Download Excel </button>
    </md-menu>
  </div>

  <div class="movers-card__container">

    <server-error-message (refresh)="refreshData()" *ngIf="serverError; else data"></server-error-message>
    <ng-template #data>
      <ng-container *ngIf="!loading; else moversLoader">
        <div class="dashboard__table-chart__no-data" *ngIf="(!campaignDelta || campaignDelta.length === 0); else movers"> No Campaigns Found</div>
        <ng-template #movers>
          <div *ngFor="let campaign of campaignDelta" [routerLink]="['/campaigns', campaign.campaignId]" class="movers-card__item">
            <div class="movers-card__item__text">
              <div class="movers-card__item__text__main">{{campaign.campaignName}}</div>
              <div class="movers-card__item__text__sub">{{campaign.campaignId.substring(0, 8) + '...'}}</div>
            </div>

            <div class="movers-card__item__data">
              <div [class.dec]="isDecing(campaign)" class="movers-card__item__data__percentage">
                <span>{{campaign.percentageChangeAmount}} ({{campaign.percentageChangeCount}})</span>
                <md-icon>{{isDecing(campaign) ? 'arrow_downward' : 'arrow_upward'}}</md-icon>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #moversLoader>
        <table-loader [numberOfRows]="5" [rowHeight]="20" [rowMarginVertical]="18"></table-loader>
      </ng-template>
    </ng-template>
  </div>

  <div class="movers-card__actions"><span [routerLink]="['/coming-soon']">VIEW MORE</span></div>
</div>
