<div inViewport (inside)="fetch()" class="movers-card">
  <div class="movers-card__title">
    <div class="movers-card__title__main">Campaigns Watch List</div>
    <div class="movers-card__title__sub">Campaigns on the move</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')"> Download JSON </button>
      <button md-menu-item> Download CSV </button>
      <button md-menu-item> Download Excel </button>
    </md-menu>
  </div>

  <div class="movers-card__container">
    <ng-container *ngIf="campaignDelta; else loader">
      <div *ngFor="let campaign of campaignDelta" [routerLink]="['/campaigns', campaign.campaignId]" class="movers-card__item">
        <div class="movers-card__item__text">
          <div class="movers-card__item__text__main">{{campaign.campaignName}}</div>
          <div class="movers-card__item__text__sub">{{campaign.campaignId.substring(0, 8) + '...'}}</div>
        </div>

        <div class="movers-card__item__data">
          <div [class.dec]="isDecing(campaign)" class="movers-card__item__data__percentage">
            <span>{{campaign.percentageChangeAmount}} ({{campaign.percentageChangeCount}})</span>
            <md-icon>{{isDecing(campaign) ? 'arrow_downward' : 'arrow_upward'}}</md-icon>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loader>
      <md-spinner></md-spinner>
    </ng-template>
  </div>

  <div class="movers-card__actions"><span [routerLink]="['/coming-soon']">VIEW MORE</span></div>
</div>
