$color-orange: #F16C00;

.movers-card {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 10px);
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  &__title {
    position: relative;
    padding: 20px 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &__main {
      margin-bottom: 5px;
      font-size: 18px;
    }

    &__sub {
      font-size: 12px;
      color: rgba(0,0,0,0.6);
    }

    mat-icon {
      position: absolute;
      right: 10px;
      top: 16px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: rgba(0,0,0,0.6);
      cursor: pointer;
    }
  }

  &__container {
    position: relative;
    height: 358px;

    mat-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 14px 10px;

    &:first-child {
      border-top: none;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }

    &__text {

      &__main {
        font-size: 14px;
        margin-bottom: 3px;
      }

      &__sub {
        font-size: 11px;
        color: rgba(0,0,0,0.6);
      }
    }

    &__data {
      margin-left: auto;
      font-size: 11px;

      &__amount {
        text-align: right;

        span {
          color: rgba(0,0,0,0.6);
        }
      }

      &__percentage {
        line-height: 20px;
        color: #4BAE4F;

        span {
          vertical-align: middle;
        }

        mat-icon {
          height: 20px;
          vertical-align: middle;
          font-size: 20px;
          width: 20px;
        }
      }

      .dec {
        color: #F34336;
      }
    }
  }

  &__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    font-size: 12px;
    color: $color-orange;

    span {
      cursor: pointer;
    }
  }
}
