<div *ngIf="bill" class="entity-view__card">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{bill.id ? 'Update Inovice' : 'Create New Invoice'}}</div>
  </div>

  <div class="entity-view__card__content">

    <md-input-container *ngIf="bill.id" class="entity-view__card__content__item">
      <input required md-input placeholder="Invoice ID" disabled [(ngModel)]="bill.id" type="text">
    </md-input-container>

  </div>

  <div class="entity-view__card__actions">
    <div (click)="cancel.emit(true)">CANCEL</div>
    <div (click)="save()">{{bill.id ? 'UPDATE' : 'SAVE'}}</div>
  </div>
</div>

