table-preferences {
  margin-left: 12px;
  color: rgba(0, 0, 0, 0.4);
}

table-density {
  color: rgba(0, 0, 0, 0.4);
}

.header--big {
  position: relative;
  padding: 5px 20px 5px 30px;
}

.add-button {
  position: absolute;
  top: -14px;
  left: 4px;
  padding: 3px;
  background: #5B9BE1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  cursor: pointer;

  div {
    margin: auto;
    color: white;
    font-size: 30px;
    line-height: 20px;
  }
}

.entity-view__table-component__header__filter {
  margin-right: 6px;
}
