<div class="entity-view__table-component__header header--big" [class.header--no-top]="!showPagination">
  <div *ngIf="addEnabled" class="add-button" (click)="addModeSelected.emit(true)"> <div>+</div></div>
  <div class="entity-view__table-component__header__title">{{textOptions.title | translate}}</div>

  <mat-input-container class="entity-view__table-component__header__filter">
    <input matInput placeholder="{{ 'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filterString" (input)="filterChanged()" type="text">
  </mat-input-container>

  <table-density *ngIf="showDensity" [density]="density" (densityChanged)="densitySelected.emit($event)" [small]="true"></table-density>

  <table-preferences *ngIf="showPreferences" [columnParams]="columnParams" [small]="true"></table-preferences>

  <table-pagination
    *ngIf="showPagination"
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="previousDisabled"
    [nextDisabled]="nextDisabled"
    (previous)="previous.emit(true)"
    (next)="next.emit(true)"
    (updateLimit)="limitChanged.emit($event)">
  </table-pagination>
</div>
