<div class="perfect-entity">

  <div *ngIf="transaction; else spin">
    <div class="perfect-entity__info">
      <div class="perfect-entity__info__title">{{'SEARCH_PERFECT_TRANSACTION_TITLE' | translate}}</div>

      <div class="perfect-entity__info__fields">

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_ALIAS' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{transaction.alias}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_AMOUNT' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{transaction.amount.usd()}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_MERCHANTPROVIDER' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{transaction.merchantProvider.name}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_RESPONSE' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{transaction.processorResponse.message}}</span>
        </div>

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">{{'SEARCH_ADVANCED_CREATED' | translate}}:</span>
          <span class="perfect-entity__info__fields__item__value">{{transaction.createdAt | formatDateTime}}</span>
        </div>
      </div>
    </div>

    <div class="perfect-entity__table" *ngIf="transaction.products.length > 0">
      <div class="perfect-entity__table__title">{{'SEARCH_PERFECT_TRANSACTION_PRODUCT' | translate}}</div>

      <table class="highlight">
        <thead>
        <tr>
          <th>{{'SEARCH_ADVANCED_NAME' | translate}}</th>
          <th class="cell--align-right">{{'SEARCH_ADVANCED_AMOUNT' | translate}}</th>
          <th>{{'SEARCH_ADVANCED_STATUS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of transaction.products" [routerLink]="['/products', product.product.id]">
          <td>{{product.product.name}}</td>
          <td class="cell--align-right">{{product.amount.usd()}}</td>
          <td>{{product.shippingReceipt.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #spin><table-loader [rowHeight]="30"></table-loader></ng-template>
</div>
