<div class="perfect-customer">

  <div *ngIf="transaction; else spin">
    <div class="perfect-customer__shipping">
      <div class="perfect-customer__shipping__title">Transaction Info</div>

      <div class="perfect-customer__shipping__fields">

        <div class="perfect-customer__shipping__fields__item">
          <span class="perfect-customer__shipping__fields__item__label">Alias:</span>
          <span class="perfect-customer__shipping__fields__item__value">{{transaction.alias}}</span>
        </div>

        <div class="perfect-customer__shipping__fields__item">
          <span class="perfect-customer__shipping__fields__item__label">Amount:</span>
          <span class="perfect-customer__shipping__fields__item__value">{{transaction.amount.usd()}}</span>
        </div>

        <div class="perfect-customer__shipping__fields__item">
          <span class="perfect-customer__shipping__fields__item__label">Merchant Provider:</span>
          <span class="perfect-customer__shipping__fields__item__value">{{transaction.merchantProvider.name}}</span>
        </div>

        <div class="perfect-customer__shipping__fields__item">
          <span class="perfect-customer__shipping__fields__item__label">Processor Response:</span>
          <span class="perfect-customer__shipping__fields__item__value">{{transaction.processorResponse.message}}</span>
        </div>

        <div class="perfect-customer__shipping__fields__item">
          <span class="perfect-customer__shipping__fields__item__label">Created At:</span>
          <span class="perfect-customer__shipping__fields__item__value">{{transaction.createdAt | formatDateTime}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="perfect-customer__transactions" *ngIf="transaction.products.length > 0">
    <div class="perfect-customer__transactions__title">Products</div>

    <table class="highlight">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Product Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of transaction.products" [routerLink]="['/products', product.id]">
          <td>{{product.amount.usd()}}</td>
          <td>{{product.product.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #spin><md-spinner></md-spinner></ng-template>
</div>
