<div #entityContainer class="entity" [class.entity--full-screen]="fullScreen">
  <div *ngIf="!loading" class="entity__body" [style.height]="height">
    <entity-view-topnav [service]="service" (close)="closeDetails()" (del)="emitDeleteEntity()"></entity-view-topnav>

    <div *ngIf="entity">
      <div class="entity__caption">
        {{entityId ? entity.name : 'Add New Fulfillment Provider'}}
      </div>

      <div *ngIf="mode === 'view'" class="entity__content">
        <md-tab-group  [(selectedIndex)]="tabIndex">
          <md-tab label="Details">

            <entity-view-info
              [title]="'GENERAL DETAILS'"
              [data]="[
                {name:'ID', value: entity.id},
                {name:'Name', value: entity.name},
                {name:'Provider', value: entity.provider},
                {name:'Username', value: entity.username},
                {name:'Password', value: entity.password},
                {name:'Endpoint', value: entity.endpoint}
              ]">
            </entity-view-info>

          </md-tab>
          <md-tab label="Edit">
            <div class="entity__edit">
              <div class="entity__edit__content">
                <md-input [(ngModel)]="entityCopy.name" placeholder="Name"></md-input>
                <md-input [(ngModel)]="entityCopy.provider" placeholder="Provider"></md-input>
                <md-input [(ngModel)]="entityCopy.username" placeholder="Username"></md-input>
                <md-input [(ngModel)]="entityCopy.password" placeholder="Password"></md-input>
                <md-input [(ngModel)]="entityCopy.endpoint" placeholder="Endpoint"></md-input>
              </div>
              <div class="entity__edit__buttons">
                <button md-raised-button (click)="update()">Update</button>
                <button md-raised-button (click)="cancelUpdate()">Cancel</button>
              </div>
            </div>
          </md-tab>
        </md-tab-group>
      </div>
      <div *ngIf="mode === 'add'" class="entity__add">
        <div class="entity__edit">
          <div class="entity__edit__content">
            <md-input [(ngModel)]="entity.name" placeholder="Name"></md-input>
            <md-input [(ngModel)]="entity.provider" placeholder="Provider"></md-input>
            <md-input [(ngModel)]="entity.username" placeholder="Username"></md-input>
            <md-input [(ngModel)]="entity.password" placeholder="Password"></md-input>
            <md-input [(ngModel)]="entity.endpoint" placeholder="Endpoint"></md-input>
          </div>
          <div class="entity__edit__buttons">
            <button md-raised-button (click)="create()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

