<md-card *ngIf="affiliate">
  <md-card-title>Affiliate View</md-card-title>
  <md-card-content>
    <div>
      <md-input disabled placeholder="ID" value="{{affiliate.id}}"></md-input>
    </div>
    <div>
      <md-input disabled placeholder="Affiliate ID" value="{{affiliate.affiliateId}}"></md-input>
    </div>
    <div>
      <md-input disabled placeholder="Sub ID 1" value="{{affiliate.subId1}}"></md-input>
    </div>
    <div>
      <md-input disabled placeholder="Sub ID 2" value="{{affiliate.subId2}}"></md-input>
    </div>
    <div>
      <md-input disabled placeholder="Sub ID 3" value="{{affiliate.subId3}}"></md-input>
    </div>
    <div>
      <md-input disabled placeholder="Sub ID 4" value="{{affiliate.subId4}}"></md-input>
    </div>
    <div>
      <md-input disabled placeholder="Sub ID 5" value="{{affiliate.subId5}}"></md-input>
    </div>
    <div>
      <md-input disabled placeholder="Click ID" value="{{affiliate.clickId}}"></md-input>
    </div>
  </md-card-content>
</md-card>
