<md-card class="entity-view__card" *ngIf="entity">
  <md-card-title class="entity-view__card__title"> <span>{{mode}} Affiliate</span> </md-card-title>
  <md-card-content class="entity-view__card__content">
    <md-input [disabled]="viewMode" placeholder="ID" [(ngModel)]="entity.id" name="id"></md-input>
    <md-input [disabled]="viewMode" placeholder="Affiliate ID" [(ngModel)]="entity.affiliateId" name="affiliateId"></md-input>
    <div>
      <md-input [disabled]="viewMode" placeholder="Sub ID 1" [(ngModel)]="entity.subId1" name="subId1"></md-input>
      <md-input [disabled]="viewMode" placeholder="Sub ID 2" [(ngModel)]="entity.subId2" name="subId2"></md-input>
      <md-input [disabled]="viewMode" placeholder="Sub ID 3" [(ngModel)]="entity.subId3" name="subId3"></md-input>
      <md-input [disabled]="viewMode" placeholder="Sub ID 4" [(ngModel)]="entity.subId4" name="subId4"></md-input>
      <md-input [disabled]="viewMode" placeholder="Sub ID 5" [(ngModel)]="entity.subId5" name="subId5"></md-input>
    </div>
    <md-input [disabled]="viewMode" placeholder="Click ID" [(ngModel)]="entity.clickId" name="clickId"></md-input>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="primary" *ngIf="addMode" (click)="saveEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="updateEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="cancelUpdate()">Cancel</button>
  </md-card-actions>
</md-card>
