<div class="entity-view">
  <div class="entity-view__title">Transaction Details</div>

  <div *ngIf="entity" class="entity-view__content">

    <div class="entity-view__content__title entity-view__content__title--first"> General Details </div>

    <div class="entity-view__content__fields">
      <div class="entity-view__content__fields__item">
        <span class="entity-view__content__fields__item__label">ID:</span>
        <span>{{entity.id}}</span>
      </div>
      <div class="entity-view__content__fields__item">
        <span class="entity-view__content__fields__item__label">Date:</span>
        <span>{{entity.date}}</span>
      </div>
      <div class="entity-view__content__fields__item">
        <span class="entity-view__content__fields__item__label">Amount:</span>
        <span>{{entity.amount}}</span>
      </div>
      <div class="entity-view__content__fields__item">
        <span class="entity-view__content__fields__item__label">Processor Response:</span>
        <span>{{entity.processorResponse.message}}</span>
      </div>
    </div>
  </div>
</div>
