<md-card class="entity-view__card" *ngIf="entity">
  <md-card-title class="entity-view__card__title"> <span>{{mode}} Transaction</span> </md-card-title>
  <md-card-content class="entity-view__card__content">
    <md-input [disabled]="viewMode" placeholder="Date" [(ngModel)]="entity.date"></md-input>
    <md-input [disabled]="viewMode" placeholder="Amount" [(ngModel)]="entity.amount"></md-input>
    <md-input [disabled]="viewMode" placeholder="Processor Response Message" [(ngModel)]="entity.processorResponse.message"></md-input>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="primary" *ngIf="addMode" (click)="saveEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="updateEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="cancelUpdate()">Cancel</button>
  </md-card-actions>
</md-card>
