<div id="register-page">
  <md-toolbar color="primary">Register</md-toolbar>
  <md-card class="flex-container align-center justify-center layout-column">
    <!--<c-callout type="danger" *ngIf="errorText">{{errorText}}</c-callout>-->
    <md-card-content>
      <form id="register-form" ngSubmit="register()">
        <div>
          <md-input placeholder="First Name"></md-input>
        </div>
        <div>
          <md-input placeholder="Last Name"></md-input>
        </div>
        <div>
          <md-input placeholder="Email" type="email"></md-input>
        </div>
        <div>
          <md-input placeholder="Username"></md-input>
        </div>
        <div>
          <md-input placeholder="Password" type="password"></md-input>
        </div>
        <div>
          <md-input placeholder="Confirm Password" type="password"></md-input>
        </div>
        <button type="submit" md-raised-button color="primary">Register</button>
      </form>
    </md-card-content>
  </md-card>
  <md-card>
    Already have an account? <a routerLink="/login">Sign In</a>
  </md-card>
</div>