<button md-fab class="entity-index__button--add"> <md-icon>add</md-icon></button>

<div class="entity-index__search">
  <md-input placeholder="search"></md-input>
  <button md-raised-button color="primary">search</button>
</div>

<table class="highlight">
  <thead class="entity-index__table__header">
  <tr>
    <th data-field="firstName">First Name</th>
    <th data-field="lastName">Last Name</th>
    <th data-field="city">City</th>
    <th data-field="country">Country</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.address.city}}</td>
    <td>{{customer.address.country}}</td>
    <td>
      <md-icon class="entity-index__table__body__action" (click)="viewEntity(customer.id)">visibility</md-icon>
      <md-icon class="entity-index__table__body__action" (click)="updateEntity(customer.id)">mode_edit</md-icon>
      <md-icon class="entity-index__table__body__action" (click)="deleteEntity(customer.id)">delete</md-icon>
    </td>
  </tr>
  </tbody>

</table>
