<div class="container">

  <div class="chargeback" *ngIf="order.hasChargeback()">
    CHARGEBACK
  </div>

  <div class="header">
    <div class="info">
      <div>Billed {{order.rebill.billAt | formatDateTime: 'MMMM DD, YYYY'}}</div>
      <div class="separator"></div>
      <div class="refund" *ngIf="order.hasRefund(); else norefund" [matMenuTriggerFor]="refundDetails">
        {{order.amountAfterRefund().usd()}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #refundDetails="matMenu" x-position="before">
        <ng-container *ngFor="let transaction of order.rebill.transactions">
          <div *ngIf="!transaction.isError()" class="transactions-details-item">
            <div>{{transaction.chargeback ? 'Chargeback' : transaction.isRefund() ? 'Refund' : transaction.processorResponse.message}}</div>
            <div>{{transaction.createdAt | formatDateTime: 'MM/DD/YYYY h:mm A'}}</div>
            <div>{{transaction.processorResponse.getCard().brand}} {{transaction.processorResponse.getCard().last4}}</div>
            <div>{{transaction.amount.usd()}}</div>
          </div>
        </ng-container>
      </mat-menu>

      <ng-template #norefund>
        <div>{{order.amount.usd()}}</div>
      </ng-template>

      <button mat-button
              (click)="refund.emit(order)"
              [class.button-disabled]="!order.canRefund()"
              [disabled]="!order.canRefund()">
        Refund
      </button>
      <button mat-button
              (click)="ret.emit(order)"
              [class.button-disabled]="!order.canReturn()"
              [disabled]="!order.canReturn()">
        Return
      </button>
      <button mat-button
              class="button-disabled"
              disabled>
        Track Delivery
      </button>
      <div class="separator separator--buttons"></div>
      <button mat-button (click)="orderSelected.emit(order)">Order #{{order.id}} <mat-icon>keyboard_arrow_right</mat-icon></button>

    </div>
  </div>

  <div class="products">
    <products-gallery [products]="order.products"></products-gallery>
  </div>

</div>
