.campaign-view {

  &__email-templates {
    flex-basis: 100%;
  }

  &__card {
    min-width: 320px;
  }

  &__dropdown {
    margin-top: 10px;
  }

  &__affiliate-table {
    flex-basis: 50%;
  }
}

.prepaid-checkbox {
  margin: 10px 0;
  font-size: 14px;
}
