.campaign-view {

  &__email-templates {
    max-width: 900px;
  }

  &__dropdown {
    margin-top: 10px;
  }

  &__affiliate-table {
    flex-basis: 50%;
  }
}

campaign-add-new {
  display: flex;
}
