<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Campaign</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="!addMode; else createMessage">
          {{entityBackup.name}}
        </span>
        <ng-template #createMessage>
          Create new Campaign
        </ng-template>
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">PRODUCT SCHEDULES</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 2" (click)="setIndex(2)">AFFILIATES</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom">
        <div class="entity-view__card campaign-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">Campaign general details</div>
            <md-icon [md-menu-trigger-for]="editOptions">more_vert</md-icon>
            <md-menu #editOptions="mdMenu" x-position="before">
              <button *ngIf="!addMode" md-menu-item (click)="setMode(modes.Update)"> Edit Campaign</button>
            </md-menu>
          </div>

          <div class="entity-view__card__content">
            <md-input-container class="entity-view__card__content__item">
              <input required md-input [disabled]="viewMode" placeholder="Campaign name" [(ngModel)]="entity.name" type="text">
            </md-input-container>

            <dropdown-component
              class="dropdown-component--big campaign-view__dropdown"
              [options]="loadBalancerService.entities$ | async"
              [selected]="entity.loadBalancer"
              [showPlaceholder]="true"
              [placeholder]="'Load Balancer'"
              [disabled]="viewMode"
              [mapper]="loadBalancerMapper"
              (onSelect)="entity.loadBalancer = $event">
            </dropdown-component>
          </div>

          <div *ngIf="!viewMode" class="entity-view__card__actions">
            <div *ngIf="updateMode" (click)="cancelUpdate()">CANCEL</div>
            <div (click)="saveOrUpdate(entity)">SAVE</div>
          </div>
        </div>

        <table-memory
          class="campaign-view__email-templates"
          [data]="entity.emailTemplates"
          [columnParams]="emailTemplateColumnParams"
          [associateData]="emailTemplateService.entities$ | async"
          [associateDataMapper]="emailTemplateMapper"
          [title]="'Email Template'"
          (associate)="associateEmailTemplate($event)"
          (disassociate)="disassociateEmailTemplate($event)"
          (view)="viewEmailTemplate($event)">
        </table-memory>
      </div>

    </md-tab>

    <md-tab>
      <table-memory
        [data]="entity.productSchedules"
        [columnParams]="productScheduleColumnParams"
        [associateData]="productScheduleService.entities$ | async"
        [associateDataMapper]="productScheduleMapper"
        [title]="'Product Schedule'"
        (associate)="associateProductSchedule($event)"
        (disassociate)="disassociateProductSchedule($event)"
        (view)="viewProductSchedule($event)">
      </table-memory>
    </md-tab>

    <md-tab>
      <coming-soon [inPage]="true"></coming-soon>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>

