<div *ngIf="entity; else spinner" class="entity-view">

    <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name"></blue-header>

    <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab>

        <div class="flex-custom flex-custom--wrap">

          <campaign-add-new [entity]="entity"
                            [mode]="viewMode ? modes.View : modes.Update"
                            (changeMode)="setMode($event)"
                            (cancel)="cancelUpdate()"
                            (save)="updateCampaign(entity)">
          </campaign-add-new>

          <!--<table-memory-->
            <!--class="campaign-view__email-templates"-->
            <!--[data]="entity.emailTemplates"-->
            <!--[columnParams]="emailTemplateColumnParams"-->
            <!--[associateData]="emailTemplateService.entities$ | async"-->
            <!--[textOptions]="emailText"-->
            <!--[associateDataMapper]="emailTemplateMapper"-->
            <!--(associate)="associateEmailTemplate($event)"-->
            <!--(disassociate)="disassociateEmailTemplate($event)"-->
            <!--(view)="viewEmailTemplate($event)"-->
            <!--[campaignHeader]="true">-->
          <!--</table-memory>-->
        </div>

      </mat-tab>

      <mat-tab>
        <table-memory
          [data]="entity.productSchedules"
          [columnParams]="productScheduleColumnParams"
          [associateData]="productScheduleService.entities$ | async"
          [associateDataMapper]="productScheduleMapper"
          [textOptions]="productscheduleText"
          (associate)="associateProductSchedule($event)"
          (disassociate)="disassociateProductSchedule($event)"
          (view)="viewProductSchedule($event)">
        </table-memory>
      </mat-tab>

      <mat-tab>
        <div class="flex-custom">
          <table-memory
            class="campaign-view__affiliate-table"
            [data]="entity.affiliateAllow"
            [columnParams]="affiliateColumnParams"
            [associateData]="allAffiliates"
            [associateDataMapper]="affiliateMapper"
            [textOptions]="affiliateAllowText"
            (associate)="associateAllowAffiliate($event)"
            (disassociate)="disassociateAllowAffiliate($event)"
            [title]="'Affiliate Allowed'"
            (view)="viewAffiliate($event)"
          >
          </table-memory>

          <table-memory
            class="campaign-view__affiliate-table"
            [data]="entity.affiliateDeny"
            [columnParams]="affiliateColumnParams"
            [associateData]="allAffiliates"
            [associateDataMapper]="affiliateMapper"
            [textOptions]="affiliateDenyText"
            (associate)="associateDeniedAffiliate($event)"
            (disassociate)="disassociateDeniedAffiliate($event)"
            [title]="'Affiliate Denied'"
            (view)="viewAffiliate($event)"
          >
          </table-memory>
        </div>
      </mat-tab>

      <mat-tab>
        <pixel-tracker [campaignId]="entityId"></pixel-tracker>
      </mat-tab>
    </mat-tab-group>

</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="4" [cardsExpression]="'300px;450px;'" [title]="'CAMPAIGN_INDEX_TITLE' | translate"></spe-loader>
</ng-template>

