<div class="flex-custom flex-custom--center">
  <button mat-icon-button (click)="toggleFilterInput(searchInputField)"><mat-icon>filter_list</mat-icon></button>

  <div class="search-container mrw-bi-input" [class.search-visible]="filterVisible">
    <mat-form-field [floatLabel]="'never'">
      <input
        #searchInputField
        matInput
        placeholder="{{'INDEXPAGE_FILTER' | translate}}"
        type="text"
        [(ngModel)]="filterValue"
        (input)="onInput()">
    </mat-form-field>
  </div>
</div>
