<div class="flex-custom flex-custom--center">
  <button md-icon-button (click)="toggleFilterInput(searchInputField)"><mat-icon>filter_list</mat-icon></button>

  <div class="search-container">
    <mat-input-container [ngClass]="{'search-visible': filterVisible}">
      <input
        #searchInputField
        matInput
        placeholder="{{'INDEXPAGE_FILTER' | translate}}"
        type="text"
        [(ngModel)]="filterValue"
        (keyup)="onKeyUp()">
    </mat-input-container>
  </div>
</div>
