<div class="dashboard-container">
  <div class="dashboard">

    <div class="dashboard-top-header">
      <div class="greeting">
        <div>Welcome back, {{name}}</div>
        <div class="total-revenue-text">{{revenueMessage}}</div>
        <div class="total-revenue-amount">
          <ng-container *ngIf="totalAmount">
            <div>$</div>
            <div>{{totalAmount.parsedAmount()}}</div>
          </ng-container>
        </div>
      </div>

      <div *ngIf="quote" class="quote">
        <div>{{quote.quote}}</div>
        <div>-{{quote.attribution.author}}</div>
      </div>
    </div>

    <dashboard-header [queries]="queries"
                      [selectedQuery]="selectedQuery"
                      [timeFilters]="timeFilters"
                      (querySelected)="selectQuery($event)"
                      (timeFilterSelected)="selectTimeFilter($event)">
    </dashboard-header>

    <dashboard-dual-graph [renderLowChart]="renderFullChart" [graphData]="data" [graphTimeFilter]="graphTimeFilterData" [type]="seriesType"></dashboard-dual-graph>
  </div>

  <dashboard-issues-report [reports]="issueReports"></dashboard-issues-report>

  <div class="charts-container">
    <top-campaigns></top-campaigns>

    <top-subscriptions></top-subscriptions>

    <funnel-graph *ngIf="renderFullChart"></funnel-graph>
  </div>
</div>
