@import "../../../../../assets/scss/colors";

.dashboard {
  background: $main-color-400;
}

.dashboard-container {
  background: #F1F3F4;
}

.dashboard-top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  .greeting {
    font-size: 30px;
    font-weight: lighter;
    color: #8EC9FD;
    margin-left: 20px;

    .total-revenue-text {
      font-size: 14px;
      font-weight: normal;
      margin-top: 50px;
    }

    .total-revenue-amount {
      display: flex;
      color: #ffffff;
      font-weight: 400;
      font-size: 60px;
      line-height: 67px;
      min-height: 67px;

      :first-child {
        font-size: 30px;
        line-height: 43px;
        font-weight: 400;
      }
    }
  }

  .quote {
    margin-left: auto;
    margin-right: 20px;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #8EC9FD;

    div:last-child {
      font-size: 16px;
      margin-left: auto;
      float: right;
    }
  }

}

.charts-container {
  display: flex;
  margin-top: 15px;
  padding-bottom: 25px;

  top-campaigns {
    display: block;
    margin-left: 24px;
    width: calc(25% - 24px);
    background: white;
  }

  top-subscriptions {
    display: block;
    margin-left: 24px;
    width: calc(25% - 24px);
    background: white;
  }

  funnel-graph {
    display: block;
    margin-left: 24px;
    margin-right: 24px;
    width: calc(50% - 24px);
    background: white;
  }
}
