.dashboard {
  background: #4277C2;
}

.dashboard-container {
  background: white;
}

.info {
  margin: 50px 25px 0;
  color: #B5D0FA;
  font-weight: 300;

  div {
    &:first-of-type {
      font-size: 30px;
    }

    &:nth-of-type(2) {
      font-size: 16px;
      font-weight: 400;
    }

    &:last-of-type {
      margin: 5px 0;
      font-size: 72px;
      color: #B7FAF0;
    }
  }
}

.charts-container {
  margin: 15px 5px;
  display: flex;

  top-campaigns {
    display: block;
    margin: 15px;
    width: 28%;
  }

  top-subscriptions {
    display: block;
    margin: 15px;
    width: 28%;
  }

  funnel-graph {
    display: block;
    margin: 15px;
    width: 44%;
  }
}
