<div class="dashboard-container">
  <div class="dashboard">

    <div class="dashboard-top-header">
      <div class="info">
        <div>{{revenueMessage}}</div>
        <div>
          <div>$</div>
          <div>{{totalAmount.amount | numberlocale}}</div>
        </div>
      </div>

      <div *ngIf="quote" class="quote">
        <div class="dashboard-message">{{quote.quote}}</div>
        <div class="dashboard-message dashboard-message__author">-{{quote.attribution.author}}</div>
      </div>

    </div>

    <dashboard-header [campaigns]="campaigns"
                      [selectedCampaign]="selectedCampaign"
                      [queries]="queries"
                      [selectedQuery]="selectedQuery"
                      [timeFilters]="timeFilters"
                      (campaignSelected)="selectCampaign($event)"
                      (querySelected)="selectQuery($event)"
                      (timeFilterSelected)="selectTimeFilter($event)">
    </dashboard-header>

    <dashboard-dual-graph [renderChart]="renderCharts" [graphData]="data" [graphTimeFilter]="graphTimeFilterData" [type]="seriesType"></dashboard-dual-graph>
  </div>

  <dashboard-issues-report [reports]="issueReports"></dashboard-issues-report>

  <div class="charts-container">
    <top-campaigns></top-campaigns>

    <top-subscriptions></top-subscriptions>

    <funnel-graph [renderChart]="renderCharts"></funnel-graph>
  </div>
</div>
