<div class="dashboard-container">
  <div class="dashboard">
    <dashboard-header [campaigns]="campaigns"
                      [selectedCampaign]="selectedCampaign"
                      [queries]="queries"
                      [selectedQuery]="selectedQuery"
                      [timeFilters]="timeFilters"
                      [quote]="quote"
                      (campaignSelected)="selectCampaign($event)"
                      (querySelected)="selectQuery($event)"
                      (timeFilterSelected)="selectTimeFilter($event)">
    </dashboard-header>

    <div class="info">
      <div>Welcome back, {{name}}</div>
      <div>{{revenueMessage}}</div>
      <div>
        <div>$</div>
        <div>{{totalAmount.amount.toLocaleString()}}</div>
      </div>
    </div>

    <dashboard-dual-graph [graphData]="data" [type]="seriesType"></dashboard-dual-graph>
  </div>

  <dashboard-issues-report [reports]="issueReports"></dashboard-issues-report>

  <div class="charts-container">
    <top-campaigns></top-campaigns>

    <top-subscriptions></top-subscriptions>

    <funnel-graph></funnel-graph>
  </div>
</div>
