@import "../../../../../assets/scss/colors";

.dashboard {
  background: $main-color-400;
}

.dashboard-container {
  background: #F1F3F4;
}

.dashboard-top-header {
  display: flex;
  justify-content: space-between;
}

.quote {
  display: flex;
  flex-direction: column;
  margin-top: 81px;

  .dashboard-message {
    color: #8EC9FD;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin-right: 30px;
    margin-left: 30px;

    &__author {
      font-size: 16px;
      line-height: 23px;
      margin-left: auto;
    }
  }
}

.info {
  margin: 40px 0 25px 25px;
  color: #B5D0FA;
  font-weight: 300;

  div {
    &:first-of-type {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 400;
    }

    &:last-of-type {
      margin-top: 0;
      font-size: 60px;
      color: #ffffff;
      display: flex;

      div {
        &:first-of-type {
          font-size: 36px;
          margin-top: 11px;
          font-weight: 400;
        }
      }
    }
  }
}

.charts-container {
  display: flex;
  margin-top: 15px;
  padding-bottom: 25px;

  top-campaigns {
    display: block;
    margin-left: 24px;
    width: calc(25% - 24px);
    background: white;
  }

  top-subscriptions {
    display: block;
    margin-left: 24px;
    width: calc(25% - 24px);
    background: white;
  }

  funnel-graph {
    display: block;
    margin-left: 24px;
    margin-right: 24px;
    width: calc(50% - 24px);
    background: white;
  }
}
