<div class="container" [class.small]="small">
  <mat-icon (click)="toggleParams()">view_column</mat-icon>

  <div *ngIf="showParams" class="params-container">

    <div class="option" *ngFor="let params of columnParams">
      <mat-checkbox [disabled]="isOnlyOneSelected(params)" class="checkbox-blue checkbox-index" [(ngModel)]="params.selected">
        <span>
          {{params.label | translate}}
        </span>
      </mat-checkbox>
    </div>

    <div class="buttons">
      <div (click)="apply()">APPLY</div>
    </div>
  </div>
</div>

