<div class="entity__content__general">
  <div class="entity__content__general__title">
    <span>{{title}}</span>

    <button *ngIf="show" mat-icon-button (click)="toggle()"><mat-icon>keyboard_arrow_up</mat-icon></button>
    <button *ngIf="!show" mat-icon-button (click)="toggle()"><mat-icon>keyboard_arrow_down</mat-icon></button>

    <ng-container *ngIf="editable">
      <button mat-icon-button [matMenuTriggerFor]="providersMenu"><mat-icon>add</mat-icon></button>

      <mat-menu #providersMenu="matMenu">
        <button md-menu-item *ngFor="let option of options" (click)="selectOption(option)">{{option[optionsField]}}</button>
      </mat-menu>
    </ng-container>
  </div>

  <div *ngIf="show" class="entity__content__array">
    <div *ngFor="let entity of entities" class="entity__content__array__item">
      <div class="entity__content__array__item__subtitle">{{subtitle}} <mat-icon *ngIf="editable" (click)="removeEntity(entity)">remove</mat-icon></div>
      <div class="entity__content__array__item__field" *ngFor="let field of fields; let i = index">
        <span>{{labels[i]}}:</span><span>{{entity[field]}}</span>
      </div>
    </div>
  </div>
</div>

