<div class="schedule-container__header">
  <mat-icon class="close-icon" (click)="close.emit(true)">close</mat-icon>
  <div *ngIf="schedule">{{schedule?.product?.name}}</div>
  <div *ngIf="productSchedule">{{productSchedule?.name}}</div>
  <div *ngIf="product">{{product?.name}}</div>
  <mat-icon [matMenuTriggerFor]="headerOptions" class="menu-icon">more_vert</mat-icon>
  <mat-menu #headerOptions="matMenu" x-position="before">
    <button mat-menu-item *ngIf="product && product.id" [routerLink]="['/products', 'product', product.id]">
      View Product
    </button>
    <button mat-menu-item *ngIf="!singleScheduleMode && productSchedule && productSchedule.id" [routerLink]="['/products', 'schedule', productSchedule.id]">
      View Product Schedule
    </button>
    <button mat-menu-item *ngIf="schedule && schedule.product && schedule.product.id" [routerLink]="['/products', 'product', schedule.product.id]">
      View Product
    </button>
    <button mat-menu-item *ngIf="singleScheduleMode && editable && schedule" (click)="removeSchedule.emit(true)">
      Remove Product
    </button>
    <button mat-menu-item *ngIf="!singleScheduleMode && editable && productSchedule" (click)="removeProductSchedule.emit(true)">
      Remove Product Schedule
    </button>
  </mat-menu>
</div>
