<div #entityContainer class="entity" [class.entity--full-screen]="fullScreen">
  <div *ngIf="!loading" class="entity__body" [style.height]="height">

    <entity-view-topnav [service]="service" (close)="closeDetails()" (del)="emitDeleteEntity()"></entity-view-topnav>

    <div *ngIf="entity">
      <div class="entity__caption">
        {{ mode === 'view' ? entity.name : 'Add new product'}}
      </div>

      <div *ngIf="mode === 'view'" class="entity__content">
        <md-tab-group [(selectedIndex)]="tabIndex">
          <md-tab label="Details">

            <entity-view-info
              [title]="'GENERAL DETAILS'"
              [data]="[
                {name:'ID', value: entity.id},
                {name:'Name', value: entity.name},
                {name:'SKU', value: entity.sku},
                {name:'Ship', value: entity.ship},
                {name:'Shipping Delay', value: entity.shippingDelay}
              ]">
            </entity-view-info>

            <entity-view-info
              [title]="'Fulfillment Provider'"
              [data]="[
                {name:'ID', value: entity.fulfillmentProvider.id},
                {name:'Name', value: entity.fulfillmentProvider.name},
                {name:'Username', value: entity.fulfillmentProvider.username},
                {name:'Endpoint', value: entity.fulfillmentProvider.endpoint},
                {name:'Password', value: entity.fulfillmentProvider.password},
                {name:'Provider', value: entity.fulfillmentProvider.provider}
              ]">
            </entity-view-info>
          </md-tab>
          <md-tab label="Edit">
            <div class="entity__edit">
              <div class="entity__edit__content">
                <md-input [(ngModel)]="entityCopy.name" placeholder="Name"></md-input>
                <md-input [(ngModel)]="entityCopy.sku" placeholder="SKU"></md-input>
                <md-input [(ngModel)]="entityCopy.ship" placeholder="Ship"></md-input>
                <md-input [(ngModel)]="entityCopy.shippingDelay" placeholder="Shipping Delay"></md-input>
              </div>
              <entity-view-info
                [title]="'Fulfillment Provider'"
                [options]="fulfillmentProviders"
                [optionsField]="'name'"
                [data]="[
                  {name:'Name', value: entity.fulfillmentProvider.name},
                  {name:'Username', value: entity.fulfillmentProvider.username},
                  {name:'Endpoint', value: entity.fulfillmentProvider.endpoint},
                  {name:'Password', value: entity.fulfillmentProvider.password},
                  {name:'Provider', value: entity.fulfillmentProvider.provider}]"
                (select)="selectFulfillmentProvider($event)">
              </entity-view-info>
            </div>
            <div class="entity__buttons">
              <button md-raised-button (click)="update()">Update</button>
              <button md-raised-button (click)="cancelUpdate()">Cancel</button>
            </div>
          </md-tab>
        </md-tab-group>
      </div>

      <div *ngIf="mode === 'add'" class="entity__add">
        <div class="entity__add__content">
          <md-input [(ngModel)]="entity.name" placeholder="Name"></md-input>
          <md-input [(ngModel)]="entity.sku" placeholder="SKU"></md-input>
          <md-input [(ngModel)]="entity.ship" placeholder="Ship"></md-input>
          <md-input [(ngModel)]="entity.shippingDelay" placeholder="Shipping Delay"></md-input>
        </div>
        <entity-view-info
          [title]="'Fulfillment Provider'"
          [options]="fulfillmentProviders"
          [optionsField]="'name'"
          [data]="[
            {name:'Name', value: entity.fulfillmentProvider.name},
            {name:'Username', value: entity.fulfillmentProvider.username},
            {name:'Endpoint', value: entity.fulfillmentProvider.endpoint},
            {name:'Password', value: entity.fulfillmentProvider.password},
            {name:'Provider', value: entity.fulfillmentProvider.provider}]"
          (select)="selectFulfillmentProvider($event)">
        </entity-view-info>
        <div class="entity__buttons">
          <button md-raised-button (click)="create()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
