<div class="container">
  <div class="row above" [class.error-row-above]="transactionalError">
    <div class="title">{{(!transactionalError ? 'PAYMENT_TITLE' : 'PAYMENT_ERRORTITLE') | translate}}</div>
  </div>
  <div class="row below">
    <div class="column left">

    <div class="cards">
      <img *ngIf="creditCard.typeUnknown() || creditCard.getType() === 'visa'" src="/assets/cards/visa.svg">
      <img *ngIf="!creditCard.typeUnknown() && creditCard.getType() !== 'visa'" src="/assets/cards/visa_grayed.svg">

      <img *ngIf="creditCard.typeUnknown() || creditCard.getType() === 'mastercard'" src="/assets/cards/mastercard.svg">
      <img *ngIf="!creditCard.typeUnknown() && creditCard.getType() !== 'mastercard'" src="/assets/cards/mastercard_grayed.svg">

      <img *ngIf="creditCard.typeUnknown() || creditCard.getType() === 'amex'" src="/assets/cards/amex.svg">
      <img *ngIf="!creditCard.typeUnknown() && creditCard.getType() !== 'amex'" src="/assets/cards/amex_grayed.svg">

      <img *ngIf="creditCard.typeUnknown() || creditCard.getType() === 'discover'" src="/assets/cards/discover.svg">
      <img *ngIf="!creditCard.typeUnknown() && creditCard.getType() !== 'discover'" src="/assets/cards/discover_grayed.svg">
    </div>

    <div class="form">
      <mat-form-field [class.error]="formInvalid && ccNumberInvalid()">
        <input type="text" matInput placeholder="{{'PAYMENT_FORM_NUMBER' | translate}}" [(ngModel)]="creditCard.ccnumber" (keydown)="isAllowedNumericKey($event) && isShorterThan(20, creditCard.ccnumber, $event)">
      </mat-form-field>

      <div>
        <mat-form-field class="code" [class.error]="formInvalid && ccvInvalid()">
          <input type="text" matInput placeholder="{{'PAYMENT_FORM_CODE' | translate}}" [(ngModel)]="creditCard.ccv" (keydown)="isAllowedNumericKey($event) && isShorterThan(5, creditCard.ccv, $event)">
        </mat-form-field>
        <img class="code__image" src="/assets/images/security_code.png">
      </div>


      <mat-form-field [class.error]="formInvalid && (!creditCard.name || creditCard.name.length < 2)">
        <input type="text" matInput placeholder="{{'PAYMENT_FORM_NAME' | translate}}" [(ngModel)]="creditCard.name">
      </mat-form-field>

      <div class="dates">
        <div class="element"
             [matMenuTriggerFor]="monthMenu"
             [class.error]="formInvalid && !creditCard.expirationMonth"
             [class.selected]="creditCard.expirationMonth">
          <div>{{(creditCard.expirationMonth || 'PAYMENT_FORM_MONTH') | translate}}</div>
          <mat-icon>keyboard_arrow_down</mat-icon>
          <mat-menu #monthMenu="matMenu">
            <button mat-menu-item *ngFor="let month of months" (click)="setMonth(month)">{{month}}</button>
          </mat-menu>
        </div>

        <div class="element"
             [matMenuTriggerFor]="yearMenu"
             [class.error]="formInvalid && !creditCard.expirationYear"
             [class.selected]="creditCard.expirationYear">
          <div>{{(creditCard.expirationYear || 'PAYMENT_FORM_YEAR') | translate}}</div>
          <mat-icon>keyboard_arrow_down</mat-icon>
          <mat-menu #yearMenu="matMenu">
            <button mat-menu-item *ngFor="let year of years" (click)="setYear(year)">{{year}}</button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="options">
      <button mat-button *ngIf="existingPayment">{{'PAYMENT_REVERT' | translate}}</button>
      <button mat-button *ngIf="existingPayment">{{'PAYMENT_SAVE' | translate}}</button>
    </div>
  </div>

  <div class="column right" [class.payment-info-error]="transactionalError">

    <div class="title">
      {{(!transactionalError ? 'PAYMENT_INFO_TITLE' : 'PAYMENT_DECLINE_TITLE') | translate}}
      {{plan.name}}
      {{(!transactionalError ? 'PAYMENT_INFO_TIER' : 'PAYMENT_INFO_DECLINE') | translate}}
    </div>
    <div class="subtitle" *ngIf="!transactionalError" (click)="changePlan.emit(true)">{{'PAYMENT_INFO_CHANGE' | translate}}</div>
    <div *ngIf="transactionalError" class="error-message">{{'PAYMENT_ERRORMESSAGE' | translate}}</div>

    <div class="details">
      <div>{{(!transactionalError ? 'PAYMENT_INFO_TOTAL' : 'PAYMENT_BALANCE_DUE') | translate}}:</div>
      <div style="margin-left: auto">${{plan.price}}</div>
    </div>

    <div class="terms">{{'PAYMENT_OWNERTERMS' | translate}} <span class="licenseagreement" (click)="openOwnerTerms()">{{'PAYMENT_LICENSEAGREEMENT' | translate}}</span>.</div>
    <button mat-button (click)="pay()">{{(!transactionalError ? 'PAYMENT_INFO_FINISH' : 'PAYMENT_REACTIVATE_ACCOUNT') | translate}}</button>
  </div>
  </div>
</div>

<div class="process-overlay" *ngIf="paymentInProgress">
  <div>{{'PAYMENT_PROCESSING' | translate}}</div>
</div>
