@import "../../../assets/scss/colors";

.container {
  width: 480px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  font-family: Roboto, serif;
  background: #fafafa;
  border-radius: 4px;

  .error-message {
    border-radius: 4px 4px 0 0;
    padding: 25px 20px;
    color: #ffffff;
    background-color: $danger-color;
  }

  .title {
    color: #333333;
    padding: 22px 25px;
    font-size: 20px;
    line-height: 23px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
  }

  .card {
    padding: 25px;
  }

  .plan {
    padding: 25px;
    background: #E6F2FF;
    border-top: 1px solid rgba(0,0,0,0.12);
    border-radius: 0 0 4px 4px;
  }

  .row {
    display: flex;
    align-items: center;
    font-size: 16px;

    &--columns {
      align-items: flex-start;
      margin-top: 14px;
      font-size: 14px;
      line-height: 24px;
    }

    .edit {
      cursor: pointer;
      color: $main-color-300;
      margin-left: auto;
    }

    img {
      height: 40px;
      width: 64px;
    }

    .column {
      width: 50%;
    }
  }

  .important {
    font-weight: 500;
    font-size: 16px;
  }

  .pricing-details {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  .terms {
    margin-top: 30px;
    margin-bottom: 18px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;

    .licenseagreement {
      cursor: pointer;
      color: $main-color-200;
    }
  }

  button {
    width: 100%;
    background: $main-color-300;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 4px;
  }
}