.container {
  position: relative;
  font-size: 14px;

  .selected {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;

    mat-icon {
      transition: 250ms ease-in-out;
      width: 24px;
      height: 24px;
      font-size: 24px;
    }

    .arrow-rotated {
      transform: rotate(90deg);
    }
  }

  .options {
    padding: 5px 0;
    position: absolute;
    left: -10px;
    background: white;
    font-size: 14px;
    overflow: auto;
    max-height: 190px;
    border-radius: 3px;
    min-width: calc(100% + 15px);

    &__item {
      display: flex;
      align-items: center;
      padding: 8px 12px 8px 4px;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background: rgba(0,0,0,0.05);
      }
    }

    &__icon-holder {
      width: 20px;
      line-height: 12px;

      mat-icon {
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: #5383C3;
      }
    }
  }
}
