alert-component {
  display: block;
  margin: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
}

.alerts-quick {
  font-family: Roboto, sans-serif;
  &__more {
    display: flex;
    margin: 5px;
    padding: 20px 15px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #FD1F47;

    &__count {
      font-size: 18px;
      color: white;
    }

    md-icon {
      margin-left: auto;
      color: #FD90A5;
      height: 28px;
      width: 28px;
      font-size: 28px;
      cursor: pointer;
    }
  }
}
