.session-view {
  &__item {
    &--right {
      margin-left: auto;
      width: 100px;
    }

    &--left {
      margin-top: 10px;
      margin-right: 15px;
    }
  }

  &__table {
    min-width: 400px;
  }

  &__card-container {
    align-items: flex-start;

    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
  }
}

.entity-view__container {
  display: flex;
  overflow: hidden;

  .entity-view {
    width: 100%;

    .cancel {
      font-size: 12px;
      line-height: 12px;
      color: white;
      background: #EF4339;
      font-weight: 500;
      padding: 6px 16px;
      cursor: pointer;
    }

    .cancelled-message {
      div {
        text-align: right;
        color: rgba(0,0,0,0.5);

        &:first-of-type {
          margin-bottom: 3px;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
        }

        &:last-of-type {
          font-size: 12px;
        }
      }
    }
  }
}

.entity-view__info__edit {
  margin: auto;
}

schedules-detailed {
  display: block;
  background: #F3F3F3;
}
