<div class="notifications-list">
  <div class="notifications-list__topnav">
    <md-icon (click)="closeNotifications()">keyboard_arrow_right</md-icon>
    <span>Notifications</span>
    <md-icon class="notifications-list__topnav__options">more_vert</md-icon>
  </div>

  <div class="notifications-list__content">
    <div *ngIf="today && today.length > 0">
      <div class="notifications-list__content__title">Today</div>

      <div *ngFor="let notification of today">
        <div class="notifications-list__content__notification">
          <div class="notifications-list__content__notification__image"><img src="assets/images/alert-icon.svg" alt=""></div>
          <div class="notifications-list__content__notification__message">{{notification.message}}</div>
          <div class="notifications-list__content__notification__date">{{formatDate(notification.createdAt)}}</div>
        </div>
      </div>
    </div>


    <div *ngIf="last7 && last7.length > 0">
      <div class="notifications-list__content__title">Last 7 days</div>

      <div *ngFor="let notification of last7">
        <div class="notifications-list__content__notification">
          <div class="notifications-list__content__notification__image"><img src="assets/images/alert-icon.svg" alt=""></div>
          <div class="notifications-list__content__notification__message">{{notification.message}}</div>
          <div class="notifications-list__content__notification__date">{{formatDate(notification.createdAt)}}</div>
        </div>
      </div>
    </div>

    <div *ngIf="month && month.length > 0">
      <div class="notifications-list__content__title">Last Month</div>

      <div *ngFor="let notification of month">
        <div class="notifications-list__content__notification">
          <div class="notifications-list__content__notification__image"><img src="assets/images/alert-icon.svg" alt=""></div>
          <div class="notifications-list__content__notification__message">{{notification.message}}</div>
          <div class="notifications-list__content__notification__date">{{formatDate(notification.createdAt)}}</div>
        </div>
      </div>
    </div>

    <div *ngIf="other && other.length > 0">
      <div class="notifications-list__content__title">Last Month</div>

      <div *ngFor="let notification of other">
        <div class="notifications-list__content__notification">
          <div class="notifications-list__content__notification__image"><img src="assets/images/alert-icon.svg" alt=""></div>
          <div class="notifications-list__content__notification__message">{{notification.message}}</div>
          <div class="notifications-list__content__notification__date">{{formatDate(notification.createdAt)}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
