<!--<md-progress-bar mode="indeterminate" *ngIf="_isLoadingRoute"></md-progress-bar>-->
<md-toolbar class="topnav">
  <button md-icon-button (click)="toggleSidenav()" id="menu-toggler">
    <img src="/assets/images/ic_sort.svg">
  </button>
  <md-toolbar-row *ngIf="_navigation.mediumScreenAndDown && _breadcrumbs.length > 0 && !_autoBreadcrumbs">
    <span class="breadcrumb-holder">
      <span *ngFor="let breadcrumb of _breadcrumbs" class="breadcrumb">
        <a *ngIf="breadcrumb.link !== null" [routerLink]="breadcrumb.link" class="breadcrumb-link">{{breadcrumb.title}}</a>
        <a *ngIf="breadcrumb.link === null" class="breadcrumb-link">{{breadcrumb.title}}</a>
      </span>
      <span class="breadcrumb">{{_pageTitle}}</span>
    </span>
  </md-toolbar-row>

  <span class="app-flex-filler"></span>

  <button md-icon-button (click)="toggleSearchInput(searchField)"><md-icon class="topnav__search__icon">search</md-icon></button>
  <div class="topnav__search__container">
    <md-input-container id="topnav-search" [ngClass]="{'search-visible': showSearchInput}" [floatingPlaceholder]="false">
      <input
        #searchField
        md-input
        class="search-field"
        placeholder="Search"
        type="text"
        (focus)="searchInputFocus()"
        (blur)="searchInputBlur()"
        [value]="searchTerm"
        (input)="searchInputChanged($event)"
        (keydown)="onSearchKey($event)">
    </md-input-container>
    <autocomplete *ngIf="showSearchInput && showAutoComplete && options.length > 0" [options]="options" (select)="selectOption($event)"></autocomplete>
  </div>

  <div class="topnav__items--expanded">
    <ng-container *ngIf="activeAcl">
      <md-icon class="topnav__acl__icon">domain</md-icon>

      <simple-dropdown
        class="topnav__acl__dropdown"
        [selectedOption]="activeAcl"
        [options]="_authService.getAcls()"
        [mapper]="mapAcl"
        (optionSelected)="changeAcl($event)">
      </simple-dropdown>
    </ng-container>

    <img *ngIf="_userProfile.picture" class="topnav__profile__image" [src]="_userProfile.picture">
    <span class="topnav__profile__hello">Hello, </span>
    <span class="topnav__profile__name"> {{_userProfile.name}} </span>

    <div class="topnav__dropdown__container">
      <md-icon class="topnav__profile__arrow" (click)="toggleDropdownMenu()">keyboard_arrow_down</md-icon>

      <div *ngIf="showDropdown" class="topnav__dropdown__menu">
        <button md-menu-item (click)="navigateToProfile()"> <span>{{_userProfile.email}}</span> </button>
        <button md-menu-item (click)="logout()"> <span>sign out</span> </button>
      </div>
    </div>

    <md-menu #menu="mdMenu"></md-menu>

    <span class="topnav__separator"></span>

    <div class="topnav__notifications" (click)="showNotifications()">
      <md-icon class="topnav__notifications__icon">chat</md-icon>
      <div *ngIf="notificationsCount && notificationsCount > 0" class="topnav__notifications__count"> {{notificationsCount}} </div>
    </div>
  </div>
  <div class="topnav__items--collapsed">
    <md-icon class="topnav__items--collapsed__icon" (click)="toggleCollapseMenu()">more_vert</md-icon>

    <div *ngIf="showCollapseMenu" class="topnav__items--collapsed__menu">
      <div class="topnav__items--collapsed__menu__profile topnav__items--collapsed__menu__button" (click)="navigateToProfile()">
        <img class="topnav__items--collapsed__menu__profile__image" [src]="_userProfile.picture">
        <span>{{_userProfile.email}}</span>
      </div>
      <span class="topnav__items--collapsed__menu__label">Accounts:</span>
      <div *ngFor="let acl of _authService.getAcls()">
        <div class="topnav__items--collapsed__menu__button" (click)="changeAcl(acl)"><span>{{acl.account.name}}</span></div>
      </div>
      <div class="topnav__items--collapsed__menu__button" (click)="logout()"> <span>sign out</span> </div>
    </div>
  </div>
</md-toolbar>
