<md-toolbar class="topnav">
  <button md-icon-button (click)="toggleSidenav()" id="menu-toggler">
    <img src="/assets/images/ic_sort.svg">
  </button>

  <div class="topnav__search__wrapper">
    <mat-icon class="topnav__search__icon">search</mat-icon>
    <div class="topnav__search__container">
      <md-input-container id="topnav-search search-visible" [floatingPlaceholder]="false" class="topnav-search-input">
        <input
          #searchField
          md-input
          class="search-field"
          placeholder="{{'TOPNAV_SEARCH' | translate}}"
          type="text"
          (focus)="searchInputFocus()"
          (blur)="searchInputBlur()"
          [value]="searchTerm"
          (input)="searchInputChanged($event)"
          (keydown)="onSearchKey($event)">
      </md-input-container>
      <autocomplete #autocomplete *ngIf="showAutoComplete && options.length > 0" [options]="options" (select)="selectOption($event)"></autocomplete>
    </div>

  </div>

  <topnav-dropdown [icon]="'add'" [options]="addOptions"></topnav-dropdown>

  <span class="app-flex-filler"></span>

  <div class="topnav__acting-as" *ngIf="authService.actingAsAccount$ | async">
    {{'TOPNAV_ACTINGAS' | translate}} <span>{{(authService.actingAsAccount$ | async).name}}</span> <mat-icon (click)="authService.stopActingAs(null)">close</mat-icon>
  </div>

  <div class="topnav__items--expanded">
    <ng-container *ngIf="authService.activeAcl$ | async">
      <simple-dropdown
        class="topnav__acl__dropdown"
        [mapper]="mapAcl"
        [selectedOption]="authService.activeAcl$ | async"
        [options]="authService.getAcls()"
        [icon]="'domain'"
        (optionSelected)="changeAcl($event)">
      </simple-dropdown>
    </ng-container>

    <profile-dropdown [userProfile]="userProfile"></profile-dropdown>

    <topnav-dropdown class="support-dropdown" [text]="'?'" [small]="true" [openOnLeft]="true" [options]="supportOptions"></topnav-dropdown>

    <div class="topnav__notifications" (click)="showNotifications()">
      <mat-icon class="topnav__notifications__icon" *ngIf="!notificationsCount || notificationsCount === 0; else counter">notifications</mat-icon>
      <ng-template #counter>
        <div class="topnav__notifications__count">{{notificationsCount}}</div>
      </ng-template>
    </div>
  </div>
  <div class="topnav__items--collapsed">
    <mat-icon class="topnav__items--collapsed__icon" (click)="toggleCollapseMenu()">more_vert</mat-icon>

    <div *ngIf="showCollapseMenu" class="topnav__items--collapsed__menu">
      <div class="topnav__items--collapsed__menu__profile topnav__items--collapsed__menu__button">
        <img class="topnav__items--collapsed__menu__profile__image" [src]="userProfile.picture">
        <span>{{userProfile.email}}</span>
      </div>
      <span class="topnav__items--collapsed__menu__label">{{'TOPNAV_MOBILE_ACCOUNTS' | translate}}:</span>
      <div *ngFor="let acl of authService.getAcls()">
        <div
          [style.font-weight]="(authService.activeAcl$ | async).id === acl.id ? 500 : 400"
          class="topnav__items--collapsed__menu__button"
          (click)="changeAcl(acl)">
            <span>{{acl.account.name}}</span>
        </div>
      </div>
      <span class="topnav__items--collapsed__menu__label">{{'TOPNAV_MOBILE_ACTIONS' | translate}}:</span>
      <div class="topnav__items--collapsed__menu__button" (click)="navigateToProfile()">{{'TOPNAV_MOBILE_SETTINGS' | translate}}</div>
      <div class="topnav__items--collapsed__menu__button" (click)="logout()"> <span>{{'TOPNAV_MOBILE_SIGNOUT' | translate}}</span> </div>
    </div>
  </div>
</md-toolbar>
