image-uploader {
  display: block;
  margin: 0 0 -20px;
  min-width: 320px;
  font-family: Roboto, sans-serif;
}

.close-bar {
  display: flex;
  margin: -10px 0 10px;

  mat-icon {
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}