<div class="entity-index">
  <div class="entity-index__title">
    {{ 'ACCOUNT_INDEX_TITLE' | translate}}
    <md-input [(ngModel)]="filterValue" placeholder="{{ 'INDEXPAGE_FILTER' | translate}}"></md-input>
    <table-preferences class="entity-index__preferences" [columnParams]="columnParams"></table-preferences>
  </div>

  <button md-icon-button color="primary" *ngIf="hasWritePermission() && authService.isActiveAclMasterAccount()" class="entity-index__add" (click)="openAddMode()"><md-icon>add</md-icon></button>

  <md-card class="entity-index__card">
    <md-card-content class="entity-index__card__content">

      <entities-table
        [data]="entities"
        [columnParams]="columnParams"
        [filterString]="filterValue"
        [serverError]="serverError"
        (selected)="viewEntity($event.id)"

        [service]="service"
        [customOptionText]="actAsOptionText"
        [showDelete]="authService.isActiveAclMasterAccount()"
        (viewClicked)="viewEntity($event.id)"
        (copyClicked)="copyEntity($event.id)"
        (exportClicked)="exportEntity($event.id)"
        (editClicked)="editEntity($event.id)"
        (deleteClicked)="deleteEntity($event.id)"
        (refreshData)="refreshData()"
        (customOptionClicked)="actAs($event)"

        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)">
      </entities-table>

    </md-card-content>
  </md-card>
</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <account-add-new class="modal-center"
                [mode]="modes.Add"
                [entity]="entity"
                (save)="service.createEntity($event)"
                (cancel)="closeAddMode()">
  </account-add-new>
</div>
