<button md-raised-button color="primary" class="entity-index__add" (click)="addEntity()">Add New</button>

<md-card class="entity-index__card">
  <md-card-content class="entity-index__card__content">

    <table class="entity-index__table highlight">
      <thead class="entity-index__table__header">
        <tr>
          <th data-field="name">Name <md-icon>keyboard_arrow_down</md-icon></th>
          <th data-field="username">Username <md-icon>keyboard_arrow_down</md-icon></th>
          <th data-field="password">Password <md-icon>keyboard_arrow_down</md-icon></th>
          <th data-field="endpoint">Endpoint <md-icon>keyboard_arrow_down</md-icon></th>
          <th data-field="processor">Processor <md-icon>keyboard_arrow_down</md-icon></th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let entity of entities">
          <td>{{entity.name}}</td>
          <td>{{entity.username}}</td>
          <td>{{entity.password}}</td>
          <td>{{entity.endpoint}}</td>
          <td>{{entity.processor}}</td>
          <td>
            <button md-icon-button [md-menu-trigger-for]="actionsMenu"><md-icon>more_vert</md-icon></button>
            <md-menu #actionsMenu="mdMenu" x-position="before">
              <button md-menu-item (click)="viewEntity(entity.id)">view</button>
              <button md-menu-item (click)="updateEntity(entity.id)">update</button>
              <button md-menu-item (click)="deleteEntity(entity.id)">delete</button>
            </md-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="entity-index__pagination__buttons">
      <span>Rows per page : {{limit}} </span>
      <button md-icon-button [md-menu-trigger-for]="paginationMenu">
        <md-icon>arrow_drop_down</md-icon>
      </button>

      <md-menu #paginationMenu="mdMenu">
        <button md-menu-item *ngFor="let val of paginationValues" (click)="updateLimit(val)">
          {{val}}
        </button>
      </md-menu>

      <button class="entity-index__pagination__buttons__button--left" [disabled]="page <= 0" md-icon-button (click)="previous()">
        <md-icon>keyboard_arrow_left</md-icon>
      </button>
      <button [disabled]="!hasMorePages()" md-icon-button (click)="next()">
        <md-icon>keyboard_arrow_right</md-icon>
      </button>
    </div>
  </md-card-content>
</md-card>

