@import "../../../assets/scss/colors";

.dashboard {
  background: $main-color-400;
}

.dashboard-container {
  background: white;
}

.animation-wrapper {
  min-height: calc(100vh - 70px);
  min-width: 100%;
  background: $main-color-400;
}

.info {
  margin: 50px 25px 0;
  color: white;
  font-weight: 300;

  div {
    &:first-of-type {
      font-size: 28px;
    }

    &:nth-of-type(2) {
      margin: 5px 0;
      font-size: 42px;
    }

    &:last-of-type {
      font-size: 14px;
    }
  }
}

.charts-container {
  margin: 15px 5px;
  display: flex;

  top-campaigns {
    display: block;
    margin: 15px;
    width: 28%;
  }

  top-subscriptions {
    display: block;
    margin: 15px;
    width: 28%;
  }

  funnel-graph {
    display: block;
    margin: 15px;
    width: 44%;
  }
}

.blue-tab-header {
  padding-left: 25px;
  background: $main-color-400 !important;
  padding-top: 20px;
  height: 62px;
  line-height: 40px;
}
