<mat-tab-group
  *ngIf="activeDashboard !== undefined && availableDashboards.length > 1; else setup"
  class="tab--dashboard-header"
  [(selectedIndex)]="activeDashboard"
>
  <!--TODO translations-->
  <mat-tab label="SETUP">
    <c-dashboard-setup></c-dashboard-setup>
  </mat-tab>
  <mat-tab [hidden]="!availableDashboards.includes(DashboardType.full)" label="DASHBOARD">
    <c-dashboard-full></c-dashboard-full>
  </mat-tab>
</mat-tab-group>

<ng-template #setup>
  <c-dashboard-setup></c-dashboard-setup>
</ng-template>
