<mat-tab-group
  *ngIf="activeDashboard !== undefined && availableDashboards.length > 1; else setup"
  class="tab--dashboard-header"
  [(selectedIndex)]="activeDashboard"
  (selectedTabChange)="saveActiveDashboard()"
>
  <!--TODO translations-->
  <mat-tab label="SETUP">
    <c-dashboard-setup></c-dashboard-setup>
  </mat-tab>
  <mat-tab *ngIf="availableDashboards.includes(DashboardType.low_data) || activeIndex() === 1" label="TRANSACTIONS">
    <c-dashboard-low-data *ngIf="activeIndex() === 1"></c-dashboard-low-data>
  </mat-tab>
  <mat-tab *ngIf="availableDashboards.includes(DashboardType.full) || activeIndex() === 2" label="DASHBOARD">
    <c-dashboard-full *ngIf="activeIndex() === 2"></c-dashboard-full>
  </mat-tab>
</mat-tab-group>

<ng-template #setup>
  <c-dashboard-setup></c-dashboard-setup>
</ng-template>
