<div class="dashboard__chart">
  <div class="dashboard__chart__title">
    <div class="dashboard__chart__title__main">Merchant processing</div>
    <div class="dashboard__chart__title__sub">Current loads and balance</div>
  </div>

  <div [class.invisible]="!loaded || (!reportsToDisplay || reportsToDisplay.length === 0)">
    <chart style="display: block" [options]="chartOptions" (load)="saveChart($event.context)"></chart>
  </div>
  <chart style="display: block" *ngIf="!loaded" [options]="loaderOptions"></chart>


  <div class="dashboard__table-chart__no-data" *ngIf="loaded && (!reportsToDisplay || reportsToDisplay.length === 0)"> No Merchants Found</div>
</div>
