<div class="dashboard__chart">
  <div class="dashboard__chart__title">
    <div class="dashboard__chart__title__main">{{'MERCHANTREPORT_CHART_TITLE' | translate}}</div>
    <div class="dashboard__chart__title__sub">{{'MERCHANTREPORT_CHART_SUBTITLE' | translate}}</div>
  </div>

  <div [class.invisible]="!loaded || (!reportsToDisplay || reportsToDisplay.length === 0)">
    <chart class="fit-chart" style="display: block" [options]="chartOptions" (load)="saveChart($event.context)"></chart>
  </div>
  <chart style="display: block" *ngIf="!loaded" [options]="loaderOptions"></chart>

  <div class="dashboard__table-chart__no-data" *ngIf="loaded && (!reportsToDisplay || reportsToDisplay.length === 0)">{{'MERCHANTREPORT_CHART_NODATA' | translate}}</div>
</div>
