<div class="info-blue-screen">
  <img class="logo" src="/assets/images/logo-white.svg" alt="">

  <div class="text">{{text}}</div>

  <img class="logo" src="/assets/images/logo-white.svg" alt="">
  <button mat-button class="logout" (click)="logout()">SIGN OUT</button>

  <simple-dropdown
    *ngIf="authService.getSixUser().acls.length !== 0"
    [mapper]="mapAcl"
    [selectedOption]="authService.activeAcl$ | async"
    [options]="authService.getAcls()"
    [icon]="'domain'"
    (optionSelected)="changeAcl($event)">
  </simple-dropdown>
</div>
