<div class="info-blue-screen">
  <img class="logo" src="{{'/assets/images/' + sidenavLogo}}" alt="">

  <div class="blue-screen__account-switcher">
    <simple-dropdown
      *ngIf="authService.getAcls().length > 0"
      [mapper]="mapAcl"
      [selectedOption]="authService.activeAcl$ | async"
      [options]="authService.getAcls()"
      [icon]="'domain'"
      (optionSelected)="changeAcl($event)">
    </simple-dropdown>

    <button mat-button (click)="logout()">{{'REGISTER_SIGNOUT' | translate}}</button>
  </div>

  <div class="body">

    <div class="header" [class.header--payment]="accountHasNoBilling()">
      <div class="title">{{getTitle() | translate}}</div>
      <mat-icon *ngIf="accountHasNoBilling(); else lock">attach_money</mat-icon>
      <ng-template #lock>
        <mat-icon *ngIf="accountHasNoBilling(); else lock">attach_money</mat-icon>
        <ng-template #lock>
          <mat-icon>attach_money</mat-icon>
        </ng-template>
      </ng-template>
    </div>

    <div class="content">{{getText() | translate}}</div>

    <div class="buttons">
      <button *ngIf="accountHasNoBilling() && authService.getActiveAcl().role.isOwnerOrAdministrator(); else createbutton"
              mat-button
              class="payment"
              [routerLink]="['/payment']">
        {{'INFOSCREEN_PAY' | translate}}
      </button>

      <ng-template #createbutton>
        <button class="create" mat-button [routerLink]="['/register']">{{'INFOSCREEN_CREATE' | translate}}</button>
      </ng-template>
    </div>
  </div>
</div>
