<div class="info-blue-screen">
  <img class="logo" src="/assets/images/logo-white.svg" alt="">

  <div class="body">

    <div class="header">
      <div class="title">{{title}}</div>
      <mat-icon>lock_outline</mat-icon>
    </div>

    <div class="content">{{text}}</div>

    <div class="switcher" [matMenuTriggerFor]="switcherOptions" *ngIf="authService.getSixUser().acls.length > 0">
      <div class="current">
        <div>{{authService.getActiveAcl().account.name}}</div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>

      <mat-menu #switcherOptions="matMenu" x-position="before">
        <button *ngFor="let acl of authService.getAcls()"
                style="width: 260px"
                mat-menu-item (click)="authService.changeActiveAcl(acl)">
          {{acl.account.name}}
        </button>
      </mat-menu>
    </div>

    <button *ngIf="accountHasNoBilling() && authService.getActiveAcl().role.isOwnerOrAdministrator()"
            class="payment"
            mat-button
            [routerLink]="['/payment']">
      MAKE PAYMENT
    </button>

    <div class="buttons">
      <button mat-button (click)="logout()">SIGN OUT</button>
      <button mat-button>CREATE ACCOUNT</button>
    </div>
  </div>
</div>
