@import "../../../assets/scss/colors";

.body {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 500px;
  width: 360px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  border-radius: 5px;
  background: #FAFAFA;

  .header {
    display: flex;
    align-items: center;
    padding: 30px 25px;
    background: #FFFCAB;
    border-radius: 4px 4px 0 0;

    &--payment {
      background: #CDEBF9;

      mat-icon {
        background: #92D2F5 !important;
        color: white !important;
      }
    }

    .title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: rgba(0,0,0,0.87);
    }

    .mat-icon {
      margin-left: auto;
      border-radius: 50%;
      padding: 10px;
      height: 36px;
      width: 36px;
      background: rgba(0, 0, 0, 0.06);
      font-size: 36px;
      color: rgba(0, 0, 0, 0.12);
    }
  }

  .content {
    padding: 30px 25px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0,0,0,0.87);
    text-align: justify;
  }

  .buttons {
    display: flex;
    margin: auto 25px 30px;
    font-size: 14px;

    button {
      margin-left: auto;
      color: white;
    }

    .create {
      background: $main-color-200;
    }

    .payment {
      padding: 16px 0;
      font-weight: 500;
      background: $main-color-200;
      width: 100%;
    }
  }
}
