<div inViewport (inside)="fetch()" class="dashboard__table-chart">
  <div class="dashboard__table-chart__title">
    <div class="dashboard__table-chart__title__main">{{'DASHBOARD_EVENTSBYAFFILIATE_TITLE' | translate}}</div>
    <div class="dashboard__chart__title__sub">{{'DASHBOARD_EVENTSBYAFFILIATE_SUBTITLE' | translate}}</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')">{{'CHART_DOWNLOADJSON' | translate}}</button>
      <button md-menu-item (click)="download('csv')">{{'CHART_DOWNLOADCSV' | translate}}</button>
      <button md-menu-item (click)="download('excel')">{{'CHART_DOWNLOADEXCEL' | translate}}</button>
    </md-menu>
  </div>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else data"></server-error-message>

  <ng-template #data>
    <chart *ngIf="eventsBy && eventsBy.count > 0; else eventsByNoData" #chart (load)="saveChart($event.context)" [options]="options"></chart>
    <chart *ngIf="!eventsBy" [options]="loaderOptions"></chart>

    <div *ngIf="eventsBy && eventsBy.count > 0" class="dashboard__table" [style.height]="calculateHeight()" [class.dashboard__table--inactive]="!showTable || !eventsBy">
      <table class="highlight">
        <thead>
        <tr>
          <th>{{'DASHBOARD_EVENTSBYAFFILIATE_AFFILIATE' | translate}}</th>
          <th class="cell--align-right">{{'DASHBOARD_EVENTSBYAFFILIATE_COUNT' | translate}}</th>
          <th class="cell--align-right">{{'DASHBOARD_EVENTSBYAFFILIATE_PERCENTAGE' | translate}}</th>
        </tr>
        </thead>
        <tbody *ngIf="eventsBy">
        <tr *ngFor="let facet of eventsBy.facets | subArray: maxNumber + 2; let i = index" [routerLink]="['/affiliates', facet.facet]">
          <td><div [style.background]="colors[i]" class="color-indicator"></div>{{facet.facet.substring(0, 18) + '...'}}</td>
          <td class="cell--align-right">{{facet.count | numberlocale}}</td>
          <td class="cell--align-right">{{facet.percentage | numberlocale}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <ng-template #eventsByNoData>
      <div *ngIf="eventsBy" class="dashboard__table-chart__no-data">{{'DASHBOARD_EVENTSBYAFFILIATE_NODATA' | translate}}</div>
    </ng-template>

    <div class="dashboard__table-chart__actions dashboard__table-chart__actions--no-border">
      <span *ngIf="eventsBy && eventsBy.count > 0" (click)="toggleTable()">{{(showTable ? 'CHART_COLLAPSE' : 'CHART_SHOWTABLE') | translate}}</span>
      <span [routerLink]="['/coming-soon']">{{'CHART_VIEWMORE' | translate}}</span>
    </div>
  </ng-template>
</div>
