<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Rebill</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span>
          {{entityBackup.id}}
        </span>
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">SHIPPING RECEIPTS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="entity-view__card campaign-view__card">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title">Rebill Information</div>
          <md-icon [md-menu-trigger-for]="actionsMenu">more_vert</md-icon>
          <md-menu #actionsMenu="mdMenu" x-position="before">
            <button md-menu-item (click)="goToCustomer()">View Customer</button>
            <button md-menu-item (click)="goToSession()">View Session</button>
          </md-menu>
        </div>

        <div class="entity-view__card__content">
          <md-input-container style="width: 120px;" class="entity-view__card__content__item">
            <input disabled md-input placeholder="Billed at Date" [(ngModel)]="billdate" type="text">
          </md-input-container>

          <md-input-container style="width: 120px;" class="entity-view__card__content__item">
            <input disabled md-input placeholder="Amount" [(ngModel)]="billamount" type="text">
          </md-input-container>

          <md-input-container class="entity-view__card__content__item">
            <input disabled md-input placeholder="Parent Session" [(ngModel)]="entity.parentSession.id" type="text">
          </md-input-container>

          <md-input-container class="entity-view__card__content__item">
            <input disabled md-input placeholder="Customer" [(ngModel)]="customername" type="text">
          </md-input-container>
        </div>
      </div>

    </md-tab>

    <md-tab>
      <table-memory
        [data]="entity.shippingReceipts"
        [columnParams]="shippingReceiptColumnParams"
        [textOptions]="shippingReceiptText"
        [associationEnabled]="false"
        [editEnabled]="false"
        [viewEnabled]="false"
        [dissociationEnabled]="false"
        [showMenuOptions]="false">
      </table-memory>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [numberOfCards]="1" [title]="'Rebill'"></spe-loader>
</ng-template>
