.perfect-match {
  margin: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &__header {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    img {
      display: inline-block;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }

    &__title {
      display: inline-block;
      vertical-align: middle;
      max-width: calc(100% - 100px);

      &__main {
        margin-bottom: 3px;
        font-size: 16px;
        color: #4089E0;
        font-weight: 500;
      }

      &__sub {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        text-transform: capitalize;
      }
    }

    &__buttons {
      display: inline-block;
      float: right;

      mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
      }
    }
  }

  &__view-more {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: #3AB0EA;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
  }
}
