<div class="perfect-match">

  <div *ngIf="entity">
    <div class="perfect-match__header">
      <img src="{{imageSrc()}}">
      <div class="perfect-match__header__title">
        <div class="perfect-match__header__title__main">{{getName()}}</div>
        <div class="perfect-match__header__title__sub">{{(entity.fields.entity_type + '_TITLE') | translate}}</div>
      </div>
      <div class="perfect-match__header__buttons">
        <mat-icon (click)="navigateToEntity()">open_in_new</mat-icon>
      </div>
    </div>

    <perfect-customer *ngIf="entity.fields.entity_type === 'customer'" [id]="entity.id"></perfect-customer>
    <perfect-transaction *ngIf="entity.fields.entity_type === 'transaction'" [id]="entity.id"></perfect-transaction>
    <perfect-product *ngIf="entity.fields.entity_type === 'product'" [id]="entity.id"></perfect-product>
    <perfect-product-schedule *ngIf="entity.fields.entity_type === 'productschedule'" [id]="entity.id"></perfect-product-schedule>
    <perfect-rebill *ngIf="entity.fields.entity_type === 'rebill'" [id]="entity.id"></perfect-rebill>
    <perfect-campaign *ngIf="entity.fields.entity_type === 'campaign'" [id]="entity.id"></perfect-campaign>
    <perfect-merchant-provider *ngIf="entity.fields.entity_type === 'merchantprovider'" [id]="entity.id"></perfect-merchant-provider>
    <perfect-credit-card *ngIf="entity.fields.entity_type === 'creditcard'" [id]="entity.id"></perfect-credit-card>
    <perfect-affiliate *ngIf="entity.fields.entity_type === 'affiliate'" [id]="entity.id"></perfect-affiliate>

    <div (click)="navigateToEntity()" class="perfect-match__view-more">
      {{'SEARCH_PERFECT_VIEW' | translate}} {{(entity.fields.entity_type + '_TITLE') | translate}}
    </div>
  </div>
</div>
