<div class="perfect-match">

  <div class="perfect-match__title">
    <mat-icon (click)="hidePerfectMatch.emit(true)">keyboard_arrow_right</mat-icon>
    <div>{{'SEARCH_PERFECT_PREVIEW' | translate}}</div>
  </div>

  <div *ngIf="entity">
    <div class="perfect-match__header">
      <div class="perfect-match__header__title">
        <div class="main">{{getName()}}</div>
        <div class="sub">{{'SEARCH_PERFECT_CREATED' | translate}} {{utcf(entity.fields.created_at).tz(authService.getTimezone()).format('MMMM D, YYYY') }}</div>
      </div>
      <div class="perfect-match__header__view">
        <button mat-button (click)="navigateToEntity()">{{'SEARCH_PERFECT_VIEW' | translate}}</button>
      </div>
    </div>

    <perfect-customer *ngIf="entity.fields.entity_type === 'customer'" [id]="entity.id"></perfect-customer>
    <perfect-transaction *ngIf="entity.fields.entity_type === 'transaction'" [id]="entity.id"></perfect-transaction>
    <perfect-product *ngIf="entity.fields.entity_type === 'product'" [id]="entity.id"></perfect-product>
    <perfect-product-schedule *ngIf="entity.fields.entity_type === 'productschedule'" [id]="entity.id"></perfect-product-schedule>
    <perfect-rebill *ngIf="entity.fields.entity_type === 'rebill'" [id]="entity.id"></perfect-rebill>
    <perfect-campaign *ngIf="entity.fields.entity_type === 'campaign'" [id]="entity.id"></perfect-campaign>
    <perfect-merchant-provider *ngIf="entity.fields.entity_type === 'merchantprovider'" [id]="entity.id"></perfect-merchant-provider>
    <perfect-credit-card *ngIf="entity.fields.entity_type === 'creditcard'" [id]="entity.id"></perfect-credit-card>
    <perfect-affiliate *ngIf="entity.fields.entity_type === 'affiliate'" [id]="entity.id"></perfect-affiliate>
  </div>
</div>
