<div *ngIf="rebill" class="customer-view__edit customer-rebill-edit">
  <div class="customer-view__edit__title">
    <div class="customer-view__edit__title--main">
      Edit Transaction
    </div>
    <div class="customer-view__edit__title--sub">
      modify an upcoming transaction
    </div>
  </div>

  <div class="customer-rebill-edit__data">
    <div class="customer-rebill-edit__data__date">
      <div class="customer-rebill-edit__data__date__title">Transaction Date</div>

      <div class="datepicker--custom" [class.datepicker-visible]="datepickerVisible">
        <div (showDaterangepicker)="datepickerShown()" (hideDaterangepicker)="datepickerHidden()" (selected)="dateSelected($event)" daterangepicker>
          <md-icon class="date-icon">date_range</md-icon><span class="datepicker--custom__input" name="daterange" > {{ date | formatDateTime }} <md-icon>keyboard_arrow_down</md-icon> </span>
        </div>
      </div>

      <div class="customer-rebill-edit__data__date__title">Price</div>
      <md-input-container class="no-margin">
        <input #priceInput md-input type="text" [textMask]="{mask: numberMask, guide: false}" [(ngModel)]="price">
      </md-input-container>
    </div>
  </div>

  <div class="customer-view__edit__actions">
    <div (click)="cancel.emit(false)">CANCEL</div>
    <div (click)="saveRebill()">SAVE</div>
  </div>
</div>
