<div *ngIf="rebill" class="customer-view__edit customer-rebill-edit">
  <div class="customer-view__edit__title">
    <div class="customer-view__edit__title--main">
      {{'CUSTOMER_REBILLEDIT_TITLE' | translate}}
    </div>
    <div class="customer-view__edit__title--sub">
      {{'CUSTOMER_REBILLEDIT_SUBTITLE' | translate}}
    </div>
  </div>

  <div class="customer-rebill-edit__data">
    <div class="customer-rebill-edit__data__date">
      <div class="customer-rebill-edit__data__date__title">{{'CUSTOMER_REBILLEDIT_DATE' | translate}}</div>

      <div class="datepicker--custom" [class.datepicker-visible]="datepickerVisible">
        <div (showDaterangepicker)="datepickerShown()" (hideDaterangepicker)="datepickerHidden()" (selected)="dateSelected($event)" daterangepicker>
          <mat-icon class="date-icon">date_range</mat-icon><span class="datepicker--custom__input" name="daterange" > {{ date | formatDateTime }} <mat-icon>keyboard_arrow_down</mat-icon> </span>
        </div>
      </div>

      <div class="customer-rebill-edit__data__date__title">{{'CUSTOMER_REBILLEDIT_PRICE' | translate}}</div>
      <mat-input-container class="no-margin">
        <input #priceInput matInput type="text" currencyInput [initPrice]="rebill.amount" (priceChanged)="rebill.amount = $event">
      </mat-input-container>
    </div>
  </div>

  <div class="customer-view__edit__actions">
    <div (click)="cancelRebillEdit()">{{'CUSTOMER_REBILLEDIT_CANCEL' | translate}}</div>
    <div (click)="saveRebill()">{{'CUSTOMER_REBILLEDIT_SAVE' | translate}}</div>
  </div>
</div>
