<div  *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entity.name || entity.affiliateId"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group *ngIf="!addMode" [(selectedIndex)]="selectedIndex">

    <mat-tab>
      <div class="tab-container">
        <affiliate-add-new
          [displayInView]="!addMode"
          [mode]="viewMode ? modes.View : modes.Update"
          (changeMode)="setMode($event)"
          (save)="saveAffiliate(true)"
          (cancel)="cancelEdit()"
          [entity]="entity">
        </affiliate-add-new>
      </div>
    </mat-tab>

    <mat-tab>
      <div class="tab-container">
        <affiliate-trackers [affiliate]="entity"></affiliate-trackers>
      </div>
    </mat-tab>

    <mat-tab>
      <div class="tab-container">
        <affiliate-sessions [affiliateId]="entity.id"></affiliate-sessions>
      </div>
    </mat-tab>

    <mat-tab>
      <div class="tab-container">
        <affiliate-campaigns [affiliateId]="entity.id"></affiliate-campaigns>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="3" [cardsExpression]="'100%'" [title]="'AFFILIATE_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
