.notifications__alert {

  &__content {
    display: flex;
    padding: 15px;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 12px;

      .divider {
        margin: 0 5px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: rgba(0,0,0,0.5);
      }

      .time {
        color: rgba(0,0,0,0.5);
      }
    }

    .title {
      margin-bottom: 10px;
      font-size: 14px;
    }

    .body {
      font-size: 14px;
      color: rgba(0,0,0,0.5);
    }

    mat-icon {
      margin-left: 12px;
      padding: 5px;
      color: white;
      background: #FD1F47;
      border-radius: 50%;
    }
  }

  &__actions {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    background: #F0F0F0;
    color: #FD1F47;

    div {
      padding: 15px;
    }

    .dismiss {
      cursor: pointer;
      text-transform: uppercase;
    }

  }
}
