<div class="notifications__alert">
  <div class="notifications__alert__image">
    <img src="assets/images/alertIcon.svg" alt="">
  </div>
  <div class="notifications__alert__content">
    <div> {{alert.title}} </div>
    <div> {{alert.body}} </div>
  </div>
</div>
<div class="notifications__alert__actions">
  <div class="view" *ngIf="enableView" (click)="viewAlert()">View</div>
  <div class="dismiss" *ngIf="enableClear" (click)="clearAlert()">Dismiss</div>
  <div class="date">{{ alert.createdAt.tz(authService.getTimezone()).format('MM/DD/YYYY h:mm a') }}</div>
</div>
