<div class="notifications__alert" [class.unread-in-list]="!alert.readAt && inList">
  <div class="notifications__alert__content">

    <div>
      <div class="header">
        <mat-icon [class.unread]="!alert.readAt" [class.flag-icon--in-list]="inList">flag</mat-icon>
        <div class="category">{{alert.category}}</div>
        <div class="divider"></div>
        <div class="time">{{ calculateTime() }}</div>
        <mat-icon [matMenuTriggerFor]="actionsMenu"  class="notification-options" *ngIf="inList">more_vert</mat-icon>
        <mat-menu #actionsMenu="matMenu" x-position="before">
          <button mat-menu-item (click)="markAsUnread()">{{'NOTIFICATIONSQUICK_MARKASUNREAD' | translate}}</button>
          <button mat-menu-item (click)="goToLink()">{{'NOTIFICATIONSQUICK_GOTOLINK' | translate}}</button>
          <button mat-menu-item ngxClipboard [cbContent]="alert.body">{{'NOTIFICATIONSQUICK_COPYTOCLIPBOARD' | translate}}</button>
        </mat-menu>
      </div>

      <div class="title" [class.title--in-list]="inList">
        {{alert.title}}
      </div>

      <div class="body" [class.body--in-list]="inList">
        {{alert.body}}
      </div>
    </div>

  </div>

  <div class="notifications__alert__actions"  [class.actions--in-list]="inList">
    <div class="dismiss" [class.dismiss--in-list]="inList" *ngIf="enableClear" (click)="clearAlert()">{{'NOTIFICATIONSQUICK_DISMISS' | translate}}</div>
  </div>
</div>
