<div class="notifications__alert">
  <div class="notifications__alert__content">

    <div>
      <div class="header">
        <div>{{alert.category}}</div>
        <div class="divider"></div>
        <div class="time">{{ calculateTime() }}</div>
      </div>

      <div class="title">
        {{alert.title}}
      </div>

      <div class="body">
        {{alert.body}}
      </div>
    </div>

    <div>
      <md-icon>priority_high</md-icon>
    </div>

  </div>

  <div class="notifications__alert__actions">
    <div class="dismiss" *ngIf="enableClear" (click)="clearAlert()">{{'NOTIFICATIONSQUICK_DISMISS' | translate}}</div>
  </div>
</div>
