<div class="content">
  <div class="actions-container">
    <div class="action-item" (click)="undo.emit(true)">UNDO<mat-icon>undo</mat-icon></div>
    <div class="action-item" (click)="redo.emit(true)"><mat-icon>redo</mat-icon>REDO</div>
    <div class="status">{{statePersisted ? 'All changes saved' : 'Please save changes' }}</div>
  </div>

  <div class="zoom-label">Zoom</div>
  <input
     type="range"
     min="1"
     max="10"
     step="1"
     value="{{zoomLevel}}"
     (mousewheel)="mouseWheel($event)"
     (change)="zoomLevelChanged.emit($event.target.value)">

  <button mat-button class="save-button" (click)="save.emit(true)">SAVE</button>
</div>
