<div class="entity--wrapper">
  <div class="entity">
    <entity-view-topnav [service]="service" (close)="closeDetails()"></entity-view-topnav>

    <div *ngIf="entity">
      <div class="entity__caption">
        {{entity.name}}
      </div>

      <div class="entity__content">
        <md-tab-group>
          <md-tab label="Details">

            <entity-view-info
              [title]="'GENERAL DETAILS'"
              [data]="[
                {name:'ID', value: entity.id},
                {name:'Name', value: entity.name},
                {name:'Email', value: entity.email},
                {name:'Active', value: entity.account},
                {name:'Terms And Conditions', value: entity.termsAndConditions}
              ]">
            </entity-view-info>

            <entity-view-info
              [title]="'ADDRESS'"
              [data]="[
                {name:'Country', value: entity.address.country},
                {name:'State', value: entity.address.state},
                {name:'City', value: entity.address.city},
                {name:'Line 1', value: entity.address.line1},
                {name:'Line 2', value: entity.address.line2},
                {name:'Zip', value: entity.address.zip}
              ]">
            </entity-view-info>

          </md-tab>
          <md-tab label="Edit">

          </md-tab>
        </md-tab-group>
      </div>
    </div>
  </div>
</div>
