<div class="search__search-box">
  <md-card>
    <md-card-content>
      <md-input value="{{searchTerm}}">
        <md-icon md-prefix>search</md-icon>
      </md-input>
      <button class="search__search-box__button--search" md-raised-button color="primary">Search</button>

      <span class="search__search-box__title"> Show Results for</span>
      <span class="search__search-box__item"> CUSTOMERS </span>
      <span class="search__search-box__item"> CAMPAIGNS </span>
      <span class="search__search-box__item"> PRODUCTS </span>
      <span class="search__search-box__item"> BILLING </span>
      <span class="search__search-box__item"> FULFILLMENT </span>

      <div class="search__search-box__divider"></div>

      <span class="search__search-box__title search__search-box__title--after"> Refined by </span>
      <span class="search__search-box__subtitle"> Brand </span>
      <md-checkbox class="search__search-box__item">Brand One</md-checkbox>
      <md-checkbox class="search__search-box__item">Brand Two</md-checkbox>
      <md-checkbox class="search__search-box__item">Brand Three</md-checkbox>

      <span class="search__search-box__subtitle"> Merchant </span>
      <md-checkbox class="search__search-box__item">Merchant One</md-checkbox>
      <md-checkbox class="search__search-box__item">Merchant Two</md-checkbox>
      <md-checkbox class="search__search-box__item">Merchant Three</md-checkbox>

      <span class="search__search-box__subtitle"> Product Category </span>
      <md-checkbox class="search__search-box__item">Diet</md-checkbox>
      <md-checkbox class="search__search-box__item">Muscle</md-checkbox>
      <md-checkbox class="search__search-box__item">Skin</md-checkbox>

      <span class="search__search-box__subtitle"> Sale Type </span>
      <md-checkbox class="search__search-box__item">Trial</md-checkbox>
      <md-checkbox class="search__search-box__item">Straight</md-checkbox>

      <span class="search__search-box__subtitle"> Date </span>

    </md-card-content>
  </md-card>
</div>

<div class="search__results">
  <md-card>
    <md-card-title>Result <md-icon>keyboard_arrow_down</md-icon></md-card-title>
  </md-card>

  <md-card>
    <md-card-title>Result <md-icon>keyboard_arrow_down</md-icon></md-card-title>
  </md-card>

  <md-card>
    <md-card-title>Result <md-icon>keyboard_arrow_down</md-icon></md-card-title>
  </md-card>
</div>
