.search {

  &__search-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

    md-card {
      margin: 65px 0 0 0;
      height: 100%;
      min-height: 850px;

      md-card-content {
        display: flex;
        flex-flow: column;
        -webkit-flex-flow: column;
        width: 200px;
      }
    }

    &__button {

      &--search {
        width: 100px;
      }
    }

    &__title {
      margin-top: 18px;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 700;
      color: #A6A6A6;

      &--after {
        margin-top: 35px;
      }
    }

    &__subtitle {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 500;
      color: black;
    }

    &__item {
      margin-top: 5px;
      font-size: 14px;
      color: #7C7C7C;
    }

    &__divider {
      position: absolute;
      left: 0;
      margin-top: 25px;
      width: 90%;
      height: 2px;
      background-color: #A6A6A6;
    }
  }

  &__results {
    padding-left: 200px;

    md-card {
      height: 200px;

      md-card-title {
        padding-bottom: 5px;
        border-bottom: solid 1px #B2B2B2;

        md-icon {
          float: right;
        }
      }
    }
  }
}
