<div class="search">
  <div class="search__layout">
    <div class="search__sidenav">
      <md-nav-list>
        <div class="search__sidenav__query__container">
          <md-input (focus)="showAutoComplete()" [value]="queryString" (input)="inputChanged($event)" (blur)="hideAutoComplete()">
            <md-icon class="search__sidenav__query__icon" md-prefix>search</md-icon>
          </md-input>
          <autocomplete *ngIf="showAutocomplete && options.length > 0" (select)="optionSelected($event)" [options]="options"></autocomplete>
        </div>
        <button class="search__sidenav__button--search" md-raised-button color="primary" (click)="navigateSearch()">Search</button>

        <md-checkbox class="search__sidenav__item">
          Campaign
          <span *ngIf="entityTypesCount['campaign']">({{entityTypesCount['campaign']}})</span>
        </md-checkbox>
        <md-checkbox class="search__sidenav__item">
          Customer
          <span *ngIf="entityTypesCount['customer']">({{entityTypesCount['customer']}})</span>
        </md-checkbox>
        <md-checkbox class="search__sidenav__item">
          User
          <span *ngIf="entityTypesCount['user']">({{entityTypesCount['user']}})</span>
        </md-checkbox>
        <md-checkbox class="search__sidenav__item">
          Billing
          <span *ngIf="entityTypesCount['billing']">({{entityTypesCount['billing']}})</span>
        </md-checkbox>
        <md-checkbox class="search__sidenav__item">
          Transaction
          <span *ngIf="entityTypesCount['transaction']">({{entityTypesCount['transaction']}})</span>
        </md-checkbox>
        <md-checkbox class="search__sidenav__item">
          Product
          <span *ngIf="entityTypesCount['product']">({{entityTypesCount['product']}})</span>
        </md-checkbox>
        <md-checkbox class="search__sidenav__item">
          Fulfillment
          <span *ngIf="entityTypesCount['fulfillment']">({{entityTypesCount['fulfillment']}})</span>
        </md-checkbox>
        <md-checkbox class="search__sidenav__item">
          Product Schedule
          <span *ngIf="entityTypesCount['productschedule']">({{entityTypesCount['productschedule']}})</span>
        </md-checkbox>

        <div class="search__sidenav__divider"></div>

        <span class="search__sidenav__title search__sidenav__title--after"> Refined by Date </span>
        <span class="search__sidenav__subtitle"> Date </span>

        <span class="search__sidenav__title search__sidenav__title--after"> Refined by </span>
        <span class="search__sidenav__subtitle"> Brand </span>
        <md-checkbox class="search__sidenav__item">Brand One</md-checkbox>
        <md-checkbox class="search__sidenav__item">Brand Two</md-checkbox>
        <md-checkbox class="search__sidenav__item">Brand Three</md-checkbox>

        <span class="search__sidenav__subtitle"> Merchant </span>
        <md-checkbox class="search__sidenav__item">Merchant One</md-checkbox>
        <md-checkbox class="search__sidenav__item">Merchant Two</md-checkbox>
        <md-checkbox class="search__sidenav__item">Merchant Three</md-checkbox>

        <span class="search__sidenav__subtitle"> Product Category </span>
        <md-checkbox class="search__sidenav__item">Diet</md-checkbox>
        <md-checkbox class="search__sidenav__item">Muscle</md-checkbox>
        <md-checkbox class="search__sidenav__item">Skin</md-checkbox>

        <span class="search__sidenav__subtitle"> Sale Type </span>
        <md-checkbox class="search__sidenav__item">Trial</md-checkbox>
        <md-checkbox class="search__sidenav__item">Straight</md-checkbox>
      </md-nav-list>
    </div>

    <div class="search__content">
      <div class="search__content__title">
        <span>Results</span>
        <table-pagination
          class="search__content__pagination"
          [limit]="limit"
          [paginationValues]="paginationValues"
          [previousDisabled]="page <= 0"
          [nextDisabled]="!hasMorePages()"
          (previous)="previous()"
          (next)="next()"
          (updateLimit)="updateLimit($event)"></table-pagination>
      </div>

      <ng-container *ngFor="let res of searchResultsToDispaly">
        <result-item [fields]="res.fields" [id]="res.id" [entityType]="res.fields.entity_type" [queryString]="queryString"></result-item>
      </ng-container>
    </div>
  </div>
</div>
