.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;

  .flex-custom {
    min-width: 520px;
  }
}

.dashboard-filters {
  display: flex;
  border-radius: 2px;
  border: 2px solid #3967A8;
  background-color: #3967A8;
  color: #8ec9fd;
  font-size: 14px;
  height: 36px;
  line-height: 24px;
  text-align: center;

  .selected {
    background: #C4E3FD;
    opacity: 1;
    color: #4277C2;
    padding-left: 10px !important;
  }

  .time-filters {
    cursor: pointer;
    padding: 5px 20px;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }

    div {
      display: flex;

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}

