.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.image-upload {
  display: flex;
  flex-direction: column;
  padding: 25px 14px 65px;

  input {
    font-size: 14px;
  }
}

.image-container {
  display: flex;
  flex-direction: column;
}

.entity-view__card {
  min-width: 270px;
}

.image-item {
  display: flex;
  align-items: flex-start;
  padding: 28px;
  border-bottom: 2px solid rgba(0,0,0,0.08);

  &:last-of-type {
    border-bottom: 0;
  }
}

.image-checkbox {
  font-size: 12px;
  margin-top: 22px;
  margin-bottom: 24px;
  color: #4A4A4A;
}

.image-actions {
  margin-top: auto;
  display: flex;
  font-size: 11px;

  div {
    cursor: pointer;
    color: #4A4A4A;

    &:first-of-type {
      margin-left: auto;
    }

    &:last-of-type {
      margin-left: 8px;
      color: #5B9BE1;
    }
  }
}

.image-details {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 35px;
  width: 280px;

  md-input-container {
    font-size: 14px;
    width: 95%;
  }
}

.image-wrapper {
  position: relative;
  width: 180px;

  img {
    display: flex;
    width: 180px;
  }
}

.image-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;

  mat-icon {
    display: none;
    margin: auto;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }

  &:hover {
    background: rgba(0,0,0,0.5);

    mat-icon {
      display: block;
    }
  }
}

.dropzone {
  min-height: 170px;
  border: 2px dotted rgba(0,0,0,0.08);
  background: #F5F5F5;
  text-align: center;

  &--file-over {
    border-color: red;
  }

  &--with-content {
    border: none;
    min-height: 0;
    background: white;

    span {
      display: none;
    }
  }

  &__text {
    margin: auto;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    line-height: 100px;
  }

  .image {
    border: 1px solid rgba(0,0,0,0.2);

    &--file-over {
      border-color: red;
    }
  }
}

.select {
  margin: 8px 0 0;
  padding: 5px 12px;
  background: #5B9BE1;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  cursor: pointer;

  input {
    display: none;
  }
}

.gallery-container {
  max-width: 100%;
}

.upload-container {
  width: 360px;
}

.no-data {
  padding: 25px 55px;
  font-size: 14px;
  color: #4a4a4a;
}
