<div class="container">

  <div class="entity-view__card gallery-container">
    <div class="entity-view__card__header">
      <div class="entity-view__card__header__title"> {{'PRODUCT_IMAGE_GALLERY_TITLE' | translate}} </div>
    </div>
    <div class="image-container">
      <div class="image-wrapper" *ngFor="let image of images">
        <img src="{{image.path}}">
        <div class="image-overlay">
          <md-icon (click)="viewImage(image)">zoom_in</md-icon>
          <md-icon (click)="editImage(image)">mode_edit</md-icon>
          <md-icon (click)="deleteImage(image)">delete</md-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="entity-view__card upload-container">
    <div class="entity-view__card__header">
      <div class="entity-view__card__header__title">{{'PRODUCT_IMAGE_UPLOAD_TITLE' | translate}}</div>
    </div>

    <div class="image-upload">
      <div
        class="dropzone"
        ng2FileDrop
        (fileOver)="fileOnDropzone($event)"
        [class.dropzone--with-content]="filePreviewPath"
        [class.dropzone--file-over]="onDropzone"
        type="file"
        [uploader]="uploader">
        <span>{{'PRODUCT_IMAGE_UPLOAD_DRAGDROP' | translate}}</span>
        <img [src]="filePreviewPath" class="image" [class.image--file-over]="onDropzone" width="250" *ngIf="filePreviewPath" />
      </div>
      <label class="select">
        <input type="file" ng2FileSelect [uploader]="uploader"/>
        {{'PRODUCT_IMAGE_UPLOAD_SELECT' | translate}}
      </label>
    </div>

    <div *ngIf="filePreviewPath" class="entity-view__card__actions">
      <div (click)="uploadImage()">{{'PRODUCT_IMAGE_UPLOAD_UPLOAD' | translate}}</div>
    </div>
  </div>

</div>
