<div class="entity-view__card">
  <div class="entity-view__card__header">
    <div>
      <div class="entity-view__card__header__title">{{'ORDERENGINE_SCHEMA_TITLE' | translate}}</div>
      <div class="entity-view__card__header__subtitle">{{'ORDERENGINE_SCHEMA_SUBTITLE' | translate}}</div>
    </div>
  </div>

  <div class="entity-view__card__content">
    <div class="schema__container">
      <div class="schema__column">
        <div class="schema__item"
             [class.schema__item--focused]="queues[0].selected"
             (click)="select(queues[0])"
        >{{queues[0].label}}</div>
        <dotted-line></dotted-line>
        <div class="schema__item"
             [class.schema__item--focused]="queues[1].selected"
             (click)="select(queues[1])"
        >{{queues[1].label}}</div>
        <angle-arrow></angle-arrow>
      </div>

      <div class="schema__column middle-column">
        <dotted-line class="rotated-line"></dotted-line>
      </div>

      <div class="schema__column">
        <ng-container *ngFor="let item of queues; let i = index;">
          <div *ngIf="item.schemaPosition === 'right'"
               class="schema__item"
               [class.schema__item--focused]="item.selected"
               (click)="select(item)"
          >{{item.label}}</div>
          <arrow *ngIf="item.schemaPosition === 'right' && i + 1 < queues.length"></arrow>

        </ng-container>
      </div>
    </div>
  </div>
</div>
