advanced-filter {
  display: block;
}

.filter-container {
  padding: 15px;
}

.schema-status-container {
  display: flex;
}

state-machine-schema {
  margin: 10px 10px 10px 15px;
  width: 50%;
}

state-machine-status {
  margin: 10px 10px 10px 15px;
  width: 50%;
}

state-machine-details {
  display: block;
  padding: 15px;
}
