<div class="schema-status-container">
  <state-machine-schema [items]="items" (itemSelected)="select($event)"></state-machine-schema>
  <state-machine-status [items]="items"></state-machine-status>
</div>

<div class="filter-container">
  <advanced-filter
    [date]="date"
    [onlyDates]="true"
    [refreshText]="'Refresh State Machine'"
    [shareUrl]="''"
    (dateChanged)="changeDate($event)">
  </advanced-filter>
</div>

<state-machine-details *ngIf="selectedItem" [item]="selectedItem"></state-machine-details>
