advanced-filter {
  display: block;
}

.filter-container {
  padding: 15px 15px 0;
}

.schema-status-container {
  display: flex;
}

state-machine-schema {
  margin: 15px 10px 0 15px;
  width: 50%;
}

state-machine-status {
  margin: 15px 5px 0 10px;
  width: 50%;
}

state-machine-details {
  display: block;
  padding: 5px 15px 15px;
}
