.side-search {
  background: #F0F3F4;

  mat-form-field {
    margin: 20px;
    width: 223px;
    background: rgba(0, 0, 0, 0.06);
    height: 36px;
    border-radius: 4px;
    padding-bottom: 16px;

    input {
      caret-color: #1EB1FC;
      margin-left: 14px;
    }
}

&__item {
  margin: 20px 30px 24px 20px;
  font-size: 16px;

  .selected {
    background-color: #E2E3E4;
  }

  &__title {
    margin-bottom: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  &__child {
    margin-bottom: 6px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 32px;
    cursor: pointer;
    margin-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 5px;

    &:hover {
      span {
        border-bottom: 1px solid;
      }
    }
  }
}

  .line {
    margin: 0 20px;
    height: 1px;
    width: 223px;
    background: rgba(0, 0, 0, 0.12);
  }
}
