<div class="container">
  <div class="item" *ngIf="termsAndConditions">
    <div class="title">{{'TERMS_OWNERCONDITIONS' | translate}}</div>
    <div class="revised-date" *ngIf="termsAndConditions.version">{{'TERMS_VERSION' | translate}} {{termsAndConditions.version}}</div>
    <button mat-button>{{'TERMS_DOWNLOAD' | translate}}</button>
  </div>
  <div class="line" *ngIf="licenceAgreement"></div>
  <div class="item" *ngIf="licenceAgreement">
    <div class="title">{{'REGISTER_LICENSEAGREEMENT' | translate}}</div>
    <div class="revised-date">{{'TERMS_VERSION' | translate}} </div>
    <button mat-button>{{'TERMS_DOWNLOAD' | translate}}</button>
  </div>
</div>
