<div class="entity-index">
  <div class="entity-index__title">
    {{'MERCHANTPROVIDERGROUP_INDEX_TITLE' | translate}}
  </div>

  <button mat-icon-button color="primary" *ngIf="hasWritePermission()" class="entity-index__add" (click)="openAddMode()"><mat-icon>add</mat-icon></button>

  <mat-card class="entity-index__card">
    <mat-card-content class="entity-index__card__content">

      <entities-table
        [data]="entities"
        [loaded]="initialLoaded"
        [columnParams]="columnParams"
        [filterString]="filterValue"
        [serverError]="serverError"
        (selected)="viewEntity($event.id)"

        [service]="service"
        (viewClicked)="viewEntity($event.id)"
        (copyClicked)="copyEntity($event.id)"
        (exportClicked)="exportEntity($event.id)"
        (editClicked)="editEntity($event.id)"
        (deleteClicked)="deleteEntity($event.id)"
        (deleteManyClicked)="deleteMany($event)"
        (refreshData)="refreshData()"

        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)"
        (filterChanged)="filterValue = $event"
        (searchChanged)="setSearchString($event)"
      >
      </entities-table>

    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <merchant-provider-group-add-new class="modal-center" [entity]="entity" (save)="createEntity($event)" (cancel)="closeAddMode()"></merchant-provider-group-add-new>
</div>
