<account-management-header [path]="['Roles']" [account]="account"></account-management-header>

<div class="body">
  <div class="header">
    <button mat-button (click)="addNewRole()">NEW</button>

    <div class="mrw-bi-input">
      <mat-form-field [floatLabel]="'never'">
        <input matInput type="text" placeholder="Find role..." [(ngModel)]="filterString">
      </mat-form-field>
    </div>

    <div class="count" *ngIf="allRoles">{{allRoles.length}} Roles</div>

    <div class="sort" [matMenuTriggerFor]="sortoptions">
      <div>Sort by <span>{{selectedSortBy ? ' ' + selectedSortBy.label : ''}}</span></div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #sortoptions="matMenu" x-position="before">
      <button mat-menu-item *ngFor="let sort of sortBy" (click)="applySortBy(sort)">{{sort.label}}</button>
    </mat-menu>
  </div>

  <div class="content-wrapper" *ngIf="allRoles">

    <div class="role-card" *ngFor="let role of allRoles | filterStrings: filterString: filterFunction">
      <div (click)="viewRole(role)" class="container">
        <div class="title">{{role.name}} {{role.isShared ? '(system role)' : ''}}</div>
        <div class="date">Created {{role.createdAt | formatDateTime}}</div>
        <div class="users" *ngIf="acls">{{getNumberOfUsers(role)}} Users</div>
      </div>

      <mat-icon *ngIf="!role.isShared" class="menu-icon" [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
      <mat-menu #actionsMenu="matMenu" x-position="before">
        <button mat-menu-item *ngIf="!role.isShared" (click)="deleteRole(role)">Delete</button>
      </mat-menu>
    </div>

  </div>

</div>
