<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Product</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="!addMode; else createMessage">
          {{entityBackup.name}}
        </span>
        <ng-template #createMessage>
          Create new Product
        </ng-template>
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">SCHEDULES</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 2" (click)="setIndex(2)">CAMPAIGNS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <form #productInputForm="ngForm" class="flex-custom">
        <div class="entity-view__card campaign-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">Product general details</div>
            <md-icon [md-menu-trigger-for]="editOptions">more_vert</md-icon>
            <md-menu #editOptions="mdMenu" x-position="before">
              <button *ngIf="!addMode" md-menu-item (click)="setMode(modes.Update)"> Edit Product</button>
            </md-menu>
          </div>

          <div class="entity-view__card__content">
            <div class="product-view__group">
              <md-input-container [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
                <input required md-input [disabled]="viewMode" placeholder="Product name" name="name" [(ngModel)]="entity.name" type="text">
              </md-input-container>

              <md-checkbox style="font-size: 14px;" [disabled]="viewMode" [checked]="entity.ship === 'true'" (change)="toggleShip()">Ship</md-checkbox>
            </div>

            <div class="product-view__group">
              <md-input-container [class.error]="formInvalid && !entity.sku" class="entity-view__card__content__item">
                <input required md-input [disabled]="viewMode" placeholder="SKU" name="sku" [(ngModel)]="entity.sku" type="text">
              </md-input-container>

              <md-input-container [class.error]="formInvalid && !entity.shippingDelay" class="entity-view__card__content__item">
                <input required md-input [disabled]="viewMode" placeholder="Shipping Delay" name="shippingDelay" [(ngModel)]="entity.shippingDelay" type="text">
              </md-input-container>
            </div>

            <autocomplete-input class="product-autocomplete-input"
                                [class.error]="formInvalid && (!entity.fulfillmentProvider || !entity.fulfillmentProvider.id)"
                                [initialValue]="entity.fulfillmentProvider.name"
                                [placeholder]="'Fulfillment Provider'"
                                [options]="fulfillmentProvidersService.entities$ | async"
                                [showCancelButton]="false"
                                [mapFunction]="fulfillmentProviderMapper"
                                [disabled]="viewMode"
                                [required]="true"
                                (selected)="entity.fulfillmentProvider = $event">
            </autocomplete-input>
          </div>

          <div *ngIf="!viewMode" class="entity-view__card__actions">
            <div *ngIf="updateMode" (click)="cancelUpdate()">CANCEL</div>
            <div (click)="save(productInputForm.form.valid)">SAVE</div>
          </div>
        </div>
      </form>

    </md-tab>

    <md-tab>
      <product-product-schedules [id]="entity.id"></product-product-schedules>
    </md-tab>

    <md-tab>
      <product-campaigns [id]="entity.id"></product-campaigns>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>
