<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <div class="flex-custom">
        <product-add-new (changeMode)="setMode($event)"
                         (cancel)="cancelProductUpdate()"
                         (deleteEntity)="deleteProduct()"
                         (save)="save($event)"
                         [mode]="viewMode ? modes.View : modes.Update"
                         [entity]="entity">
        </product-add-new>

        <product-attributes [attributes]="entityAttributes" [mode]="viewMode ? modes.View : modes.Update"></product-attributes>
      </div>
    </mat-tab>

    <mat-tab>
      <product-images
        [images]="entity.attributes.images"
        (imageUploaded)="addNewImage($event)"
        (imageDeleted)="deleteImage($event)"
        (imageUpdated)="updateImage($event)">
      </product-images>
    </mat-tab>

    <mat-tab>
      <product-product-schedules [id]="entity.id"
                                 [defaultPrice]="entity.defaultPrice"
                                 (allEntities)="setCanNotBeDeleted($event)">
      </product-product-schedules>
    </mat-tab>

    <mat-tab>
      <product-campaigns [id]="entity.id"></product-campaigns>
    </mat-tab>

    <mat-tab>
      <product-merchant-provider-group-associations [id]="entity.id"></product-merchant-provider-group-associations>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="5" [cardsExpression]="'436px;300px'" [title]="'PRODUCT_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
