.container {
  background: white;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.12);
}

.header {
  padding: 20px;

  .info {
    display: flex;
    align-items: center;

    div {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #202124;
    }

    button {
      font-size: 12px;
      color: #202124;
      background: #FAFAFA;
      border-radius: 4px;
      margin-left: 8px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      &:first-of-type {
        margin-left: auto;
      }
    }
  }
}

info-table {
  display: block;
  padding: 0 20px;
}

.products {
  padding: 10px;
  margin-top: 20px;
  border-top: 2px solid rgba(0,0,0,0.12);
  background: #FAFAFA;
}
