<div class="entity-view__table-component invoice-table" [class.invoice-table--no-pagination]="type !== 'PAST'">
  <div class="entity-view__table-component__header entity-view__table-component__header--homepage invoice-table__header">
    <div>
      <div class="entity-view__table-component__header__title">{{title | translate}}</div>
      <div class="invoice-table__subtitle">{{subtitle | translate}}</div>
    </div>
    <table-preferences
      [columnParams]="columnParams"
      [small]="true">
    </table-preferences>
  </div>
  <table class="highlight table__custom">
    <thead>
      <tr>
        <ng-container *ngFor="let params of columnParams">
          <ng-container *ngIf="params.selected">
            <th [class.cell--align-right]="params.align === 'right'">
              {{params.label | translate}}
            </th>
          </ng-container>
        </ng-container>
        <th style="width: 120px;"></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let entity of bills">
        <ng-container *ngFor="let params of columnParams">
          <ng-container *ngIf="params.selected">
            <td [class.cell--align-right]="params.align === 'right'" [style.color]="params.color || '#4a4a4a'">
              <ng-container *ngIf="params.number; else nan">{{params.mappingFunction(entity) | numberlocale}}</ng-container>
              <ng-template #nan>{{params.mappingFunction(entity)}}</ng-template>
            </td>
          </ng-container>
        </ng-container>
        <td>
          <div class="pay-button" *ngIf="type !== 'PAST'" (click)="pay.emit(entity)">{{'ACCOUNT_BILLING_PAY' | translate}}</div>
        </td>
        <td>
          <md-icon [md-menu-trigger-for]="actionsMenu">more_vert</md-icon>
          <md-menu #actionsMenu="mdMenu" x-position="before">
            <button md-menu-item (click)="view.emit(entity)">{{'ACCOUNT_BILLING_VIEW' | translate}}</button>
          </md-menu>
        </td>
      </tr>
    </tbody>
  </table>
  <table-loader *ngIf="loading" [numberOfRows]="loadingNumberOfRows"></table-loader>

  <div *ngIf="!loading && (!bills || bills.length === 0)" class="entity-view__no-results entity-view__no-results--table">{{ 'ACCOUNT_BILLING_NORESULTS' | translate}}</div>
  <table-pagination
    *ngIf="type === 'PAST'"
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>
