.entity-list {
  margin: 15px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &__title {
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
  }

  &__item {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &__title {
      margin-bottom: 10px;
      color: #4089E0;
      font-size: 18px;
    }

    &__fields {
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.5);

      &__single {
        margin: 5px 20px 5px 0;
      }

      &__key {

      }

      &__value {

      }
    }

  }

  &__view-more {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: #3AB0EA;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
