.entity-list {
  background: #ffffff;

  &__title {
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
  }

  &__item {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;

    &:hover {
      background: #E3F6FE;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 10px;
      color: rgba(0,0,0,0.85);
    }

    &__subtitle {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      text-transform: capitalize;
    }

    &__date {
      font-size: 12px;
      color: rgba(0,0,0,0.6);
    }

    &__type {
      margin-left: auto;
      margin-right: 20px;
      padding: 3px 10px;
      background: rgba(0,0,0,0.35);
      color: white;
      border-radius: 8px;
      font-size: 12px;
    }
  }
}
