.entity-list {
  background: #ffffff;

  &__title {
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
  }

  &__item {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &__title {
      color: #4089E0;
      font-size: 18px;
    }

    &__subtitle {
      margin-bottom: 10px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.7);
      text-transform: capitalize;
    }

    &__fields {
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.5);

      &__single {
        margin: 5px 20px 5px 0;
      }

      &__key {

      }

      &__value {

      }
    }

  }
}
