.copy-icon {
  margin: auto 0 auto auto;
  cursor: pointer;
  color: #4a4a4a;
  width: 20px;
  height: 20px;
}

.entity-view__card {
  width: 100%;
  max-width: 400px;
}

.number-input {
  margin-right: 25px;
  width: 100%;
}
