<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">{{'SHIPPINGRECEIPT_TITLE' | translate}}</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">{{'SINGLEPAGE_CREATED' | translate}}: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span>
          {{entityBackup.id}}
        </span>
      </div>
    </div>
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom">

        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'SHIPPINGRECEIPT_INFO_TITLE' | translate}}</div>
            <md-icon [md-menu-trigger-for]="actionsMenu">more_vert</md-icon>
            <md-menu #actionsMenu="mdMenu" x-position="before">
              <button md-menu-item (click)="goToFulfillmentProvider()">{{'SHIPPINGRECEIPT_INFO_FULFILLMENTPROVIDERVIEW' | translate}}</button>
            </md-menu>
          </div>

          <div class="entity-view__card__content">
            <md-input-container class="entity-view__card__content__item">
              <input md-input disabled placeholder="{{'SHIPPINGRECEIPT_INFO_STATUS' | translate}}" [(ngModel)]="entity.status" type="text">
            </md-input-container>

            <div class="flex-custom">
              <md-input-container class="entity-view__card__content__item number-input">
                <input md-input disabled placeholder="{{'SHIPPINGRECEIPT_INFO_NUMBER' | translate}}" [(ngModel)]="entity.trackingNumber" type="text">
              </md-input-container>
              <md-icon *ngIf="entity.trackingNumber" class="copy-icon" md-tooltip="Copy to clipboard" ngxClipboard [cbContent]="entity.trackingNumber">content_copy</md-icon>
            </div>

            <md-input-container class="entity-view__card__content__item">
              <input md-input disabled placeholder="{{'SHIPPINGRECEIPT_INFO_FULFILLMENTPROVIDER' | translate}}" [(ngModel)]="entity.fulfillmentProvider.name" type="text">
            </md-input-container>
          </div>
        </div>

        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'SHIPPINGRECEIPT_HISTORY_TITLE' | translate}}</div>
          </div>

          <div class="history-container">
            <div class="flex-custom" *ngFor="let event of entity.history; let i = index">

              <div>
                <div class="done-icon">
                  <md-icon>done</md-icon>
                </div>

                <div *ngIf="i < entity.history.length - 1" class="line"></div>
              </div>

              <div class="info-container">
                <div class="name">{{event.status}}</div>
                <div class="time" *ngIf="event.createdAt">
                  {{event.createdAt.format('MM/DD/YYYY h:mm a')}}
                </div>
                <div class="warning">{{event.detail}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </md-tab>

  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [numberOfCards]="1" [title]="'SHIPPINGRECEIPT_TITLE' | translate"></spe-loader>
</ng-template>


