<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.id"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>

      <div class="flex-custom">

        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'SHIPPINGRECEIPT_INFO_TITLE' | translate}}</div>
            <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
            <mat-menu #actionsMenu="matMenu" x-position="before">
              <button mat-menu-item (click)="goToFulfillmentProvider()">{{'SHIPPINGRECEIPT_INFO_FULFILLMENTPROVIDERVIEW' | translate}}</button>
              <button mat-menu-item (click)="goToRebill()">View Order</button>
            </mat-menu>
          </div>

          <div class="entity-view__card__content">
            <mat-form-field class="entity-view__card__content__item">
              <input matInput disabled placeholder="Order ID" [(ngModel)]="entity.rebill.alias" type="text">
            </mat-form-field>

            <div class="flex-custom">
              <mat-form-field class="entity-view__card__content__item number-input">
                <input matInput disabled placeholder="{{'SHIPPINGRECEIPT_INFO_NUMBER' | translate}}" [(ngModel)]="entity.tracking.id" type="text">
              </mat-form-field>
              <mat-icon *ngIf="entity.tracking.id" class="copy-icon" matTooltip="{{'SHARE_COPY' | translate}}" ngxClipboard [cbContent]="entity.tracking.id">content_copy</mat-icon>
            </div>

            <div class="flex-custom">
              <mat-form-field class="entity-view__card__content__item number-input">
                <input matInput disabled placeholder="{{'SHIPPINGRECEIPT_INFO_CARRIER' | translate}}" [(ngModel)]="entity.tracking.carrier" type="text">
              </mat-form-field>
              <mat-icon *ngIf="entity.tracking.id" class="copy-icon" matTooltip="{{'SHARE_COPY' | translate}}" ngxClipboard [cbContent]="entity.tracking.carrier">content_copy</mat-icon>
            </div>

            <mat-form-field class="entity-view__card__content__item">
              <input matInput disabled placeholder="{{'SHIPPINGRECEIPT_INFO_FULFILLMENTPROVIDER' | translate}}" [(ngModel)]="entity.fulfillmentProvider.name" type="text">
            </mat-form-field>
          </div>
        </div>

      </div>

    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [cardsExpression]="'400px'" [title]="'SHIPPINGRECEIPT_INDEX_TITLE' | translate"></spe-loader>
</ng-template>


