<div class="dropdown-component" [class.dropdown-component--with-placeholder]="showFloatingPlaceholder && mapper(selected) && placeholder">
  <div class="dropdown-component__placeholder" *ngIf="showFloatingPlaceholder && mapper(selected) && placeholder">
    {{placeholder}}{{required ? ' *' : ''}}
  </div>
  <div class="dropdown-component__text"
        [class.dropdown-component__text--selected]="mapper(selected)"
        [class.dropdown-component__text--unselected]="!mapper(selected)"
        [class.dropdown-component__text--disabled]="disabled"
        [class.dropdown-component__text--with-placeholder]="showFloatingPlaceholder && !mapper(selected) && placeholder"
        [class.dropdown-component__text--with-placeholder--disabled]="showFloatingPlaceholder && mapper(selected) && placeholder"
        (click)="toggleDropdown()">
    <span>{{mapper(selected) ? mapper(selected) : placeholder + (required ? ' *' : '')}}</span>
    <md-icon *ngIf="!disabled">keyboard_arrow_down</md-icon>
  </div>
  <div class="dropdown-component__options" [class.dropdown-component__options--with-placeholder]="showFloatingPlaceholder && placeholder" *ngIf="showDropdown">
    <div class="dropdown-component__options__item" *ngFor="let option of options" (click)="select(option)">{{mapper(option)}}</div>
  </div>
</div>
