<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name">
    <entity-view-tag *ngIf="tagsService.hasReadPermission()" [inAssociatedTags]="true" [entityId]="entityId"></entity-view-tag>
  </blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <div class="flex-custom flex-custom--wrap">

        <merchant-provider-add-new [entity]="entity"
                                   [mode]="viewMode ? modes.View : modes.Update"
                                   [formInvalid]="formInvalid"
                                   (cancel)="cancelUpdate()"
                                   (changeMode)="setMode($event)"
                                   (save)="saveProvider($event)">
        </merchant-provider-add-new>

      </div>
    </mat-tab>

    <mat-tab>
      <coming-soon [inPage]="true"></coming-soon>
    </mat-tab>

    <mat-tab>
      <table-memory class="merchant-provider-view__merchant-groups"
                    [data]="entity.merchantProviderGroups || []"
                    [textOptions]="merchantProviderGroupText"
                    [associationEnabled]="false"
                    [columnParams]="merchantProviderGroupColumnParams"
                    [associateDataMapper]="merchantProviderGroupMapper"
                    [dissociationEnabled]="false"
                    (view)="navigateToMerchantProviderGroup($event)">
      </table-memory>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="3" [cardsExpression]="'300px;300px;300px;300px'" [title]="'MERCHANTPROVIDER_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
