<div class="top-line">DAYS</div>

<div class="view-container" drag-scroll-x>
  <div class="infinity-container">
    <div *ngFor="let productSchedule of productSchedules"
         class="schedule-container"
         [style.height]="productSchedule.detailedListOpened ? (productSchedule.schedules.length + 1) * cellheight + 'px' : cellheight + 'px'">
      <ng-container *ngFor="let schedule of productSchedule.schedules; let i = index">
        <div *ngIf="!schedule.end"
             class="item"
             [style.top]="productSchedule.detailedListOpened ? (i + 1) * cellheight + 8 + 'px' : '8px'">
          <md-icon>
            autorenew
          </md-icon>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="timeline-container"
       [style.width]="(365 / _zoom) * cellwidth + 20 + 'px'"
       [style.background-position-x]="cellwidth / (2*_zoom) + 'px'"
       [style.background-size]="cellwidth / _zoom + 'px 46px'">

    <div class="timeline-body">
      <div class="timeline-header">
        <div></div>
        <ng-container *ngFor="let measure of measureArray">
          <div [style.left]="(measure) * cellwidth + cellwidth / (2*_zoom) + 'px'">
            {{measure * _zoom}}
          </div>
        </ng-container>
      </div>

      <div *ngIf="!singleScheduleMode" class="date-placeholder" [style.left]="((_diff * cellwidth) / _zoom) + 'px'">
        <div class="date-placeholder__box">
          {{today}}
          <div class="date-placeholder__box__pointer"></div>
        </div>
        <div class="date-placeholder__line"></div>
      </div>

      <ng-container *ngFor="let productSchedule of productSchedules">
        <div class="product-schedule-container"
             [class.item-selected]="productSchedule.detailedListSelected"
             [style.height]="productSchedule.detailedListOpened ? (productSchedule.schedules.length + 1) * cellheight + 'px' : cellheight + 'px'">

          <ng-container *ngFor="let schedule of productSchedule.schedules; let scheduleNum = index">
            <div [class.item-selected]="schedule.detailedListSelected">
              <ng-container *ngFor="let cycle of schedule.cycles; let cycleNum = index">
                <div class="cycle-container"
                     [style.z-index]="productSchedule.detailedListOpened ? productSchedule.schedules.length + 2 - scheduleNum : schedule.detailedListSelected ? 999 : cycle.start + 2"
                     [class.cycle-container--slow]="cycle.dragDiff !== 0 || cycle.dragdiffDiff !== 0"
                     [style.padding-left]="cycleNum === 0 ? '2px' : 0"
                     [style.padding-right]="cycleNum === schedule.cycles.length - 1 ? '2px' : 0"
                     [style.width]="(cycle.diff * cellwidth) / _zoom + + cycle.dragdiffDiff + 'px'"
                     [style.left]="((cycle.start + 0.5) * cellwidth) / _zoom + cycle.dragDiff + 'px'">
                  <div class="tail"
                       [style.height]="productSchedule.detailedListOpened ? (scheduleNum + 1) * cellheight + 'px' : 0"
                       [style.background]="cycle.start < _diff ? greenTail : blueTail">
                  </div>
                  <div class="bar"
                       (click)="selected.emit(schedule)"
                       [style.background]="cycle.start < _diff ? green : blue">
                    <div
                      class="body"
                      draggable="true"
                      (dragstart)="dragStarted($event, schedule)"
                      (drag)="drag($event, schedule)"
                      (dragend)="dragEnded($event, schedule)">
                      {{_start.clone().add(cycle.start, 'd').format('MMM DD, YYYY')}}
                    </div>
                    <div class="resizer"
                         draggable="true"
                         (dragstart)="dragResizeStarted($event, schedule)"
                         (drag)="dragResize($event, schedule)"
                         (dragend)="dragResizeEnded($event, schedule)">
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </ng-container>

        </div>
      </ng-container>

      <ng-container *ngFor="let product of products">
        <div class="product-container" [style.margin-left]="cellwidth / (2*_zoom) + 'px'">
          <ng-container *ngIf="product.getDefaultImagePath(); else defaultimage">
            <div class="image" [style.background-image]="'url(' + product.getDefaultImagePath() + ')'"></div>
          </ng-container>

          <ng-template #defaultimage>
            <div class="image image--default"></div>
          </ng-template>

          <div class="text">{{product.name}}</div>
        </div>
      </ng-container>

    </div>

  </div>
</div>
