.top-line {
  position: relative;
  height: 26px;
  line-height: 26px;
  width: 100%;
  background: white;
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
  padding-left: 5px;
}

.view-container {
  min-width: 100%;
  height: calc(100% - 26px);
  width: 1px;
  overflow: auto;
  min-height: calc(100vh - 420px);
  transition: height 0.6s cubic-bezier(0.35, 0, 0.25, 1);

  .infinity-container {
    position: absolute;
    right: 6px;
    top: 46px;
    z-index: 999;

    .schedule-container {
      min-width: 1px;
      position: relative;
      transition: height 0.6s cubic-bezier(0.35, 0, 0.25, 1);
    }

    .item {
      position: absolute;
      display: flex;
      right: 0;
      z-index: 3;
      border-radius: 5px;
      height: 29px;
      width: 29px;
      background: white;
      transition: top 0.6s cubic-bezier(0.35, 0, 0.25, 1);

      md-icon {
        margin: auto;
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: #8E8E8E;
      }
    }
  }
}

.timeline-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-position-y: 20px;
  background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
  transition: background-size 250ms ease-in-out;

  .date-placeholder {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    transition: left 0.6s cubic-bezier(0.35, 0, 0.25, 1);

    &__box {
      padding: 4px 6px;
      background: #373737;
      color: white;
      border-radius: 3px;
      font-weight: 500;
      font-size: 9px;
      transform: translateX(-50%);

      &__pointer {
        position: absolute;
        left: calc(50% + 1px);
        transform: translateX(-50%);
        bottom: -6px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #373737;
      }
    }

    &__line {
      width: 2px;
      background: #373737;
      height: 100%;
    }
  }

  .timeline-header {
    position: relative;
    height: 20px;

    div {
      position: absolute;
      display: inline-block;
      width: 65px;
      background: #F3F3F3;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
      color: rgba(0,0,0,0.45);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .timeline-body { }

  .product-schedule-container {
    display: flex;
    width: 100%;
    height: 46px;
    transition: height 0.6s cubic-bezier(0.35, 0, 0.25, 1);
  }

  .infinite {
    position: absolute;
    z-index: 3;
    transition: top 0.6s cubic-bezier(0.35, 0, 0.25, 1);
  }

  .item-selected {
    .bar {
      border: 3px solid #24F5FE;
      margin: -3px;
    }
  }

  .cycle-container {
    position: absolute;
    height: 46px;
    padding: 6px 0;
    box-sizing: border-box;
    transition: width 250ms ease-in-out, height 250ms ease-in-out, left 250ms ease-in-out;

    &--slow {
      transition: width 50ms ease-in-out, height 250ms ease-in-out, left 50ms ease-in-out;
    }

    .tail {
      border-radius: 5px 5px 0 0;
      transition: height 0.6s cubic-bezier(0.35, 0, 0.25, 1);
    }

    .bar {
      display: flex;
      color: white;
      font-size: 11px;
      font-weight: 500;
      border-radius: 5px;
      height: 34px;
      line-height: 34px;
      padding-left: 8px;
      cursor: pointer;
    }

    .body {
      width: 100%;
    }

    .resizer {
      width: 10px;
      margin-right: -4px;
      cursor: col-resize;
    }
  }
}
