<div class="view-container" #container drag-scroll-x (scroll)="scrolled($event)">
  <div class="infinity-container">
    <div *ngFor="let productSchedule of productSchedules"
         class="schedule-container"
         [style.height]="productSchedule.detailedListOpened ? (productSchedule.schedules.length + 1) * cellheight + 'px' : cellheight + 'px'">
      <ng-container *ngFor="let schedule of productSchedule.schedules; let i = index">
        <div *ngIf="!schedule.end"
             class="item"
             [style.top]="productSchedule.detailedListOpened ? (i + 1) * cellheight + 8 + 'px' : '8px'">
          <mat-icon>autorenew</mat-icon>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="timeline-container"
       [style.width]="(days / _zoom) * cellwidth + 20 + 'px'"
       [style.background-position-x]="'8px'"
       [style.background-size]="cellwidth + 'px ' + cellheight + 'px'">

    <div class="timeline-body">
      <div class="timeline-header">
        <div class="item" style="width: 8px"><div class="item__text"></div><div class="item__background"></div></div>
        <ng-container *ngFor="let measure of measureArray">
          <div class="item" [style.left]="(measure) * cellwidth + 8 + 'px'">
            <div class="item__text">
              {{measure * _zoom}}
            </div>
            <div class="item__background" [style.background-size]="cellwidth / _zoom + 'px 26px'"></div>
          </div>
        </ng-container>
      </div>

      <div *ngIf="!singleScheduleMode" class="date-placeholder" [style.left]="(_diff * cellwidth) / _zoom + 8 + 'px'">
        <div class="date-placeholder__box">
          {{today}}
          <div class="date-placeholder__box__pointer"></div>
        </div>
        <div class="date-placeholder__line"></div>
      </div>

      <ng-container *ngFor="let productSchedule of productSchedules; let productScheduleNum = index">
        <div class="product-schedule-container"
             [class.item-selected]="productSchedule.detailedListSelected"
             [style.height]="productSchedule.detailedListOpened ? (productSchedule.schedules.length + 1) * cellheight + 'px' : cellheight + 'px'">

          <ng-container *ngFor="let schedule of productSchedule.schedules; let scheduleNum = index">
            <div [class.item-selected]="schedule.detailedListSelected">
              <ng-container *ngFor="let cycle of schedule.cycles; let cycleNum = index">
                <div class="cycle-flag"
                     *ngIf="(!schedule.sameDayOfMonth || schedule.instantiationDate) && (schedule.detailedListSelected || productSchedule.detailedListSelected)"
                     [class.cycle-flag--slow]="cycle.dragDiff !== 0 || cycle.dragdiffDiff !== 0"
                     [class.cycle-flag--active]="cycle.start === schedule.start && schedule.detailedListSelected"
                     [style.height]="getHeight(productScheduleNum, scheduleNum)"
                     [style.left]="(cycle.start * cellwidth) / _zoom + cycle.dragDiff + 8 + 'px'">
                  <div class="date-box">
                    {{singleScheduleMode ? 'Day ' + cycle.start : _start.clone().add(cycle.start, 'd').format('MMM DD')}}
                  </div>
                </div>
                <div class="cycle-container--wrapper">
                  <div *ngIf="(schedule.detailedListSelected && cycle.start === schedule.start) || (productSchedule.detailedListSelected && !productSchedule.detailedListOpened && cycle.order === 1)"
                       class="cycle-container--background"
                       [style.width]="days * cellwidth + 'px'"
                       [style.background]="canceled ? grayBackground : cycle.start < _diff ? greenBackground : blueBackground"
                       [style.top]="productSchedule.detailedListOpened ? (scheduleNum + 1) * cellheight + 'px' : 0">
                  </div>
                  <div *ngIf="cycle.dragInProgress"
                       class="cycle-container--fixed"
                       [style.top]="productSchedule.detailedListOpened ? (scheduleNum + 1) * cellheight + 'px' : 0"
                       [style.width]="(cycle.diff * cellwidth) / _zoom + 'px'"
                       [style.left]="(cycle.start * cellwidth) / _zoom + 8 + 'px'">
                    <div class="content"
                         [style.color]="canceled ? 'white' : cycle.start < _diff ? greenText : blueText"
                         [class.content--border-left]="cycle.start === schedule.start"
                         [class.content--border-right]="cycle.end === schedule.end">
                      <div [class.content--right]="(cycle.end === schedule.end && cycle.start !== schedule.start) || cycle.dragdiffDiff !== 0">
                        {{calculateDaysDiff(cycle, schedule)}}
                      </div>
                    </div>
                  </div>
                  <div class="cycle-container"
                       [style.z-index]="(cycle.dragInProgress || schedule.detailedListSelected) ? 995 : productSchedule.detailedListOpened ? productSchedule.schedules.length + 2 - scheduleNum : cycle.order + 2"
                       [class.cycle-container--slow]="cycle.dragDiff !== 0 || cycle.dragdiffDiff !== 0"
                       [style.top]="productSchedule.detailedListOpened ? (scheduleNum + 1) * cellheight + 'px' : 0"
                       [style.width]="(cycle.diff * cellwidth) / _zoom + cycle.dragdiffDiff + 'px'"
                       [style.left]="(cycle.start * cellwidth) / _zoom + cycle.dragDiff + 8 + 'px'">
                    <div class="bar"
                         (click)="selected.emit(schedule)"
                         [class.bar--drag-in-progress]="cycle.dragInProgress"
                         [class.bar--border-left]="cycle.start === schedule.start"
                         [class.bar--border-right]="cycle.end === schedule.end"
                         [style.border-color]="canceled || schedule.detailedListSelected || productSchedule.detailedListSelected ? 'rgba(0,0,0,0.55)' : cycle.start < _diff ? greenSelected : blueSelected"
                         [style.background]="canceled ? grayBackground : (schedule.detailedListSelected || productSchedule.detailedListSelected) ? cycle.start < _diff ? greenSelected : blueSelected : cycle.start < _diff ? green : blue">
                      <div class="body"
                           [draggable]="editable"
                           [style.color]="schedule.detailedListSelected || productSchedule.detailedListSelected || canceled ? 'white' : cycle.start < _diff ? greenText : blueText"
                           (dragstart)="dragStarted($event, schedule, productSchedule)"
                           (drag)="drag($event, schedule, productSchedule)"
                           (dragend)="dragEnded($event, schedule, productSchedule)">
                        <div *ngIf="cycle.start === schedule.start" class="order" [style.background]="canceled ? 'black' : cycle.start < _diff ? greenText : blueText">
                          <span>{{ cycle.order }}</span>
                        </div>
                        <ng-container>
                          <span class="name" [draggable]="editable">
                            {{ productSchedule['detailedListOpened'] ? cycle.start === schedule.start ? schedule.product.name : '' : cycle.stack === 1 ? cycle.start === schedule.start ? schedule.product.name : '' : cycle.stack + ' Items' }}
                          </span>
                          <ng-container *ngIf="productSchedule['detailedListOpened'] || cycle.stack < 2">
                            <span *ngIf="schedule.sameDayOfMonth; else customduration" [draggable]="editable" class="duration"><mat-icon>loop</mat-icon> Monthly</span>

                            <ng-template #customduration>
                              <span [draggable]="editable" class="duration" *ngIf="schedule.cycles.length === 1"> {{cycle.diff + (cycle.durationDragInProgress ? cycle.dragdiffDays : 0)}} Days </span>
                              <span [draggable]="editable" class="duration" *ngIf="cycleNum > 0 && (cycleNum === 1 || (cycleNum === (schedule.cycles.length - 1)))"> <mat-icon>loop</mat-icon> Every {{schedule.period + (cycle.periodDragInProgress ? cycle.dragdiffDays : 0)}} days </span>
                            </ng-template>
                          </ng-container>
                        </ng-container>
                      </div>
                      <div class="resizer"
                           [draggable]="editable"
                           (dragstart)="dragResizeStarted($event, schedule, cycleNum)"
                           (drag)="dragResize($event, schedule, cycleNum)"
                           (dragend)="dragResizeEnded($event, schedule, cycleNum)">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </ng-container>

        </div>
      </ng-container>

      <ng-container *ngFor="let product of products">
        <div class="product-container" [style.margin-left]="'8px'">
          <ng-container *ngIf="product.getDefaultImagePath(); else defaultimage">
            <div (click)="selected.emit(product)" class="image" [style.background-image]="'url(' + product.getDefaultImagePath() + ')'"></div>
          </ng-container>

          <ng-template #defaultimage>
            <div (click)="selected.emit(product)" class="image image--default"></div>
          </ng-template>

          <div (click)="selected.emit(product)" class="text">{{product.name}}</div>
        </div>
      </ng-container>

    </div>

  </div>
</div>
