<div class="timeline-container">

  <div class="timeline-body">

    <div class="timeline-header">
      <ng-container *ngFor="let measure of measureArray">
        <div [style.left]="measure * cellwidth + 'px'">
          {{measure * _zoom}}
        </div>
      </ng-container>
    </div>

    <ng-container *ngFor="let productSchedule of productSchedules">
      <div class="product-schedule-container" [style.height]="productSchedule.detailedListOpened ? (productSchedule.schedules.length + 1) * cellheight + 'px' : cellheight + 'px'">

        <ng-container *ngFor="let schedule of productSchedule.schedules; let scheduleNum = index">
          <div class="schedule-container">

            <ng-container *ngFor="let cycle of schedule.cycles; let cycleNum = index">
              <div class="cycle-container"
                   [style.width]="(cycle.diff * cellwidth) / _zoom + 'px'"
                   [style.left]="(cycle.start * cellwidth) / _zoom + 'px'">
                <div class="tail"
                     [style.height]="productSchedule.detailedListOpened ? (scheduleNum + 1) * cellheight + 'px' : 0"
                     [style.background]="cycleNum % 2 === 0 ? 'rgba(53, 94, 245, 0.25)' : 'rgba(47, 195, 97, 0.25)'">
                </div>
                <div class="bar" (click)="selected.emit(schedule)" [style.background]="cycleNum % 2 === 0 ? '#355EF5' : '#2FC361'">
                  {{cycleNum}}
                </div>
              </div>
            </ng-container>

          </div>
        </ng-container>

      </div>
    </ng-container>

  </div>

</div>
