@import "../../../../assets/scss/colors";

.invisible {
  display: none !important;
}

.bulk-actions {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 12px;
  width: 500px;
  background: rgba(51, 51, 51, 0.8);

  .number {
    margin-left: auto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
  }

  .options {
    margin: 0 8px;

    &__selected {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      width: 180px;
      box-sizing: border-box;
      background: #ffffff;
      border-radius: 2px;
      cursor: pointer;

      mat-icon {
        margin-left: auto;
        font-size: 18px;
        width: 18px;
        height: 18px;
      }

    }
  }

  button {
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
    font-size: 13px;

    &:first-of-type {
      color: $dark-color;
      background: #ffffff;
    }

    &:last-of-type {
      color: white;
      background: $main-color-300;
    }
  }
}
