<div class="bulk-actions" [class.invisible]="getNumberOfSelected() === 0">
  <button mat-button (click)="cancel.emit(true)">CANCEL</button>
  <div class="number">{{getNumberOfSelected()}} Selected</div>

  <div class="options" [matMenuTriggerFor]="optionsMenu">
    <div class="options__selected"> {{selectedOption || '-'}} <mat-icon>keyboard_arrow_down</mat-icon></div>
  </div>

  <mat-menu #optionsMenu="matMenu" x-position="before">
    <button mat-menu-item *ngFor="let option of options" (click)="selectedOption = option">{{option}}</button>
  </mat-menu>

  <button mat-button (click)="applyOption.emit(selectedOption)">APPLY</button>
</div>