<div class="container">

  <div class="plan">
    <div class="name">{{'PAYMENT_PLANS_BASIC' | translate}}</div>

    <div class="item">
      <div class="value">$0.06</div>
      <div class="key">{{'PAYMENT_PLANS_PERTRANSACTION' | translate}}</div>
    </div>

    <div class="item">
      <div class="value">$30</div>
      <div class="key">{{'PAYMENT_PLANS_MINIMUM' | translate}}</div>
    </div>

    <div class="item">
      <div class="value">1</div>
      <div class="key">{{'PAYMENT_PLANS_CAMPAIGN' | translate}}</div>
    </div>

    <button mat-button (click)="selectBasic()">{{'PAYMENT_PLANS_CHOOSE' | translate}}</button>
  </div>

  <div class="plan">
    <div class="name">{{'PAYMENT_PLANS_PROFESSIONAL' | translate}}</div>

    <div class="item">
      <div class="value">$0.06</div>
      <div class="key">{{'PAYMENT_PLANS_PERTRANSACTION' | translate}}</div>
    </div>

    <div class="item">
      <div class="value">$150</div>
      <div class="key">{{'PAYMENT_PLANS_MINIMUM' | translate}}</div>
    </div>

    <div class="item">
      <div class="value">{{'PAYMENT_PLANS_UNLIMITED' | translate}}</div>
      <div class="key">{{'PAYMENT_PLANS_CAMPAIGN' | translate}}</div>
    </div>

    <button mat-button (click)="selectProfessional()">{{'PAYMENT_PLANS_CHOOSE' | translate}}</button>
  </div>


  <div class="plan">
    <div class="name">{{'PAYMENT_PLANS_PREMIUM' | translate}}</div>

    <div class="item">
      <div class="value">$2000</div>
      <div class="key">{{'PAYMENT_PLANS_PERMONTH' | translate}}</div>
    </div>

    <div class="item">
      <div class="value">No</div>
      <div class="key">{{'PAYMENT_PLANS_TRANSACTIONFEE' | translate}}</div>
    </div>

    <div class="item">
      <div class="value">{{'PAYMENT_PLANS_UNLIMITED' | translate}}</div>
      <div class="key">{{'PAYMENT_PLANS_CAMPAIGN' | translate}}</div>
    </div>

    <button mat-button (click)="selectPremium()">{{'PAYMENT_PLANS_CHOOSE' | translate}}</button>
  </div>

</div>
