.container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", serif;

  .plan {
    padding: 20px 0 24px;
    background: #FAFAFA;
    width: 360px;
    margin: 0 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;

    &--selected {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.22), 0 4px 4px rgba(0,0,0,0.22);
      transition: all 250ms;
    }

    &--nonselected {
      background: rgba(255,255,255,0.7);
      transition: all 250ms;

      button {
        color: rgba(0, 0, 0, 0.26) !important;
        background: rgba(0, 0, 0, 0.12) !important;
        transition: all 250ms;
      }
    }

    .name {
      color: #4277C2;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 38px;
    }

    .item {
      margin-bottom: 46px;

      .key {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.54);
      }

      .value {
        font-size: 40px;
        color: #4277C2;
        font-weight: 300;
      }
    }

    button {
      margin-top: 10px;
      background: #1EBEA5;
      color: white;
      border-radius: 2px;
      font-size: 14px;
      padding: 6px 50px;
      text-transform: uppercase;
    }
  }
}
