<div class="container">

  <div class="plan">
    <div class="name">Basic</div>

    <div class="item">
      <div class="value">$0.06</div>
      <div class="key">per transaction</div>
    </div>

    <div class="item">
      <div class="value">$30</div>
      <div class="key">minimum per month</div>
    </div>

    <div class="item">
      <div class="value">1</div>
      <div class="key">campaign</div>
    </div>

    <button mat-button (click)="selectBasic()">CHOOSE</button>
  </div>

  <div class="plan">
    <div class="name">Professional</div>

    <div class="item">
      <div class="value">$0.06</div>
      <div class="key">per transaction</div>
    </div>

    <div class="item">
      <div class="value">$150</div>
      <div class="key">minimum per month</div>
    </div>

    <div class="item">
      <div class="value">Unlimited</div>
      <div class="key">campaign</div>
    </div>

    <button mat-button (click)="selectProfessional()">CHOOSE</button>
  </div>


  <div class="plan">
    <div class="name">Premium</div>

    <div class="item">
      <div class="value">$2000</div>
      <div class="key">per month</div>
    </div>

    <div class="item">
      <div class="value">No</div>
      <div class="key">transaction fees</div>
    </div>

    <div class="item">
      <div class="value">Unlimited</div>
      <div class="key">campaign</div>
    </div>

    <button mat-button (click)="selectPremium()">CHOOSE</button>
  </div>

</div>
