<div *ngIf="creditCard" class="container">

  <div class="title" [class.title--no-border]="!hideDefaultCardSelection">{{creditCard.id ? 'Edit Card ****' + creditCard.lastFour : 'Add New Card' }}</div>

  <div *ngIf="!hideDefaultCardSelection" class="checkbox-container">
    <mat-checkbox [(ngModel)]="isDefaultCreditCard"></mat-checkbox>
    <div>Make this my default card</div>
  </div>

  <payment-form [creditCard]="creditCard"></payment-form>

  <div class="buttons">
    <button mat-button (click)="close()">CANCEL</button>
    <button mat-button (click)="submit()">SAVE</button>
  </div>
</div>
