.email-template-view {

  &__input {
    max-width: 200px;
  }

}

.entity-view__card--update {
  margin: 0;
  width: 100% !important;
  min-width: 100% !important;
  text-align: left;
  background: #EAF5FD;
}

.input-form {
  width: 650px;
  font-size: 16px;
}

.text {
  font-size: 12px;
  margin-top: 20px;
  color: #b71c1c;
  cursor: pointer;
}

.entity-view__card__content--update {
  padding: 5px 10px;
}

.entity-view__card__actions--update {
  padding: 5px 10px 10px;
}

.error {
  .content {
    border-color: #DC2547 !important;

    span {
      color: #DC2547 !important;
    }
  }
}

.dropdown {
  &--last {
    margin: 15px 0;
  }

  .placeholder {
    height: 0.84375em;
    line-height: 0.84375em;
    color: rgba(0, 0, 0, 0.54);
    transform: translateX(-12.5%) scale(0.75);
    font-weight: 500;
  }

  .content {
    display: flex;
    align-items: center;
    padding: 0.4375em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    cursor: pointer;

    &--empty {
      span {
        color: rgba(0, 0, 0, 0.54);
      }
    }

    mat-icon {
      margin-left: auto;
      height: 18px;
      width: 18px;
      font-size: 18px;
    }
  }
}
