<div class="entity-view__card input-form" [class.entity-view__card--create]="mode === modes.Add" [class.entity-view__card--update]="mode === modes.Update">
  <div class="entity-view__card__header" *ngIf="mode === modes.Add">
    <div class="entity-view__card__header__title">{{'EMAILTEMPLATE_INFO_CREATETITLE' | translate}}</div>
  </div>

  <form form #emailTemplateInput="ngForm" class="entity-view__card__content" [class.entity-view__card__content--update]="mode === modes.Update">

    <div class="flex-custom">
      <mat-form-field [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item email-template-view__input">
        <input auto-focus required matInput [disabled]="mode === modes.View" placeholder="{{'EMAILTEMPLATE_INFO_NAME' | translate}}" name="name" [(ngModel)]="entity.name" type="text">
      </mat-form-field>

      <mat-slide-toggle class="slider-blue" [(ngModel)]="entity.enabled" name="enabled"></mat-slide-toggle>
    </div>

    <div class="dropdown email-template-view__input" [class.error]="formInvalid && !entity.type">
      <div class="placeholder">
        {{entity.type ? 'Template Type *' : ''}}
      </div>
      <div class="content" [class.content--empty]="!entity.type" [matMenuTriggerFor]="typeOptions">
        <span>{{mapper(entity.type) || 'Template Type *'}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #typeOptions="matMenu" x-position="before">
        <button mat-menu-item *ngFor="let type of types" (click)="entity.type = type">{{mapper(type)}}</button>
      </mat-menu>
    </div>

    <div class="dropdown dropdown--last email-template-view__input" [class.error]="formInvalid && !entity.smtpProvider.name">
      <div class="placeholder">
        {{entity.smtpProvider.name ? 'SMTP Provider *' : ''}}
      </div>
      <div class="content" [class.content--empty]="!entity.smtpProvider.name" [matMenuTriggerFor]="providerOptions">
        <span>{{entity.smtpProvider.name || 'SMTP Provider *'}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <div [routerLink]="['/smtpproviders']" class="text" *ngIf="smtpProviders && (smtpProviders.length === 0)">You need to create an SMTP provider first.</div>
      <mat-menu #providerOptions="matMenu" x-position="before">
        <button mat-menu-item *ngFor="let provider of (smtpProviders || [])" (click)="entity.smtpProvider = provider">{{provider.name}}</button>
      </mat-menu>
    </div>

    <mat-form-field [class.error]="formInvalid && !entity.subject">
      <input required matInput [disabled]="mode === modes.View" name="subject" placeholder="{{'EMAILTEMPLATE_INFO_SUBJECT' | translate}}" [(ngModel)]="entity.subject" type="text">
    </mat-form-field>
  </form>

  <div *ngIf="mode !== modes.View" class="entity-view__card__actions" [class.entity-view__card__actions--update]="mode === modes.Update">
    <div *ngIf="mode !== modes.Update" (click)="cancelUpdate()">{{'EMAILTEMPLATE_INFO_CANCEL' | translate}}</div>
    <div (click)="saveEmailTemplate(emailTemplateInput.form.valid)">{{'EMAILTEMPLATE_INFO_SAVE' | translate}}</div>
  </div>
</div>
