.token-view {
  &__path {
    padding: 10px 15px;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.1);

    &__title {
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
      color: rgba(0,0,0,0.6);
    }

    &__token {
      margin: 3px 0;
      font-size: 12px;
    }
  }
}
