<div class="entity-index__pagination__buttons">
  <mat-checkbox #checkbox *ngIf="showCheckbox" (change)="toggleCheckbox($event)"></mat-checkbox>

  <span>{{'PAGINATION_ROWSPERPAGE' | translate}} : {{limit}} </span>
  <button md-icon-button [matMenuTriggerFor]="paginationMenu">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #paginationMenu="matMenu">
    <button md-menu-item *ngFor="let val of paginationValues" (click)="updateLimit.emit(val)">
      {{val}}
    </button>
  </mat-menu>

  <span *ngIf="paginationString">{{paginationString}}</span>

  <button class="entity-index__pagination__buttons__button--left" [disabled]="previousDisabled" md-icon-button (click)="onPrevious()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button [disabled]="nextDisabled" md-icon-button (click)="onNext()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
