<div class="entity-index__pagination__buttons">
  <span>Rows per page : {{limit}} </span>
  <button md-icon-button [md-menu-trigger-for]="paginationMenu">
    <md-icon>arrow_drop_down</md-icon>
  </button>

  <md-menu #paginationMenu="mdMenu">
    <button md-menu-item *ngFor="let val of paginationValues" (click)="updateLimit.emit(val)">
      {{val}}
    </button>
  </md-menu>

  <span *ngIf="paginationString">{{paginationString}}</span>

  <button class="entity-index__pagination__buttons__button--left" [disabled]="previousDisabled" md-icon-button (click)="previous.emit(true)">
    <md-icon>keyboard_arrow_left</md-icon>
  </button>
  <button [disabled]="nextDisabled" md-icon-button (click)="next.emit(true)">
    <md-icon>keyboard_arrow_right</md-icon>
  </button>
</div>
