<div class="error-page__wrapper">
  <div *ngIf="showNavigation" class="error-page__back-button" (click)="navigation.back()"><mat-icon>reply</mat-icon></div>

  <div class="error-page">
    <div class="error-page__header">
      <img class="error-page__header__image" src="{{'/assets/images/' + errorLogo}}">
      <span class="error-page__header__title"> {{'ERRORPAGE_TITLE' | translate}}</span>
    </div>

    <div class="error-page__content">
      <div> {{'ERRORPAGE_SUBTITLE1' | translate}}</div>
      <div> {{'ERRORPAGE_SUBTITLE2' | translate}}</div>
    </div>

    <div class="error-page__contact">
      <div> {{'ERRORPAGE_SUPPORT' | translate}} <a href="mailto:support@sixcrm.com">support@sixcrm.com</a></div>
    </div>
  </div>
</div>

