<div class="error-page__wrapper">
  <div class="error-page">
    <div class="error-page__header">
      <img class="error-page__header__image" src="/assets/images/sleepingHamster.svg">
      <span class="error-page__header__title"> Strong Effort. </span>
    </div>

    <div class="error-page__content">
      <div> It looks like something broke on our end,</div>
      <div> or the page you are looking for doesn't exist.</div>
    </div>

    <div class="error-page__contact">
      <div>If you think you found this page in error please contact <span>support@sixcrm.com</span></div>
    </div>
  </div>
</div>

