.state-machine-message {
  background: white;
  box-shadow: 0 2px 16px rgba(0,0,0,0.25);
  width: 600px;
  max-width: 100%;

  &__title {
    padding: 15px 15px 0;
    font-size: 20px;
  }

  &__subtitle {
    padding: 5px 15px 6px;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
  }

  &__message {

    &__time {
      padding: 10px 15px;
      background: #E8E8E8;
      color: #949494;
      font-size: 12px;
      font-weight: 500;
    }

    &__content {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-bottom: 2px solid rgba(0,0,0,0.08);

      img {
        height: 40px;
        width: 40px;
      }

      div {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }

  &__buttons {
    display: flex;
    margin-top: 40px;
  }

  &__close {
    display: inline-block;
    margin: 15px 15px 15px auto;
    color: #5B9BE1;
    cursor: pointer;
    font-size: 14px;
  }
}
