<div *ngIf="message" class="state-machine-message">
  <div class="state-machine-message__title">Message</div>
  <div class="state-machine-message__subtitle">State machine message events</div>
  <div class="state-machine-message__message">
    <div class="state-machine-message__message__time">{{message.createdAt.format('MM/DD/YYYY h:mm a')}}</div>
    <div class="state-machine-message__message__content">
      <img src="assets/images/alert-icon.svg" alt="">
      <div>{{message.message}}</div>
    </div>

  </div>
  <div class="state-machine-message__buttons">
    <div class="state-machine-message__close" (click)="close.emit(true)">close</div>
  </div>
</div>
