.background {
  background: linear-gradient(to bottom left, #4277C2, #2C98F0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background > .wrapper {
  position: relative;
  width: 159px;
  height: 159px;
}

.background > .wrapper > .spinner-wrapper {
  position: absolute;
  z-index: 1;
}

.sixLogo {
  position: absolute;
  z-index: 2;
}
