.invoice {
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.13);
  font-size: 15px;
  font-family: Roboto, sans-serif;
  cursor: pointer;

  &__header {
    display: flex;
    align-items: center;
    padding: 15px 25px;

    &__range {
      color: rgba(0,0,0,0.87);
    }

    &__due {
      margin-left: auto;
      color: #9F9F9F;
    }

    md-icon {
      margin-left: 100px;
    }
  }

  &__details {

    &__id {
      padding: 0 25px 15px;
      color: #626262;
    }

    &__buttons {
      display: flex;
      margin-top: 25px;
      padding: 15px 0;

      div {
        color: #29ABE2;
        font-size: 14px;
        cursor: pointer;

        &:first-of-type {
          margin-left: auto;
          margin-right: 25px;
        }

        &:last-of-type {
          margin-right: 25px;
        }
      }
    }
  }
}

table {
  thead {
    th {
      padding-left: 25px;
      color: rgba(0,0,0,0.54);
      font-size: 12px;
      font-weight: 500;
    }
  }

  tbody {
    td {
      padding-left: 25px;
      color: rgba(0,0,0,0.87);
      font-size: 13px;
    }
  }

}
