<div class="invoice">
  <div (click)="collapsed = !collapsed" class="invoice__header">
    <div class="invoice__header__range">
      {{bill.periodStart.clone().tz(authService.getTimezone()).format('MMM DD')}} - {{bill.periodEnd.clone().tz(authService.getTimezone()).format('MMM DD, YYYY')}}
    </div>

    <div class="invoice__header__due" *ngIf="!bill.paid">{{ 'ACCOUNT_BILLING_DUE' | translate}}: {{bill.availableAt.clone().tz(authService.timezone).format('MMM DD YYYY')}}</div>
    <div class="invoice__header__due" *ngIf="bill.paid">{{ 'ACCOUNT_BILLING_BALANCE' | translate}}: {{bill.endingBalance.usd()}}</div>

    <md-icon>{{collapsed ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</md-icon>
  </div>
  <div *ngIf="!collapsed" class="invoice__details">
    <div class="invoice__details__id">{{ 'ACCOUNT_BILLING_INVOICETITLE' | translate}} #: {{bill.id}}</div>

    <table class="highlight">
      <thead>
        <tr>
          <th>{{ 'ACCOUNT_BILLING_HEADER_DESCRIPTION' | translate}}</th>
          <th class="cell--align-right">{{ 'ACCOUNT_BILLING_HEADER_AMOUNT' | translate}}</th>
          <th>{{ 'ACCOUNT_BILLING_HEADER_CREATED' | translate}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let detail of bill.detail">
          <td>{{detail.description}}</td>
          <td class="cell--align-right">{{detail.amount.usd()}}</td>
          <td>{{detail.createdAt.clone().tz(authService.getTimezone()).format('MM/DD/YYYY')}}</td>
        </tr>
      </tbody>
    </table>

    <div class="invoice__details__buttons">
      <div *ngIf="!bill.paid">{{ 'ACCOUNT_BILLING_PAY' | translate}}</div>
      <div>{{ 'ACCOUNT_BILLING_PRINT' | translate}}</div>
      <div *ngIf="authService.isActiveAclMasterAccount()" style="margin-left: 25px;" (click)="update.emit(bill)">{{ 'ACCOUNT_BILLING_UPDATE' | translate}}</div>
    </div>
  </div>
</div>
