<div class="entity-index">

  <blue-header [items]="crumbItems" [titleValue]="'SESSION_INDEX_TITLE'"></blue-header>

  <mat-card class="entity-index__card">
    <mat-card-content class="entity-index__card__content">

      <entities-table
        [data]="entities"
        [loaded]="initialLoaded"
        [columnParams]="columnParams"
        [filterString]="filterValue"
        [serverError]="serverError"
        (selected)="viewEntity($event.id)"

        [service]="service"
        (viewClicked)="viewEntity($event.id)"
        (copyClicked)="copyEntity($event.id)"
        (exportClicked)="exportEntity($event.id)"
        (editClicked)="editEntity($event.id)"
        (deleteClicked)="deleteEntity($event.id)"
        (deleteManyClicked)="deleteMany($event)"
        (refreshData)="refreshData()"

        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)"
        (filterChanged)="filterValue = $event"
        (searchChanged)="setSearchString($event)"
      >
      </entities-table>

    </mat-card-content>
  </mat-card>
</div>
