<div class="notifications__filter">
  <md-input-container>
    <input md-input placeholder="{{'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filter" type="text">
  </md-input-container>
</div>

<div class="notifications notifications-list notifications-list--standalone">

  <div class="notifications-list__topnav notifications-list__topnav--standalone">
    <span>{{'NOTIFICATIONSQUICK_TITLE' | translate}}</span>
    <div class="notifications-list__topnav__options notifications-list__topnav__options--standalone">
      <div [routerLink]="['/profile']" [queryParams]="{tab: 'notifications'}">{{'NOTIFICATIONSQUICK_SETTINGS' | translate}}</div>
    </div>
  </div>

  <div class="notifications-list__content notifications-list__content--standalone"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <div class="notifications-list__content__no-results" *ngIf="isEmpty">{{'NOTIFICATIONSQUICK_NORESULTS' | translate}}</div>

    <div *ngFor="let notificationsByDate of notsByDate">

      <div *ngIf="notificationsByDate.entities.length > 0">
        <div class="notifications-list__content__title notifications-list__content__title--standalone">{{notificationsByDate.label | translate}}</div>

        <div *ngFor="let notification of notificationsByDate.entities | filterStrings: filter: filterMapper">
          <alert-component [alert]="notification" [enableClear]="false"></alert-component>
        </div>
      </div>

    </div>

    <div *ngIf="notificationsService.requestInProgress$ | async" class="spinner">
      <md-spinner></md-spinner>
    </div>

  </div>

</div>
