<div class="perfect-entity">

  <div *ngIf="campaign; else spin">
    <div class="perfect-entity__info">
      <div class="perfect-entity__info__title">Campaign Info</div>

      <div class="perfect-entity__info__fields">

        <div class="perfect-entity__info__fields__item">
          <span class="perfect-entity__info__fields__item__label">Name:</span>
          <span class="perfect-entity__info__fields__item__value">{{campaign.name}}</span>
        </div>

      </div>
    </div>

    <div class="perfect-entity__table">
      <div class="perfect-entity__table__title">Product Schedules</div>

      <table class="highlight">
        <thead>
        <tr>
          <th>Name</th>
          <th>Number of Schedules</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let schedule of campaign.productSchedules">
          <td>{{schedule.name}}</td>
          <td>{{schedule.schedules.length}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #spin><md-spinner></md-spinner></ng-template>
</div>

