<div class="entity-view__table-component">
  <div class="entity-view__table-component__header">
    <div class="entity-view__table-component__header__title">{{'PRODUCTSCHEDULE_CAMPAIGN_TITLE' | translate}}</div>
    <md-input class="entity-view__table-component__header__filter" placeholder="{{'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filterValue"></md-input>
    <table-pagination
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)">
    </table-pagination>
    <!--<md-icon class="entity-view__table-component__header__action">more_vert</md-icon>-->
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <th *ngFor="let params of columnParams" (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
        {{params.label | translate}}
        <md-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntities: filterValue | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <td *ngFor="let params of columnParams" [class.cell--align-right]="params.align === 'right'" [routerLink]="['/campaigns', entity.id]">
        <ng-container *ngIf="params.number; else nan">{{params.mappingFunction(entity) | numberlocale}}</ng-container>
        <ng-template #nan>{{params.mappingFunction(entity)}}</ng-template>
      </td>
      <td>
        <md-icon [md-menu-trigger-for]="actionsMenu">more_vert</md-icon>
        <md-menu #actionsMenu="mdMenu" x-position="before">
          <button md-menu-item [routerLink]="['/campaigns', entity.id]">{{'PRODUCTSCHEDULE_CAMPAIGN_VIEW' | translate}}</button>
        </md-menu>
      </td>
    </tr>
    </tbody>
  </table>

  <table-loader *ngIf="loadingData && (!entities || entities.length === 0)"></table-loader>

  <div *ngIf="!loadingData && (!entities || entities.length === 0)" class="entity-view__no-results entity-view__no-results--table">{{'PRODUCTSCHEDULE_CAMPAIGN_NODATA' | translate}}</div>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>


