<div class="dashboard-container">
    <div class="dashboard lowdata-container">

      <div class="lowdata-container__header">
        <div class="greeting">
          <div>Welcome back, {{name}}</div>
          <div class="total-revenue-text">{{'DASHBOARD_STATE_LOWDATA_TOTALREVENUE' | translate}}</div>
          <div class="total-revenue-amount">
            <ng-container *ngIf="revenue">
              <div>$</div>
              <div>{{revenue.parsedAmount()}}</div>
            </ng-container>
          </div>
        </div>

        <div *ngIf="quote" class="quote">
          <div>{{quote.quote}}</div>
          <div>-{{quote.attribution.author}}</div>
        </div>
      </div>

      <div class="chart-container">
        <div class="funnel-graph">
          <funnel-graph *ngIf="renderLowChart" [simpleChart]="true"></funnel-graph>
        </div>
        <div class="transactions">
          <div class="transactions-header">
            <div class="transactions-header__title">{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_TITLE' | translate}}</div>
            <div class="more">
              <button mat-button [routerLink]="['/transactions']">{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_MORE' | translate}}
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
          </div>
          <mat-spinner *ngIf="!transactions"></mat-spinner>
          <table *ngIf="transactions">
            <thead>
            <tr>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_STATUS' | translate}}</th>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_AMOUNT' | translate}}</th>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_DATE' | translate}}</th>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_MERCHANTPROVIDER' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr [routerLink]="['/customers', 'advanced']" [queryParams]="{transaction: transaction.id}" *ngFor="let transaction of transactions">
              <td>
                <div *ngIf="transaction.response === 'success'" class="icon-holder icon-holder__success" [class.refund-icon]="transaction.transactionType === 'refund'">
                  <mat-icon class="success-icon" role="img" aria-hidden="true">done</mat-icon>
                </div>
                <div *ngIf="transaction.response === 'hard decline' || transaction.response === 'soft decline'" class="icon-holder icon-holder__decline">
                  <mat-icon class="decline-icon" [class.decline-icon--soft]="transaction.response === 'soft decline'" role="img" aria-hidden="true">block</mat-icon>
                </div>
                <div *ngIf="transaction.response === 'error'" class="icon-holder icon-holder__error">
                  <mat-icon class="error-icon" role="img" aria-hidden="true">error</mat-icon>
                </div>
                <div class="success response">{{transaction.response === 'success' ? (transaction.transactionType === 'refund' ? 'Refunded' : transaction.transactionType) : transaction.transactionType}}</div>
              </td>
              <td>{{transaction.transactionType === 'refund' ? transaction.refund.usd() : transaction.amount.usd()}}</td>
              <td>{{transaction.date | formatDateTime: 'date-time'}}</td>
              <td>{{transaction.merchantProvider}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <dashboard-issues-report [reports]="issueReports"></dashboard-issues-report>
      <div>
    </div>
  </div>
</div>
