.lowdata-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #4277C2 8.44%, #2C98F0 100%);
  min-height: 100vh;
  justify-content: center;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .greeting {
      font-size: 30px;
      font-weight: lighter;
      color: #b5d0fa;
      margin-left: 20px;

      .total-revenue-text {
        font-size: 14px;
        font-weight: normal;
        margin-top: 20px;
      }

      .total-revenue-amount {
        color: #b7faf0;
        font-weight: lighter;
        font-size: 60px;
      }
    }

    .quote {
      margin-left: auto;
      margin-right: 20px;
      font-size: 24px;
      font-weight: lighter;
      font-style: italic;
      color: white;

      div:last-child {
        font-size: 16px;
        margin-left: auto;
        float: right;
      }
    }
  }

  .chart-container {
    display: flex;
    background-color: #fafafa;

    funnel-graph {
      display: block;
      width: 33%;
    }

    .transactions {
      padding: 22px;
      width: 66%;
      color: rgba(0, 0, 0, 0.87);
      border-left: 1px solid rgba(0, 0, 0, 0.15);

      &__title {
        font-weight: 500;
        font-size: 20px;
      }

      .more {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-align: center;
        cursor: pointer;
        margin-top: 20px;
      }

      table {
        margin-top: 20px;

        th {
          font-weight: 500;
          font-size: 13px;
          color: rgba(0, 0, 0, 0.54);
        }

        tr {
          border-bottom: 1px solid  rgba(0, 0, 0, 0.15);
        }

        td {
          font-weight: 400;
          font-size: 13px;
          color: rgba(0, 0, 0, 0.87);
        }

        td:first-child {
          display: flex;

          .success {
            line-height: 27px;
          }
        }

        .icon-holder {
          margin-right: 10px;
          margin-top: 3px;
          display: flex;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background-color: #1ebea5;

          mat-icon {
            margin: auto;
            color: white;
            font-size: 18px;
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

}
