<div class="dashboard-container">
    <div class="dashboard lowdata-container">

      <div class="lowdata-container__header">
        <div class="greeting">
          <div>{{'DASHBOARD_STATE_LOWDATA_GREETING' | translate}} {{name}}</div>
          <div class="total-revenue-text">{{'DASHBOARD_STATE_LOWDATA_TOTALREVENUE' | translate}}</div>
          <div class="total-revenue-amount">
            <div>$</div>
            <div *ngIf="revenue">{{revenue.toLocaleString()}}</div>
          </div>
        </div>

        <div *ngIf="quote" class="quote">
          <div>{{quote.quote}}</div>
          <div>-{{quote.attribution.author}}</div>
        </div>
      </div>

      <div class="chart-container">
        <div class="funnel-graph" (click)="showChart = true">
          <funnel-graph-simple [simpleChart]="true"></funnel-graph-simple>
        </div>
        <div class="transactions">
          <div class="transactions-header">
            <div class="transactions-header__title">{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_TITLE' | translate}}</div>
            <div class="more">
              <button mat-button [routerLink]="['/transactions']">{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_MORE' | translate}}
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
          </div>
          <table>
            <thead>
            <tr>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_STATUS' | translate}}</th>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_AMOUNT' | translate}}</th>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_DATE' | translate}}</th>
              <th>{{'DASHBOARD_STATE_LOWDATA_TRANSACTIONS_MERCHANTPROVIDER' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr [routerLink]="['/transactions', transaction.id]" *ngFor="let transaction of transactions">
              <td>
                <div *ngIf="transaction.processorResponse.message === 'Success'" class="icon-holder icon-holder__success">
                  <mat-icon class="success-icon" role="img" aria-hidden="true">done</mat-icon>
                </div>
                <div *ngIf="transaction.processorResponse.message === 'Failed'" class="icon-holder icon-holder__fail">
                  <mat-icon class="fail-icon" role="img" aria-hidden="true">not_interested</mat-icon>
                </div>
                <div class="success">{{transaction.processorResponse.message}}</div>
              </td>
              <td>{{transaction.amount.usd()}}</td>
              <td>{{transaction.createdAt | formatDateTime: 'date-time'}}</td>
              <td>{{transaction.merchantProvider.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <dashboard-issues-report [reports]="issueReports"></dashboard-issues-report>
      <div>
    </div>
  </div>
</div>
