.roles__input {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  .roles__input__arrow {
    margin-left: 8px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    font-weight: 400;
  }
}


.separator {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.2);
}

.check-container {
  margin-right: 10px;
  width: 18px;

  &__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 32px;
  height: 32px;

  img {
    margin-left: auto;
    height: 14px;
    width: 14px;
  }
}
