<div *ngIf="hooks" class="hook-list">

  <div class="entity-view__card__header">
    <div>
      <div class="entity-view__card__header__title">{{'EVENTHOOK_SHARED_TITLE' | translate}}</div>
      <div class="entity-view__card__header__subtitle">{{'EVENTHOOK_SHARED_SUBTITLE' | translate}}</div>
    </div>
  </div>
  <div class="hook-list__header">
    <div class="flex-custom">
      <dropdown-component [options]="types" [placeholder]="'EVENTHOOK_SHARED_TYPE' | translate" [showFloatingPlaceholder]="true" [selected]="selectedType" (onSelect)="selectedType = $event"></dropdown-component>

      <mat-icon>search</mat-icon>
      <mat-input-container>
        <input type="text" placeholder="{{'EVENTHOOK_SHARED_SEARCH' | translate}}" matInput [(ngModel)]="filterString" autocomplete=off>
      </mat-input-container>
    </div>
  </div>

  <div class="hook-list__container">
    <div *ngFor="let hook of hooks | filterHooksByType: selectedType | filterEntities: filterString">
      <div (click)="hookSelected.emit(hook)" class="hook-view__content">
        <div class="hook-view__path">
          <div>
            <div class="hook-view__path__title">{{hook.name}}</div>
            <div class="hook-view__path__type">{{hook.eventType}}</div>
          </div>
          <mat-icon>add</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
