<div class="container">
  <div class="title">{{editMode ? 'Edit Customer' : 'Create new Customer'}}</div>

  <div class="body">

    <div class="section-title">General Information</div>

    <mat-form-field [class.error]="formInvalid && !customer.firstName">
      <input matInput type="text" [(ngModel)]="customer.firstName" placeholder="First Name">
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !customer.lastName">
      <input matInput type="text" [(ngModel)]="customer.lastName" placeholder="Last Name">
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !customer.email">
      <input matInput type="text" [(ngModel)]="customer.email" placeholder="Email">
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !customer.phone">
      <input matInput type="text" [textMask]="{mask: mask, guide: false}" [(ngModel)]="customer.phone" placeholder="Phone">
    </mat-form-field>

    <div class="section-title section-title--second">Shipping Address</div>

    <mat-form-field [class.error]="formInvalid && !isAddressValid(customer.address.line1)">
      <input matInput type="text" [(ngModel)]="customer.address.line1" placeholder="Address 1">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="customer.address.line2" placeholder="Address 2">
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !isCityValid(customer.address.city)">
      <input matInput type="text" [(ngModel)]="customer.address.city" placeholder="City">
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !isStateValid(customer.address.state)">
      <input type="text" matInput [(ngModel)]="customer.address.state" placeholder="State" [matAutocomplete]="statesAutocomplete">
      <mat-autocomplete #statesAutocomplete="matAutocomplete">
        <mat-option *ngFor="let state of states | filterStrings: customer.address.state: plainMapper" [value]="state">
          <div>{{state}}</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !isZipValid(customer.address.zip)">
      <input matInput type="text" [(ngModel)]="customer.address.zip" placeholder="Zip">
    </mat-form-field>

    <mat-form-field [class.error]="formInvalid && !isCountryValid(customer.address.country)">
      <input type="text" matInput [(ngModel)]="customer.address.country" placeholder="Country" [matAutocomplete]="countriesAutocomplete">
      <mat-autocomplete #countriesAutocomplete="matAutocomplete">
        <mat-option *ngFor="let country of countries | filterStrings: customer.address.country: plainMapper" [value]="country">
          <div>{{country}}</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div class="buttons">
    <button mat-button (click)="cancel()">CANCEL</button>
    <button mat-button (click)="save()">SAVE</button>
  </div>
</div>
