<div class="flex-custom flex-custom--center">
  <button mat-icon-button (click)="toggleSearchInput(searchInputField)"><mat-icon>search</mat-icon></button>

  <div class="search-container mrw-bi-input" [class.search-visible]="searchVisible">
    <mat-form-field [floatLabel]="'never'">
      <input
        #searchInputField
        matInput
        placeholder="{{'INDEXPAGE_SEARCH' | translate}}"
        type="text"
        [(ngModel)]="searchValue"
        (keydown)="onKey($event)">
    </mat-form-field>
  </div>
</div>
