<div class="flex-custom flex-custom--center">
  <button mat-icon-button (click)="toggleSearchInput(searchInputField)"><mat-icon>search</mat-icon></button>

  <div class="search-container">
    <mat-input-container [ngClass]="{'search-visible': searchVisible}">
      <input
        #searchInputField
        matInput
        placeholder="{{'INDEXPAGE_SEARCH' | translate}}"
        type="text"
        [(ngModel)]="searchValue"
        (keydown)="onKey($event)">
    </mat-input-container>
  </div>
</div>
