<account-management-header [path]="path"
                           [value]="value">
</account-management-header>

<div *ngIf="entityBackup" class="body">
  <mat-input-container [class.error]="formInvalid && !entityBackup.firstName">
    <input matInput type="text" [(ngModel)]="entityBackup.firstName" placeholder="First Name">
  </mat-input-container>

  <mat-input-container [class.error]="formInvalid && !entityBackup.lastName">
    <input matInput type="text" [(ngModel)]="entityBackup.lastName" placeholder="Last Name">
  </mat-input-container>

  <div class="roles" *ngIf="selectedRole" [matMenuTriggerFor]="rolesMenu">
    <div>{{selectedRole.name}}</div>
    <mat-icon class="roles__arrow">keyboard_arrow_down</mat-icon>
  </div>
  <mat-menu #rolesMenu="matMenu" x-position="before">
    <button class="menu-button" *ngFor="let sharedRole of sharedRoles" mat-menu-item (click)="setRole(sharedRole)">
      <div class="check-container">
        <mat-icon class="check-container__icon" *ngIf="sharedRole.id === selectedRole.id">done</mat-icon>
      </div>
      <div>{{sharedRole.name}}</div>
      <img src="/assets/images/logo-navigation-small.svg" alt="">
    </button>

    <div class="separator"></div>

    <button class="menu-button" *ngFor="let role of roles" mat-menu-item (click)="setRole(role)">
      <div class="check-container">
        <mat-icon class="check-container__icon" *ngIf="role.id === selectedRole.id">done</mat-icon>
      </div>
      <div>{{role.name}}</div>
    </button>
  </mat-menu>

  <div class="buttons">
    <button mat-button (click)="cancelUserUpdate()">CANCEL</button>
    <button mat-button (click)="updateUser()">SAVE</button>
  </div>
</div>
