<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">User</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-customer-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        {{addMode ? 'Create new User' : entityBackup.name}}
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom flex-custom--wrap">

        <user-add-new [entity]="entity"
                      [mode]="viewMode ? modes.View : modes.Update"
                      (cancel)="cancelUpdate()"
                      (save)="updateEntity($event.user)"
                      (changeMode)="setMode($event)">
        </user-add-new>

        <table-memory
          class="user-view__acls-table"
          *ngIf="!addMode"
          [textOptions]="text"
          [data]="entity.acls || []"
          [columnParams]="aclColumnParams"
          [title]="'Acl'"
          [associateDataMapper]="aclMapper"
          [customAssociation]="true"
          [editEnabled]="true"
          [ignoreDisassociate]="isOwner"
          [hasWritePermission]="aclService.hasWritePermission()"
          (edit)="showEditAclModal($event)"
          (view)="navigateToAccount($event)"
          (associate)="showAddAclModal()"
          (disassociate)="removeAcl($event)">
        </table-memory>
      </div>

    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [cardsExpression]="'300px;430px'" [title]="'User'"></spe-loader>
</ng-template>
