<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">{{'USER_TITLE' | translate}}</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-customer-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div class="entity-view__info__data__date">{{'SINGLEPAGE_CREATED' | translate}}: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name"> {{entityBackup.name}}</div>
    </div>
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom flex-custom--wrap">

        <user-add-new [entity]="entity"
                      [mode]="viewMode ? modes.View : modes.Update"
                      [editEnabled]="authService.isActiveAclMasterAccount()"
                      (cancel)="cancelUpdate()"
                      (save)="updateEntity($event.user)"
                      (changeMode)="setMode($event)">
        </user-add-new>

        <table-memory
          class="user-view__acls-table"
          *ngIf="authService.isActiveAclMasterAccount()"
          [textOptions]="text"
          [data]="entity.acls || []"
          [columnParams]="aclColumnParams"
          [title]="'Acl'"
          [associateDataMapper]="aclMapper"
          [customAssociation]="true"
          [editEnabled]="true"
          [ignoreDisassociate]="isOwner"
          [hasWritePermission]="aclService.hasWritePermission()"
          (edit)="showEditAclModal($event)"
          (view)="navigateToAccount($event)"
          (associate)="showAddAclModal()"
          (disassociate)="removeAcl($event)">
        </table-memory>
      </div>

    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [cardsExpression]="authService.isActiveAclMasterAccount() ? '250px;430px' : '250px'" [title]="'USER_TITLE' | translate"></spe-loader>
</ng-template>
