<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">User</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-customer-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        {{entityBackup.name}}
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="entity-view__card">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title">User Details</div>
          <md-icon [md-menu-trigger-for]="editOptions">more_vert</md-icon>
          <md-menu #editOptions="mdMenu" x-position="before">
            <button md-menu-item (click)="setMode(modes.Update)"> Edit User Details </button>
          </md-menu>
        </div>

        <div class="entity-view__card__content">
          <md-input-container class="entity-view__card__content__item">
            <input required md-input disabled placeholder="Name" [(ngModel)]="entity.name" type="text">
          </md-input-container>

          <md-input-container class="entity-view__card__content__item">
            <input required md-input disabled placeholder="Email" [(ngModel)]="entity.email" type="text">
          </md-input-container>


          <md-input-container class="entity-view__card__content__item">
            <input required md-input disabled placeholder="Terms and Conditions" [(ngModel)]="entity.termsAndConditions" type="text">
          </md-input-container>

          <div class="user-view__item flex-custom flex-custom--center">
            <span>Activated</span>
            <md-slide-toggle class="flex-align--right" [checked]="entity.active === 'true'" (change)="entity.toggleActive()" [disabled]="viewMode"></md-slide-toggle>
          </div>

        </div>

        <div *ngIf="!viewMode" class="entity-view__card__actions">
          <div *ngIf="updateMode" (click)="cancelUpdate()">CANCEL</div>
          <div (click)="saveOrUpdate(entity)">SAVE</div>
        </div>
      </div>

    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>
