<div class="state-machine-live__breadcrumb">
  <div class="root" [routerLink]="['/state-machine']">State Machine</div>
  <md-icon>keyboard_arrow_right</md-icon>
  <div class="queue">{{queueName}} Queue</div>
</div>

<div class="state-machine-live__details">
  <state-machine-details
    [queue]="queue"
    [timeseries]="timeseries"
    [standalone]="true"
    [isPolling]="polling"
    [date]="date"
    (dateChanged)="changeDate($event)"
    (togglePolling)="$event ? startPolling() : pausePolling()">
  </state-machine-details>

  <table-memory [title]="'Bill Queue Messages'"
                [data]="messages"
                [columnParams]="messageColumnParams"
                [filterEnabled]="false"
                [dissociationEnabled]="false"
                [associationEnabled]="false"
                [textOptions]="tableTextOptions"
                (view)="viewMessage($event)">
  </table-memory>
</div>
