.state-machine-live {
  &__breadcrumb {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;

    &--separator {
      margin: 15px -25px;
      background: #F3F3F3;
      font-size: 14px;
      border-top: 1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1);

      mat-icon {
        height: 18px !important;
        width: 18px !important;
        font-size: 18px !important;
      }
    }

    .root {
      color: rgba(0,0,0,0.4);
      cursor: pointer;

      &--active {
        color: rgba(0, 0, 0, 0.87);
      }
    }

    mat-icon {
      margin: 0 8px;
      height: 22px;
      width: 22px;
      font-size: 22px;
      color: rgba(0,0,0,0.6);
    }

    .queue {
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  &__details {
    padding: 20px 25px;
  }
}

.table-container {
  display: block;
  position: relative;
}

table-memory {
  display: block;
  margin: 0 -10px;
}
