<div class="state-machine-live__breadcrumb">
  <div class="root" [routerLink]="['/state-machine']">State Machine</div>
  <md-icon>keyboard_arrow_right</md-icon>
  <div class="queue">{{queueName}} Queue</div>
</div>

<div class="state-machine-live__details">
  <state-machine-details
    [queue]="queue"
    [timeseries]="timeseries"
    [standalone]="true"
    [isPolling]="polling"
    [enableLivePolling]="enableLivePooling"
    [date]="date"
    (dateChanged)="changeDate($event)"
    (togglePolling)="$event ? startPolling() : pausePolling()">
  </state-machine-details>

  <div class="state-machine-live__breadcrumb state-machine-live__breadcrumb--separator">
    <div class="root" [class.root--active]="!rebill" (click)="hideRebill()">{{'ORDERENGINE_REBILLS_SNACK_MAIN' | translate}}</div>
    <md-icon *ngIf="rebill">keyboard_arrow_right</md-icon>
    <div *ngIf="rebill" class="queue"> {{'ORDERENGINE_REBILLS_SNACK_SUB' | translate}}: {{rebill.id}}</div>
  </div>

  <div class="table-container">
    <state-machine-rebills [style.display]="rebill ? 'none' : 'block'" [queueName]="queueName" (viewRebill)="viewRebill($event)"></state-machine-rebills>
    <state-machine-rebill *ngIf="rebill" [rebill]="rebill"></state-machine-rebill>
  </div>
</div>
