@import "../../../assets/scss/colors";

.notifications-list {
  right: 0;

  mat-icon {
    color: dimgrey;
    cursor: pointer;
  }

  &__topnav {
    span {
      color: dimgrey;
      cursor: pointer;
    }

    &__options {
      margin-right: 6px;
    }
  }

  &__content {

    overflow-x: hidden;

    &__notification {

      &__read {

        div {
          width: 9px;
          height: 9px;
          margin: 13px -9px 0 10px;
          border: none
        }

        .unread {
          background-color: $main-color-200 !important;
          border-radius: 50%;
          border: 1px solid $main-color-200;
          margin-right: -11px;
          margin-left: 10px;
        }
      }

      &__message {
        margin-right: 3px;

        .title {
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 500;
        }

        .body {
          font-size: 13px;
          color: rgba(0,0,0,0.5);
        }

        .header {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          font-size: 13px;

          .divider {
            margin: 0 5px -4px 5px;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.5);
          }

          mat-icon {
            margin-right: 3px;
            margin-top: 5px;
          }
        }
      }

      mat-icon {
        margin-top: 8px;
      }
    }

    .unread {
      background-color: #DAFAFA;
    }

  }
}

.arrow {
  position: absolute;
  top: -24px;
  right: 25px;

  mat-icon {
    font-size: 42px;
    color: white !important;
  }
}
