<div class="notifications-list">
  <div class="notifications-list__topnav">
    <md-icon (click)="closeNotifications()">keyboard_arrow_right</md-icon>
    <span>Notifications</span>
    <md-icon class="notifications-list__topnav__options" [md-menu-trigger-for]="actionsMenu">more_vert</md-icon>

    <md-menu #actionsMenu="mdMenu" x-position="before">
    </md-menu>
  </div>

  <div class="notifications-list__content">
    <div class="notifications-list__content__no-results" *ngIf="isEmpty">You don't have any notifications at this time</div>
    <div *ngFor="let notificationsByDate of notsByDate">

      <div *ngIf="notificationsByDate.entities.length > 0">
        <div class="notifications-list__content__title">{{notificationsByDate.label}}</div>

        <div *ngFor="let notification of notificationsByDate.entities">
          <div class="notifications-list__content__notification" (click)="readNotification(notification)">
            <div class="notifications-list__content__notification__image"><img src="assets/images/alert-icon.svg" alt=""></div>
            <div class="notifications-list__content__notification__message">{{notification.body}}</div>
            <div class="notifications-list__content__notification__date">
              <span>{{notification.createdAt.format('MMM Do')}}</span>
              <div *ngIf="!notification.readAt"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="notifications-list__view-all">
    <span (click)="navigateAllNotifications()">See All Notifications</span>
  </div>

</div>
