<div class="arrow">
  <mat-icon>arrow_drop_up</mat-icon>
</div>
<div class="notifications-list" [class.sticky]="sticky">
  <div class="notifications-list__topnav">
    <span (click)="navigateAllNotifications()">{{'NOTIFICATIONSQUICK_VIEWALL' | translate}}</span>
    <div class="notifications-list__topnav__options">
    <span (click)="markAllAsRead()">{{'NOTIFICATIONSQUICK_MARKALLASREAD' | translate}}</span>
    </div>
    <div class="notifications-list__topnav__options">
      <mat-icon (click)="navigateToSettings()">settings</mat-icon>
    </div>
  </div>
  <div class="notifications-list__content">

    <ng-container *ngIf="loaded; else loader">

      <div class="notifications-list__content__no-results" *ngIf="isEmpty">{{'NOTIFICATIONSQUICK_NORESULTS' | translate}}</div>

      <ng-container *ngIf="alerts && alerts.length > 0" >
        <div class="notifications-list__content__title">{{'NOTIFICATIONSQUICK_ALERTS' | translate}}</div>
        <alert-component class="notifications-list__content__alert"
                         *ngFor="let alert of alerts"
                         (clear)="readNotification($event)"
                         [alert]="alert"
                         [inList]="true">
        </alert-component>
      </ng-container>

      <div *ngFor="let notificationsByDate of notsByDate">

        <div *ngIf="notificationsByDate.entities.length > 0">
          <div class="notifications-list__content__title">{{notificationsByDate.label | translate}}</div>

          <div *ngFor="let notification of notificationsByDate.entities">
            <div class="notifications-list__content__notification" [class.unread]="!notification.readAt" (click)="readNotification(notification)">
              <div class="notifications-list__content__notification__read">
                <div [class.unread]="!notification.readAt"></div>
              </div>
              <div class="notifications-list__content__notification__message">
                <div class="header">
                  <div class="category">{{notification.category}}</div>
                  <div class="divider"></div>
                  <div class="notifications-list__content__notification__message__date">
                    {{notification.createdAt.format('MMMM Do [at] h:mm A')}}
                  </div>
                </div>
                <div class="title">{{notification.title}}</div>
                <div class="body">{{notification.body}}</div>
              </div>
              <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
              <mat-menu #actionsMenu="matMenu" x-position="before">
                <button mat-menu-item class="notifications-list__content_notification_menu_item_markasunread"
                        (click)="markAsUnread(notification)">{{'NOTIFICATIONSQUICK_MARKASUNREAD' | translate}}</button>
                <button *ngIf="notification.hasContext()" mat-menu-item class="notifications-list__content_notification_menu_item"
                        (click)="goToLink(notification)">{{'NOTIFICATIONSQUICK_GOTOLINK' | translate}}</button>
                <button mat-menu-item class="notifications-list__content_notification_menu_item"
                        ngxClipboard [cbContent]="notification.body">{{'NOTIFICATIONSQUICK_COPYTOCLIPBOARD' | translate}}</button>
              </mat-menu>
            </div>
          </div>
        </div>

      </div>

    </ng-container>
  </div>

  <ng-template #loader>
    <table-loader [rowMarginVertical]="30" [rowHeight]="45" [numberOfRows]="12"></table-loader>
  </ng-template>

</div>
