<div *ngIf="entity" class="entity-view__card" [class.product-schedule-add--center]="mode === add" [class.entity-view__card--create]="mode === add">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{(mode === add ? 'PRODUCTSCHEDULE_INFO_CREATETITLE' : 'PRODUCTSCHEDULE_INFO_TITLE') | translate}}</div>
    <ng-container *ngIf="mode === view">
      <mat-icon [matMenuTriggerFor]="shipOptions">more_vert</mat-icon>
      <mat-menu #shipOptions="matMenu" x-position="before">
        <button mat-menu-item (click)="changeMode.emit(update);">{{'PRODUCTSCHEDULE_INFO_EDIT' | translate}}</button>
        <button *ngIf="entity.merchantProviderGroup && entity.merchantProviderGroup.id" mat-menu-item [routerLink]="['/merchantprovidergroups', entity.merchantProviderGroup.id]">{{'PRODUCTSCHEDULE_INFO_VIEWMERCHANTPROVIDERGROUP' | translate}}</button>
      </mat-menu>
    </ng-container>
  </div>

  <form #productScheduleInputForm="ngForm" style="font-size: 14px;" class="entity-view__card__content">
    <mat-form-field [class.error]="formInvalid && !entity.name">
      <input auto-focus [disabled]="mode === view" required matInput placeholder="{{'PRODUCTSCHEDULE_INFO_NAME' | translate}}" name="name" [(ngModel)]="entity.name" type="text" maxlength="55">
    </mat-form-field>
  </form>

  <div *ngIf="mode !== view" class="entity-view__card__actions product-schedule-view__details__actions">
    <div (click)="cancel.emit(true)">{{'PRODUCTSCHEDULE_INFO_CANCEL' | translate}}</div>
    <div (click)="saveSchedule(productScheduleInputForm.form.valid)">{{'PRODUCTSCHEDULE_INFO_SAVE' | translate}}</div>
  </div>
</div>
