<div class="container">
  <div class="payment-details">
    <div class="row">
      <div class="heading">Payment</div>
      <div *ngIf="otherCreditCards && otherCreditCards.length > 0" class="cards" [matMenuTriggerFor]="cardsMenu">
        <div>Saved Cards</div>
        <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #cardsMenu="matMenu" x-position="before">
        <button *ngFor="let card of (otherCreditCards || [])" mat-menu-item (click)="selectCard(card)">
          <div class="button-content">
            <img src="{{'/assets/cards/' + card.typeShort + '.svg'}}">
            <div class="details">
              <div>{{card.name}}</div>
              <div>**** {{card.lastFour}} Exp. {{card.expiration}}</div>
            </div>
          </div>
        </button>
      </mat-menu>
    </div>

    <div class="images">
      <img src="/assets/cards/visa.svg">
      <img src="/assets/cards/mastercard.svg">
      <img src="/assets/cards/amex.svg">
      <img src="/assets/cards/discover.svg">
    </div>

    <advanced-payment-form [creditCard]="creditCard" [showSensitiveData]="true"></advanced-payment-form>
  </div>

  <div class="rebill-details" *ngIf="rebill">
    <div class="heading">
      Thank you for paying your SIX subscription bill.
    </div>

    <div class="summary">
      <div class="row">
        <div>{{rebill.productSchedules[0].name}}</div>
        <div>{{rebill.amount.usd()}}</div>
      </div>

      <div class="row">
        <div>Transactional surcharge</div>
        <div>$0.00</div>
      </div>

      <div class="total">
        <div>Total billed today:</div>
        <div class="separator"></div>
        <div>{{rebill.amount.usd()}}</div>
      </div>

    </div>

    <div class="terms" (click)="openTerms()">
      Subscription fee will be charged monthly. By subscribing to SIX, you agree to our <span>Privacy Policy</span> and <span>Terms and Conditions</span>.
    </div>

    <button class="pay-button" mat-button (click)="pay()">Finish and Pay</button>
  </div>
</div>
