<div class="entity__content__general">
  <div class="entity__content__general__title">
    <span>{{title}}</span>

    <button *ngIf="show" mat-icon-button (click)="toggle()"><mat-icon>keyboard_arrow_up</mat-icon></button>
    <button *ngIf="!show" mat-icon-button (click)="toggle()"><mat-icon>keyboard_arrow_down</mat-icon></button>

    <ng-container *ngIf="options && optionsField">
      <button mat-icon-button [matMenuTriggerFor]="providersMenu"><mat-icon>add</mat-icon></button>

      <mat-menu #providersMenu="matMenu">
        <button md-menu-item *ngFor="let option of options" (click)="selectOption(option)">{{option[optionsField]}}</button>
      </mat-menu>
    </ng-container>
  </div>

  <div *ngIf="show" class="entity__content__general__content">
    <div *ngFor="let pair of data">
      <span>{{pair.name}}:</span><span>{{pair.value}}</span>
    </div>
  </div>
</div>
