<div class="entity-index">

  <blue-header [items]="crumbItems" [titleValue]="'CAMPAIGN_INDEX_TITLE'"></blue-header>

  <button mat-icon-button color="primary" *ngIf="hasWritePermission()" class="entity-index__add" (click)="openAddMode()"><mat-icon>add</mat-icon></button>

    <entities-table-wrapper
      [data]="entities"
      [loaded]="initialLoaded"
      [columnParams]="columnParams"
      [filterString]="filterValue"
      [serverError]="serverError"
      (selected)="viewEntity($event.id)"

      [service]="service"
      (viewClicked)="viewEntity($event.id)"
      (copyClicked)="copyEntity($event.id)"
      (exportClicked)="exportEntity($event.id)"
      (editClicked)="editEntity($event.id)"
      (deleteClicked)="deleteEntity($event.id)"
      (deleteManyClicked)="deleteMany($event)"
      (refreshData)="refreshData()"

      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)"
      (filterChanged)="filterValue = $event"
      (searchChanged)="setSearchString($event)"
    >
    </entities-table-wrapper>
</div>

<div *ngIf="addMode && hasWritePermission() && initialLoaded" (click)="overlayClicked($event)" class="full-overlay">
  <campaign-add-new class="modal-center"
                    [mode]="modes.Add"
                    [entity]="entity"
                    [planLimitReached]="isBasicAccount && entities.length > 0"
                    (save)="createCampaign($event)"
                    (cancel)="closeAddMode()">
  </campaign-add-new>
</div>
