<div class="entity-index">
  <div class="entity-index__title">
    {{'ROLE_INDEX_TITLE' | translate}}
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <roles-index-custom [acls]="aclService.entities$ | async" (addSelected)="toggleAddModal()"></roles-index-custom>
    </mat-tab>

    <mat-tab>
      <roles-index-shared [acls]="aclService.entities$ | async"></roles-index-shared>
    </mat-tab>

  </mat-tab-group>

</div>

<div *ngIf="showAddModal" (click)="overlayClicked($event)" class="full-overlay">
  <role-add-new class="modal-center" (save)="createEntity($event)" (cancel)="toggleAddModal()"></role-add-new>
</div>

