<div class="grid-body" *ngIf="product">

  <div class="content-wrapper">

    <ng-container *ngFor="let template of product.emailTemplates">
      <div class="entity-card">
        <div class="title">
          {{template.name}}
        </div>

        <div class="preview" [innerHtml]="template.preview | htmlSanitizer"></div>

        <div class="details">
          <div>Type: {{template.getTypeFormatted()}}</div>
          <div>{{template.subject}}</div>
        </div>

        <div class="actions">
          <button mat-button (click)="previewTemplate(template)">PREVIEW</button>
          <button mat-button [routerLink]="['/emailtemplates', template.id]">EDIT</button>
        </div>
      </div>
    </ng-container>

  </div>

</div>