<div class="search">
  <div class="search__layout">
    <div class="search__sidenav">
      <md-nav-list>
        <div class="search__sidenav__query__container">
          <md-input (focus)="showAutoComplete()" [value]="queryString" (input)="quickSearchInputChanged($event)" (keydown)="quickSearchKeyDown($event)" (blur)="hideAutoComplete()">
            <md-icon class="search__sidenav__query__icon" md-prefix (click)="quickSearch()">search</md-icon>
          </md-input>
          <autocomplete *ngIf="showAutocomplete && autocompleteOptions.length > 0" (select)="suggestionSelected($event)" [options]="autocompleteOptions"></autocomplete>
        </div>
        <div class="search__sidenav__button--advanced" (click)="toggleAdvancedSearch()"><span>ADVANCED SEARCH</span> <md-icon>{{showAdvancedSearch ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</md-icon></div>

        <div class="search__sidenav__options" *ngIf="queryOptions && queryOptions.length !== 0">
          <ng-container *ngFor="let option of queryOptions">
            <div [class.option--disabled]="!option.enabled" class="search__sidenav__option">
              <div class="search__sidenav__option__content">
                <span class="search__sidenav__option__label">{{queryOptsLabel[option.key]}}:</span>
                <span class="search__sidenav__option__value">{{option.value}}</span>
              </div>
              <md-icon [style.transform]="option.enabled ? 'rotate(45deg)' : 'rotate(90deg)'" (click)="toggleAdvancedSearchFieldEnabled(option)">add</md-icon>
            </div>
          </ng-container>
        </div>

        <div class="search__sidenav__title">REFINE RESULTS</div>

        <div *ngIf="hasAnyEntityType()" class="search__sidenav__subtitle">Category</div>

        <md-checkbox *ngIf="entityTypesCount['campaign']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['campaign']" (change)="checkboxClicked()">
          Campaign
          <span>({{entityTypesCount['campaign']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['customer']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['customer']" (change)="checkboxClicked()">
          Customer
          <span>({{entityTypesCount['customer']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['user']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['user']" (change)="checkboxClicked()">
          User
          <span>({{entityTypesCount['user']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['billing']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['billing']" (change)="checkboxClicked()">
          Billing
          <span>({{entityTypesCount['billing']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['transaction']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['transaction']" (change)="checkboxClicked()">
          Transaction
          <span>({{entityTypesCount['transaction']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['product']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['product']" (change)="checkboxClicked()">
          Product
          <span>({{entityTypesCount['product']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['fulfillment']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['fulfillment']" (change)="checkboxClicked()">
          Fulfillment
          <span>({{entityTypesCount['fulfillment']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['productschedule']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['productschedule']" (change)="checkboxClicked()">
          Product Schedule
          <span>({{entityTypesCount['productschedule']}})</span>
        </md-checkbox>

        <div class="search__sidenav__subtitle"> Refine by Date </div>
        <div class="search__sidenav__date">Date</div>
        <div class="datepicker--custom" [class.datepicker-visible]="datepickerVisible">
          <div (showDaterangepicker)="datepickerShown()" (hideDaterangepicker)="datepickerHidden()" (selected)="dateSelected($event)" daterangepicker>
            <span class="datepicker--custom__input" name="daterange" >  {{ startDate.format('MM/DD/YYYY').substring(0,10) }} <span>to</span> {{ endDate.format('MM/DD/YYYY').substring(0, 10) }} <md-icon>keyboard_arrow_down</md-icon> </span>
          </div>
        </div>
      </md-nav-list>
    </div>

    <div class="search__content">
      <advanced-search *ngIf="showAdvancedSearch"></advanced-search>

      <div class="search__content__title">
        <span>Search Results
          <span *ngIf="numberOfSearchResults && numberOfSearchResults > 0">({{numberOfSearchResults}})</span>
        </span>
        <md-icon *ngIf="numberOfSearchResults && numberOfSearchResults > 0" class="search__content__title__view--toggle" (click)="toggleView()">
          {{listMode ? 'view_headline' : 'view_module'}}</md-icon>
        <table-pagination
          class="search__content__pagination"
          [limit]="limit"
          [paginationString]="paginationString()"
          [paginationValues]="paginationValues"
          [previousDisabled]="page <= 0"
          [nextDisabled]="!hasMorePages()"
          (previous)="previousPage()"
          (next)="nextPage()"
          (updateLimit)="updateLimit($event)">
        </table-pagination>
      </div>

      <ng-container *ngIf="listMode" >
        <result-item *ngFor="let res of searchResultsToDisplay" [fields]="res.fields" [id]="res.id" [entityType]="res.fields.entity_type" [queryString]="queryString" (showDetails)="showResultDetails($event)"></result-item>
      </ng-container>

      <ng-container *ngIf="!listMode" >
        <result-item-table *ngFor="let res of searchResultsToDisplay" [fields]="res.fields" [id]="res.id" [entityType]="res.fields.entity_type" [queryString]="queryString" (showDetails)="showResultDetails($event)"></result-item-table>
      </ng-container>

      <table-pagination
        *ngIf="searchResultsToDisplay.length >= 5"
        class="search__content__pagination--bottom"
        [limit]="limit"
        [paginationString]="paginationString()"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previousPage()"
        (next)="nextPage()"
        (updateLimit)="updateLimit($event)">
      </table-pagination>
    </div>
  </div>
</div>
