<div class="search">
  <div class="search__layout">
    <div class="search__sidenav">
      <md-nav-list>
        <div class="search__sidenav__query__container">
          <md-input (focus)="showAutoComplete()" [value]="queryString" (input)="quickSearchInputChanged($event)" (keydown)="quickSearchKeyDown($event)" (blur)="hideAutoComplete()">
            <md-icon class="search__sidenav__query__icon" md-prefix (click)="quickSearch()">search</md-icon>
          </md-input>
          <autocomplete *ngIf="showAutocomplete && autocompleteOptions.length > 0" (select)="suggestionSelected($event)" [options]="autocompleteOptions"></autocomplete>
        </div>
        <div class="search__sidenav__button--advanced" (click)="openAdvancedSearch()"><span>ADVANCED SEARCH</span> <md-icon>keyboard_arrow_right</md-icon></div>

        <div class="search__sidenav__options" *ngIf="queryOptions && queryOptions.length !== 0">
          <div class="search__sidenav__option" *ngFor="let option of queryOptions">
            <div [class.content--disabled]="!option.enabled" class="search__sidenav__option__content">
              <span class="search__sidenav__option__label">{{queryOptsLabel[option.key]}}:</span>
              <span class="search__sidenav__option__value">{{option.value}}</span>
            </div>
            <md-icon [style.transform]="option.enabled ? 'rotate(45deg)' : 'rotate(90deg)'" (click)="toggleAdvancedSearchFieldEnabled(option)">add</md-icon>
          </div>
        </div>

        <md-checkbox *ngIf="entityTypesCount['campaign']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['campaign']" (change)="checkboxClicked()">
          Campaign
          <span>({{entityTypesCount['campaign']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['customer']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['customer']" (change)="checkboxClicked()">
          Customer
          <span>({{entityTypesCount['customer']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['user']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['user']" (change)="checkboxClicked()">
          User
          <span>({{entityTypesCount['user']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['billing']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['billing']" (change)="checkboxClicked()">
          Billing
          <span>({{entityTypesCount['billing']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['transaction']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['transaction']" (change)="checkboxClicked()">
          Transaction
          <span>({{entityTypesCount['transaction']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['product']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['product']" (change)="checkboxClicked()">
          Product
          <span>({{entityTypesCount['product']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['fulfillment']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['fulfillment']" (change)="checkboxClicked()">
          Fulfillment
          <span>({{entityTypesCount['fulfillment']}})</span>
        </md-checkbox>
        <md-checkbox *ngIf="entityTypesCount['productschedule']" class="search__sidenav__item" [(ngModel)]="entityTypesChecked['productschedule']" (change)="checkboxClicked()">
          Product Schedule
          <span>({{entityTypesCount['productschedule']}})</span>
        </md-checkbox>

        <span class="search__sidenav__title search__sidenav__title--after"> Refined by Date </span>
        <div class="datepicker--custom" [class.datepicker-visible]="datepickerVisible">
          <div (showDaterangepicker)="datepickerShown()" (hideDaterangepicker)="datepickerHidden()" (selected)="dateSelected($event)" daterangepicker>
            <span class="datepicker--custom__input" name="daterange" >  {{ startDate.format().substring(0, 10) }} - {{ endDate.format().substring(0, 10) }} </span>
          </div>
        </div>

        <span class="search__sidenav__title search__sidenav__title--after"> Refined by </span>
        <span class="search__sidenav__subtitle"> City </span>
        <md-checkbox class="search__sidenav__item">Brand One</md-checkbox>
        <md-checkbox class="search__sidenav__item">Brand Two</md-checkbox>
        <md-checkbox class="search__sidenav__item">Brand Three</md-checkbox>
      </md-nav-list>
    </div>

    <div class="search__content">
      <div class="search__content__title">
        <span>Search Results</span>
        <table-pagination
          class="search__content__pagination"
          [limit]="limit"
          [paginationValues]="paginationValues"
          [previousDisabled]="page <= 0"
          [nextDisabled]="!hasMorePages()"
          (previous)="previousPage()"
          (next)="nextPage()"
          (updateLimit)="updateLimit($event)">
        </table-pagination>
      </div>

      <ng-container *ngFor="let res of searchResultsToDisplay">
        <result-item [fields]="res.fields" [id]="res.id" [entityType]="res.fields.entity_type" [queryString]="queryString" (showDetails)="showResultDetails($event)"></result-item>
      </ng-container>

      <table-pagination
        *ngIf="searchResultsToDisplay.length >= 5"
        class="search__content__pagination--bottom"
        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previousPage()"
        (next)="nextPage()"
        (updateLimit)="updateLimit($event)">
      </table-pagination>
    </div>
  </div>
</div>
