<button md-icon-button color="primary" *ngIf="hasWritePermission()" (click)="addSelected.emit(true)" class="entity-index__add"><md-icon>add</md-icon></button>

<md-card class="entity-index__card">
  <md-card-content class="entity-index__card__content">

    <entities-table
      [data]="entities"
      [columnParams]="columnParams"
      [filterString]="filterValue"
      [serverError]="serverError"
      (selected)="viewEntity($event.id)"

      [service]="service"
      [showCopy]="service.hasWritePermission()"
      (viewClicked)="viewEntity($event.id)"
      (copyClicked)="copyHook($event)"
      (exportClicked)="exportEntity($event.id)"
      (editClicked)="editEntity($event.id)"
      (deleteClicked)="deleteEntity($event.id)"
      (deleteManyClicked)="deleteMany($event)"
      (refreshData)="refreshData()"

      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)"
      (filterChanged)="filterValue = $event"
      (searchChanged)="setSearchString($event)"
    >
    </entities-table>

  </md-card-content>
</md-card>
