<div *ngIf="entity; else spinner" class="entity-view">
  <entity-view-breadcrumbs [items]="breadcrumbs"></entity-view-breadcrumbs>

  <div (click)="navigation.back()" class="entity-view__change-mode"><mat-icon>reply</mat-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-creditcard-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div class="entity-view__info__data__date">{{'SINGLEPAGE_CREATED' | translate}}: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        {{entityBackup.name}}
      </div>
    </div>
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <credit-card-input
        [creditCard]="entity"
        [viewMode]="isViewMode"
        [standalone]="true"
        (updated)="save($event)"
        (edit)="enterEditMode()"
        (cancel)="doCancel()">
      </credit-card-input>
    </mat-tab>

    <mat-tab>
      <table-memory
        [data]="entity.customers"
        [columnParams]="customerColumnParams"
        [textOptions]="customerTextOptions"
        [dissociationEnabled]="false"
        [associationEnabled]="false"
        (view)="viewCustomer($event)">
      </table-memory>
    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [cardsExpression]="'380px'" [title]="'CREDITCARD_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
