<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <credit-card-input
        [creditCard]="entity"
        [viewMode]="isViewMode"
        [standalone]="true"
        (updated)="save($event)"
        (edit)="enterEditMode()"
        (cancel)="doCancel()">
      </credit-card-input>
    </mat-tab>

    <mat-tab>
      <table-memory
        [data]="entity.customers"
        [columnParams]="customerColumnParams"
        [textOptions]="customerTextOptions"
        [dissociationEnabled]="false"
        [associationEnabled]="false"
        (view)="viewCustomer($event)">
      </table-memory>
    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [cardsExpression]="'380px'" [title]="'CREDITCARD_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
