.dummy-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.dummy-date {
  width: 150px;
  height: 10px;
  background: rgba(0,0,0,0.12);
}

.dummy-name {
  width: 200px;
  height: 30px;
  background: rgba(0,0,0,0.12);
}
