<div class="entity-index">
  <blue-header [items]="crumbItems" [titleValue]="'CUSTOMER_INDEX_TITLE'"></blue-header>

  <filter-table [date]="date"
                [columnParams]="columnParams"
                [items]="entitiesHolder"
                [tabs]="tabs"
                [loading]="loadingData"
                [singleOptions]="options"
                [dateFilterEnabled]="false"
                (filtersSelected)="openFiltersDialog()"
                (tabSelected)="selectTab($event)"
                (dateChanged)="changeDate($event)"
                (singleOptionSelected)="optionSelected($event)"
                (loadMore)="loadMore()">
  </filter-table>
</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <customer-add-new class="modal-center" [customer]="entity" (save)="createEntity($event)" (cancel)="closeAddMode()"></customer-add-new>
</div>
