.account-management-body {
  display: flex;
  padding: 25px;

  .column {
    margin-right: 24px;
    width: calc(33% - 24px);
  }

  .card {
    margin-bottom: 25px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.12);
    border-radius: 4px;

    .title {
      color: #202124;
      font-size: 16px;
      font-weight: 500;
    }

    .body {
      margin-top: 35px;
      font-size: 16px;

      mat-input-container {
        width: 100%;
        max-width: 350px;
      }
    }

    .buttons {
      display: flex;

      button {
        &:first-of-type {
          margin-left: auto;
          margin-right: 10px;
        }

        &:last-of-type {
          color: white;
          background: #2897EF;
        }
      }

      .button-disabled {
        background: rgba(0, 0, 0, 0.26) !important;
      }
    }
  }
}

.credit-card {
  display: flex;
  align-items: center;
  margin: 20px 20px 20px 0;

  img {
    height: 60px;
    margin-right: 16px;
  }

  .info {
    display: flex;
    flex-direction: column;

    .number {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }

    .data {
      font-size: 13px;
      line-height: 24px;
    }
  }

  .actions {
    margin-left: auto;

    mat-icon {
      margin-left: 10px;
      padding: 4px;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      font-size: 22px;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
