<blue-header [items]="breadcrumbs" [titleValue]="account ? account.name : null">
  <div class="app-id-container">
    <div class="button" [class.button--active]="idExpanded" (click)="toggleExpanded()">APP ID</div>
    <div *ngIf="account" class="content" [class.content--visible]="idExpanded">
      <div>{{account.id}}</div>
      <mat-icon matTooltip="Copy App ID" ngxClipboard [cbContent]="account.id">content_copy</mat-icon>
    </div>
  </div>
</blue-header>

<div class="account-management-body">

  <div class="row">

    <div class="card column" *ngIf="accountBackup">
      <div class="title">Account Settings</div>
      <div class="body">
        <mat-form-field>
          <input type="text" matInput [(ngModel)]="accountBackup.name" placeholder="Account Name">
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-button
                [disabled]="accountBackup.name === account.name"
                (click)="cancelAccountUpdate()">
          Cancel
        </button>
        <button mat-button
                [disabled]="accountBackup.name === account.name"
                [class.button-disabled]="accountBackup.name === account.name"
                (click)="updateAccount()">
          Save
        </button>
      </div>
    </div>

    <div *ngIf="session && authService.hasPermissions('bill', 'read')" class="card column">
      <div class="title">
        Current Payment Option

        <div class="change" *ngIf="session.customer.creditCards.length > 0" (click)="openCardSwitcher()">CHANGE</div>
      </div>

      <ng-container *ngIf="defaultCreditCard; else nocard">
        <div class="explanation">This card is used for SIX subscription payments.</div>

        <div class="credit-card credit-card--single">

          <img *ngIf="defaultCreditCard.type !== 'OTHER'" src="{{'/assets/cards/' + (defaultCreditCard.typeShort || '').toLowerCase() + '.svg'}}">

          <div class="info">
            <div class="number">**** **** **** {{defaultCreditCard.lastFour}}</div>
            <div class="data">{{defaultCreditCard.name}}</div>
            <div class="data">Expires {{defaultCreditCard.expiration}}</div>
          </div>
        </div>
      </ng-container>

      <ng-template #nocard>
        <div class="no-card">
          Please choose default credit card
        </div>
      </ng-template>
    </div>

  </div>

  <div class="row row--start">

    <div class="column" *ngIf="accountDetailsBackup && accountDetailsService.hasReadPermission()">
      <div class="card">
        <div class="title">Account Details</div>

        <div class="body">

          <mat-form-field [class.error]="accountDetailsFormInvalid && accountDetails.supportEmail && !isValidEmail(accountDetails.supportEmail)">
            <input type="text" matInput placeholder="Customer Service Email" [(ngModel)]="accountDetails.supportEmail">
          </mat-form-field>

          <mat-form-field>
            <input type="text" matInput placeholder="Customer Service Phone" [textMask]="{mask: mask, guide: false}" [(ngModel)]="accountDetails.supportPhone">
          </mat-form-field>

          <mat-form-field [class.error]="accountDetailsFormInvalid && accountDetails.supportLink && !isValidLink(accountDetails.supportLink)">
            <input type="text" matInput placeholder="Customer Service Link" [(ngModel)]="accountDetails.supportLink">
          </mat-form-field>

          <div class="flex-custom flex-custom--center">
            <mat-form-field [class.error]="accountDetailsFormInvalid && accountDetails.emailTemplateSettings.colorPrimary && !isValidColorHex(accountDetails.emailTemplateSettings.colorPrimary)">
              <span matPrefix># &nbsp;</span>
              <input type="text" matInput placeholder="Primary Color" [(ngModel)]="accountDetails.emailTemplateSettings.colorPrimary">
            </mat-form-field>

            <div class="color-preview" [style.background]="'#' + accountDetailsBackup.emailTemplateSettings.colorPrimary"></div>
          </div>

          <div class="flex-custom flex-custom--center">
            <mat-form-field [class.error]="accountDetailsFormInvalid && accountDetails.emailTemplateSettings.colorSecondary && !isValidColorHex(accountDetails.emailTemplateSettings.colorSecondary)">
              <span matPrefix># &nbsp;</span>
              <input type="text" matInput placeholder="Secondary Color" [(ngModel)]="accountDetails.emailTemplateSettings.colorSecondary">
            </mat-form-field>

            <div class="color-preview" [style.background]="'#' + accountDetailsBackup.emailTemplateSettings.colorSecondary"></div>
          </div>

          <div class="flex-custom flex-custom--center">
            <mat-form-field [class.error]="accountDetailsFormInvalid && accountDetails.emailTemplateSettings.colorTertiary && !isValidColorHex(accountDetails.emailTemplateSettings.colorTertiary)">
              <span matPrefix># &nbsp;</span>
              <input type="text" matInput placeholder="Tertiary Color" [(ngModel)]="accountDetails.emailTemplateSettings.colorTertiary">
            </mat-form-field>

            <div class="color-preview" [style.background]="'#' + accountDetailsBackup.emailTemplateSettings.colorTertiary"></div>
          </div>

          <div class="placeholder-label">Account Logo</div>

          <div class="image-upload">
            <div class="image-holder">
              <img src="{{accountDetails.companyLogo}}" alt="No Logo Uploaded">
            </div>
            <image-uploader (imageUploaded)="accountDetails.companyLogo = $event.path"></image-uploader>
          </div>

        </div>

        <div class="buttons">
          <button mat-button
                  [disabled]="!accountDetailsEdited()"
                  (click)="cancelAccountDetailsEdit()">
            Cancel
          </button>
          <button mat-button
                  [disabled]="!accountDetailsEdited()"
                  [class.button-disabled]="!accountDetailsEdited()"
                  (click)="updateAccountDetails()">
            Save
          </button>
        </div>
      </div>
    </div>

    <div class="column" *ngIf="session && authService.hasPermissions('bill', 'read')">
      <div class="card">
        <div class="title">Cards on file</div>

        <ng-container *ngIf="session.customer.creditCards.length > 0; else nocards">
          <div class="credit-card" *ngFor="let card of session.customer.creditCards">

            <img *ngIf="card.type !== 'OTHER'" src="{{'/assets/cards/' + (card.typeShort || '').toLowerCase() + '.svg'}}">

            <div class="info">
              <div class="number">**** **** **** {{card.lastFour}}</div>
              <div class="data">{{card.name}}</div>
              <div class="data">Expires {{card.expiration}}</div>
            </div>

            <div class="actions">
              <mat-icon (click)="deleteCard(card)">delete</mat-icon>
              <mat-icon (click)="openCardModal(card, false)">edit</mat-icon>
            </div>
          </div>
        </ng-container>

        <ng-template #nocards>
          <div class="no-card">No Cards found</div>
        </ng-template>

        <button class="add-card-button" mat-button (click)="openCardModal(null, true)">ADD CARD</button>
      </div>
      <div *ngIf="customer" class="card">
        <div class="title">Contact Information</div>
        <div class="body">
          <mat-form-field [class.error]="formInvalid && !customer.firstName">
            <input type="text" matInput placeholder="Name" [(ngModel)]="customer.firstName">
          </mat-form-field>

          <mat-form-field [class.error]="formInvalid && !validEmail()">
            <input type="text" matInput placeholder="Email" [(ngModel)]="customer.email">
          </mat-form-field>

          <mat-form-field [class.error]="formInvalid && !customer.phone">
            <input matInput type="text" [textMask]="{mask: mask, guide: false}" placeholder="Phone Number" [(ngModel)]="customer.phone">
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-button
                  [disabled]="!customerEdited()"
                  (click)="cancelCustomerUpdate()">
            Cancel
          </button>
          <button mat-button
                  [disabled]="!customerEdited()"
                  [class.button-disabled]="!customerEdited()"
                  (click)="updateCustomer()">
            Save
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
