.dialog-container {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto,"Helvetica Neue",sans-serif;

  img {
    max-width: 100%;
  }

  md-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 3px solid rgba(0,0,0,0.6);
    color: rgba(0,0,0,0.6);
    font-size: 24px;
    cursor: pointer;

    &:hover {
      border: 3px solid rgba(0,0,0,0.4);
      color: rgba(0,0,0,0.4);
    }
  }

  .description {
    margin-top: 20px;

    div {

      &:first-of-type {
        color: #5B9BE1;
        font-size: 18px;
      }

      &:last-of-type {
        margin-top: 16px;
        font-size: 14px;
        color: #4A4A4A;
      }
    }
  }
}
