.container {
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
}

table {
  background: white;

  th, td {
    padding: 15px 10px;
  }

  thead {
    th {
      font-weight: normal;
      color: rgba(0,0,0,0.5);
    }
  }

}

