<div class="list__container" [class.list__container--hidden]="!sideVisible">
  <div class="list__header"></div>

  <div class="list__content">

    <div class="header" [class.header--collapsed]="!sideVisible">
      <div (click)="toggleAddProductScheduleMode()">
        <mat-icon>add</mat-icon>
        <span *ngIf="sideVisible">ADD</span>
      </div>
    </div>

    <div class="section" *ngFor="let ps of productSchedules; let i = index">
      <span class="section__number" [class.section__number--collapsed]="!sideVisible" (click)="productScheduleToggle(!ps.detailedListSelected, ps)">{{i+1}}</span>

      <div class="section__content" [class.section__content--collapsed]="!sideVisible">
        <div class="item item--schedule" [class.item--selected]="ps.detailedListSelected">
          <ng-container *ngIf="sideVisible;">
            <span>{{ps.schedules.length}}</span>
            <div (click)="productScheduleToggle(!ps.detailedListSelected, ps)"> {{ps.name || 'Unnamed'}}</div>
            <mat-icon *ngIf="!singleScheduleMode" (click)="scheduleCollapseToggle(ps)" [class.rotated]="ps.detailedListOpened">keyboard_arrow_left</mat-icon>
          </ng-container>
        </div>

        <div [style.height]="ps.schedules.length * 46 + 'px'" class="products-list" [class.products-list--hidden]="!ps.detailedListOpened">
          <div class="item item--product"
               *ngFor="let schedule of ps.schedules"
               (click)="scheduleToggle(!schedule.detailedListSelected, schedule)"
               [class.item--product--collapsed]="!sideVisible"
               [class.item--selected]="schedule.detailedListSelected">
            <div *ngIf="schedule.product.getDefaultImagePath(); else defaultimage"
                 class="image"
                 [style.background-image]="'url(' + schedule.product.getDefaultImagePath() + ')'">
            </div>
            <ng-template #defaultimage><div class="image image--default"></div></ng-template>
            <div *ngIf="sideVisible" class="text">{{schedule.product.name}}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="section" *ngFor="let p of products; let i = index">
      <span class="section__number" [class.section__number--collapsed]="!sideVisible">{{productSchedules.length + i+1}}</span>
      <div class="section__content" [class.section__content--collapsed]="!sideVisible">
        <div class="item item--schedule" [class.item--selected]="p.detailedListSelected">
          <ng-container *ngIf="sideVisible;">
            <div (click)="productToggle(!p.detailedListSelected, p)">{{p.name || 'Unnamed'}}</div>
          </ng-container>
        </div>
      </div>
    </div>

    <div *ngIf="sideVisible && addMode" class="section section--dropdown">
      <span class="section__number">{{productSchedules.length + products.length + 1}}</span>
      <div class="section__content section__content--dropdown">
        <div class="item item--schedule">
          <autocomplete-input class="session-autocomplete"
                              [mapFunction]="singleScheduleMode ? productMapper : productScheduleMapper"
                              [initialValue]="singleScheduleMode ? productToAdd : productScheduleToAdd"
                              [options]="singleScheduleMode ? allProducts: allProductSchedules"
                              [placeholder]="singleScheduleMode ? 'Add Product' : 'Add Product Schedule'"
                              [unmatchedEnabled]="!singleScheduleMode"
                              [unmatchedFactory]="productScheduleFactory"
                              [floatingPlaceholder]="false"
                              [applyAutofocus]="true"
                              (selected)="addSelected($event)">
          </autocomplete-input>
          <mat-icon (click)="persistSelected()">add</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
