<div class="list__container" [class.list__container--hidden]="!sideVisible">
  <div class="list__header"></div>

  <div class="list__content">

    <div class="header" [class.header--collapsed]="!sideVisible">
      <ng-container *ngIf="!singleScheduleMode">
        <div (click)="toggleAddProductScheduleMode()">
          <md-icon>add</md-icon>
          <span *ngIf="sideVisible">ADD TO WATERMARK</span>
        </div>
      </ng-container>
    </div>

    <div *ngFor="let ps of productSchedules; let i = index">

      <div class="item item--schedule" [class.item--selected]="ps.detailedListSelected">
        <ng-container *ngIf="sideVisible; else number">
          <div class="text"(click)="productScheduleToggle(!ps.detailedListSelected, ps)">{{ps.name || 'Unnamed'}}</div>
          <md-icon (click)="scheduleCollapseToggle(ps)" [class.rotated]="ps.detailedListOpened">keyboard_arrow_down</md-icon>
        </ng-container>

        <ng-template #number><span class="number" (click)="productScheduleToggle(!ps.detailedListSelected, ps)">{{i+1}}</span></ng-template>
      </div>

      <div [style.height]="ps.schedules.length * 46 + 'px'" class="products-list" [class.products-list--hidden]="!ps.detailedListOpened">
        <div class="item item--product"
             *ngFor="let schedule of ps.schedules"
             (click)="scheduleToggle(!schedule.detailedListSelected, schedule)"
             [class.item--product--collapsed]="!sideVisible"
             [class.item--selected]="schedule.detailedListSelected">
          <div *ngIf="schedule.product.getDefaultImagePath(); else defaultimage"
               class="image"
               [style.background-image]="'url(' + schedule.product.getDefaultImagePath() + ')'">
          </div>
          <ng-template #defaultimage><div class="image image--default"></div></ng-template>
          <div *ngIf="sideVisible" class="text">{{schedule.product.name}}</div>
        </div>
      </div>

    </div>

    <div *ngFor="let p of products; let i = index">
      <div class="item item--schedule">
        <ng-container *ngIf="sideVisible; else number">
          <div class="text">{{p.name || 'Unnamed'}}</div>
        </ng-container>

        <ng-template #number><span class="number">{{productSchedules.length + i+1}}</span></ng-template>
      </div>
    </div>

    <div class="add-product-schedule-container" *ngIf="!singleScheduleMode && addProductScheduleMode && sideVisible">
      <autocomplete-input class="session-autocomplete"
                          [mapFunction]="productScheduleMapper"
                          [initialValue]="productScheduleToAdd"
                          [options]="allProductSchedules"
                          [placeholder]="'Add Product Schedule'"
                          [unmatchedEnabled]="true"
                          [unmatchedFactory]="productScheduleFactory"
                          [applyAutofocus]="true"
                          (selected)="addProductSchedule($event)">
      </autocomplete-input>
      <md-icon (click)="persistProductSchedule()">add</md-icon>
    </div>
  </div>
</div>
