<div inViewport (inside)="fetch()" class="dashboard__table-chart">
  <div class="dashboard__table-chart__title">
    <div class="dashboard__table-chart__title__main">{{'DASHBOARD_EVENTSFUNNEL_TITLE' | translate}}</div>
    <div class="dashboard__table-chart__title__sub">{{'DASHBOARD_EVENTSFUNNEL_SUBTITLE' | translate}}</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')">{{'CHART_DOWNLOADJSON' | translate}}</button>
      <button md-menu-item (click)="download('csv')">{{'CHART_DOWNLOADCSV' | translate}}</button>
      <button md-menu-item (click)="download('excel')">{{'CHART_DOWNLOADEXCEL' | translate}}</button>
    </md-menu>
  </div>

  <ng-container *ngIf="!serverError; else error">
    <chart [options]="chartOptions" (load)="saveChart($event.context)"></chart>
  </ng-container>

  <ng-template #error>
    <server-error-message (refresh)="refresh()"></server-error-message>
  </ng-template>

  <div class="dashboard__table" [style.height]="calculateHeight()" [class.dashboard__table--inactive]="!showTable || !funnel">
  <table class="highlight">
    <thead>
      <tr>
        <th>{{'DASHBOARD_EVENTSFUNNEL_EVENT' | translate}}</th>
        <th class="cell--align-right">{{'DASHBOARD_EVENTSFUNNEL_COUNT' | translate}}</th>
        <th class="cell--align-right">{{'DASHBOARD_EVENTSFUNNEL_PERCENTAGE' | translate}}</th>
        <th class="cell--align-right">{{'DASHBOARD_EVENTSFUNNEL_RELATIVEPERCENTAGE' | translate}}</th>
      </tr>
    </thead>

    <tbody *ngIf="funnel">
      <tr>
        <td><div [style.background]="colors[0]" class="color-indicator"></div>{{'DASHBOARD_EVENTSFUNNEL_CLICK' | translate}}</td>
        <td class="cell--align-right">{{funnel.click.count}}</td>
        <td class="cell--align-right">{{funnel.click.percentage || '-'}}%</td>
        <td class="cell--align-right">{{funnel.click.relativePercentage || '-'}}%</td>
      </tr>
      <tr>
        <td><div [style.background]="colors[1]" class="color-indicator"></div>{{'DASHBOARD_EVENTSFUNNEL_LEAD' | translate}}</td>
        <td class="cell--align-right">{{funnel.lead.count}}</td>
        <td class="cell--align-right">{{funnel.lead.percentage || '-'}}%</td>
        <td class="cell--align-right">{{funnel.lead.relativePercentage || '-'}}%</td>
      </tr>
      <tr>
        <td><div [style.background]="colors[2]" class="color-indicator"></div>{{'DASHBOARD_EVENTSFUNNEL_MAIN' | translate}}</td>
        <td class="cell--align-right">{{funnel.main.count}}</td>
        <td class="cell--align-right">{{funnel.main.percentage || '-'}}%</td>
        <td class="cell--align-right">{{funnel.main.relativePercentage || '-'}}%</td>
      </tr><tr>
        <td><div [style.background]="colors[3]" class="color-indicator"></div>{{'DASHBOARD_EVENTSFUNNEL_UPSELL' | translate}}</td>
        <td class="cell--align-right">{{funnel.upsell.count}}</td>
        <td class="cell--align-right">{{funnel.upsell.percentage || '-'}}%</td>
        <td class="cell--align-right">{{funnel.upsell.relativePercentage || '-'}}%</td>
      </tr>
      <tr>
        <td><div [style.background]="colors[4]" class="color-indicator"></div>{{'DASHBOARD_EVENTSFUNNEL_CONFIRM' | translate}}</td>
        <td class="cell--align-right">{{funnel.confirm.count}}</td>
        <td class="cell--align-right">{{funnel.confirm.percentage || '-'}}%</td>
        <td class="cell--align-right">{{funnel.confirm.relativePercentage || '-'}}%</td>
      </tr>
    </tbody>
  </table>
  </div>

  <ng-content></ng-content>

  <div class="dashboard__table-chart__actions">
    <span *ngIf="funnel" (click)="toggleTable()">{{(showTable ? 'CHART_COLLAPSE' : 'CHART_SHOWTABLE') | translate}}</span>
  </div>
</div>
