.dashboard__table {
  height: 315px;
  overflow: hidden;
  transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);

  @media only screen and (max-width: 1440px) {
    height: 235px;
  }

  &--inactive {
    height: 0 !important;
  }
}
