<div inViewport (inside)="fetch()" class="dashboard__gray-table-chart">
  <div class="dashboard__gray-table-chart__title">
    <div class="main">{{'DASHBOARD_EVENTSFUNNEL_TITLE' | translate}}</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')">{{'CHART_DOWNLOADJSON' | translate}}</button>
      <button md-menu-item (click)="download('csv')">{{'CHART_DOWNLOADCSV' | translate}}</button>
      <button md-menu-item (click)="download('excel')">{{'CHART_DOWNLOADEXCEL' | translate}}</button>
    </md-menu>
  </div>

  <ng-container *ngIf="!serverError; else error">
    <chart [options]="chartOptions" (load)="saveChart($event.context)"></chart>
  </ng-container>

  <ng-template #error>
    <server-error-message (refresh)="refresh()"></server-error-message>
  </ng-template>

  <div *ngIf="funnel" class="table-container">

    <div class="column">
      <div class="item item--title"></div>
      <div class="item item--title">{{'DASHBOARD_EVENTSFUNNEL_CLICK' | translate}}</div>
      <div class="item item--title">{{'DASHBOARD_EVENTSFUNNEL_LEAD' | translate}}</div>
      <div class="item item--title">{{'DASHBOARD_EVENTSFUNNEL_MAIN' | translate}}</div>
      <div class="item item--title">{{'DASHBOARD_EVENTSFUNNEL_UPSELL' | translate}}</div>
      <div class="item item--title">{{'DASHBOARD_EVENTSFUNNEL_CONFIRM' | translate}}</div>
    </div>

    <div class="column">
      <div class="item item--title"></div>
      <div class="item">{{funnel.click.count | numberlocale}}</div>
      <div class="item">{{funnel.lead.count | numberlocale}}</div>
      <div class="item">{{funnel.main.count | numberlocale}}</div>
      <div class="item">{{funnel.upsell.count | numberlocale}}</div>
      <div class="item">{{funnel.confirm.count | numberlocale}}</div>
    </div>

    <div class="column">
      <div class="item item--title">% of Clicks</div>
      <div class="item item--line"><div class="line"></div></div>
      <div class="item">{{(funnel.lead.percentage | numberlocale) || '-'}}%</div>
      <div class="item">{{(funnel.main.percentage | numberlocale) || '-'}}%</div>
      <div class="item">{{(funnel.upsell.percentage | numberlocale) || '-'}}%</div>
      <div class="item">{{(funnel.confirm.percentage | numberlocale) || '-'}}%</div>
    </div>

    <div class="column">
      <div class="item item--title">% of Sales</div>
      <div class="item item--line"><div class="line"></div></div>
      <div class="item item--line"><div class="line"></div></div>
      <div class="item item--line"><div class="line"></div></div>
      <div class="item">{{(funnel.upsell.relativePercentage | numberlocale) || '-'}}%</div>
      <div class="item">{{(funnel.upsell.relativePercentage | numberlocale) || '-'}}%</div>
    </div>

  </div>
</div>
