<md-card class="entity-view__card" *ngIf="entity">
  <md-card-title class="entity-view__card__title"> <span>{{mode}} Product</span> </md-card-title>
  <md-card-content class="entity-view__card__content">
    <md-input [disabled]="viewMode" placeholder="Name" [(ngModel)]="entity.name"></md-input>
    <md-input [disabled]="viewMode" placeholder="SKU" [(ngModel)]="entity.sku"></md-input>
    <span [class.input--active]="entity.ship" class="input--small entity-view__card__content__span--dropdown" *ngIf="!viewMode">
      {{ entity.ship || 'Ship'}}
      <md-icon *ngIf="!viewMode" [md-menu-trigger-for]="shipMenu">keyboard_arrow_down</md-icon>
    </span>
    <md-input class="input--small" *ngIf="viewMode" [disabled]="viewMode" placeholder="Ship" [(ngModel)]="entity.ship"></md-input>
    <md-input [disabled]="viewMode" placeholder="Shipping Delay" [(ngModel)]="entity.shippingDelay"></md-input>

    <md-menu #shipMenu="mdMenu" x-position="before">
      <button md-menu-item (click)="setShip('True')"> True </button>
      <button md-menu-item (click)="setShip('False')"> False </button>
    </md-menu>

    <div>
      <md-card-subtitle>Fulfillment Provider</md-card-subtitle>
      <span *ngIf="!viewMode" class="input--medium entity-view__card__content__span--dropdown" [class.input--active]="entity.fulfillmentProvider.name">
        {{ entity.fulfillmentProvider.name || 'Select'}}
        <md-icon *ngIf="!viewMode" [md-menu-trigger-for]="fulfillmentMenu">keyboard_arrow_down</md-icon>
      </span>
      <md-input *ngIf="viewMode" class="input--medium" disabled value="{{entity.fulfillmentProvider.name}}"></md-input>
    </div>

    <md-menu #fulfillmentMenu="mdMenu" x-position="before">
      <button *ngFor="let provider of fulfillmentProviders" md-menu-item (click)="setFulfillmentProvider(provider)">
        {{provider.name}}
      </button>
    </md-menu>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="primary" *ngIf="addMode" (click)="saveEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="updateEntity(entity)">Save</button>
    <button md-raised-button color="primary" *ngIf="updateMode" (click)="cancelUpdate()">Cancel</button>
  </md-card-actions>
</md-card>
