<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Product Schedule</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="!addMode; else createMessage">
          {{entity.name}}
        </span>
        <ng-template #createMessage>
          Create new Product Schedule
        </ng-template>
      </div>

      <div *ngIf="!addMode" class="entity-view__info__data__other">
        <span class="entity-view__info__data__other__label">ID:</span>
        <span>{{entity.id}}</span>
      </div>
    </div>

  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">CAMPAIGNS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom">

        <div class="entity-view__card product-schedule-view__details">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">Product Schedule details</div>
            <ng-container *ngIf="!addMode">
              <md-icon [md-menu-trigger-for]="shipOptions">more_vert</md-icon>
              <md-menu #shipOptions="mdMenu" x-position="before">
                <button md-menu-item (click)="setMode(modes.Update);"> Edit Product Schedule </button>
              </md-menu>
            </ng-container>
          </div>

          <form #productScheduleInputForm="ngForm" style="font-size: 14px;" class="entity-view__card__content">
            <md-input-container [class.error]="formInvalid && !entity.name">
              <input [disabled]="viewMode" required md-input placeholder="Product Schedule Name" name="name" [(ngModel)]="entity.name" type="text">
            </md-input-container>

            <autocomplete-input class="default-autocomplete-input--full-width"
                                [class.error]="formInvalid && !entity.loadBalancer.id"
                                [disabled]="viewMode"
                                [mapFunction]="loadBalancerMapper"
                                [initialValue]="entity.loadBalancer"
                                [options]="loadBalancerService.entities$ | async"
                                [placeholder]="'Load Balancer'"
                                [showCancelButton]="false"
                                [required]="true"
                                (selected)="entity.loadBalancer = $event">
            </autocomplete-input>
          </form>

          <div *ngIf="!viewMode" class="entity-view__card__actions product-schedule-view__details__actions">
            <div *ngIf="updateMode" (click)="cancelUpdate()">CANCEL</div>
            <div (click)="saveSchedule(productScheduleInputForm.form.valid)">SAVE</div>
          </div>
        </div>

        <add-schedule #addScheduleComponent (addSchedule)="addScheduleToProduct($event)"></add-schedule>
      </div>

      <table-memory [title]="'Schedule'"
                    [data]="entity.schedules"
                    [associationEnabled]="false"
                    [columnParams]="scheduleColumnParams"
                    [associateDataMapper]="scheduleMapper"
                    (disassociate)="disassociateSchedule($event)"
                    (view)="navigateToProduct($event)">
      </table-memory>

    </md-tab>

    <md-tab>
      <product-schedule-campaigns [id]="entity.id"></product-schedule-campaigns>
    </md-tab>

  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>


