product-schedule-add-new {
  display: flex;
}

table-advanced {
  display: block;
  margin-top: 18px;
}

.entity-view__container {
  display: flex;
  overflow: hidden;

  .entity-view {
    width: 100%;
  }
}

spe-loader {
  width: 100%;
}

.entity-view__header__title {
  margin-top: 27px;
}

schedules-detailed {
  display: block;
  background: #F3F3F3;
}
