<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Product Schedule</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="!addMode; else createMessage">

          <md-input-container *ngIf="updateMode; else viewName">
            <input md-input [(ngModel)]="entity.name">
          </md-input-container>

          <ng-template #viewName>
            {{entityBackup.name}}
          </ng-template>
        </span>
        <ng-template #createMessage>
          Create new Product Schedule
        </ng-template>
      </div>

      <div *ngIf="!addMode" class="entity-view__info__data__other">
        <span class="entity-view__info__data__other__label">ID:</span>
        <span>{{entity.id}}</span>
      </div>
    </div>

    <div *ngIf="!addMode" class="entity-view__info__edit">
      <div *ngIf="!updateMode; else editActions" class="entity-view__info__edit__update" (click)="setMode(modes.Update)"> EDIT PRODUCT SCHEDULE </div>

      <ng-template #editActions>
        <div (click)="cancelUpdate()">CANCEL</div>
        <div class="entity-view__info__edit__update" (click)="updateEntity(entity)">UPDATE</div>
      </ng-template>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">CAMPAIGNS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom">

        <div *ngIf="addMode" class="entity-view__card product-schedule-view__details">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">Product Schedule details</div>
          </div>

          <div class="entity-view__card__content">
            <md-input-container>
              <input required md-input [disabled]="viewMode" placeholder="Product Schedule Name" [(ngModel)]="entity.name" type="text">
            </md-input-container>
          </div>

          <div *ngIf="!viewMode" class="entity-view__card__actions product-schedule-view__details__actions">
            <div (click)="saveEntity(entity)">SAVE</div>
          </div>
        </div>

        <add-schedule (addSchedule)="addScheduleToProduct($event)"></add-schedule>
      </div>

      <table-memory [title]="'Schedule'"
                    [data]="entity.schedules"
                    [associationEnabled]="false"
                    [columnParams]="scheduleColumnParams"
                    [associateDataMapper]="scheduleMapper"
                    (disassociate)="disassociateSchedule($event)"
                    (view)="navigateToProduct($event)">
      </table-memory>

    </md-tab>

    <md-tab>
      <product-schedule-campaigns [id]="entity.id"></product-schedule-campaigns>
    </md-tab>

  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>


