.bills {
  margin: 10px;
  background: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
  padding: 15px;

  .title {
    font-size: 20px;
    color: rgba(0,0,0,0.87);
    margin: 25px 0;
  }

  .invoice-overdue {
    margin-bottom: 20px;
    display: block;
  }

  &__new {
    margin-top: 16px;
    margin-left: 10px;
    background: #4A90E2;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    font-weight: 500;
    width: 128px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
  }
}
