<div [style.display]="addMode ? 'none' : 'block'" class="bills">
  <div class="bills__actions">
    <div class="bills__actions__title">ACCOUNT ACTIONS</div>
    <md-checkbox><span>Enable Automatic Payments</span></md-checkbox>
    <div class="bills__actions__buttons">
      <div>CANCEL ACCOUNT</div>
      <div>PAY BILL</div>
    </div>
  </div>

  <div>
    <div class="title">Current Invoice</div>

    <invoice *ngFor="let unpaidBill of unpaid" [bill]="unpaidBill" (update)="updateInvoice($event)"></invoice>
  </div>

  <div>
    <div class="title">Past Invoices</div>

    <invoice *ngFor="let paidBill of paid" [bill]="paidBill" (update)="updateInvoice($event)"></invoice>
  </div>

  <div class="bills__new" (click)="createNewInvoice()" *ngIf="authService.isActiveAclMasterAccount()">CREATE INVOICE</div>
</div>

<add-update-invoice [style.display]="addMode ? 'block' : 'none'" [bill]="billToUpdate" (cancel)="addMode = false;"></add-update-invoice>
