<div #indexR class="entity-index">
  <user
    *ngIf="showEntityDetails"
    [mode]="mode"
    [entityId]="mode === 'view' ? showEntityId : ''"
    [fullScreen]="fullScreen"
    (close)="hideEntityDetails()"
    (deleteEntity)="deleteEntity($event)">
  </user>
  <div class="entity-index__title">Users</div>

  <button md-icon-button color="primary" *ngIf="hasWritePermission()" class="entity-index__add" (click)="openAddEntity()"><md-icon>add</md-icon></button>

  <md-card class="entity-index__card">
    <md-card-content class="entity-index__card__content">

      <table class="entity-index__table highlight">
        <thead class="entity-index__table__header">
          <tr>
            <th data-field="name"><span mdTooltip="Name">Name <md-icon>keyboard_arrow_down</md-icon></span></th>
            <th data-field="email">Email <md-icon>keyboard_arrow_down</md-icon></th>
            <th data-field="active">Active <md-icon>keyboard_arrow_down</md-icon></th>
            <th data-field="active">Terms and Conditions <md-icon>keyboard_arrow_down</md-icon></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let entity of entities; let i = index;">
            <td (click)="viewEntity(entity.id)">{{entity.name}}</td>
            <td (click)="viewEntity(entity.id)">{{entity.email}}</td>
            <td (click)="viewEntity(entity.id)">{{entity.active}}</td>
            <td (click)="viewEntity(entity.id)">{{entity.termsAndConditions}}</td>
            <td>
              <table-actions
                [service]="service"
                (viewClicked)="viewEntity(entity.id)"
                (copyClicked)="copyEntity(entity.id)"
                (exportClicked)="exportEntity(entity.id)">
              </table-actions>
            </td>
          </tr>
        </tbody>
      </table>

      <table-pagination
        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)">
      </table-pagination>
    </md-card-content>
  </md-card>
</div>
