<mat-card>
  <div class="title">Order Summary</div>
  <div class="date">{{utcf().tz(authService.getTimezone()).format('MMMM D, YYYY')}}</div>

  <div class="customer-info-container">
    <div class="shipping">
      <div class="header">Shipping Address</div>

      <div>{{customer.firstName}} {{customer.lastName}}</div>
      <div>{{shippingAddress.line1}}</div>
      <div *ngIf="shippingAddress.line2">{{shippingAddress.line2}}</div>
      <div>{{shippingAddress.city}}, {{shippingAddress.state}} {{shippingAddress.zip}}</div>
      <div>{{shippingAddress.country}}</div>
    </div>

    <div class="payment">
      <div class="header">Payment Method</div>
      <div class="card">{{creditCard.getType()}} ****{{creditCard.lastFour}}</div>

      <div class="summary">
        <div class="summary__column">
          <div>Item(s) Subtotal</div>
          <div>Shipping</div>
          <div>Total</div>
        </div>
        <div class="summary__column">
          <div>{{getPrice().usd()}}</div>
          <div>{{getShipping().usd()}}</div>
          <div>{{getTotal().usd()}}</div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<mat-card *ngFor="let product of products">
  <div class="product-container">
    <div class="product-data">
      <div class="name">{{product.name}}</div>
      <div class="sku">SKU <span *ngIf="product.sku; else schedulessku">{{product.sku}}</span></div>
      <ng-template #schedulessku><span class="sku-list" *ngFor="let cycleProduct of product.cycle[0].cycleProducts">{{cycleProduct.product.sku || '–'}}</span></ng-template>
      <div class="price">Price {{product.defaultPrice ? product.defaultPrice.usd() : product.getInitialPrice().usd()}} <div class="subscription" *ngIf="product.schedules">SUBSCRIPTION{{confirmationRequired() ? ', CONFIRMATION REQUIRED':''}}</div></div>

      <div class="description">
        <ng-container *ngIf="product.description">
          {{product.description || '–' }}
        </ng-container>
      </div>
    </div>

    <img src="{{product.getDefaultImagePath()}}" alt="">
  </div>
</mat-card>

<button mat-button (click)="confirm.emit(true)">SUBMIT THIS ORDER</button>
