<div class="accept-invite">

  <div class="registration-form accept-invite__form" [class.with-instructions]="completeScreen && showAclInstructions">

    <div class="registration-form__header">
      <img src="/assets/images/logo-registration.svg" alt="">
    </div>

    <ng-container *ngIf="welcomeScreen">
      <div class="registration-form__main registration-form__main--left">
        {{'ACCEPTINVITE_TEXT1' | translate}} <span>{{acknowledgeInvite.invitor}}</span>'s {{'ACCEPTINVITE_TEXT2' | translate}} <span>{{acknowledgeInvite.accountName}}</span> {{'ACCEPTINVITE_TEXT3' | translate}} <span>{{acknowledgeInvite.role}}</span>?
      </div>
      <button class="registration-form__accept" mat-button (click)="acceptInvite()">{{'ACCEPTINVITE_ACCEPT' | translate}}</button>
    </ng-container>

  </div>

</div>
