<div class="accept-invite">
  <div class="registration-form accept-invite__form" [class.accept-invite__form--instructions]="showAclInstructions && completeScreen">
    <div class="registration-form__header">
      <img class="registration-form__header__logo" src="/assets/images/sixlogo-circles.svg" alt="">
      <img class="registration-form__header__clouds" src="/assets/images/clouds.svg" alt="">
    </div>

    <ng-container *ngIf="loginRequiredScreen">
      <div style="margin: auto" class="title">
        {{'ACCEPTINVITE_BADLOGIN' | translate}}
        <br><br>
        {{email}}
      </div>

      <div class="registration-form__button registration-form__button--no-margin accept-invite__button" (click)="goToLogin()">{{'ACCEPTINVITE_LOGIN' | translate}}</div>
      <div class="registration-form__button--cancel" (click)="logout()">Log Out</div>
    </ng-container>

    <ng-container *ngIf="welcomeScreen">
      <div style="margin: auto" class="title">
        {{'ACCEPTINVITE_TEXT1' | translate}} {{invitor}}'s {{'ACCEPTINVITE_TEXT2' | translate}} "{{account}}" {{'ACCEPTINVITE_TEXT3' | translate}} "{{role}}"?
      </div>
      <div style="margin-top: auto" class="subtitle">
        {{'ACCEPTINVITE_EXPLANATION' | translate}}
      </div>

      <div class="registration-form__button registration-form__button--no-margin accept-invite__button--small-margin" (click)="acceptInvite()">{{'ACCEPTINVITE_ACCEPT' | translate}}</div>
      <div class="registration-form__button--cancel" (click)="logout()">{{'ACCEPTINVITE_LOGOUT' | translate}}</div>
    </ng-container>

    <ng-container *ngIf="infoScreen">
      <div class="registration-form__title">
        <div class="registration-form__title__main">
          {{'ACCEPTINVITE_FORM_TITLE' | translate}}
        </div>
        <div class="registration-form__title__sub">
          {{'ACCEPTINVITE_FORM_SUBTITLE' | translate}}
        </div>
        <div class="registration-form__title__text">
          {{'ACCEPTINVITE_FORM_TEXT' | translate}}
        </div>
      </div>
      <form #regForm="ngForm" class="registration-form__form">
        <mat-input-container [class.form-error]="formInvalid && !firstName">
          <input matInput required placeholder="{{'ACCEPTINVITE_FORM_FIRSTNAME' | translate}}" type="text" name="firstName" [(ngModel)]="firstName">
        </mat-input-container>

        <mat-input-container [class.form-error]="formInvalid && !lastName">
          <input matInput required placeholder="{{'ACCEPTINVITE_FORM_LASTNAME' | translate}}" type="text" name="lastName" [(ngModel)]="lastName">
        </mat-input-container>
      </form>
      <div class="registration-form__button accept-invite__button--standalone" (click)="submitInfo(regForm.form.valid)">{{'ACCEPTINVITE_FORM_CONT' | translate}}</div>

    </ng-container>

    <ng-container *ngIf="completeScreen">
      <div style="margin: auto;" class="title title--final">
        {{'ACCEPTINVITE_THANKYOU_TITLE' | translate}}
      </div>

      <div *ngIf="showAclInstructions" class="instructions">

        <div class="instructions__header">
          <div class="instructions__menu">
            <div class="instructions__menu__item instructions__menu__first"><mat-icon class="domain domain--blue">domain</mat-icon><span>Big new LLC</span> <mat-icon class="key">keyboard_arrow_left</mat-icon></div>
            <div class="instructions__menu__item"><mat-icon class="domain domain--green">domain</mat-icon><span>ABC Corp</span></div>
            <div class="instructions__menu__item"><mat-icon class="domain domain--orange">domain</mat-icon><span>Bigger LLC</span></div>
          </div>
          <div class="instructions__profile">
            <img src="" alt="">
            <div>Hello, John Smith</div>
            <mat-icon class="key">keyboard_arrow_down</mat-icon>
          </div>
          <div class="instructions__notifications">
            <mat-icon>chat</mat-icon>
            <div class="instructions__notifications__count">5</div>
          </div>
        </div>

        <div class="instructions__content">
          <div class="instructions__content__box">
            <div class="point"></div>
            {{'ACCEPTINVITE_THANKYOU_SWITCHTEXT' | translate}}
          </div>
        </div>
      </div>

      <div class="registration-form__button accept-invite__button--standalone" (click)="complete()">{{'ACCEPTINVITE_THANKYOU_CONT' | translate}}</div>
    </ng-container>

  </div>

</div>
