@import "../../../assets/scss/colors";

.accept-invite {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: $main-color-400;

  &__form {
    height: 455px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 350px) {
      margin: 0;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }
  }

  button {
    color: #ffffff;
    background: $main-color-300;
  }
}
