<div class="accept-invite">
  <div class="registration-form accept-invite__form">
    <div class="registration-form__header">
      <img class="registration-form__header__logo" src="/assets/images/sixlogo-circles.svg" alt="">
      <img class="registration-form__header__clouds" src="/assets/images/clouds.svg" alt="">
    </div>

    <ng-container *ngIf="loginRequiredScreen">
      <div style="margin: auto" class="title">
        To accept this invite, you must be registered and logged in as <br><br>
        {{email}}
      </div>

      <div class="registration-form__button registration-form__button--no-margin accept-invite__button" (click)="goToLogin()">Log In</div>
      <div class="registration-form__button--cancel" (click)="complete()">Cancel</div>
    </ng-container>

    <ng-container *ngIf="welcomeScreen">
      <div style="margin: auto" class="title">
        Would you like to accept {{invitor}}'s invite to account "{{account}}" with role "{{role}}"?
      </div>
      <div style="margin-top: auto" class="subtitle">
        Press "Accept" below to continue
      </div>

      <div class="registration-form__button registration-form__button--no-margin accept-invite__button--small-margin" (click)="acceptInvite()">Accept</div>
      <div class="registration-form__button--cancel" (click)="complete()">Log out</div>
    </ng-container>

    <ng-container *ngIf="infoScreen">
      <div class="registration-form__title">
        <div class="registration-form__title__main">
          Welcome!
        </div>
        <div class="registration-form__title__sub">
          We're excited to have you join us
        </div>
        <div class="registration-form__title__text">
          To accept your invite to Six CRM Please fill out the following information and you are all setup
        </div>
      </div>
      <form #regForm="ngForm" class="registration-form__form">
        <md-input-container [class.form-error]="formInvalid && !firstName">
          <input md-input required placeholder="First Name" type="text" name="firstName" [(ngModel)]="firstName">
        </md-input-container>

        <md-input-container [class.form-error]="formInvalid && !lastName">
          <input md-input required placeholder="Last Name" type="text" name="lastName" [(ngModel)]="lastName">
        </md-input-container>
      </form>
      <div class="registration-form__button accept-invite__button--standalone" (click)="submitInfo(regForm.form.valid)">Continue</div>

    </ng-container>

    <ng-container *ngIf="completeScreen">
      <div style="margin: auto;" class="title">
        Great!  We've added you to the account.
      </div>

      <div class="registration-form__button accept-invite__button--standalone" (click)="complete()">Continue</div>
    </ng-container>

  </div>

</div>
