<div class="entity-view__card" [class.entity-view__card--create]="mode === modes.Add">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{(mode === modes.Add ? 'USER_DETAILS_CREATETITLE' : 'USER_DETAILS_TITLE') | translate}}</div>
    <ng-container *ngIf="mode !== modes.Add && !!editEnabled">
      <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
      <mat-menu #editOptions="matMenu" x-position="before">
        <button md-menu-item (click)="changeMode.emit(modes.Update)">{{'USER_DETAILS_EDIT' | translate}}</button>
      </mat-menu>
    </ng-container>
  </div>

  <form #userInput="ngForm" class="entity-view__card__content">

    <div class="user-view__item flex-custom flex-custom--center">
      <span>{{'USER_DETAILS_ACTIVATED' | translate}}</span>
      <mat-checkbox class="flex-align--right" [checked]="entity.active" (change)="entity.toggleActive()" [disabled]="mode === modes.View"></mat-checkbox>
    </div>

    <mat-input-container [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
      <input auto-focus required matInput [disabled]="mode === modes.View" placeholder="{{'USER_DETAILS_NAME' | translate}}" name="name" [(ngModel)]="entity.name" type="text">
    </mat-input-container>

    <mat-input-container [class.error]="formInvalid && !entity.email" class="entity-view__card__content__item">
      <input required matInput (keydown)="isEmail($event, entity.email)" [disabled]="mode !== modes.Add" placeholder="{{'USER_DETAILS_EMAIL' | translate}}" name="email" [(ngModel)]="entity.email" type="text">
    </mat-input-container>

    <ng-container *ngIf="mode === modes.Add">
      <div class="user-view__item flex-custom flex-custom--center">
        <span>{{'USER_DETAILS_NEWACCOUNT' | translate}}</span>
        <mat-checkbox class="flex-align--right" [checked]="newAccount" (change)="newAccount = !newAccount"></mat-checkbox>
      </div>

      <ng-container *ngIf="!newAccount">
        <autocomplete-input
          [class.error]="formInvalid && !accountToAdd.id"
          class="user-view__item"
          [initialValue]="accountToAdd"
          [options]="accounts"
          [placeholder]="'USER_DETAILS_ACCOUNT' | translate"
          [mapFunction]="accountsMapFunction"
          (selected)="accountToAdd = $event">
        </autocomplete-input>

        <autocomplete-input
          [class.error]="formInvalid && !roleToAdd.id"
          class="user-view__item"
          [initialValue]="roleToAdd"
          [options]="roles"
          [placeholder]="'USER_DETAILS_ROLE' | translate"
          [mapFunction]="rolesMapFunction"
          (selected)="roleToAdd = $event">
        </autocomplete-input>
      </ng-container>
    </ng-container>

  </form>

  <div *ngIf="mode !== modes.View" class="entity-view__card__actions">
    <div (click)="cancel.emit(true)">{{'USER_DETAILS_CANCEL' | translate}}</div>
    <div (click)="saveUser(userInput.form.valid)">{{'USER_DETAILS_SAVE' | translate}}</div>
  </div>
</div>
