<div class="entity-view__card">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{(editMode ? 'PRODUCTSCHEDULE_CYCLE_EDITTITLE' : 'PRODUCTSCHEDULE_CYCLE_ADDTITLE') | translate}}</div>
  </div>

  <form #scheduleInputForm="ngForm" class="entity-view__card__content product-schedule-view__container">

    <div class="flex-custom" style="z-index: 2">
      <autocomplete-input *ngIf="addProductMode"
                          class="profile-page__content__general__data__dropdown"
                          [class.error]="formInvalid && !scheduleToAdd.product.id"
                          [mapFunction]="productMapper"
                          [initialValue]="scheduleToAdd.product"
                          [options]="productsService.entities$ | async"
                          [placeholder]="'PRODUCTSCHEDULE_CYCLE_NAME' | translate"
                          [required]="true"
                          (selected)="addProductToSchedule($event)">
      </autocomplete-input>
      <autocomplete-input *ngIf="!addProductMode"
                          class="profile-page__content__general__data__dropdown"
                          [class.error]="formInvalid && !productScheduleToAdd.id"
                          [mapFunction]="productMapper"
                          [initialValue]="productScheduleToAdd"
                          [options]="productScheduleService.entities$ | async"
                          [placeholder]="'PRODUCTSCHEDULE_CYCLE_SCHEDULENAME' | translate"
                          [required]="true"
                          (selected)="addNewProductSchedule($event)">
      </autocomplete-input>

      <mat-input-container>
        <input required matInput placeholder="{{'PRODUCTSCHEDULE_CYCLE_PRICE' | translate}}" (keydown)="isCurrency($event)" name="price" type="text" currencyInput [initPrice]="scheduleToAdd.price" (priceChanged)="scheduleToAdd.price = $event">
        <div class="helper-text">{{'PRODUCTSCHEDULE_CYCLE_PRICETIP' | translate}}</div>
      </mat-input-container>
    </div>

    <div style="margin-top: 15px;" class="flex-custom">
      <mat-input-container [class.error]="formInvalid && (+scheduleToAdd.start > +scheduleToAdd.end)">
        <input required matInput placeholder="{{'PRODUCTSCHEDULE_CYCLE_START' | translate}}" (keydown)="isNumeric($event)" name="start" [(ngModel)]="scheduleToAdd.start" type="text">
        <div class="helper-text">{{'PRODUCTSCHEDULE_CYCLE_STARTTIP' | translate}}</div>
      </mat-input-container>

      <mat-input-container [class.error]="formInvalid && (+scheduleToAdd.start > +scheduleToAdd.end)">
        <input #endField matInput placeholder="{{'PRODUCTSCHEDULE_CYCLE_END' | translate}}" (keydown)="isNumeric($event)" name="end" [(ngModel)]="scheduleToAdd.end" type="text">
        <div class="helper-text">{{'PRODUCTSCHEDULE_CYCLE_ENDTIP' | translate}}</div>
      </mat-input-container>
    </div>
    <mat-input-container style="margin-top: 15px;" [class.error]="formInvalid && (!scheduleToAdd.period || +scheduleToAdd.period < 1)">
      <input required matInput placeholder="{{'PRODUCTSCHEDULE_CYCLE_PERIOD' | translate}}" (keydown)="isNumeric($event)" name="period" [(ngModel)]="scheduleToAdd.period" type="text">
      <div class="helper-text">{{'PRODUCTSCHEDULE_CYCLE_PERIODTIP' | translate}}</div>
    </mat-input-container>

  </form>

  <div class="entity-view__card__actions">
    <div (click)="clearAddSchedule()">{{(editMode ? 'PRODUCTSCHEDULE_CYCLE_CANCEL' : 'PRODUCTSCHEDULE_CYCLE_CLEAR') | translate}}</div>
    <div (click)="addNewSchedule(scheduleInputForm.form.valid)">{{(editMode ? 'PRODUCTSCHEDULE_CYCLE_SAVE' : 'PRODUCTSCHEDULE_CYCLE_ADD') | translate}}</div>
  </div>
</div>
