<div inViewport (inside)="fetch()" class="dashboard__gray-table-chart">
  <div class="dashboard__gray-table-chart__title">
    <div class="main">Top Subscriptions</div>
    <mat-icon [matMenuTriggerFor]="downloadOptions">more_vert</mat-icon>
    <mat-menu #downloadOptions="matMenu" x-position="before">
      <button md-menu-item (click)="download('json')">{{'CHART_DOWNLOADJSON' | translate}}</button>
      <button md-menu-item (click)="download('csv')">{{'CHART_DOWNLOADCSV' | translate}}</button>
      <button md-menu-item (click)="download('excel')">{{'CHART_DOWNLOADEXCEL' | translate}}</button>
    </mat-menu>
  </div>

  <div class="dashboard__gray-table-chart__chart">
    <chart #chartI class="dashboard-chart" [options]="chartOptions" (load)="loadChart(chartI)"></chart>
  </div>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else data"></server-error-message>

  <ng-template #data>
    <div *ngIf="subscriptions" class="dashboard__gray-table-chart__table">
      <div class="item" *ngFor="let subscription of subscriptions; let i = index" [routerLink]="['/productschedules', subscription.subscription]">
        <div class="num" [style.background-color]="colors[i]">
          <div>{{i + 1}}</div>
        </div>
        <div class="name">{{subscription.subscription}}</div>
        <div class="amount">{{subscription.amount.usd()}}</div>
      </div>
    </div>

    <table-loader *ngIf="!subscriptions"></table-loader>
  </ng-template>
</div>
