<div class="entity-index">

  <blue-header [items]="crumbItems" [titleValue]="title"></blue-header>

  <filter-table [date]="date"
                [columnParams]="columnParams"
                [items]="entitiesHolder"
                [tabs]="tabs"
                [loading]="loadingData"
                [singleOptions]="options"
                (filtersSelected)="oFiltersDialog()"
                (tabSelected)="selectTab($event)"
                (dateChanged)="changeDate($event)"
                (singleOptionSelected)="optionSelected($event)"
                (loadMore)="loadMore()">
  </filter-table>

</div>

