.validation-explanation {
  margin-bottom: 25px;
  max-width: 320px;
  font-size: 14px;
  color: rgba(0,0,0,0.6);

  &--message {
    margin: 15px 0;
  }
}

.validation-spinner {
  margin: 15px auto;
}
