<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">SMTP Provider</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="!addMode; else createMessage">
          {{entityBackup.name}}
        </span>
        <ng-template #createMessage>
          Create new SMTP Provider
        </ng-template>
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">SMTP VALIDATION</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 2" (click)="setIndex(2)">EMAIL TEMPLATES</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <smtp-provider-add-new [entity]="entity"
                             [mode]="viewMode ? modes.View : modes.Update"
                             (changeMode)="setMode($event)"
                             (cancel)="cancelUpdate()"
                             (save)="saveOrUpdate($event)">
      </smtp-provider-add-new>

    </md-tab>
    <md-tab>
      <div class="entity-view__card">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title">Validate SMTP Provider</div>
        </div>

        <div class="entity-view__card__content">

          <div class="validation-explanation">Please provide an email address below and Six will try to send you a test email from '{{entity.fromEmail}}' using provided SMTP Provider</div>

          <md-input-container class="entity-view__card__content__item">
            <input required md-input [disabled]="mode === modes.View" placeholder="Receiver email address" (keydown)="isEmail($event, validationEmail)" [(ngModel)]="validationEmail" type="text">
          </md-input-container>

          <md-spinner class="validation-spinner" *ngIf="validationInProgress"></md-spinner>
          <div class="validation-explanation validation-explanation--message" [style.color]="validationSuccess ? '#316537' : '#C31313'" *ngIf="!validationInProgress && validationMessage"> {{ validationMessage }} </div>
        </div>

        <div class="entity-view__card__actions">
          <div (click)="validateProvider()">VALIDATE</div>
        </div>
      </div>


    </md-tab>

    <md-tab>
      <coming-soon [inPage]="true"></coming-soon>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>

