.header {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  height: 96px;
  box-sizing: border-box;
  background: #296CCC;

  .info-section {
    display: flex;
    flex-direction: column;
    height: 100%;

    .crumbs {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);

      .item {
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
      }

      .arrow {
        margin: 0 6px;
        font-size: 22px;
        height: 22px;
        width: 22px;
      }
    }

    .details {
      display: flex;
      margin-top: auto;
      align-items: center;

      .title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .icon {
    display: flex;
    margin-left: auto;
    padding: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.12);
    overflow: hidden;
    color: #2C98F0;
  }
}
