<features-header
  [path]="['SIX Administration', 'Features']">
</features-header>
<div class="features">

  <div class="container">
    <!--<button mat-button (click)="save()">Save</button>-->
    <button mat-button (click)="fetch()">Reset all to defaults</button>

    <div class="flags" *ngIf="featureFlags">
      <div class="flag flag-outer" *ngFor="let flag of featureFlags.flags; let i = index">
        <div class="header">
          <div class="name">{{flag.name}}</div>
          <mat-slide-toggle class="mrw-mat-slide-toggle" [checked]="flag.isDefault" (change)="toggle(flag)"></mat-slide-toggle>
        </div>
        <div class="description" *ngIf="flag.name !== flag.description">{{flag.description}}</div>

        <div  class="flag flag-inner" *ngFor="let f of flag.flags">
          <div class="header">
            <div class="name">{{f.name}}</div>
            <mat-slide-toggle class="mrw-mat-slide-toggle" (change)="toggle(f)" [disabled]="!flag.isDefault" [checked]="f.isDefault"></mat-slide-toggle>
          </div>
          <div class="description" *ngIf="f.name !== f.description">{{f.description}}</div>
        </div>

        <div class="line" *ngIf="i !== featureFlags.flags.length - 1"></div>
      </div>
    </div>
  </div>
</div>

