.numeric-container {
  width: 82px !important;

  input {
    text-align: right;
  }
}

td {
  mat-form-field {
    width: 100%;
  }
}

td {
  cursor: default !important;
}

.no-border {
  border-bottom: none !important;

  &:hover {
    background: white;
  }
}

.no-background {
  &:hover {
    background: white;
  }
}

.inline__actions {
  display: flex;
  padding-top: 5px;

  div {
    cursor: pointer;
    font-size: 12px;

    &:first-of-type {
      margin-left: auto;
      margin-right: 14px;
    }

    &:last-of-type {
      color: #5B9BE1;
    }
  }
}

.placeholder {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.cell-image {
  width: 45px;
  padding: 8px 0 8px 8px !important;
}

.cell-wrapper {
  padding-right: 0;
}

.checkbox-container {
  width: 16px;
  padding: 8px 16px 8px 30px !important;
}

.entity-view__table-component--advanced {
  overflow: visible;
}

.row-options-cell {
  padding: 4px !important;
}

.row-options {
  color: white !important;
}

.aligned {
  margin: 0 6px;
}

tr {
  &:hover {
    .row-options {
      display: block;
      color: rgba(0, 0, 0, 0.4) !important;
    }
  }
}

.image {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.header-float {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
  top: 0;

  th {
    box-sizing: border-box;
  }
}

.table__custom--associated-tags {
  tr {
    td, th {
      padding: 15px 9px;
    }
  }
}
