<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <div class="merchant-group__cards">
        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'MERCHANTPROVIDERGROUP_MERCHANT_MERCHANT' | translate}}</div>
            <ng-container *ngIf="viewMode">
              <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
              <mat-menu #editOptions="matMenu" x-position="before">
                <button mat-menu-item (click)="setMode(modes.Update)">{{'MERCHANTPROVIDERGROUP_INFO_EDIT' | translate}}</button>
              </mat-menu>
            </ng-container>
          </div>
          <form #merchantProviderInputForm="ngForm" class="entity-view__card__content">
            <mat-form-field class="entity-view__card__content__item" [class.error]="detailsFormInvalid && !entity.name">
              <input required [disabled]="viewMode" matInput placeholder="{{'MERCHANTPROVIDERGROUP_INFO_NAME' | translate}}" name="name" [(ngModel)]="entity.name" type="text">
            </mat-form-field>
          </form>

          <div *ngIf="updateMode" class="entity-view__card__actions">
            <div (click)="cancelUpdate()">{{'MERCHANTPROVIDERGROUP_INFO_CANCEL' | translate}}</div>
            <div (click)="updateMerchantProviderGroup()">{{'MERCHANTPROVIDERGROUP_INFO_UPDATE' | translate}}</div>
          </div>
        </div>

        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'MERCHANTPROVIDERGROUP_MERCHANT_ADDTITLE' | translate}}</div>
          </div>
          <form #merchantProviderInputForm="ngForm" class="entity-view__card__content">
            <mat-form-field style="width: 110px" class="entity-view__card__content__item" [class.error]="formInvalid && invalidDistribution(providerToAdd.distribution)">
              <input matInput placeholder="{{'MERCHANTPROVIDERGROUP_MERCHANT_DISTRIBUTION' | translate}}" name="distribution" (keydown)="isFloatNumeric($event)" [(ngModel)]="providerToAdd.distribution" type="text">
            </mat-form-field>

            <autocomplete-input style="font-size: 14px;"
                                [class.error]="formInvalid && !providerToAdd.merchantProvider.id"
                                [mapFunction]="merchantProviderMapper"
                                [initialValue]="providerToAdd.merchantProvider"
                                [options]="merchantProviderService.entities$ | async | removeItems : (entity.merchantProviderConfigurations || []) : merchantProviderIdMapper : configurationIdMapper"
                                [placeholder]="'MERCHANTPROVIDERGROUP_MERCHANT_MERCHANT' | translate"
                                (selected)="providerToAdd.merchantProvider = $event">
            </autocomplete-input>
          </form>

          <div class="entity-view__card__actions">
            <div (click)="clearAddProvider()">{{'MERCHANTPROVIDERGROUP_MERCHANT_CLEAR' | translate}}</div>
            <div (click)="addProvider(providerToAdd.merchantProvider.id && providerToAdd.distribution)">{{'MERCHANTPROVIDERGROUP_MERCHANT_ADD' | translate}}</div>
          </div>
        </div>

        <div class="flex-custom">
          <table-memory class="merchant-group__merchant-providers"
                        [textOptions]="merchantText"
                        [data]="entity.merchantProviderConfigurations"
                        [associationEnabled]="false"
                        [associateDataMapper]="merchantProviderConfigMapper"
                        [columnParams]="merchantProviderColumnParams"
                        [filterEnabled]="false"
                        [customMenuOptions]="customOptions"
                        (customMenuOptionSelected)="openEditMerchantProviderModal($event)"
                        (view)="navigateToMerchantProvider($event)"
                        (disassociate)="disassociateMerchantProvider($event)">
          </table-memory>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [numberOfCards]="1" [title]="'MERCHANTPROVIDERGROUP_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
