<div *ngIf="entity; else spinner" class="entity-view">
  <entity-view-breadcrumbs [items]="breadcrumbs"></entity-view-breadcrumbs>

  <div (click)="navigation.back()" class="entity-view__change-mode"><mat-icon>reply</mat-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">{{'SINGLEPAGE_CREATED' | translate}}: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="viewMode; else createForm">
          {{entityBackup.name}}
        </span>
        <ng-template #createForm>
          <mat-input-container [class.error]="detailsFormInvalid && !entity.name">
            <input required matInput placeholder="{{(addMode ? 'MERCHANTPROVIDERGROUP_INFO_NAME' : '') | translate}}" type="text" [(ngModel)]="entity.name">
          </mat-input-container>
        </ng-template>
      </div>
    </div>

    <div class="entity-view__info__edit">
      <div *ngIf="viewMode; else editButtons" class="entity-view__info__edit__update" (click)="setMode(modes.Update)">{{'MERCHANTPROVIDERGROUP_INFO_EDIT' | translate}}</div>
      <ng-template #editButtons>
        <div *ngIf="updateMode" (click)="cancelUpdate()">{{'MERCHANTPROVIDERGROUP_INFO_CANCEL' | translate}}</div>
        <div class="entity-view__info__edit__update" (click)="updateMerchantProviderGroup()"> {{ (addMode ? 'MERCHANTPROVIDERGROUP_INFO_SAVE' : 'MERCHANTPROVIDERGROUP_INFO_UPDATE') | translate}}</div>
      </ng-template>
    </div>
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <div class="entity-view__card">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title">{{'MERCHANTPROVIDERGROUP_MERCHANT_ADDTITLE' | translate}}</div>
        </div>
        <form #merchantProviderInputForm="ngForm" class="entity-view__card__content">
          <mat-input-container style="width: 110px" class="entity-view__card__content__item" [class.error]="formInvalid && !providerToAdd.distribution">
            <input matInput placeholder="{{'MERCHANTPROVIDERGROUP_MERCHANT_DISTRIBUTION' | translate}}" name="distribution" (keydown)="isFloatNumeric($event)" [(ngModel)]="providerToAdd.distribution" type="text">
          </mat-input-container>

          <autocomplete-input style="font-size: 14px;"
                              [class.error]="formInvalid && !providerToAdd.merchantProvider.id"
                              [mapFunction]="merchantProviderMapper"
                              [initialValue]="providerToAdd.merchantProvider"
                              [options]="merchantProviderService.entities$ | async"
                              [placeholder]="'MERCHANTPROVIDERGROUP_MERCHANT_MERCHANT' | translate"
                              (selected)="providerToAdd.merchantProvider = $event">
          </autocomplete-input>
        </form>

        <div class="entity-view__card__actions">
          <div (click)="clearAddProvider()">{{'MERCHANTPROVIDERGROUP_MERCHANT_CLEAR' | translate}}</div>
          <div (click)="addProvider(providerToAdd.merchantProvider.id && providerToAdd.distribution)">{{'MERCHANTPROVIDERGROUP_MERCHANT_ADD' | translate}}</div>
        </div>
      </div>

      <div class="flex-custom">
        <table-memory class="merchant-group__merchant-providers"
                      [textOptions]="merchantText"
                      [data]="entity.merchantProviderConfigurations"
                      [associationEnabled]="false"
                      [associateDataMapper]="merchantProviderConfigMapper"
                      [columnParams]="merchantProviderColumnParams"
                      [filterEnabled]="false"
                      [customMenuOptions]="customOptions"
                      (customMenuOptionSelected)="openEditMerchantProviderModal($event)"
                      (view)="navigateToMerchantProvider($event)"
                      (disassociate)="disassociateMerchantProvider($event)">
        </table-memory>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [numberOfCards]="1" [title]="'MERCHANTPROVIDERGROUP_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
