.reports-table {
  margin: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &__title {
    display: flex;
    align-items: center;
    padding: 15px 5px 15px 15px;

    span {
      font-size: 16px;
    }

    md-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: auto;
    }
  }

  table {
    thead {
      tr {
        th {
          font-size: 12px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.5);

          &:last-of-type {
            padding-right: 5px;
            width: 20px;
          }

          &:first-of-type {
            padding-left: 15px;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #d0d0d0;

        td {
          font-size: 12px;

          &:first-of-type {
            padding-left: 15px;
          }

          md-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
    }

  }

  table-pagination {
    font-size: 12px;
  }

  md-spinner {
    margin: auto;
    padding: 20px;
  }
}
