<div *ngIf="rebill" class="details">
  <div class="item">
    <div>Amount</div>
    <div>{{rebill.amount.usd()}}</div>
  </div>

  <div class="item">
    <div>Initial Order Date</div>
    <div>{{rebill.parentSession.createdAt | formatDateTime}}</div>
  </div>

  <div class="item">
    <div>Rebill No</div>
    <div>{{calculateCycle()}}</div>
  </div>

  <div class="item">
    <div>Campaign</div>
    <div>
      <a [routerLink]="['/campaigns', rebill.parentSession.campaign.id]">{{rebill.parentSession.campaign.name}}</a>
    </div>
  </div>
</div>

<div *ngIf="order" class="details details--order">
  <div class="item">
    <div>Order Number</div>
    <div>{{order.id}}</div>
  </div>

  <div class="item">
    <div>Initial Order Date</div>
    <div>{{order.session.createdAt | formatDateTime}}</div>
  </div>

  <div class="item">
    <div>Rebill No</div>
    <div>{{calculateCycle()}}</div>
  </div>

  <div class="item">
    <div>Campaign</div>
    <div>
      <a [routerLink]="['/campaigns', order.session.campaign.id]">{{order.session.campaign.name}}</a>
    </div>
  </div>
</div>
