.details {
  display: flex;
  border: 1px solid rgba(0,0,0,0.06);

  .item {
    width: 25%;
    border-right: 1px solid rgba(0,0,0,0.06);

    &:last-of-type {
      border-right: none;
    }

    .campaign {
      color: #2C98F0 !important;
      cursor: pointer;
    }

    div {
      padding: 10px;

      &:first-of-type {
        border-bottom: 1px solid rgba(0,0,0,0.06);
        font-size: 12px;
        color: #5F6368;
      }

      &:last-of-type {
        color: #202124;
        font-size: 15px;
      }
    }
  }
}
