.details {
  display: flex;
  border: 1px solid rgba(0,0,0,0.12);

  .item {
    width: 25%;
    border-right: 1px solid rgba(0,0,0,0.12);

    &:last-of-type {
      border-right: none;
    }

    .campaign {
      color: #2C98F0 !important;
      cursor: pointer;
    }

    div {
      padding: 10px;

      &:first-of-type {
        border-bottom: 1px solid rgba(0,0,0,0.12);
        font-size: 12px;
        color: #5F6368;
      }

      &:last-of-type {
        color: #202124;
        font-size: 15px;
      }
    }
  }

  &--order {
    .item {
      div:last-of-type {
        background: #F1F3F4 !important;
      }
    }
  }
}
