.container {
  display: flex;
  background: #333333;
  color: rgba(30, 177, 252, 0.3);
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  height: 100%;

  .details {
    width: 50%;
    margin: 25px;
    overflow: auto;

    @media only screen and (max-width: 1600px) {
      width: 100%;
    }
  }

  .line {
    height: auto;
    width: 1px;
    background: #000000;

    @media only screen and (max-width: 1600px) {
      width: 100%;
      height: 1px;
    }
  }

  .title {
    color: #BDBDBD;
    letter-spacing: 0.05em;
    line-height: 32px;
    font-size: 14px;
  }

  .response-header {
    display: flex;
    flex-direction: column;

    button {
      background: #2C98F0;
      color: #FFFFFF;
      height: 24px;
      border-radius: 2px;
      margin: 10px auto 10px 0;
      border: 1px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      line-height: 14px;
    }
  }

  @media only screen and (max-width: 1600px) {
    flex-wrap: wrap;
  }
}

pre {
  color: #B8E7FD;
}
