<div class="entity-view">
  <div class="entity-view__title">Customer</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div *ngIf="entity">
    <div class="entity-view__info">
      <div class="entity-view__info__image">
        <img src="/assets/images/result-item-customer-white.svg" alt="">
      </div>
      <div class="entity-view__info__data">
        <div class="entity-view__info__data__date">{{displayCreatedAt() ? 'Created:' : 'Updated:'}} {{(displayCreatedAt() ? entity.createdAt : entity.updatedAt) | formatDateTime: 'date-time'}}</div>
        <div class="entity-view__info__data__name">

          <md-input-container *ngIf="customerInfoEditMode; else firstname">
            <input class="name" md-input type="text" [(ngModel)]="entity.firstName">
          </md-input-container>
          <ng-template #firstname>
            {{entity.firstName}}
          </ng-template>

          <md-input-container class="name" *ngIf="customerInfoEditMode; else lastname">
            <input md-input type="text" [(ngModel)]="entity.lastName">
          </md-input-container>
          <ng-template #lastname>
            {{entity.lastName}}
          </ng-template>
        </div>
        <div class="entity-view__info__data__other">
          <div class="entity-view__info__data__other__item"><md-icon>phone</md-icon>
            <md-input-container *ngIf="customerInfoEditMode; else phoneNoEdit">
              <input class="phone-number" md-input type="text" [textMask]="{mask: mask, guide: false}" [(ngModel)]="entity.phone">
            </md-input-container>
            <ng-template #phoneNoEdit>
              <span class="phone-number">{{getPhoneNumber()}}</span>
            </ng-template>
          </div>

          <div class="entity-view__info__data__other__item"><md-icon>email</md-icon>
            <md-input *ngIf="customerInfoEditMode; else emailNoEdit" [(ngModel)]="entity.email"></md-input>
            <ng-template #emailNoEdit>
              <span>{{entity.email}}</span>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="entity-view__info__edit">
        <div *ngIf="!customerInfoEditMode; else editActions" class="entity-view__info__edit__update" (click)="customerInfoEditMode = true"> EDIT CUSTOMER </div>

        <ng-template #editActions>
          <div (click)="cancelInfoUpdate()">CANCEL</div>
          <div class="entity-view__info__edit__update" (click)="updateEntity(entity)">UPDATE</div>
        </ng-template>
      </div>
    </div>

    <div class="entity-view__navigation">
      <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex===0" (click)="setIndex(0)">GENERAL DETAILS</span>
      <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex===1" (click)="setIndex(1)">TRANSACTIONS</span>
      <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex===2" (click)="setIndex(2)">SESSIONS</span>
      <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex===3" (click)="setIndex(3)">FULFILLMENT</span>
    </div>

    <md-tab-group [(selectedIndex)]="selectedIndex">
      <md-tab>
        <div [class.customer-view__content--invisible]="creditCardInputMode" class="customer-view__content">
          <div class="column">
            <md-card class="customer-view__content__card column__small">
              <md-card-title>
                <span>SHIPPING ADDRESS</span>
                <md-icon [md-menu-trigger-for]="addressOptions" class="customer-view__content__card__action">more_vert</md-icon>
                <md-menu #addressOptions="mdMenu" x-position="before">
                  <button md-menu-item (click)="addressEditMode = true;"> Edit Shipping Address </button>
                </md-menu>
              </md-card-title>
              <md-card-content>
                <div class="customer-view__content__card__item"><span>Name: </span>{{entity.firstName}} {{entity.lastName}}</div>
                <div class="customer-view__content__card__item">
                  <span>Address 1: </span>
                  <span *ngIf="!addressEditMode; else line1">{{entity.address.line1}}</span>
                  <ng-template #line1>
                    <md-input [(ngModel)]="entity.address.line1"></md-input>
                  </ng-template>
                </div>
                <div class="customer-view__content__card__item">
                  <span>Address 2: </span>
                  <span *ngIf="!addressEditMode; else line2">{{entity.address.line2}}</span>
                  <ng-template #line2>
                    <md-input [(ngModel)]="entity.address.line2"></md-input>
                  </ng-template>
                </div>
                <div class="customer-view__content__card__item">
                  <span>Postal Code: </span>
                  <span *ngIf="!addressEditMode; else zip">{{entity.address.zip}}</span>
                  <ng-template #zip>
                    <md-input [(ngModel)]="entity.address.zip"></md-input>
                  </ng-template>
                </div>
                <div class="customer-view__content__card__item">
                  <span>City: </span>
                  <span *ngIf="!addressEditMode; else city">{{entity.address.city}}</span>
                  <ng-template #city>
                    <md-input [(ngModel)]="entity.address.city"></md-input>
                  </ng-template>
                </div>
                <div class="customer-view__content__card__item">
                  <span>State: </span>
                  <span *ngIf="!addressEditMode; else state">{{entity.address.state}}</span>
                  <ng-template #state>
                    <md-input [(ngModel)]="entity.address.state"></md-input>
                  </ng-template>
                </div>
                <div class="customer-view__content__card__item">
                  <span>Country: </span>
                  <span *ngIf="!addressEditMode; else country">{{entity.address.country}}</span>
                  <ng-template #country>
                    <md-input [(ngModel)]="entity.address.country"></md-input>
                  </ng-template>
                </div>

                <div *ngIf="addressEditMode" class="customer-view__content__card__actions">
                  <div (click)="cancelAddressUpdate()">CANCEL</div>
                  <div (click)="updateEntity(entity)">UPDATE</div>
                </div>
              </md-card-content>
            </md-card>

            <md-card *ngIf="entity.creditCards && entity.creditCards.length !== 1" class="customer-view__content__card credit-cards column__medium">
              <md-card-title class="credit-cards__title">
                <span>CREDIT CARDS</span>
                <md-icon [md-menu-trigger-for]="creditCardOptions" class="customer-view__content__card__action">more_vert</md-icon>
                <md-menu #creditCardOptions="mdMenu" x-position="before">
                  <button md-menu-item (click)="addNewCreditCard()"> Add Credit Card </button>
                </md-menu>
              </md-card-title>
              <md-card-content>
                <div *ngFor="let cc of entity.creditCards" class="credit-cards__item">
                  <img src="/assets/images/credit-card-notification.svg">

                  <div class="credit-cards__item__column">
                    <span>{{cc.name}}</span>
                    <span>{{cc.getType() | uppercase}} {{cc.ccnumber | creditCardFormat: true}}</span>
                  </div>

                  <span class="credit-cards__item__expiration">Exp: {{cc.expiration | creditCardExpiration}}</span>
                  <md-icon [md-menu-trigger-for]="creditCardOptions">more_vert</md-icon>
                  <md-menu #creditCardOptions="mdMenu" x-position="before">
                    <button md-menu-item (click)="editCreditCard(cc)"> Edit Credit Card </button>
                    <button md-menu-item (click)="deleteCreditCard(cc)"> Remove Credit Card </button>
                  </md-menu>
                </div>

                <div class="entity-view__no-results entity-view__no-results--credit-cards" *ngIf="!entity.creditCards || entity.creditCards.length === 0">No credit cards found</div>
              </md-card-content>
            </md-card>

            <md-card *ngIf="entity.creditCards && entity.creditCards.length === 1" class="customer-view__content__card column__medium">
              <md-card-title>
                <md-icon>credit_card</md-icon>
                <span>{{entity.creditCards[0].getType() | uppercase}} {{entity.creditCards[0].ccnumber | creditCardFormat: true}}</span>
                <md-icon [md-menu-trigger-for]="creditCardOptions" class="customer-view__content__card__action">more_vert</md-icon>
                <md-menu #creditCardOptions="mdMenu" x-position="before">
                  <button md-menu-item (click)="addNewCreditCard()"> Add Credit Card </button>
                  <button md-menu-item (click)="editCreditCard(entity.creditCards[0])"> Edit Credit Card </button>
                </md-menu>
              </md-card-title>
              <md-card-content class="customer-view__content__card__content">
                <div class="customer-view__content__card__column">
                  <div class="customer-view__content__card__item"><span>Billing Address: </span></div>
                  <div class="customer-view__content__card__item"><span>Address 1: </span>{{entity.creditCards[0].address.line1}}</div>
                  <div class="customer-view__content__card__item"><span>Address 2: </span>{{entity.creditCards[0].address.line2}}</div>
                  <div class="customer-view__content__card__item"><span>Postal Code: </span>{{entity.creditCards[0].address.zip}}</div>
                  <div class="customer-view__content__card__item"><span>City: </span>{{entity.creditCards[0].address.city}}</div>
                  <div class="customer-view__content__card__item"><span>State: </span>{{entity.creditCards[0].address.state}}</div>
                  <div class="customer-view__content__card__item"><span>Country: </span>{{entity.creditCards[0].address.country}}</div>
                </div>
                <div class="customer-view__content__card__column customer-view__content__card__column--last">
                  <div class="customer-view__content__card__item"><span>Name: </span>{{entity.creditCards[0].name}}</div>
                  <div class="customer-view__content__card__item"><span>Card Type: </span>{{entity.creditCards[0].getType() | uppercase}}</div>
                  <div class="customer-view__content__card__item"><span>Card Number: </span>{{entity.creditCards[0].ccnumber | creditCardFormat: true}}</div>
                  <div class="customer-view__content__card__item"><span>Expiration: </span>{{entity.creditCards[0].expiration | creditCardExpiration | creditCardExpiration}}</div>
                </div>
              </md-card-content>
            </md-card>

            <div class="column__large">
              <customer-rebills [homepageMode]="true" [id]="entityId"></customer-rebills>
            </div>

          </div>

          <div class="column">
            <customer-notes [customerId]="entityId"></customer-notes>

            <customer-events *ngIf="authService.hasPermissions('analytics', 'getAcvtivityByIdentifier')" [customer]="entity"></customer-events>
          </div>
        </div>
        <div [class.customer-view__content--invisible]="!creditCardInputMode" class="customer-view__content">
          <credit-card-input
            [creditCard]="creditCardForInput"
            (cancel)="cancelCreditCardInput()"
            (updated)="creditCardUpdated($event)"
            (created)="creditCardCreated($event)">
          </credit-card-input>
        </div>
      </md-tab>

      <md-tab>
        <div class="tab-container">
          <div [class.customer-view__content--invisible]="rebillEditMode">
            <customer-rebills [id]="entityId" (editRebill)="editRebillMode($event)"></customer-rebills>
            <customer-transactions [id]="entityId"></customer-transactions>
          </div>
          <customer-rebill-edit
            *ngIf="rebillEditMode"
            [value]="rebillUnderEdit"
            (cancel)="cancelRebillMode()">
          </customer-rebill-edit>
        </div>
      </md-tab>

      <md-tab>
        <div class="tab-container">
          <customer-sessions [id]="entityId"></customer-sessions>
        </div>
      </md-tab>

      <md-tab>
        <div class="tab-container">
          <customer-fulfillment></customer-fulfillment>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>
