.notes {
  background: #E6EAF2;

  &__content {
    position: relative;
    padding: 30px 60px;
    font-size: 14px;

    md-icon {
      position: absolute;
      top: 25px;
      right: 10px;
      cursor: pointer;
    }

    md-textarea {
      width: 100%;
    }
  }
}
