<blue-header [items]="breadcrumbs" [titleValue]="account ? account.name : null"></blue-header>

<div>
  <account-management-billing-transactions-chart [lastBill]="lastBill"></account-management-billing-transactions-chart>
</div>

<div *ngIf="session" class="options">
  <div class="option">
    <div class="title">
      <div>Current Payment Option</div>
      <button mat-button (click)="openCardSwitcher()">MANAGE PAYMENT OPTIONS</button>
    </div>

    <div class="details">

      <ng-container *ngIf="defaultCreditCard; else nocard">
        <img *ngIf="defaultCreditCard.type !== 'OTHER'" src="{{'/assets/cards/' + (defaultCreditCard.typeShort || '').toLowerCase() + '.svg'}}">

        <div>**** {{defaultCreditCard.lastFour}}</div>
        <div>{{defaultCreditCard.name}}</div>
        <div>Expires {{defaultCreditCard.expiration}}</div>
      </ng-container>

      <ng-template #nocard>
        Please select payment option
      </ng-template>
    </div>
  </div>
</div>

<div class="table-wrapper" *ngIf="session">
  <div class="table-title">Billing History</div>

  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Card</th>
        <th>Card Brand</th>
        <th>Plan</th>
        <th>Plan Minimum</th>
        <th>Amount Billed</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let rebill of session.rebills">
        <td class="status">
          <mat-icon class="status-icon success-icon" *ngIf="isStatusSuccess(rebill); else erroricon">done</mat-icon>
          <ng-template #erroricon>
            <mat-icon class="status-icon erorr-icon">error_outline</mat-icon>
          </ng-template>

          <span>{{getStatus(rebill)}}</span>
        </td>
        <td>{{rebill.billAt | formatDateTime: 'DD/MM/YY'}}</td>
        <td>**** {{getCard(rebill).lastFour}}</td>
        <td>{{getCard(rebill).type}}</td>
        <td>{{rebill.productSchedules[0].name}}</td>
        <td>{{getPlanPrice(rebill).usd()}}</td>
        <td>{{rebill.amount.usd()}}</td>
      </tr>
    </tbody>
  </table>
</div>
