<blue-header [items]="breadcrumbs" [titleValue]="account ? account.name : null"></blue-header>

<div>
  <account-management-billing-transactions-chart [lastBill]="lastBill" [nextBill]="nextBill"></account-management-billing-transactions-chart>
</div>

<div *ngIf="session" class="options">
  <div class="option">
    <div class="title">
      <div>Current Payment Option</div>
      <button mat-button (click)="openCardSwitcher()">MANAGE PAYMENT OPTIONS</button>
    </div>

    <div class="details">

      <ng-container *ngIf="defaultCreditCard; else nocard">
        <img *ngIf="defaultCreditCard.type !== 'OTHER'" src="{{'/assets/cards/' + (defaultCreditCard.typeShort || '').toLowerCase() + '.svg'}}">

        <div>**** {{defaultCreditCard.lastFour}}</div>
        <div>{{defaultCreditCard.name}}</div>
        <div>Expires {{defaultCreditCard.expiration}}</div>
      </ng-container>

      <ng-template #nocard>
        Please select payment option
      </ng-template>
    </div>
  </div>
</div>

<div class="table-wrapper" *ngIf="session">
  <div class="table-title">Billing History</div>

  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Card</th>
        <th>Plan</th>
        <th class="number-cell">Plan Minimum</th>
        <th class="number-cell">Amount Billed</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let rebill of session.rebills">
        <tr [class.unpaid-rebill]="!isPaid(rebill)">
          <td class="status">
            <mat-icon class="status-icon success-icon" *ngIf="isPaid(rebill); else erroricon">done</mat-icon>
            <ng-template #erroricon>
              <mat-icon class="status-icon error-icon">error_outline</mat-icon>
            </ng-template>
          </td>
          <td>{{rebill.billAt | formatDateTime: 'MMMM Do, YYYY'}}</td>
          <td>{{getCardNumber(rebill)}}</td>
          <td>{{getPlanName(rebill)}}</td>
          <td class="number-cell">{{getPlanPrice(rebill).usd()}}</td>
          <td class="number-cell button-cell">
            <ng-container *ngIf="isPaid(rebill); else paybutton">{{rebill.amount.usd()}}</ng-container>
            <ng-template #paybutton>
              <button class="paybutton" mat-button (click)="payRebill(rebill)">PAY {{rebill.amount.usd()}}</button>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
