<div class="entity-view__card" [class.entity-view__card--create]="mode === modes.Add" [style.margin]="mode === modes.Add ? 'auto' : '10px'">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{(mode === modes.Add ? 'CAMPAIGN_INFO_CREATETITLE' : 'CAMPAIGN_INFO_TITLE') | translate}}</div>
    <ng-container *ngIf="mode !== modes.Add">
      <md-icon [md-menu-trigger-for]="editOptions">more_vert</md-icon>
      <md-menu #editOptions="mdMenu" x-position="before">
        <button md-menu-item (click)="changeMode.emit(modes.Update)"> {{'CAMPAIGN_INFO_EDIT' | translate}} </button>
      </md-menu>
    </ng-container>
  </div>

  <div class="entity-view__card__content">
    <md-input-container [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
      <input autoFocus required md-input [disabled]="mode === modes.View" placeholder=" {{'CAMPAIGN_INFO_NAME' | translate}} " [(ngModel)]="entity.name" type="text">
    </md-input-container>
    <div class="flex-custom flex-custom--center">
      <autocomplete-input class="campaign-autocomplete-input"
                          [disabled]="mode === modes.View"
                          [mapFunction]="loadBalancerMapper"
                          [initialValue]="entity.loadbalancerAssociations[entity.loadbalancerAssociations.length - 1] ? entity.loadbalancerAssociations[entity.loadbalancerAssociations.length - 1].loadbalancer : null"
                          [options]="loadBalancers || []"
                          [placeholder]="'CAMPAIGN_INFO_DEFAULTGROUP' | translate"
                          (selected)="setAssociatedLoadBalancer($event)">
      </autocomplete-input>
      <md-icon [class.icon-disabled]="mode === modes.View" (click)="removeAssociations()">close</md-icon>
    </div>

    <div class="flex-custom flex-custom--center prepaid-checkbox">
      <span> {{'CAMPAIGN_INFO_ALLOWPREPAID' | translate}} </span>
      <md-checkbox class="flex-align--right" [disabled]="mode === modes.View" [(ngModel)]="entity.allowPrepaid"></md-checkbox>
    </div>
    <div class="flex-custom flex-custom--center prepaid-checkbox">
      <span> {{'CAMPAIGN_INFO_SHOWPREPAID' | translate}} </span>
      <md-checkbox class="flex-align--right" [disabled]="mode === modes.View" [(ngModel)]="entity.showPrepaid"></md-checkbox>
    </div>
  </div>

  <div *ngIf="mode !== modes.View" class="entity-view__card__actions">
    <div (click)="cancel.emit(true)"> {{'CAMPAIGN_INFO_CANCEL' | translate}} </div>
    <div (click)="saveCampaign()"> {{'CAMPAIGN_INFO_SAVE' | translate}} </div>
  </div>
</div>

