<div class="entity-view__card" [class.entity-view__card--create]="mode === modes.Add" [style.margin]="mode === modes.Add ? 'auto' : '10px'">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{(mode === modes.Add ? 'CAMPAIGN_INFO_CREATETITLE' : 'CAMPAIGN_INFO_TITLE') | translate}}</div>
    <ng-container *ngIf="mode !== modes.Add">
      <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
      <mat-menu #editOptions="matMenu" x-position="before">
        <button mat-menu-item (click)="changeMode.emit(modes.Update)"> {{'CAMPAIGN_INFO_EDIT' | translate}} </button>
      </mat-menu>
    </ng-container>
  </div>

  <div class="entity-view__card__content">
    <mat-form-field [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
      <input auto-focus required matInput [disabled]="mode === modes.View" placeholder=" {{'CAMPAIGN_INFO_NAME' | translate}} " [(ngModel)]="entity.name" type="text">
    </mat-form-field>
    <div class="flex-custom flex-custom--center">
      <autocomplete-input class="campaign-autocomplete-input"
                          [disabled]="mode === modes.View"
                          [mapFunction]="merchantProviderGroupMapper"
                          [initialValue]="entity.merchantProviderGroupAssociations[entity.merchantProviderGroupAssociations.length - 1] ? entity.merchantProviderGroupAssociations[entity.merchantProviderGroupAssociations.length - 1].merchantProviderGroup : null"
                          [options]="merchantProviderGroups || []"
                          [placeholder]="'CAMPAIGN_INFO_DEFAULTGROUP' | translate"
                          (selected)="setAssociatedMerchantProviderGroup($event)">
      </autocomplete-input>
      <mat-icon [class.icon-disabled]="mode === modes.View" (click)="removeAssociations()">close</mat-icon>
    </div>

    <div class="flex-custom flex-custom--center prepaid-checkbox">
      <span> {{'CAMPAIGN_INFO_ALLOWPREPAID' | translate}} </span>
      <mat-checkbox class="flex-align--right" [disabled]="mode === modes.View" [(ngModel)]="entity.allowPrepaid"></mat-checkbox>
    </div>
    <div class="flex-custom flex-custom--center prepaid-checkbox">
      <span> {{'CAMPAIGN_INFO_SHOWPREPAID' | translate}} </span>
      <mat-checkbox class="flex-align--right" [disabled]="mode === modes.View" [(ngModel)]="entity.showPrepaid"></mat-checkbox>
    </div>

    <div class="flex-custom flex-custom--center prepaid-checkbox">
      <span> {{'CAMPAIGN_INFO_ALLOWORDER' | translate}} </span>
      <mat-checkbox class="flex-align--right" [disabled]="mode === modes.View" [(ngModel)]="entity.allowOnOrder"></mat-checkbox>
    </div>
  </div>

  <div *ngIf="mode !== modes.View" class="entity-view__card__actions">
    <div (click)="cancel.emit(true)"> {{'CAMPAIGN_INFO_CANCEL' | translate}} </div>
    <div (click)="saveCampaign()"> {{'CAMPAIGN_INFO_SAVE' | translate}} </div>
  </div>
</div>

