@import "../../../../../assets/scss/colors";

.images-container {
  margin: 20px;
  padding: 25px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;

    button {
      margin-left: auto;
      background: $action-color;
      color: #ffffff;
    }
  }

  .image-wrapper {
    padding: 5px;
  }

  .image-box {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);

    .image {
      position: relative;
      display: flex;
      width: 280px;
      height: 180px;

      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      font-size: 14px;

      .delete-button {
        color: $main-color-400;
        margin-right: auto;
        letter-spacing: 0.75px;
      }

      .favorite {
        color: rgba(0, 0, 0, 0.54);
        background: rgba(0, 0, 0, 0.1);
        border-radius: 6px 0 0 6px;

        &--selected {
          color: rgba(255, 0, 0, 0.54);
          background: rgba(255, 0, 0, 0.1);
        }
      }

    }
  }
}
