@import "../../../../../assets/scss/colors";

.images-container {
  margin: 20px;
  padding: 25px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;

    button {
      margin-left: auto;
      background: $main-color-400;
      color: #ffffff;
    }
  }

  .image-wrapper {
    padding: 5px;
  }

  .image-box {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);

    .image {
      position: relative;
      display: flex;
      width: 280px;
      height: 180px;

      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
      }

      .default {
        position: absolute;
        top: 25px;
        left: 0;
        padding: 8px 44px;
        background: #296CCC;
        border-radius: 4px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      font-size: 14px;

      .default-button {
        color: #2C98F0;
      }

      button:last-of-type {
        margin-left: auto;
      }
    }
  }
}
