<div class="images-container">
  <div class="title">
    <div>Images</div>
    <button mat-button (click)="displayImageUploadDialog()">New Image</button>
  </div>
  <slider-gallery>
    <div class="image-wrapper" sliderGalleryItem *ngFor="let image of product.imageUrls; let i = index">
      <div class="image-box">
        <div class="image">
          <img src="{{image}}" alt="">
        </div>
        <div class="buttons">
          <button mat-button class="delete-button" (click)="deleteImage(image)">DELETE</button>
          <button mat-icon-button class="favorite" [class.favorite--selected]="i === 0">
            <mat-icon (click)="toggleFavorite(image, i)">favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </slider-gallery>
</div>