<div #indexR class="entity-index">
  <session *ngIf="showEntityDetails" [entityId]="showEntityId" (close)="hideEntityDetails()" [fullScreen]="fullScreen"></session>

  <div class="entity-index__title">Sessions</div>

  <button md-icon-button color="primary" *ngIf="hasWritePermission()" class="entity-index__add" (click)="addEntity()"><md-icon>add</md-icon></button>

  <md-card class="entity-index__card">
    <md-card-content class="entity-index__card__content">

      <table class="entity-index__table highlight">
        <thead class="entity-index__table__header">
          <tr>
            <th data-field="customerName">Customer Name <md-icon>keyboard_arrow_down</md-icon> </th>
            <th data-field="campaignName">Campaign Name <md-icon>keyboard_arrow_down</md-icon> </th>
            <th data-field="numOfProductSchedules">Number of Product Schedules <md-icon>keyboard_arrow_down</md-icon> </th>
            <th data-field="numOfRebills">Number of Rebills <md-icon>keyboard_arrow_down</md-icon> </th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let entity of entities">
          <td (click)="viewEntity(entity.id)">{{entity.customer.firstName + entity.customer.lastName}}</td>
          <td (click)="viewEntity(entity.id)">{{entity.productSchedules.length}}</td>
          <td (click)="viewEntity(entity.id)">{{entity.rebills.length}}</td>
          <td (click)="viewEntity(entity.id)">{{entity.campaign.name}}</td>
          <td>
            <table-actions
              [service]="service"
              (viewClicked)="viewEntity(entity.id)"
              (copyClicked)="copyEntity(entity.id)"
              (exportClicked)="exportEntity(entity.id)">
            </table-actions>
          </td>
        </tr>
        </tbody>
      </table>

      <table-pagination
        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)">
      </table-pagination>
    </md-card-content>
  </md-card>
</div>
