.container {
  display: flex;
  position: relative;
}

.small {
  display: flex;

  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

.params-container {
  position: absolute;
  top: 0;
  right: 25px;
  z-index: 2;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  .option {
    padding: 8px 22px;
    font-size: 16px;
    font-weight: normal;
    color: #4A4A4A;
    cursor: pointer;

    &--selected {
      font-weight: 600;
    }

    &:hover {
      background: rgba(0,0,0,0.1);
    }
  }
}

mat-icon {
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  width: 20px;
}
