<div class="header">
  <div class="info-section">
    <div class="crumbs">
      <div class="item" (click)="navigateToHome()">Home</div>
      <ng-container *ngFor="let p of path">
        <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
        <div class="item">{{p}}</div>
      </ng-container>
    </div>

    <div class="details">
      <mat-icon class="back" (click)="navigationService.back()">arrow_back</mat-icon>
      <div class="title">API Documentation</div>
    </div>
  </div>

  <mat-icon class="icon">person</mat-icon>
</div>
