.type {
  margin-bottom: 38px;

  mat-icon {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
  }

  &__content {
    transition: height 1s;
    overflow: hidden;
  }

  .share-icon {
    margin-left: 18px;
    transform: rotate(90deg);
  }
}
