<div class="type">
  <div class="type__content">
    <ng-container *ngIf="isAll">
      <query-mutation-card *ngFor="let field of type.fields" [field]="field" [type]="type" [isMutation]="isMutation" [isQuery]="isQuery"></query-mutation-card>
    </ng-container>
    <ng-container *ngIf="isQuery || isMutation">
      <query-mutation-card [field]="field" [type]="type" [isMutation]="isMutation" [isQuery]="isQuery"></query-mutation-card>
    </ng-container>
    <ng-container *ngIf="isType || isAll">
      <type-card [type]="type"></type-card>
    </ng-container>
  </div>
</div>
