<div class="entity-index">
  <div class="entity-index__title">
    {{'CREDITCARD_INDEX_TITLE' | translate}}
    <search-input class="entity-index__search" (onSearch)="setSearchString($event)"></search-input>
    <md-input [(ngModel)]="filterValue" placeholder="{{'INDEXPAGE_FILTER' | translate}}"></md-input>
    <table-preferences class="entity-index__preferences" [columnParams]="columnParams"></table-preferences>
  </div>

  <button md-icon-button color="primary" *ngIf="hasWritePermission()" (click)="openAddMode()" class="entity-index__add"><md-icon>add</md-icon></button>

  <md-card class="entity-index__card">
    <md-card-content class="entity-index__card__content">
      <entities-table
        [data]="entities"
        [columnParams]="columnParams"
        [filterString]="filterValue"
        [serverError]="serverError"
        (selected)="viewEntity($event.id)"

        [service]="service"
        (viewClicked)="viewEntity($event.id)"
        (copyClicked)="copyEntity($event.id)"
        (exportClicked)="exportEntity($event.id)"
        (editClicked)="editEntity($event.id)"
        (deleteClicked)="deleteEntity($event.id)"
        (deleteManyClicked)="deleteMany($event)"
        (refreshData)="refreshData()"

        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)">
      </entities-table>
    </md-card-content>
  </md-card>
</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <credit-card-input class="modal-center" [creditCard]="entity" [addMode]="true" (created)="createEntity($event)" (cancel)="closeAddMode()"></credit-card-input>
</div>
