<div class="entity-view__container">
  <div *ngIf="entity; else spinner" class="entity-view">

    <blue-header [items]="breadcrumbs" [titleValue]="entity.name"></blue-header>

    <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab>

        <div class="split-wrapper">
          <div class="container">
            <div class="content">
              <div class="section section--main">
                <div class="description-container">
                  <div class="title">
                    <div>Description</div>
                    <mat-icon (click)="setEditDescription()" *ngIf="!editDescription">edit</mat-icon>
                  </div>

                  <textarea name="description" rows="8" [readonly]="!editDescription"></textarea>

                  <div class="edit-buttons" *ngIf="editDescription">
                    <button mat-button (click)="cancelEditDescription()">CANCEL</button>
                    <button mat-button (click)="updateDescription()">SAVE</button>
                  </div>
                </div>
              </div>

              <div class="section section--side">

                <div class="details-box details-box--blue" [class.details-box--disabled]="!editMain">
                  <div class="edit-row edit-row--first">
                    <mat-form-field>
                      <input auto-focus [delay]="500" type="text" matInput [(ngModel)]="entity.name" [readonly]="!editMain" maxlength="55">
                    </mat-form-field>

                    <mat-icon *ngIf="!editMain" (click)="setEditMain()">edit</mat-icon>
                  </div>

                  <custom-mat-dropdown
                          [editable]="editMain"
                          [placeholder]="'Merchant Processing'"
                          [items]="[]"
                          [selectedItem]="'-'">
                  </custom-mat-dropdown>

                  <div class="edit-buttons" *ngIf="editMain">
                    <button mat-button (click)="cancelEditMain()">CANCEL</button>
                    <button mat-button (click)="saveMain()">SAVE</button>
                  </div>
                </div>

                <div class="details-box">
                  <div class="details__title">GENERAL</div>

                  <div class="details__container">
                    <div class="details_container__item">
                      <div>Cycles</div>
                      <div>{{productScheduleCycles ? productScheduleCycles.cycles.length : 1}}</div>
                    </div>

                    <div class="details_container__item">
                      <div>Products</div>
                      <div>1</div>
                    </div>
                  </div>
                </div>

                <button mat-button (click)="deleteProductSchedule()" class="delete-button">DELETE</button>

              </div>
            </div>
          </div>
        </div>

      </mat-tab>

      <mat-tab>
        <cycles-editor
          [productSchedule]="productScheduleCycles"
          [statePersisted]="productScheduleCyclesStatePersisted()"
          (saveChanges)="saveProductScheduleCycles($event)"
          (undoChanges)="undoProductScheduleCycles()"
          (redoChanges)="redoProductScheduleCycles()"
          (revertChanges)="revertProductScheduleCycles()"
        ></cycles-editor>
      </mat-tab>

    </mat-tab-group>
  </div>

</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [title]="'PRODUCTSCHEDULE_INDEX_TITLE' | translate" [cardsExpression]="'80%'"></spe-loader>
</ng-template>


