.entity-view__container {
  display: flex;
  overflow: hidden;

  .entity-view {
    width: 100%;
  }
}

spe-loader {
  width: 100%;
}

.entity-view__header__title {
  margin-top: 27px;
}

.section--side {
  height: calc(100vh - 220px);
}

custom-mat-dropdown {
  display: block;
  margin-top: 15px;
}

.delete-button {
  margin: auto auto 2px;
  background: #DC2547;
  font-weight: 500;
  color: #ffffff;
  width: 165px;
}

.details__title {
  line-height: 14px;
  font-size: 14px;
}

.details__container {
  display: flex;
  margin-top: 15px;

  .details_container__item {
    width: 50%;

    div:first-of-type {
      font-weight: 500;
      line-height: 24px;
      font-size: 13px;
      color: #5F6368;
    }

    div:last-of-type {
      line-height: 24px;
      font-size: 14px;
      color: #202124;
    }
  }
}

.mid-group {
  margin-top: 38px;
  margin-bottom: 10px;
}

.dropdown-icon {
  border: none;
  margin-left: auto;
  color: #5F6368;
  font-size: 18px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}