<div class="account-management-header">
  <div class="info-section">
    <div class="crumbs">
      <div class="item">Account Management</div>
      <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
      <div class="item">{{path}}</div>
    </div>

    <div class="details">
      <mat-icon class="back" (click)="navigationService.back()">arrow_back</mat-icon>
      <div class="title">{{account.name}}</div>

      <div *ngIf="showApiKey" class="app-id-container">
        <div class="button" [class.button--active]="idExpanded" (click)="toggleExpanded()">APP ID</div>
        <div class="content" [class.content--visible]="idExpanded">
          <div>{{account.id}}</div>
          <mat-icon matTooltip="Copy App ID" ngxClipboard [cbContent]="account.id">content_copy</mat-icon>
        </div>
      </div>

    </div>
  </div>

  <div class="icon">
    <img src="/assets/images/circle-3-dots.svg" alt="">
  </div>
</div>
