<md-card class="entity-index__card">
  <md-card-title class="entity-index__card__title"> <span>Load Balancer Index</span> </md-card-title>
  <md-card-content class="entity-index__card__content">
    <button md-raised-button color="primary" (click)="addEntity()">New Load Balancer</button>

    <div class="entity-index__search">
      <md-input placeholder="search"></md-input>
      <button md-raised-button color="primary">search</button>
    </div>

    <table class="entity-index__table highlight">
      <thead class="entity-index__table__header">
      <tr>
        <th data-field="ID">ID <md-icon>keyboard_arrow_down</md-icon></th>
        <th data-field="numberOfConfigurations">Number Of Merchant Provider Configurations <md-icon>keyboard_arrow_down</md-icon></th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let loadBalancer of entities">
        <td>{{loadBalancer.id}}</td>
        <td>{{loadBalancer.merchantProviderConfigurations.length}}</td>
        <td>
          <md-icon class="entity-index__table__body__action" (click)="viewEntity(loadBalancer.id)">visibility</md-icon>
          <md-icon class="entity-index__table__body__action" (click)="updateEntity(loadBalancer.id)">mode_edit</md-icon>
          <md-icon class="entity-index__table__body__action" (click)="deleteEntity(loadBalancer.id)">delete</md-icon>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="entity-index__pagination__buttons">
      <button [disabled]="page <= 0" md-raised-button color="primary" (click)="previous()">previous</button>
      <span> {{page + 1}} </span>
      <button [disabled]="!hasMorePages()" md-raised-button color="primary" (click)="next()">next</button>

      <md-input class="entity-index__pagination__buttons__limit__input" [(ngModel)]="newLimit" placeholder="Users Per Page"></md-input>
      <button class="entity-index__pagination__buttons__limit__button" md-raised-button color="primary" (click)="updateLimit()">Update</button>
    </div>
  </md-card-content>
</md-card>
