<div class="container filters-dialog">

  <div class="header">
    <div>Filter Results</div>
    <mat-icon (click)="close()">close</mat-icon>
  </div>

  <div [class.content--invisible]="saveAsMode">

    <div class="content">

      <div class="date">

        <div class="date__title">Date Range</div>
        <filter-daterange-picker [date]="date" (dateChanged)="dateSelected($event)"></filter-daterange-picker>

      </div>

      <div class="box-container">
        <div class="box-row">
          <div class="box box--single">
            <div class="label">Status</div>
            <mat-checkbox [(ngModel)]="allStatus" (change)="allStatusSelected($event)">All</mat-checkbox>
            <mat-checkbox [(ngModel)]="pendingStatus" (change)="singleStatusSelected($event)">Pending</mat-checkbox>
            <mat-checkbox [(ngModel)]="shippedStatus" (change)="singleStatusSelected($event)">Shipped</mat-checkbox>
            <mat-checkbox [(ngModel)]="deliveredStatus" (change)="singleStatusSelected($event)">Delivered</mat-checkbox>
            <mat-checkbox [(ngModel)]="errorStatus" (change)="singleStatusSelected($event)">Errors</mat-checkbox>
          </div>
        </div>

        <div class="box-row">
          <div class="box box--single">
            <div class="label">Fulfillment Providers</div>
            <mat-checkbox [checked]="true">All</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="filter">
        <div class="filter__title">Values</div>

        <value-filter [columns]="filterColumns" [filters]="filters" (filterAdded)="addFilter()" (filterRemovedAtIndex)="removeFilterAtIndex($event)"></value-filter>
      </div>

    </div>

    <div class="buttons-container">

      <button mat-button class="save" (click)="setSaveAs(true)">Save As...</button>
      <button mat-button class="cancel" (click)="close()">Cancel</button>
      <button mat-button class="filter" (click)="filter()">Filter</button>

    </div>

  </div>

  <div [class.content--invisible]="!saveAsMode">
    <filter-save-as (back)="setSaveAs(false)" (saveAs)="save($event)"></filter-save-as>
  </div>

</div>