<div class="entity-view__table-component">
  <div style="padding-bottom: 6px;" class="entity-view__table-component__header">
    <div class="customer-transactions__title-container">
      <div class="title">{{ 'PROFILE_SIGNINGSTRINGS_TITLE' | translate}}</div>
    </div>
    <mat-input-container class="entity-view__table-component__header__filter">
      <input matInput placeholder="{{ 'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filterValue">
    </mat-input-container>
    <table-pagination
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)">
    </table-pagination>
    <mat-icon [matMenuTriggerFor]="optionsMenu" class="entity-view__table-component__header__action">more_vert</mat-icon>
    <mat-menu #optionsMenu="matMenu" x-position="before">
      <button mat-menu-item (click)="addOrUpdateSigningString()">{{ 'PROFILE_SIGNINGSTRINGS_ADD' | translate}}</button>
    </mat-menu>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <th *ngFor="let params of columnParams" (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
        {{params.label | translate}}
        <mat-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntities: filterValue | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <td *ngFor="let params of columnParams" [class.cell--align-right]="params.align === 'right'">
        {{params.mappingFunction(entity)}}
        <mat-icon *ngIf="params.copy" class="copy-icon" matTooltip="{{'SHARE_COPY' | translate}}" ngxClipboard [cbContent]="params.mappingFunction(entity)">content_copy</mat-icon>
      </td>
      <td>
        <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
        <mat-menu #actionsMenu="matMenu" x-position="before">
          <button mat-menu-item (click)="addOrUpdateSigningString(entity)">{{ 'PROFILE_SIGNINGSTRINGS_EDIT' | translate}}</button>
          <button mat-menu-item (click)="deleteEntity(entity.id)">{{ 'PROFILE_SIGNINGSTRINGS_REMOVE' | translate}}</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else messages"></server-error-message>
  <ng-template #messages>
    <mat-spinner class="entity-view__spinner" *ngIf="loadingData"></mat-spinner>
    <div *ngIf="!loadingData && (!entities || entities.length === 0)" class="entity-view__no-results entity-view__no-results--table">{{'PROFILE_SIGNINGSTRINGS_NODATA' | translate}}</div>
  </ng-template>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>

