.auto-complete {
  background: white;
  color: black;
  max-height: 230px;
  overflow: auto;

  &__option {
    padding: 10px 25px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.focused {
  background: rgba(0,0,0,0.1);
}
