.campaigns__search {
  float: right;

  md-input {
    width: 200px;
  }

  &__dropdown {
    position: absolute;
    min-width: 200px;
  }
}

.campaigns__table {
  &__header {

  }

  &__body {
    font-size: 0;

    &__action {
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
