.campaigns__search {
  float: right;

  md-input {
    width: 200px;
  }

  &__dropdown {
    position: absolute;
    min-width: 200px;
  }
}

.campaigns__table {
  &__header {

    tr th {
      width: 30%;
    }
    &__actions {
      width: 10%;
    }
  }

  &__body {
    font-size: 0;

    &__action {
      width: 45%;
      cursor: pointer;
    }
  }
}
