<div class="bill-view">
  <div class="entity-view__card">
    <div class="entity-view__card__header">
      <div *ngIf="!addMode">
        <div class="entity-view__card__header__title">{{ 'BILL_DETAILS_TITLE' | translate}}</div>
        <div class="subtitle">{{'BILL_DETAILS_SUBTITLE' | translate}}</div>
      </div>
      <div *ngIf="addMode">
        <div class="entity-view__card__header__title">{{ 'BILL_DETAILS_CREATETITLE' | translate}}</div>
      </div>

      <ng-container *ngIf="!addMode && authService.isActiveAclMasterAccount()">
        <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
        <mat-menu #editOptions="matMenu" x-position="before">
          <button mat-menu-item (click)="editMode = true">{{ 'BILL_DETAILS_EDIT' | translate}}</button>
        </mat-menu>
      </ng-container>
    </div>

    <div class="entity-view__card__content">

      <autocomplete-input
        *ngIf="authService.isActiveAclMasterAccount()"
        class="entity-view__card__content__item"
        [class.error]="formInvalid && !bill.account.id"
        [disabled]="!editMode && !addMode"
        [strictFilteringStrategy]="true"
        [required]="true"
        [mapFunction]="accountMapper"
        [initialValue]="bill.account"
        [placeholder]="'BILL_DETAILS_ACCOUNT' | translate"
        [options]="accounts"
        (selected)="bill.account = $event">
      </autocomplete-input>

      <simple-datepicker [identifier]="'first'" [initialDate]="bill.periodStart.clone()" [disabled]="!editMode && !addMode" [pholder]="'BILL_DETAILS_START'" (dateChanged)="bill.periodStart = $event.clone()"></simple-datepicker>

      <simple-datepicker [identifier]="'second'" [initialDate]="bill.periodEnd.clone()" [disabled]="!editMode && !addMode" [pholder]="'BILL_DETAILS_END'" (dateChanged)="bill.periodEnd = $event.clone()"></simple-datepicker>

      <simple-datepicker [identifier]="'third'" [initialDate]="bill.availableAt.clone()" [disabled]="!editMode && !addMode" [pholder]="'BILL_DETAILS_DUE'" (dateChanged)="bill.availableAt = $event.clone()"></simple-datepicker>
    </div>

    <div class="entity-view__card__actions">
      <div *ngIf="embedded && !addMode" (click)="cancel.emit(true)">{{ 'BILL_DETAILS_BACK' | translate}}</div>

      <div *ngIf="editMode || addMode" (click)="cancelEdit()">{{ 'BILL_DETAILS_CANCEL' | translate}}</div>
      <div *ngIf="editMode || addMode" (click)="saveBill()">{{ 'BILL_DETAILS_SAVE' | translate}}</div>
    </div>

  </div>

  <div *ngIf="!addMode" class="entity-view__table-component">
    <div class="entity-view__table-component__header entity-view__table-component__header--homepage">
      <div>
        <div class="entity-view__table-component__header__title">{{ 'BILL_DETAILS_TABLE_TITLE' | translate}}</div>
        <div class="subtitle">{{'BILL_DETAILS_TABLE_SUBTITLE' | translate}}</div>
      </div>

      <ng-container *ngIf="editMode">
        <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
        <mat-menu #editOptions="matMenu" x-position="before">
          <button mat-menu-item (click)="showAddDetailsModal()">{{ 'BILL_DETAILS_ADDITEM_TITLE' | translate}}</button>
        </mat-menu>
      </ng-container>
    </div>
    <table class="highlight table__custom">
      <thead>
      <tr>
        <th>{{'BILL_DETAILS_TABLE_DESCRIPTION' | translate}}</th>
        <th>{{'BILL_DETAILS_TABLE_CREATED' | translate}}</th>
        <th class="cell--align-right">{{'BILL_DETAILS_TABLE_AMOUNT' | translate}}</th>
        <th *ngIf="editMode"></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let detail of bill.detail">
        <td>{{detail.description}}</td>
        <td>{{detail.createdAt.format('MM/DD/YYYY')}}</td>
        <td class="cell--align-right">{{detail.amount.usd() | numberlocale}}</td>
        <td *ngIf="editMode">
          <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
          <mat-menu #editOptions="matMenu" x-position="before">
            <button mat-menu-item (click)="showAddDetailsModal(detail)">{{ 'BILL_DETAILS_DETAILEDIT' | translate}}</button>
            <button mat-menu-item (click)="removeItem(detail)">{{ 'BILL_DETAILS_DETAILREMOVE' | translate}}</button>
          </mat-menu>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="sum">
      <div>{{'BILL_DETAILS_TABLE_TOTAL' | translate}}: {{calculateAmount() | numberlocale}}</div>
    </div>
    <div class="pay">
      <div>{{'BILL_DETAILS_PAY' | translate}}</div>
    </div>
  </div>

</div>
