<div class="customer-view__transactions">
  <table class="highlight">
    <thead>
    <tr>
      <th *ngFor="let params of columnParams" (click)="setSortedColumnParams(params)">
        {{params.label}}
        <md-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <td *ngFor="let params of columnParams" [routerLink]="['/transactions', entity.id]">{{params.mappingFunction(entity)}}</td>
      <td>
        <table-actions
          [service]="service">
        </table-actions>
      </td>
    </tr>
    </tbody>
  </table>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>
