<div class="customer-view__table">
  <div class="customer-view__table__header">
    <div class="customer-view__table__header__title">HISTORICAL TRANSACTIONS</div>
    <md-input class="customer-view__table__header__filter" placeholder="Filter" [(ngModel)]="filterValue"></md-input>
    <table-pagination
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)">
    </table-pagination>
    <md-icon class="customer-view__table__header__action">more_vert</md-icon>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <th *ngFor="let params of columnParams" (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
        {{params.label}}
        <md-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntities: filterValue | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <td *ngFor="let params of columnParams" [class.cell--align-right]="params.align === 'right'" [routerLink]="['/transactions', entity.id]">{{params.mappingFunction(entity)}}</td>
      <td>
        <table-actions
          [service]="service">
        </table-actions>
      </td>
    </tr>
    </tbody>
  </table>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>
