.container {
  margin: 20px;
  background: white;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.12);
}

.chargeback {
  padding: 10px 15px;
  background: #DC2547;
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}

.header {
  padding: 20px;

  .info {
    display: flex;
    align-items: center;

    .refund {
      background: #DC2547;
      font-size: 16px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 4px;
    }

    div {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #202124;
    }

    .separator {
      margin: 0 24px;
      width: 1px;
      height: 30px;
      background: rgba(0,0,0,0.12);
    }

    mat-icon {
      margin-right: 8px;
      margin-bottom: 2px;
      width: 18px;
      height: 18px;
      font-size: 18px;
    }

    button {
      font-size: 12px;
      color: #202124;
      background: #FAFAFA;
      border-radius: 4px;
      margin-left: 8px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      &:first-of-type {
        margin-right: 20px;
      }
    }
  }

}

.details {
  display: flex;
  margin: 20px;

  .transactions {
    padding: 20px 20px 10px;
    border: 1px solid rgba(0,0,0,0.06);

    .title {
      margin-bottom: 15px;
      color: #5F6368;
      font-size: 14px;
    }

    th,td {
      padding: 8px 5px;
    }

    td {
      color: #202124;
      font-size: 13px;

      button {
        font-weight: 400;
      }
    }

    th {
      color: #5F6368;
      font-size: 12px;
      font-weight: 500;

      &:last-of-type {
        width: 1px;
      }
    }
  }

  info-table {
    display: block;
    margin-bottom: 20px;
  }

  .tables {
    width: calc(100% - 270px);
  }

  .fulfillment {
    margin-left: 20px;
    border-radius: 4px;
    width: 250px;
    background: rgba(30, 190, 165, 0.1);
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
