<div *ngIf="entity; else spinner" class="entity-view">
  <entity-view-breadcrumbs [items]="breadcrumbs"></entity-view-breadcrumbs>

  <div (click)="navigation.back()" class="entity-view__change-mode"><mat-icon>reply</mat-icon></div>

  <div class="entity-view__header">

    <entity-view-gallery [defaultImage]="'/assets/images/user-image-placeholder.svg'" [images]="images"></entity-view-gallery>

    <div class="entity-view__header__title">
      <ng-container *ngIf="updateMode; else viewmode">
        <md-input-container>
          <input auto-focus md-input type="text" [(ngModel)]="entity.name">
        </md-input-container>
      </ng-container>

      <ng-template #viewmode>{{entity.name}}</ng-template>

      <div *ngIf="!isShared && service.hasWritePermission()" class="entity-view__header__actions">
        <ng-container *ngIf="updateMode; else viewoptions">
          <span (click)="cancelUpdate()">cancel</span>
          <span class="last" (click)="updateEntity(entity)">update</span>
        </ng-container>
        <ng-template #viewoptions>
          <span (click)="setMode(modes.Update)">edit</span>
        </ng-template>
      </div>
    </div>
    <div class="entity-view__header__details">
      <div class="date">{{'SINGLEPAGE_CREATED' | translate}}: {{entity.createdAt | formatDateTime: 'M/DD/YY h:mm A'}}</div>
      <div class="id">ID: {{entity.id}}</div>
    </div>
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <table-advanced [data]="entity.permissions.parsedAllowed"
                      [columnParams]="permissionsColumnParams"
                      [textOptions]="permissionsAllowedTextOptions"
                      [showTopPagination]="false"
                      [entityFactory]="permissionFactory"
                      [viewEnabled]="false"
                      [deleteEnabled]="!isShared && service.hasWritePermission()"
                      [editEnabled]="!isShared && service.hasWritePermission()"
                      [addEnabled]="!isShared && service.hasWritePermission()"
                      (deleteEntity)="deleteAllowed($event)"
                      (deleteMultipleEntities)="deleteManyAllowed($event)"
                      (add)="addAllowed($event)"
                      (update)="updateAllowed($event)">
      </table-advanced>

    </md-tab>

    <md-tab>
      <role-acls [role]="entity"></role-acls>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [cardsExpression]="'100%'" [title]="'ROLE_INDEX_TITLE' | translate" [blue]="true"></spe-loader>
</ng-template>
