<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entity.name"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">

    <mat-tab>
      <div class="entity-view__card">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title">{{'ROLE_TAB_GENERAL' | translate}}</div>
          <ng-container *ngIf="viewMode && !isShared && service.hasWritePermission()">
            <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
            <mat-menu #editOptions="matMenu" x-position="before">
              <button mat-menu-item (click)="setMode(modes.Update)">{{'ROLE_INFO_EDIT' | translate}}</button>
            </mat-menu>
          </ng-container>
        </div>
        <form #merchantProviderInputForm="ngForm" class="entity-view__card__content">
          <mat-form-field style="width: 110px" class="entity-view__card__content__item" [class.error]="!entity.name">
            <input required [disabled]="viewMode" matInput placeholder="{{'ROLE_INFO_NAME' | translate}}" name="name" [(ngModel)]="entity.name" type="text">
          </mat-form-field>
        </form>

        <div *ngIf="updateMode" class="entity-view__card__actions">
          <div (click)="cancelUpdate()">{{'ROLE_INFO_CANCEL' | translate}}</div>
          <div (click)="updateEntity(entity)">{{'ROLE_INFO_UPDATE' | translate}}</div>
        </div>
      </div>
    </mat-tab>

    <mat-tab>

      <table-advanced [data]="entity.permissions.parsedAllowed"
                      [columnParams]="permissionsColumnParams"
                      [textOptions]="permissionsAllowedTextOptions"
                      [showTopPagination]="false"
                      [entityFactory]="permissionFactory"
                      [viewEnabled]="false"
                      [deleteEnabled]="!isShared && service.hasWritePermission()"
                      [editEnabled]="!isShared && service.hasWritePermission()"
                      [addEnabled]="!isShared && service.hasWritePermission()"
                      (deleteEntity)="deleteAllowed($event)"
                      (deleteMultipleEntities)="deleteManyAllowed($event)"
                      (add)="addAllowed($event)"
                      (update)="updateAllowed($event)">
      </table-advanced>

    </mat-tab>

    <mat-tab>
      <role-acls [role]="entity"></role-acls>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [cardsExpression]="'100%'" [title]="'ROLE_INDEX_TITLE' | translate" [blue]="true"></spe-loader>
</ng-template>
