<div *ngIf="entity; else spinner" class="entity-view">
  <entity-view-breadcrumbs [items]="breadcrumbs"></entity-view-breadcrumbs>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__header">
    <div class="entity-view__header__title">{{entity.name}}</div>
    <div class="entity-view__header__details">
      <div class="date">{{'SINGLEPAGE_CREATED' | translate}}: {{entity.createdAt | formatDateTime: 'M/DD/YY h:mm A'}}</div>
      <div class="id">ID: {{entity.id}}</div>
    </div>
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom">

        <table-advanced [data]="entity.permissions.parsedAllowed"
                        [columnParams]="permissionsColumnParams"
                        [textOptions]="permissionsAllowedTextOptions"
                        [showTopPagination]="false"
                        [entityFactory]="permissionFactory"
                        [viewEnabled]="false"
                        (deleteEntity)="deleteAllowed($event)"
                        (deleteMultipleEntities)="deleteManyAllowed($event)"
                        (add)="addAllowed($event)"
                        (update)="updateAllowed($event)">
        </table-advanced>

        <table-advanced [data]="entity.permissions.parsedDenied"
                        [columnParams]="permissionsColumnParams"
                        [textOptions]="permissionsDeniedTextOptions"
                        [entityFactory]="permissionFactory"
                        [showTopPagination]="false"
                        [viewEnabled]="false"
                        (deleteEntity)="deleteDenied($event)"
                        (deleteMultipleEntities)="deleteManyDenied($event)"
                        (add)="addDenied($event)"
                        (update)="updateDenied($event)">
        </table-advanced>

      </div>

    </md-tab>

    <md-tab>
      <role-acls [role]="entity"></role-acls>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [cardsExpression]="'300px;'" [title]="'ROLE_INDEX_TITLE' | translate" [blue]="true" [images]="false"></spe-loader>
</ng-template>
