.body {
  padding: 20px 25px !important;
}

table {
  width: 450px;
  max-width: 100%;

  thead {
    th {
      font-size: 12px;
      font-weight: 500;
      color: rgba(0,0,0,0.54);
      text-transform: capitalize;

      &:first-of-type {
        width: 1px;
      }
    }
  }

  tbody {
    td {
      font-size: 13px;
      text-transform: capitalize;
    }
  }
}

.add-new-button {
  margin: 15px 15px 0 40px;;
  width: 120px;
  font-size: 14px;
  color: #2C98F0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.edit-link {
  color: #2C98F0;
  font-size: 13px;
  cursor: pointer;
}

.selected-row {
  background: rgba(30, 177, 252, 0.2);
}
