<div class="container">

  <div class="title">Change Current Payment Option</div>

  <div class="body">

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Card</th>
          <th>Name on Card</th>
          <th>Expires</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let card of cards" [class.selected-row]="selectedDefaultCard.id === card.id">
          <td><mat-radio-button [checked]="selectedDefaultCard.id === card.id" (change)="changeDefaultCard($event)" [value]="card"></mat-radio-button></td>
          <td>****{{card.lastFour}}</td>
          <td>{{card.name}}</td>
          <td>{{card.expiration}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="buttons">
    <button mat-button (click)="close()">CANCEL</button>
    <button mat-button (click)="submit()">SAVE</button>
  </div>
</div>
