<div *ngIf="ccard" class="customer-view__edit">
  <div class="customer-view__edit__title">
    <div class="customer-view__edit__title--main">
      {{ (ccard.id ? 'CUSTOMER_CREDITCARD_EDITTITLE' : 'CUSTOMER_CREDITCARD_CREATETITLE') | translate}}
    </div>
    <div *ngIf="!ccard.id" class="customer-view__edit__title--sub">
      {{'CUSTOMER_CREDITCARD_CREATETEXT' | translate}}
    </div>
  </div>

  <div class="customer-view__edit__info">
    <md-input required placeholder="Name on Card" [(ngModel)]="ccard.name"></md-input>
    <input-credit-card [value]="ccard.ccnumber" [placeholder]="'FORMINPUTS_CREDITCARD_NUMBER' | translate" (result)="ccard.ccnumber = $event"></input-credit-card>
    <input-credit-card [value]="ccard.ccv" [mode]="'ccv'" [placeholder]="'FORMINPUTS_CREDITCARD_CCV' | translate" (result)="ccard.ccv = $event"></input-credit-card>

    <div class="customer-view__edit__info__expiration">
      <div class="customer-view__edit__info__expiration__item">
        <span class="customer-view__edit__info__expiration__item__title">{{'CUSTOMER_CREDITCARD_EXPIRATIONMONTH' | translate}}</span>
        <dropdown-component
          [showFloatingPlaceholder]="false"
          [selected]="expirationMonth"
          [required]="true"
          [placeholder]="'FORMINPUTS_CREDITCARD_MONTHSHORT' | translate"
          [options]="months"
          (onSelect)="selectMonth($event)">
        </dropdown-component>
      </div>

      <div class="customer-view__edit__info__expiration__item">
        <span class="customer-view__edit__info__expiration__item__title">{{'CUSTOMER_CREDITCARD_EXPIRATIONYEAR' | translate}}</span>
        <dropdown-component [showFloatingPlaceholder]="false" [selected]="expirationYear" [placeholder]="'FORMINPUTS_CREDITCARD_YEARSHORT' | translate" [options]="years" (onSelect)="selectYear($event)"></dropdown-component>
      </div>
    </div>
  </div>

  <div class="customer-view__edit__address">
    <div class="flex-custom">
      <div class="customer-view__edit__address__title">{{'CUSTOMER_CREDITCARD_BILLINGADDRESS' | translate}}</div>
      <md-checkbox (change)="toggleSameShippingAddress($event)">{{'CUSTOMER_CREDITCARD_SAMEADDRESS' | translate}}</md-checkbox>
    </div>

    <md-input required placeholder="{{'FORMINPUTS_ADDRESS' | translate}}" [(ngModel)]="ccard.address.line1"></md-input>
    <md-input placeholder="{{'FORMINPUTS_ADDRESS2' | translate}}" [(ngModel)]="ccard.address.line2"></md-input>

    <div class="customer-view__edit__address__group">
      <md-input required placeholder="{{'FORMINPUTS_CITY' | translate}}" [(ngModel)]="ccard.address.city"></md-input>
      <dropdown-component [required]="true" [selected]="ccard.address.state" [placeholder]="'State'" (onSelect)="ccard.address.state = $event" [options]="states"></dropdown-component>
    </div>

    <div class="customer-view__edit__address__group">
      <md-input required placeholder="{{'FORMINPUTS_ZIP' | translate}}" [(ngModel)]="ccard.address.zip"></md-input>
      <dropdown-component [required]="true" [selected]="ccard.address.country" [placeholder]="'Country'"  (onSelect)="ccard.address.country = $event" [options]="countries"></dropdown-component>
    </div>
  </div>

  <div class="customer-view__edit__actions">
    <div (click)="cancel.next(true)">{{'CUSTOMER_CREDITCARD_CANCEL' | translate}}</div>
    <div *ngIf="ccard.id; else save" (click)="updateCreditCard()">{{'CUSTOMER_CREDITCARD_UPDATE' | translate}}</div>
    <ng-template #save>
      <div (click)="createCreditCard()">{{'CUSTOMER_CREDITCARD_SAVE' | translate}}</div>
    </ng-template>
  </div>
</div>
