<div class="container">
  <div class="icon"></div>

  <div class="content" [class.content--shadow]="editMode">
    <ng-container *ngIf="!editMode; else edit">
      <div class="title">
        {{deviceLabels[notificationSettings.name]}}
        <mat-icon *ngIf="notificationSettings.name !== 'six' && notificationSettings.name !== 'ios'" (click)="editMode = true">edit</mat-icon>
      </div>

      <ng-container>
        <div class="subtitle">
          <div class="value">{{notificationSettings.data || deviceNoDataLabels[notificationSettings.name]}}</div>
          <div class="value">notifications {{notificationSettings.receive ? 'on' : 'off'}}</div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #edit>
      <div class="label">{{deviceLabels[notificationSettings.name]}}</div>
      <mat-form-field [class.error]="formInvalid" class="mrw-input--no-margin-top">
        <input #valueInput auto-focus (blur)="updateData()" (keyup)="keyup($event)" [applyAutofocus]="true" matInput type="text" [value]="notificationSettings.data">
      </mat-form-field>
    </ng-template>
  </div>

  <mat-slide-toggle class="slider-blue" [(ngModel)]="notificationSettings.receive" (change)="toggled.emit(true)"></mat-slide-toggle>
</div>
