<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entityBackup.name"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <div class="flex-custom">
        <div class="cont">
          <event-hook-add-new [entity]="entity"
                              [shared]="isShared"
                              [mode]="viewMode ? modes.View : modes.Update"
                              (changeMode)="setMode($event)"
                              (cancel)="cancelUpdate()"
                              (save)="saveOrUpdate($event)">
          </event-hook-add-new>
          <shared-hooks-list class="entity-view__card" (hookSelected)="appendHookBody($event)"></shared-hooks-list>
        </div>

        <event-hook-code [shared]="isShared" [eventHook]="entity" (save)="updateEntity(entity)"></event-hook-code>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="1" [cardsExpression]="'300px;840px'" [title]="'EVENTHOOK_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
