<div class="animation-wrapper">
  <div class="customer-service-container" [@routerTransition]="transition">

    <div class="item">
      <div class="content">
        <div class="title">

          <div class="icon-wrapper">
            <mat-icon>person</mat-icon>
          </div>

          Find Customer
        </div>

        <div class="search">

          <div class="mrw--search-input">
            <mat-form-field [floatLabel]="'never'">
              <input type="text" (keydown)="customerSearchKeyDown($event)" [(ngModel)]="customersInputValue" (input)="customerInputChanged()" (blur)="customersBlurred()" (focus)="customersFocused()" matInput placeholder="Name, email or phone">
            </mat-form-field>
            <mat-icon>search</mat-icon>

            <div class="autocomplete" *ngIf="customers && customers.length > 0">
              <div class="result" *ngFor="let customer of customers">
                <div class="row">{{ customer.firstName }} {{customer.lastName}}</div>
                <div class="row"><span>EMAIL:</span> {{ customer.email }}</div>
                <div class="row"><span>PHONE:</span> {{ customer.phone }}</div>
                <div class="row"><span>ZIP:</span> {{ customer.zip }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">

        <div class="title">

          <div class="icon-wrapper">
            <mat-icon>payment</mat-icon>
          </div>

          Find Order
        </div>

        <div class="search">

          <div class="mrw--search-input">
            <mat-form-field [floatLabel]="'never'">
              <input #orderInput type="text" (keydown)="sessionSearchKeyDown($event)" (focused)="sessionFocused()" (blur)="sessionBlurred()" (input)="sessionInputChanged()" [(ngModel)]="sessionsInputValue" matInput placeholder="Session ID or Alias">
            </mat-form-field>
            <mat-icon>search</mat-icon>

            <div class="autocomplete" *ngIf="sessions && sessions.length > 0">
              <div class="result" *ngFor="let session of sessions">
                <div class="row">Order {{ session.alias }}</div>
                <div class="row"><span>NAME:</span> {{ customer.firstName }} {{customer.lastName}}</div>
                <div class="row"><span>EMAIL:</span> {{ customer.email }}</div>
                <div class="row"><span>PHONE:</span> {{ customer.phone }}</div>
                <div class="row"><span>ZIP:</span> {{ customer.zip }}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
