<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Email Template</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="!addMode; else createMessage">
          {{entityBackup.name}}
        </span>
        <ng-template #createMessage>
          Create new Email Template
        </ng-template>
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">PREVIEW</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="entity-view__card entity-view__card--large">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title">SMTP Details</div>
          <md-icon [md-menu-trigger-for]="editOptions">more_vert</md-icon>
          <md-menu #editOptions="mdMenu" x-position="before">
            <button *ngIf="!addMode" md-menu-item (click)="enableEditMode()"> Edit Email Template Details</button>
          </md-menu>
        </div>

        <div class="entity-view__card__content">
          <md-input-container class="entity-view__card__content__item email-template-view__input">
            <input required md-input [disabled]="!editMode && !addMode" placeholder="Name" [(ngModel)]="entity.name" type="text">
          </md-input-container>

          <dropdown-component class="email-template-view__dropdown"
                              [showPlaceholder]="true"
                              [disabled]="!editMode && !addMode"
                              [options]="types"
                              [selected]="entity.type"
                              [placeholder]="'Template Type'"
                              (onSelect)="entity.type = $event">
          </dropdown-component>

          <dropdown-component class="email-template-view__dropdown"
                              [showPlaceholder]="true"
                              [disabled]="!editMode && !addMode"
                              [options]="smtpProviderService.entities$ | async"
                              [mapper]="smtpProviderMapper"
                              [selected]="entity.smtpProvider"
                              [placeholder]="'SMTP Provider'"
                              (onSelect)="entity.smtpProvider = $event">
          </dropdown-component>

          <md-input-container class="entity-view__card__content__item">
            <input required md-input [disabled]="!editMode && !addMode" placeholder="Subject" [(ngModel)]="entity.subject" type="text">
          </md-input-container>

          <div class="email-template-view__label">Email Template Body</div>
          <div [class.editor-container--hidden]="!editMode && !addMode" class="editor-container">
            <div id="editor-id"></div>
          </div>
          <div *ngIf="!editMode && !addMode">
            <div class="email-template-view__body" [innerHTML]="entity.body"></div>
          </div>
        </div>

        <div *ngIf="editMode || addMode" class="entity-view__card__actions">
          <div *ngIf="editMode" (click)="cancelEdit()">CANCEL</div>
          <div (click)="saveTemplate()">SAVE</div>
        </div>
      </div>

    </md-tab>

    <md-tab>
      <div class="entity-view__card entity-view__card--large">
        <div class="entity-view__card__header">
          <div>
            <div class="entity-view__card__header__title">Email Template Preview</div>
            <div class="entity-view__card__header__subtitle">preview how the template will look in an email</div>
          </div>
          <md-icon>more_vert</md-icon>
        </div>

        <div class="entity-view__card__content">
          <div class="email-template-view__preview__body" [innerHTML]="entity.body"></div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>




