<div *ngIf="entity; else spinner" class="entity-view">
  <entity-view-breadcrumbs [items]="breadcrumbs"></entity-view-breadcrumbs>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">{{'SINGLEPAGE_CREATED' | translate}}: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        {{entityBackup.name}}
      </div>
    </div>
  </div>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom email-template-view__card-container">
        <email-template-add-new [entity]="entity"
                                [mode]="viewMode ? modes.View : modes.Update"
                                [tokenSubject]="addTokenSubject"
                                [editorRefreshSubject]="editorRefreshSubject"
                                [editEnabled]="!isShared"
                                (cancel)="cancelEdit()"
                                (changeMode)="setMode($event)"
                                (save)="updateEntity($event)">
        </email-template-add-new>

        <token-list [style.display]="viewMode ? 'none' : 'inline-block'" (tokenSelected)="addToken($event)" class="entity-view__card"></token-list>
      </div>

    </md-tab>

    <md-tab>
      <div class="entity-view__card entity-view__card--large">
        <div class="entity-view__card__header">
          <div>
            <div class="entity-view__card__header__title">{{'EMAILTEMPLATE_PREVIEW_TITLE' | translate}}</div>
            <div class="entity-view__card__header__subtitle">{{'EMAILTEMPLATE_PREVIEW_SUBTITLE' | translate}}</div>
          </div>
        </div>

        <div class="entity-view__card__content">
          <div class="email-template-view__preview__body" [innerHTML]="entity.body"></div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [cardsExpression]="'650px'" [title]="'EMAILTEMPLATE_INDEX_TITLE' | translate"></spe-loader>
</ng-template>




