<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Email Template</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="!addMode; else createMessage">
          {{entityBackup.name}}
        </span>
        <ng-template #createMessage>
          Create new Email Template
        </ng-template>
      </div>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 0" (click)="setIndex(0)">GENERAL DETAILS</span>
    <span class="entity-view__navigation__label" [class.entity-view__navigation__label--active]="selectedIndex === 1" (click)="setIndex(1)">PREVIEW</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>

      <div class="flex-custom email-template-view__card-container">
        <email-template-add-new [entity]="entity"
                                [mode]="viewMode ? modes.View : modes.Update"
                                [tokenSubject]="addTokenSubject"
                                [editorRefreshSubject]="editorRefreshSubject"
                                (cancel)="cancelEdit()"
                                (changeMode)="setMode($event)"
                                (save)="updateEntity($event)">
        </email-template-add-new>

        <token-list [style.display]="viewMode ? 'none' : 'inline-block'" (tokenSelected)="addToken($event)" class="entity-view__card"></token-list>
      </div>

    </md-tab>

    <md-tab>
      <div class="entity-view__card entity-view__card--large">
        <div class="entity-view__card__header">
          <div>
            <div class="entity-view__card__header__title">Email Template Preview</div>
            <div class="entity-view__card__header__subtitle">preview how the template will look in an email</div>
          </div>
        </div>

        <div class="entity-view__card__content">
          <div class="email-template-view__preview__body" [innerHTML]="entity.body"></div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [cardsExpression]="'650px'" [title]="'Email Template'"></spe-loader>
</ng-template>




