<div class="entity-view__table-component">
  <div style="padding-bottom: 6px;" class="entity-view__table-component__header">
    <div class="customer-transactions__title-container">
      <div class="title">{{ 'ACCOUNT_KEYS_TITLE' | translate}}</div>
    </div>
    <mat-form-field class="entity-view__table-component__header__filter">
      <input matInput placeholder="{{ 'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filterValue">
    </mat-form-field>
    <table-pagination
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)">
    </table-pagination>
    <table-preferences
      [columnParams]="columnParams"
      [small]="true">
    </table-preferences>
    <mat-icon [matMenuTriggerFor]="optionsMenu" class="entity-view__table-component__header__action">more_vert</mat-icon>
    <mat-menu #optionsMenu="matMenu" x-position="before">
      <button mat-menu-item (click)="addAccessKey()">{{ 'ACCOUNT_KEYS_ADD' | translate}}</button>
    </mat-menu>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <th (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
            {{params.label | translate}}
            <mat-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
          </th>
        </ng-container>
      </ng-container>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntities: filterValue | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <td [class.cell--align-right]="params.align === 'right'">{{params.mappingFunction(entity)}}</td>
        </ng-container>
      </ng-container>
      <td>
        <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
        <mat-menu #actionsMenu="matMenu" x-position="before">
          <button mat-menu-item (click)="viewAccessKey(entity)">{{ 'ACCOUNT_KEYS_VIEW' | translate}}</button>
          <button mat-menu-item (click)="editAccessKey(entity)">{{ 'ACCOUNT_KEYS_EDIT' | translate}}</button>
          <button mat-menu-item (click)="deleteEntity(entity.id)">{{ 'ACCOUNT_KEYS_REMOVE' | translate}}</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else messages"></server-error-message>
  <ng-template #messages>
    <table-loader *ngIf="loadingData"></table-loader>
    <div *ngIf="!loadingData && (!entities || entities.length === 0)" class="entity-view__no-results entity-view__no-results--table">No access keys found</div>
  </ng-template>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>

