.half {
  width: 50%;
}

.full {
  width: 100%;
}

.space-left {
  margin-left: 20px;
}

table-memory {
  display: block;
  margin: 5px -5px;
}

.column {
  width: 33%;

  &--small {
    width: 26%;
  }

  &--medium {
    width: 30%;
  }

  &--large {
    width: 44%;
  }
}

.warning-icon {
  color: #F57C00;
  height: 45px;
  width: 45px;
  font-size: 45px;
}

.done-icon {
  display: flex;
  color: white;
  border-radius: 50%;
  background: #4CBA38;
  height: 45px;
  width: 45px;

  md-icon {
    margin: auto;
  }
}

.number-icon {
  display: flex;
  background: #9B9B9B;
  color: white;
  border-radius: 50%;
  height: 45px;
  width: 45px;

  div {
    font-size: 20px;
    margin: auto;
  }
}

.line {
  margin: 8px auto;
  width: 2px;
  min-height: 42px;
  background: rgba(0,0,0,0.3);
}

.history-container {
  padding: 20px;
}

.info-container {
  margin: 12px 0 15px 15px;

  .name {
    margin-bottom: 5px;
    font-size: 16px;
    text-transform: capitalize;
  }

  .time {
    font-size: 12px;
    color: rgba(0,0,0,0.5);

    div {
      margin-bottom: 2px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  .warning {
    background: #F8F8F8;
    margin-top: 6px;
    padding: 10px;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
  }
}

customer-credit-card-view {
  display: block;
  margin-top: 10px;
}

.customer-credit-card-view--multiple {
  margin-right: 10px;
}

.properties-container {
  padding: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);

  .clickable {
    cursor: pointer;
  }

  div {
    padding: 10px 12px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: default;

    &:last-of-type {
      border-bottom: none;
    }

    span {
      margin-right: 2px;
      font-weight: 500;
    }

  }
}
