<div #entityContainer class="entity" [class.entity--full-screen]="fullScreen">
  <div *ngIf="!loadingData" class="entity__body" [style.height]="height">

    <entity-view-topnav [mode]="mode" [service]="service" (close)="closeDetails()" (del)="emitDeleteEntity()"></entity-view-topnav>

    <div *ngIf="entity">
      <div class="entity__caption">
        {{ mode === 'view' ? entity.name : 'Invite New User' }}
      </div>

      <div *ngIf="mode === 'view'" class="entity__content">
        <md-tab-group [(selectedIndex)]="tabIndex">
          <md-tab label="Details">

            <entity-view-info
              [title]="'GENERAL DETAILS'"
              [data]="[
                {name:'ID', value: entity.id},
                {name:'Name', value: entity.name},
                {name:'Email', value: entity.email},
                {name:'Active', value: entity.active},
                {name:'Terms And Conditions', value: entity.termsAndConditions}
              ]">
            </entity-view-info>

            <entity-view-info
              [title]="'ADDRESS'"
              [data]="[
                {name:'Country', value: entity.address.country},
                {name:'State', value: entity.address.state},
                {name:'City', value: entity.address.city},
                {name:'Line 1', value: entity.address.line1},
                {name:'Line 2', value: entity.address.line2},
                {name:'Zip', value: entity.address.zip}
              ]">
            </entity-view-info>

          </md-tab>
          <md-tab label="Edit">
            <div class="entity__edit">
              <div class="entity__edit__content">
                <div class="entity__edit__content__title"> GENERAL DETAILS </div>
                <md-input [(ngModel)]="entityCopy.name" placeholder="Name"></md-input>
                <md-input [(ngModel)]="entityCopy.email" placeholder="Email"></md-input>
                <div class="entity__edit__content__checkbox">
                  <span> Active: </span>
                  <md-checkbox [checked]="entityCopy.active === 'true'" (change)="entityCopy.active = $event.checked ? 'true' : 'false'"></md-checkbox>
                </div>
                <md-input [(ngModel)]="entityCopy.termsAndConditions" placeholder="Terms And Conditions"></md-input>
              </div>
              <div class="entity__edit__content">
                <div class="entity__edit__content__title"> ADDRESS </div>
                <md-input [(ngModel)]="entityCopy.address.country" placeholder="Country"></md-input>
                <md-input [(ngModel)]="entityCopy.address.state" placeholder="State"></md-input>
                <md-input [(ngModel)]="entityCopy.address.city" placeholder="City"></md-input>
                <md-input [(ngModel)]="entityCopy.address.line1" placeholder="Line 1"></md-input>
                <md-input [(ngModel)]="entityCopy.address.line2" placeholder="Line 2"></md-input>
                <md-input [(ngModel)]="entityCopy.address.zip" placeholder="Zip"></md-input>
              </div>
            </div>
            <div class="entity__buttons">
              <button md-raised-button (click)="update()">Update</button>
              <button md-raised-button (click)="cancelUpdate()">Cancel</button>
            </div>
          </md-tab>
        </md-tab-group>
      </div>

      <div *ngIf="mode === 'add'" class="entity__add">
        <div class="entity__add__content--invite">
          <div class="entity__add__content--invite__element">
            <span class="entity__add__content--invite__label">Email:</span>
            <md-input [disabled]="inviteSent" [(ngModel)]="email"></md-input>
          </div>
          <div class="entity__add__content--invite__element">
            <span class="entity__add__content--invite__label">Role:</span>
            <span class="entity__add__content--invite__select">
              {{(role && role.name) || 'Select Role' }}
              <md-icon *ngIf="!inviteSent" [md-menu-trigger-for]="rolesMenu">keyboard_arrow_down</md-icon>
            </span>
          </div>
          <md-menu #rolesMenu="mdMenu">
            <button md-menu-item *ngFor="let r of roles" (click)="setRole(r)">{{r.name}}</button>
          </md-menu>

          <button *ngIf="!inviteSent" [disabled]="!email || !role" md-raised-button (click)="sendInvite()">Invite</button>
        </div>
      </div>
    </div>
  </div>
</div>
