@import "../../../../assets/scss/colors";

.column {
  width: calc(50% - 18px);

  .column-title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
  }

  &:first-of-type {
    margin-right: 18px;
  }

  &:last-of-type {
    margin-left: auto;
  }
}

.advanced-payment-body {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  font-size: 16px;
}

.columns {
  display: flex;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.row {
  display: flex;

  mat-form-field {
    width: calc(50% - 10px);

    &:first-of-type {
      margin-right: auto;
    }
  }
}

.input-with-codes {
  display: flex;
  align-items: center;

  mat-form-field {
    width: 50%;
    margin-right: 15px;
  }

  img {
    margin-left: auto;
    margin-right: 15px;
  }
}

.dates {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;

  .error {
    mat-icon {
      margin-left: auto;
      color: $danger-color;
    }

    div {
      color: $danger-color;
    }
  }

  .element {
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    cursor: pointer;

    mat-icon {
      margin-left: auto;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .error {
    border-color: $danger-color !important;
  }

  .selected {
    color: rgba(0, 0, 0, 0.87);
  }
}

.cards {
  display: flex;
  margin-bottom: 30px;

  img {
    width: 52px;
    height: 34px;
    margin-right: 20px;
  }
}

.same-checkbox {
  font-size: 12px;
  margin-left: auto;
  font-weight: 400;
}
