<div class="entity-view__card entity-view__card--create">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{'MERCHANTPROVIDERGROUP_INFO_CREATETITLE' | translate}}</div>
  </div>

  <form class="entity-view__card__content">
    <mat-input-container [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
      <input auto-focus required matInput placeholder="{{'MERCHANTPROVIDERGROUP_INFO_NAME' | translate}}" [(ngModel)]="entity.name" name="name" type="text">
    </mat-input-container>
  </form>

  <div class="entity-view__card__actions">
    <div (click)="cancel.emit(true)">{{'MERCHANTPROVIDERGROUP_INFO_CANCEL' | translate}}</div>
    <div (click)="saveMerchantProviderGroup()">{{'MERCHANTPROVIDERGROUP_INFO_SAVE' | translate}}</div>
  </div>
</div>

