<div class="registration--out">
  <div *ngIf="showWelcome" class="registration--in">
    <div class="registration--in__welcome">
      <h1> THANK YOU </h1>

      <svg class="thank-you-icon" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.97 52.88">
        <title>favicon</title>
        <path
          d="M48.73,11.23A26.38,26.38,0,0,0,32.11,3.56l0,0L18.37,17.31A17.23,17.23,0,1,0,30,12.75c-0.38,0-.76,0-1.14,
          0L33.65,8a22.23,22.23,0,1,1-19.48,6.31L24.37,4.08A26.48,26.48,0,1,0,48.73,11.23ZM30,17a13,13,0,1,1-9.23,
          3.86h0l0.53-.53A12.94,12.94,0,0,1,30,17Z"
          transform="translate(-3.52 -3.56)"/>
      </svg>

      <h2>
        Welcome to SixCRM
      </h2>
      <p>
        Please complete the following steps
        <br>
        to finalize your registration
      </p>
      <div>
        <button md-raised-button (click)="showFormScreen()">Continue</button>
      </div>
    </div>
  </div>

  <div *ngIf="showForm" class="registration--in">
    <div *ngIf="selectedIndex !== 3" class="tab__header"> <span>Registration</span> </div>

    <img class="tab__image" src="/assets/images/icon-half-registration.svg">

    <md-tab-group [(selectedIndex)]="selectedIndex">
      <md-tab disabled label="Sign Up">
        <div class="tab__content">
          <table>
           <td class="full">
             <md-input placeholder="Username" [(ngModel)]="username" name="username"></md-input>
           </td>
          </table>
          <table>
            <td class="half">
              <md-input placeholder="First Name" [(ngModel)]="firstName" name="firstName"></md-input>
            </td>
            <td class="half">
              <md-input placeholder="Last Name" [(ngModel)]="lastName" name="lastName"></md-input>
            </td>
          </table>
          <table>
            <td class="full">
              <md-input placeholder="Company" [(ngModel)]="company" name="company"></md-input>
            </td>
          </table>
        </div>
      </md-tab>
      <md-tab disabled label="Address">
        <div class="tab__content">
          <table>
            <td class="full">
              <md-input placeholder="Address One"  [(ngModel)]="address1" name="address1"></md-input>
            </td>
          </table>
          <table>
            <td class="full">
              <md-input placeholder="Address Two"  [(ngModel)]="address2" name="address2"></md-input>
            </td>
          </table>

          <div class="dropdown__container">
            <div class="dropdown__element">
              <span [class.input--active]="country" class="tab__content__dropdown">
                {{ country || 'Country'}}
              </span>
              </div>
              <div class="dropdown__element">
              <span [md-menu-trigger-for]="stateMenu" [class.input--active]="state" class="tab__content__dropdown">
                {{ state || 'State'}}
                <md-icon>keyboard_arrow_down</md-icon>
              </span>
            </div>
          </div>
          <md-menu #countryMenu="mdMenu" x-position="before">
            <button *ngFor="let c of countries" md-menu-item (click)="setCountry(c)"> {{c}} </button>
          </md-menu>
          <md-menu #stateMenu="mdMenu" x-position="before">
            <button *ngFor="let s of states" md-menu-item (click)="setState(s)"> {{s}} </button>
          </md-menu>

          <table>
            <td class="half">
              <md-input placeholder="City"  [(ngModel)]="city" name="city"></md-input>
            </td>
            <td class="half">
              <md-input placeholder="Postal Code" [(ngModel)]="postalCode" name="postalCode" pattern="^(0|[1-9][0-9]*)$"></md-input>
            </td>
          </table>
        </div>
      </md-tab>
      <md-tab disabled label="Payment">
        <div class="tab__content">
          <table>
            <td class="full">
              <md-input placeholder="Credit Card Number" [(ngModel)]="ccNumber" name="ccNumber"></md-input>
            </td>
          </table>
          <span class="tab__content__label">Expiration Date</span>

          <div class="dropdown__container">
            <div class="dropdown__element">
              <span [class.input--active]="ccExpMonth" [md-menu-trigger-for]="monthMenu" class="tab__content__dropdown">
                {{ ccExpMonth || 'Month'}}
                <md-icon>keyboard_arrow_down</md-icon>
              </span>
            </div>
            <div class="dropdown__element">
              <span [class.input--active]="ccExpYear" [md-menu-trigger-for]="yearMenu" class="tab__content__dropdown">
                {{ ccExpYear || 'Year'}}
                <md-icon>keyboard_arrow_down</md-icon>
              </span>
            </div>
          </div>

          <md-menu #monthMenu="mdMenu" x-position="before">
            <button *ngFor="let m of months" md-menu-item (click)="setCCExpMonth(m)"> {{m}} </button>
          </md-menu>
          <md-menu #yearMenu="mdMenu" x-position="before">
            <button *ngFor="let y of years" md-menu-item (click)="setCCExpYear(y)"> {{y}} </button>
          </md-menu>

          <table>
            <td class="full">
              <md-input placeholder="CCV"  [(ngModel)]="ccv" name="ccv"></md-input>
            </td>
          </table>
        </div>
      </md-tab>
      <md-tab disabled label="Confirmation">

        <div class="tab__content">
          <table>
            <td class="full">
              <md-input readonly="true" placeholder="Username" value="{{username}}"></md-input>
            </td>
          </table>
          <table>
            <td class="half">
              <md-input readonly="true" placeholder="First Name" value="{{firstName}}"></md-input>
            </td>
            <td class="half">
              <md-input readonly="true" placeholder="Last Name" value="{{lastName}}"></md-input>
            </td>
          </table>
          <table>
            <td class="full">
              <md-input readonly="true" placeholder="Company" value="{{company}}"></md-input>
            </td>
          </table>

          <table>
            <td class="full">
              <md-input readonly="true" placeholder="Address One" value="{{address1}}"></md-input>
            </td>
          </table>
          <table>
            <td class="full">
              <md-input readonly="true" placeholder="Address Two" value="{{address2}}"></md-input>
            </td>
          </table>

          <table>
            <td class="half">
              <md-input readonly="true" placeholder="Country" value="{{country}}"></md-input>
            </td>
            <td class="half">
              <md-input readonly="true" placeholder="State" value="{{state}}"></md-input>
            </td>
          </table>

          <table>
            <td class="half">
              <md-input readonly="true" placeholder="Credit Card Last Four" value="{{ccLastFour()}}"></md-input>
            </td>
            <td class="half">
              <md-input readonly="true" placeholder="Postal Code" value="{{postalCode}}"></md-input>
            </td>
          </table>
          <table>
            <td class="half">
              <md-input readonly="true" placeholder="CCV" value="{{ccv}}"></md-input>
            </td>
            <td class="half">
              <md-input readonly="true" placeholder="CC EXP" value="{{ccExpMonth + '/' + ccExpYear}}"></md-input>
            </td>
          </table>
        </div>

      </md-tab>
    </md-tab-group>

    <div class="tab__buttons">
      <span (click)="previous()">Previous</span>
      <button [disabled]="!isValid(selectedIndex)" md-raised-button (click)="next()">Next</button>
    </div>
  </div>

  <div *ngIf="showTerms" class="registration--in">
    <img class="tab__image" src="/assets/images/icon-half-registration.svg">

    <div class="screen__content">
      <div class="screen__content__terms__title">
        Terms and Conditions
      </div>

      <div class="screen__content__terms__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </div>

      <div class="screen__content__terms__label">
        Type full name to agree:
      </div>
      <md-input class="screen__content__terms__input--single" placeholder="Full Name" [(ngModel)]="fullName" name="fullName"></md-input>
      <div class="tab__buttons">
        <span (click)="previous()">Previous</span>
        <button [disabled]="!isValid(4)" md-raised-button (click)="complete()">Complete</button>
      </div>
    </div>
  </div>

  <div *ngIf="showThankYou" class="registration--in">
    <img class="tab__image" src="/assets/images/icon-half-registration.svg">

    <div class="screen__content terms">

      <h1 class="terms__title"> THANK YOU </h1>
      <h2 class="terms__subtitle"> Registration Complete </h2>

      <p class="terms__content">
        Your account information has been receive and is awaiting confirmation from our account administrators.
        <br>
        <br>
        Expect to receive an email confirmation once your application has been approved, this typically happens within one business day.
      </p>

      <div class="terms__actions">
        <p class="terms__actions__label"> Haven't heard from us yet? </p>
        <button md-raised-button>Re-send email confirmation</button>
      </div>
    </div>
  </div>
</div>
