.product-view {
  &__group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    dropdown-component {
      padding-bottom: 4px;
    }

    md-checkbox {
      width: 50%;
    }

    md-input-container {
      margin-right: 25px;
    }
  }
}
