<form *ngIf="entity" #productInputForm="ngForm" class="flex-custom">
  <div style="margin-bottom: 120px;" class="entity-view__card" [class.entity-view__card--create]="mode === add" [class.flex-align--center]="mode === add">
    <div class="entity-view__card__header">
      <div class="entity-view__card__header__title">{{(mode === add ? 'PRODUCT_INFO_CREATETITLE' : 'PRODUCT_INFO_TITLE') | translate}}</div>
      <ng-container *ngIf="mode === view">
        <mat-icon [matMenuTriggerFor]="editOptions">more_vert</mat-icon>
        <mat-menu #editOptions="matMenu" x-position="before">
          <button mat-menu-item (click)="changeMode.emit(update)">{{'PRODUCT_INFO_EDIT' | translate}}</button>
          <button mat-menu-item (click)="deleteEntity.emit(entity)">{{'PRODUCT_INFO_DEL' | translate}}</button>
          <button mat-menu-item *ngIf="entity.ship && entity.fulfillmentProvider && entity.fulfillmentProvider.id" [routerLink]="['/fulfillmentproviders', entity.fulfillmentProvider.id]">
            {{'PRODUCT_INFO_VIEWFULFILLMENTPROVIDER' | translate}}
          </button>
        </mat-menu>
      </ng-container>
    </div>

    <div class="entity-view__card__content">
      <mat-input-container style="margin-right: 25px;" [class.error]="formInvalid && !entity.name" class="entity-view__card__content__item">
        <input auto-focus required matInput [disabled]="mode === view" placeholder="{{'PRODUCT_INFO_NAME' | translate}}" name="name" [(ngModel)]="entity.name" type="text">
      </mat-input-container>

      <mat-input-container>
        <textarea matInput [disabled]="mode === view" placeholder="{{'PRODUCT_INFO_DESCRIPTION' | translate}}" name="description" [(ngModel)]="entity.description" rows="2"></textarea>
      </mat-input-container>

      <div class="product-view__group">
        <mat-input-container class="entity-view__card__content__item">
          <input matInput [disabled]="mode === view" placeholder="{{'PRODUCT_INFO_SKU' | translate}}" name="sku" [(ngModel)]="entity.sku" type="text">
        </mat-input-container>
      </div>

      <div style="margin-top: 15px;" class="product-view__group">
        <mat-input-container class="entity-view__card__content__item" [class.error]="formInvalid && defaultInvalid()">
          <input matInput currencyInput [initPrice]="entity.defaultPrice" (priceChanged)="priceUpdated($event)" [disabled]="mode === view" placeholder="{{'PRODUCT_INFO_DEFAULTPRICE' | translate}}" name="defaultPrice" (keydown)="isCurrency($event)" type="text">
        </mat-input-container>

        <mat-checkbox class="dynamic-checkbox" [disabled]="mode === view" [checked]="entity.dynamicPrice.enabled" (change)="toggleDynamic()">{{'PRODUCT_INFO_DYNAMICPRICE' | translate}}</mat-checkbox>
      </div>

      <div *ngIf="entity.dynamicPrice.enabled" style="margin-top: 15px;" class="product-view__group">
        <mat-input-container [class.error]="formInvalid && dynamicInvalid()" class="entity-view__card__content__item">
          <input matInput [disabled]="mode === view" currencyInput [initPrice]="entity.dynamicPrice.min" (priceChanged)="entity.dynamicPrice.min = $event" placeholder="{{'PRODUCT_INFO_MINPRICE' | translate}}" name="defaultPrice" (keydown)="isCurrency($event)" type="text">
        </mat-input-container>

        <mat-input-container [class.error]="formInvalid && dynamicInvalid()" class="entity-view__card__content__item">
          <input matInput [disabled]="mode === view" currencyInput [initPrice]="entity.dynamicPrice.max" (priceChanged)="entity.dynamicPrice.max = $event" placeholder="{{'PRODUCT_INFO_MAXPRICE' | translate}}" name="defaultPrice" (keydown)="isCurrency($event)" type="text">
        </mat-input-container>
      </div>

      <div style="margin-top: 15px;" class="product-view__group">
        <mat-checkbox style="font-size: 14px;" [disabled]="mode === view" [checked]="entity.ship" (change)="toggleShip()">{{'PRODUCT_INFO_SHIP' | translate}}</mat-checkbox>

        <mat-input-container [class.error]="formInvalid && !entity.shippingDelay && entity.shippingDelay !== 0 && entity.ship" class="entity-view__card__content__item">
          <input [required]="entity.ship" matInput [disabled]="mode === view || !entity.ship" (keydown)="isNumeric($event)" placeholder="{{'PRODUCT_INFO_SHIPDELAY' | translate}}" name="shippingDelay" [(ngModel)]="entity.shippingDelay" type="number">
        </mat-input-container>
      </div>

      <autocomplete-input class="product-autocomplete-input"
                          [class.error]="formInvalid && (!entity.fulfillmentProvider || !entity.fulfillmentProvider.id) && entity.ship"
                          [initialValue]="entity.fulfillmentProvider"
                          [placeholder]="'PRODUCT_INFO_FULFILLMENTPROVIDER' | translate"
                          [options]="fulfillmentProviderService.entities$ | async"
                          [mapFunction]="fulfillmentProviderMapper"
                          [showArrow]="true"
                          [disabled]="mode === view || !entity.ship"
                          [required]="entity.ship"
                          (selected)="entity.fulfillmentProvider = $event">
      </autocomplete-input>

    </div>

    <div *ngIf="mode !== view" class="entity-view__card__actions">
      <div (click)="cancelUpdate()">{{'PRODUCT_INFO_CANCEL' | translate}}</div>
      <div (click)="saveProduct(productInputForm.form.valid)">{{(mode === update ? 'PRODUCT_INFO_UPDATE' : 'PRODUCT_INFO_CREATE') | translate}}</div>
    </div>
  </div>
</form>

