.product-view {
  &__group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    dropdown-component {
      padding-bottom: 4px;
    }

    mat-checkbox {
      width: 50%;
    }

    mat-form-field {
      margin-right: 25px;
    }
  }
}

textarea {
  font-size: 14px;
  margin-right: 25px;
}

.dynamic-checkbox {
  font-size: 14px;
  min-width: 203px;
}
