<div class="body">

  <div #notescontainer class="notes-wrapper">
    <div *ngIf="notes.length === 0" class="no-data">This customer has no notes...</div>

    <div class="note" *ngFor="let note of notes">
      <div class="author">{{note.user.name}}</div>
      <div class="date">{{note.createdAt | formatDateTime: 'MM/DD/YY h:mm A'}}</div>
      <div class="text">{{note.body}}</div>
    </div>
  </div>

  <div class="new-note-container">
    <textarea class="new-note" rows="6" maxlength="2500" placeholder="Add note..." [(ngModel)]="newNoteText"></textarea>
    <div class="button-holder">
      <button mat-button (click)="saveNote()">SAVE</button>
    </div>
  </div>

</div>
