.body {
  background: #ffffff;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  .notes-wrapper {
    height: calc(100% - 188px);
    overflow: auto;
  }

  .note {
    border-top: 1px solid rgba(0,0,0,0.06);
    padding: 12px 24px 10px 12px;
    line-height: 24px;
    color: #000000;

    .date {
      margin-top: 6px;
      margin-bottom: 6px;
      margin-left: 12px;
      font-size: 13px;
      font-weight: 500;
    }

    .text {
      margin-left: 12px;
      font-size: 14px;
    }

    .author {
      display: inline-block;
      border-radius: 16px;
      padding: 0 14px;
      background: rgba(0,0,0,0.06);
      font-weight: 500;
      font-size: 12px;
    }
  }

  .no-data {
    margin: 25px 15px;
    font-size: 16px;
    color: rgba(0,0,0,0.54);
  }

  .new-note-container {
    padding-top: 15px;
    border-top: 1px solid rgba(0,0,0,0.12);
  }

  .new-note {
    width: calc(100% - 30px);
    border: 1px solid rgba(44, 152, 240, 0.2);
    box-sizing: border-box;
    margin: 0 15px 10px;
    background: rgba(30, 177, 252, 0.1);
    outline: none;
    padding: 6px;
    font-size: 14px;
    resize: none;
    border-radius: 4px;
  }

  .button-holder {
    display: flex;
    margin-bottom: 10px;

    button {
      margin-left: auto;
      margin-right: 15px;
      color: #ffffff;
      font-size: 13px;
      background: #2C98F0
    }
  }
}
