<div class="billing-summary">

  <div class="data">
    <div *ngIf="sum; else loader" class="billing-summary__details">
      <div class="billing-summary__details__count">{{sum.count | numberlocale}}</div>
      <div class="billing-summary__details__amount">/${{sum.price | numberlocale}}</div>
    </div>

    <ng-template #loader>
      <div class="loader">
        <div></div>
      </div>
    </ng-template>

    <div class="billing-summary__title">{{'ACCOUNT_BILLING_SUMMARY_TITLE' | translate}}</div>
    <div class="billing-summary__description">{{'ACCOUNT_BILLING_SUMMARY_DESCRIPTION' | translate}}</div>

  </div>

  <div class="chart-container">
    <div class="chart-container__filter">
      <div [class.focused]="filterIndex === 0" (click)="updateFilterIndex(0)">1D</div>
      <div [class.focused]="filterIndex === 1" (click)="updateFilterIndex(1)">1W</div>
      <div [class.focused]="filterIndex === 2" (click)="updateFilterIndex(2)">1M</div>
    </div>

    <transaction-summary-chart *ngIf="focused" [embedded]="true" [cumulative]="true" [date]="dateMap" (sum)="updateSum($event)"></transaction-summary-chart>
  </div>
</div>
