.loader {
  display: flex;

  div {
    width: 200px;
    height: 40px;
    background: rgba(0,0,0,0.1);
  }
}

.billing-summary {
  display: flex;
  margin-bottom: 35px;
  padding: 10px;

  .data {
    width: 340px;
  }

  &__title {
    margin: 12px 0 26px;
    font-weight: 500;
    color: #191919;
    font-size: 20px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }

  &__details {
    display: flex;
    align-items: baseline;
    color: #4A90E2;

    &__count {
      font-size: 56px;
      font-weight: 500;
    }

    &__amount {
      margin-left: 3px;
      font-size: 14px;
    }
  }
}

.chart-container {
  width: calc(100% - 380px);
  margin-left: 40px;

  &__filter {
    display: flex;
    font-size: 12px;
    color: #4a4a4a;

    div {
      margin: 0 6px;
      padding: 0 2px;
      cursor: pointer;

      &:first-of-type {
        margin-left: auto;
      }
    }

    .focused {
      border-bottom: 3px solid #F16C00;
    }
  }
}

transaction-summary-chart {
  width: 100%;
}
