<div class="container">

  <div class="header">
    <div>Tab Settings</div>
    <mat-icon (click)="close()">close</mat-icon>
  </div>

  <div class="content">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div class="item" *ngIf="!tab.toBeRemoved">
        <mat-checkbox class="checkbox-blue" [(ngModel)]="tab.visible"></mat-checkbox>
        <div class="label">{{tab.label | translate}}</div>
        <mat-icon (click)="removeTabAtIndex(i)" *ngIf="tab.custom">delete</mat-icon>
      </div>
    </ng-container>
  </div>

  <div class="buttons">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-button (click)="done()">Done</button>
  </div>

</div>