$primary-blue-color: #5383C3;
$container-width: 350px;

.schedule-details {
  width: $container-width;
  transition: width 200ms ease-in-out;
  min-height: 100%;
  background: white;
  overflow: hidden;

  &--hidden {
    width: 0;
    overflow: hidden;
    transition: width 200ms ease-in-out;
  }
}

.schedule-tab-header {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 16px;
  background-color: $primary-blue-color;

  div {
    cursor: pointer;
    margin: 0 15px;
    color: #A7BEE0;
    border-bottom: 4px solid rgba(0,0,0,0);
    line-height: 46px;
  }

  .selected {
    color: white;
    border-color: #43C3F9;
  }
}

.schedule-container {
  width: $container-width;

  &__schedule-details {

    .header {
      padding: 16px 12px 2px;
    }

    .body {
      padding: 6px 12px 12px;

      .body__row {
        display: flex;

        md-input-container:first-of-type {
          margin-right: 12px;
        }
      }

      md-input-container {
        font-size: 14px;
      }

      autocomplete-input {
        font-size: 14px;
      }
    }

    .buttons {
      padding: 12px 12px;
      border-top: 1px solid rgba(0,0,0,0.2);
      display: flex;

      div {
        font-size: 12px;
        cursor: pointer;
        margin-left: auto;
        color: $primary-blue-color;
      }
    }
  }

  &__items {

    .item {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      border-top: 1px solid rgba(0,0,0,0.2);
      font-size: 14px;

      .number {
        display: flex;
        width: 34px;
        height: 34px;
        background: #EEEEEE;
        border-radius: 50%;
        margin-right: 10px;

        span {
          margin: auto;
          font-size: 18px;
        }
      }

      .text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 225px;
        white-space: nowrap;
      }

      mat-icon {
        margin-left: auto;
        font-size: 20px;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      autocomplete-input {
        width: 100%;
        margin-right: 12px;
      }
    }
  }
}

.red-button {
  margin-left: auto;
  font-size: 12px;
  color: white;
  background: #EF4339;
  font-weight: 500;
  padding: 6px 16px;
}
