<div class="schedule-details" [class.schedule-details--hidden]="(!_scheduleBackup && !_productSchedule && !_product) || hideDetails">
  <div class="schedule-container tab-container--no-header">

    <schedule-details-header
      [product]="_product"
      [schedule]="_scheduleBackup"
      [productSchedule]="_productSchedule"
      [editable]="editable"
      (close)="closeModal()"
      (removeSchedule)="removeSchedule()"
      (removeProductSchedule)="removeProductSchedule()">
    </schedule-details-header>

    <schedule-details-title [imagePath]="imagePath" [nextCycle]="nextCycle"></schedule-details-title>

    <div class="schedule-tab-header">
      <div [class.selected]="selectedIndex === 0" (click)="selectedIndex = 0">Info</div>
      <div *ngIf="_productSchedule" [class.selected]="selectedIndex === 1" (click)="selectedIndex = 1">Cycles</div>
    </div>

    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab>
        <div *ngIf="_scheduleBackup" class="schedule-container__schedule-details">
          <div class="header"><div>Schedule</div></div>

          <div class="body">
            <div class="body__row">
              <mat-form-field>
                <input type="text" [disabled]="!editable" auto-focus matInput placeholder="Start" (keydown)="isNumeric($event)" maxlength="4" [(ngModel)]="_scheduleBackup.start">
              </mat-form-field>

              <mat-form-field>
                <input type="text" [disabled]="!editable" matInput placeholder="End" (keydown)="isNumeric($event)" maxlength="4" [(ngModel)]="_scheduleBackup.end">
              </mat-form-field>
            </div>

            <div class="body__row">
              <autocomplete-input
                [fullWidth]="true"
                [initialValue]="_scheduleBackup.product"
                [options]="allProducts"
                [applyAutofocus]="false"
                [placeholder]="'Product'"
                [mapFunction]="productMapper"
                [disabled]="!editable"
                (selected)="_scheduleBackup.product = $event">
              </autocomplete-input>
            </div>

            <div class="radio-buttons">

              <mat-radio-button [disabled]="!editable"
                                class="radio-blue"
                                (click)="setCycleNoRepeat()"
                                [checked]="+_scheduleBackup.period === 0 && !_scheduleBackup.sameDayOfMonth">
                No cycle repeat
              </mat-radio-button>

              <mat-radio-button class="radio-blue"
                                [disabled]="!editable"
                                (click)="setCycleSameDay()"
                                [checked]="_scheduleBackup.sameDayOfMonth">
                Repeat cycle same day each month
              </mat-radio-button>

              <mat-radio-button class="radio-blue"
                                [disabled]="!editable"
                                (click)="setCycleRepeatEvery()"
                                [checked]="+_scheduleBackup.period > 0 && !_scheduleBackup.sameDayOfMonth">
                Repeat cycle every
                <mat-form-field class="cycle-input">
                  <input type="text" [disabled]="!editable" matInput (keydown)="isNumeric($event)" [(ngModel)]="_scheduleBackup.period" maxlength="4">
                </mat-form-field>
                Days
              </mat-radio-button>

            </div>
          </div>

          <div class="header"><div>Pricing</div></div>

          <div class="body">
            <div class="body__row">
              <mat-form-field>
                <input type="text" matInput [disabled]="!editable || !_scheduleBackup.product.dynamicPrice.enabled" placeholder="Price" currencyInput [initPrice]="_scheduleBackup.price" (priceChanged)="_scheduleBackup.price = $event">
                <mat-hint align="end" *ngIf="_scheduleBackup.product.dynamicPrice.enabled">{{_scheduleBackup.product.dynamicPrice.min.usd()}} - {{_scheduleBackup.product.dynamicPrice.max.usd()}}</mat-hint>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="editable" class="buttons"><div (click)="saveSchedule()">SAVE</div></div>
        </div>

        <div *ngIf="_productSchedule" class="schedule-container__schedule-details">
          <div class="header"><div>Schedule</div></div>

          <div class="body">
            <div class="body__row">
              <mat-form-field>
                <input type="text" matInput disabled placeholder="Start" [(ngModel)]="_productSchedule.start">
              </mat-form-field>

              <mat-form-field>
                <input type="text" matInput disabled placeholder="End" [(ngModel)]="_productSchedule.end">
              </mat-form-field>
            </div>
          </div>

          <div class="header"><div>Pricing</div></div>

          <div class="body">
            <div class="body__row">
              <mat-form-field>
                <input type="text" [disabled]="!editable" matInput placeholder="Quantity" [(ngModel)]="_productSchedule.quantity">
              </mat-form-field>

              <mat-form-field>
                <input matInput disabled type="text" placeholder="Discount Code">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="editable" class="buttons"><div (click)="saveProductSchedule()">SAVE</div></div>
        </div>

        <div *ngIf="_product" class="schedule-container__schedule-details">
          <div class="header">
            <div>Pricing</div>
          </div>

          <div class="body">
            <mat-form-field>
              <input matInput disabled type="text" placeholder="Quantity" [(ngModel)]="_product.quantity">
            </mat-form-field>
            <mat-form-field>
              <input matInput disabled type="text" placeholder="Price" currencyInput [initPrice]="_product.price">
            </mat-form-field>
            <mat-form-field>
              <input matInput disabled type="text" placeholder="Discount Code">
            </mat-form-field>
          </div>
        </div>

      </mat-tab>

      <mat-tab>
        <div *ngIf="_productSchedule" class="schedule-container__items">

          <div class="item" *ngFor="let s of _productSchedule.schedules; let i = index">
            <div class="number"><span>{{i}}</span></div>
            <div class="text">{{s.product.name}}</div>
            <mat-icon [matMenuTriggerFor]="scheduleoptions">more_vert</mat-icon>
            <mat-menu #scheduleoptions="matMenu" x-position="before">
              <button mat-menu-item [routerLink]="['/products', s.product.id]">View Product</button>
              <button *ngIf="editable" mat-menu-item (click)="deleteSchedule.emit(s)">Delete Schedule</button>
              <button mat-menu-item (click)="focusSchedule.emit(s)">Focus Schedule</button>
            </mat-menu>
          </div>

          <div *ngIf="editable" class="item item--last">
            <autocomplete-input
              class="session-autocomplete"
              [initialValue]="productToAdd"
              [fullWidth]="true"
              [options]="allProducts"
              [applyAutofocus]="false"
              [placeholder]="'Add Product'"
              [mapFunction]="productMapper"
              (selected)="productToAdd = $event">
            </autocomplete-input>

            <mat-icon (click)="persistNewSchedule()">add</mat-icon>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
