$primary-blue-color: #5383C3;
$container-width: 320px;

.schedule-details {
  width: $container-width;
  transition: width 200ms ease-in-out;
  min-height: 100%;
  background: white;
  overflow: hidden;

  &--hidden {
    width: 0;
    overflow: hidden;
    transition: width 200ms ease-in-out;
  }
}

.schedule-container {
  width: $container-width;

  &__schedule-details {
    .header {
      display: flex;
      align-items: center;
      padding: 12px 12px 0;
      font-size: 18px;

      div {
        cursor: pointer;
      }
    }

    .body {
      padding: 12px;

      .body__row {
        display: flex;

        md-input-container:first-of-type {
          margin-right: 12px;
        }
      }

      md-input-container {
        font-size: 14px;
      }

      autocomplete-input {
        font-size: 14px;
      }
    }

    .buttons {
      padding: 12px 12px;
      border-top: 1px solid rgba(0,0,0,0.2);
      display: flex;

      div {
        font-size: 12px;
        cursor: pointer;
        margin-left: auto;
        color: $primary-blue-color;
      }
    }
  }

  &__header {
    display: flex;
    padding: 0 12px;
    align-items: center;
    height: 45px;
    background: $primary-blue-color;
    color: white;
    font-size: 18px;

    md-icon {
      cursor: pointer;
    }

    .close-icon {
      margin-right: 8px;
    }

    .menu-icon {
      margin-left: auto;
    }
  }

  &__subheader {
    display: flex;
    background: $primary-blue-color;
    align-items: center;
    padding: 0 15px;
  }

  &__ship-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;
    font-weight: 500;
    height: 180px;

    div {
      &:first-of-type {
        font-size: 12px;
        margin-top: auto;
        padding-left: 32px;
        margin-bottom: 6px;
        color: #ABC2E1;
      }

      &:last-of-type {
        display: flex;
        align-items: center;
        margin-bottom: auto;

        md-icon {
          font-size: 20px;
          height: 20px;
          width: 20px;
          color: #ABC2E1;
        }

        span {
          margin-left: 12px;
          font-size: 20px;
        }
      }
    }
  }

  .image {
    display: flex;
    margin-left: auto;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &__items {
    .header {
      display: flex;
      align-items: center;
      padding: 15px 12px;
      font-size: 18px;

      div:nth-of-type(2) {
        margin-left: auto;
        font-size: 12px;
        cursor: pointer;
      }
    }

    .item {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      border-top: 1px solid rgba(0,0,0,0.2);
      font-size: 14px;

      .number {
        display: flex;
        width: 34px;
        height: 34px;
        background: #EEEEEE;
        border-radius: 50%;
        margin-right: 10px;

        span {
          margin: auto;
          font-size: 18px;
        }
      }

      .text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 225px;
        white-space: nowrap;
      }

      md-icon {
        margin-left: auto;
        font-size: 20px;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      autocomplete-input {
        width: 100%;
        margin-right: 12px;
      }
    }
  }
}

.red-button {
  margin-left: auto;
  font-size: 12px;
  color: white;
  background: #EF4339;
  font-weight: 500;
  padding: 6px 16px;
}
