@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

$main-color: #9B9A9B;

:host {
  display: block;
}

.topnav {
  height: 64px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &__logo {
    height: 45px;
  }

  &__search {

    &__input {
      width: 200px;
    }

    &__icon {
      color: $main-color;
    }
  }

  &__acl {
    &__icon {
      color: $main-color;
      margin-left: 10px;
      margin-right: 5px;
    }

    &__arrow {
      margin-right: 15px;
      cursor: pointer;
    }

    &__name {
      font-size: 15px;
    }

    &__menu {
      position: absolute;
      top: 64px;
      right: 285px;
      background: white;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      z-index: 1;

      div {
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.0588);
        }
      }
    }
  }

  &__profile {

    &__image {
      margin-right: 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    &__hello {
      margin-right: 10px;
      font-size: 15px;
      font-weight: 300;
    }

    &__name {
      font-weight: 500;
      font-size: 15px;
    }

    &__arrow {
      cursor: pointer;
    }
  }

  &__dropdown {

    &__menu {
      position: absolute;
      top: 64px;
      right: 55px;
      z-index: 1000;
      background-color: white;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      text-align: right;

      &__profile {
        display: inline-block;

        &__image {
          display: inline-block;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          vertical-align: middle;

          &:hover {
            cursor: pointer;
          }
        }

        span {
          margin-left: 10px !important;
        }
      }

      button {
        @include font-menu();
      }

      span {
        margin-left: 55px;
      }
    }
  }

  &__separator {
    margin-left: 15px;
    margin-right: 15px;
    width: 1px;
    height: 70%;
    background: $main-color;
  }

  &__notifications {
    color: $main-color;
  }
}
