<div class="container">

  <div class="header" [class.header--complete]="orderComplete && checkoutResponse">
    <div>{{!orderComplete && !checkoutResponse ? 'Create New Order' : 'Order Complete'}}</div>
  </div>

  <div class="no-keys-container" *ngIf="noKeysFound; else content">
    <div>
      This account has no API Keys set up.
    </div>

    <div *ngIf="keysService.hasWritePermission(); else nopermsissions">
      Please set up <span (click)="navigateToApiKeys()">API Keys</span> pair.
    </div>

    <ng-template #nopermsissions>
      <div>
        Please contact your account administrator
      </div>
    </ng-template>

    <button mat-button (click)="close.emit(true)">Close</button>
  </div>

  <ng-template #content>
    <div class="content">

      <ng-container *ngIf="!orderComplete && !checkoutResponse; else successMessage">
        <div *ngIf="keys; else keysloading" class="form-container">

          <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
              <mat-expansion-panel-header>
                <div class="expansion-header">
                  <span class="title">
                    <mat-icon *ngIf="selectedCustomer && selectedCustomer.id; else placeholder">done</mat-icon>
                    Customer
                  </span>

                  <mat-chip-list  [selectable]="false">
                    <mat-chip *ngIf="selectedCustomer && selectedCustomer.id"
                              [removable]="true"
                              (removed)="removeCustomer()">
                      {{selectedCustomer.firstName}} {{selectedCustomer.lastName}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-expansion-panel-header>

              <div *ngIf="!newCustomerMode; else newCustomerTemp" class="expansion-body">
                <mat-form-field class="autocomplete-input-container">
                  <input type="text" matInput placeholder="Email, Phone or Last Name" [matAutocomplete]="autoCustomer" (input)="customerInputChanged($event)">

                  <mat-autocomplete class="three-row-autocomplete" #autoCustomer="matAutocomplete" [displayWith]="displayFn" (optionSelected)="customerSelected($event)">
                    <mat-option *ngFor="let customer of customers" [value]="customer">
                      <div class="autocomplete-row">{{ customer.firstName }} {{ customer.lastName}}</div>
                      <div class="autocomplete-row">{{ customer.phone }}</div>
                      <div class="autocomplete-row">{{ customer.email }}</div>
                    </mat-option>
                  </mat-autocomplete>

                </mat-form-field>

                <div class="separator">or</div>

                <button mat-button (click)="newCustomer()">NEW CUSTOMER</button>
              </div>

              <ng-template #newCustomerTemp>
                <div class="expansion-body">
                  <form class="shipping-form" #customerForm="ngForm">
                    <mat-form-field [class.error]="newCustomerInvalid && !selectedCustomer.firstName">
                      <input type="text" matInput [(ngModel)]="selectedCustomer.firstName" placeholder="First Name" name="firstname" required>
                    </mat-form-field>
                    <mat-form-field [class.error]="newCustomerInvalid && !selectedCustomer.lastName">
                      <input type="text" matInput [(ngModel)]="selectedCustomer.lastName" placeholder="Last Name" name="lastname" required>
                    </mat-form-field>
                    <mat-form-field [class.error]="newCustomerInvalid && !selectedCustomer.phone">
                      <input type="text" matInput [textMask]="{mask: mask, guide: false}" [(ngModel)]="selectedCustomer.phone" placeholder="Phone" name="phone" required>
                    </mat-form-field>
                    <mat-form-field [class.error]="newCustomerInvalid && !selectedCustomer.email">
                      <input type="text" matInput [(ngModel)]="selectedCustomer.email" (keydown)="isAllowedEmailKey($event, selectedCustomer.email)" placeholder="Email" name="email" required>
                    </mat-form-field>
                  </form>
                </div>
              </ng-template>

              <div class="buttons">
                <button mat-button (click)="newCustomerMode = false">PREVIOUS</button>
                <button mat-button (click)="newCustomerMode ? confirmNewCustomer() : customerNextStep()">NEXT</button>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
              <mat-expansion-panel-header>
                <div class="expansion-header">
                  <span class="title">
                    <mat-icon *ngIf="selectedCampaign && selectedCampaign.id; else placeholder">done</mat-icon>
                    Campaign
                  </span>

                  <mat-chip-list  [selectable]="false">
                    <mat-chip *ngIf="selectedCampaign && selectedCampaign.id"
                              [removable]="true"
                              (removed)="removeCampaign()">
                      {{selectedCampaign.name}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-expansion-panel-header>

              <div class="expansion-body">

                <div *ngIf="hasNoCampaigns; else campaignsinput">
                  You have no Campaigns available for order creation.
                </div>

                <ng-template #campaignsinput>
                  <mat-form-field class="autocomplete-input-container">
                    <input type="text" matInput placeholder="Choose Campaign" [matAutocomplete]="autoCampaign" (keyup)="campaignInputChanged()" [(ngModel)]="campaignFilterValue">

                    <mat-autocomplete #autoCampaign="matAutocomplete" [displayWith]="displayFn" (optionSelected)="campaignSelected($event)">
                      <mat-option *ngFor="let campaign of filteredCampaigns" [value]="campaign">
                        <div>{{ campaign.name }} </div>
                      </mat-option>
                    </mat-autocomplete>

                  </mat-form-field>
                </ng-template>

              </div>

              <div class="buttons">
                <button mat-button (click)="setStep(0)">PREVIOUS</button>
                <button mat-button (click)="campaignNextStep()">NEXT</button>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
              <mat-expansion-panel-header>
                <div class="expansion-header">
                  <span class="title">
                    <mat-icon *ngIf="selectedProducts && selectedProducts.length > 0; else placeholder">done</mat-icon>
                    Products
                  </span>

                  <mat-chip-list  [selectable]="false">
                    <mat-chip *ngFor="let product of selectedProducts"
                              [removable]="true"
                              (removed)="removeProduct(product)">
                      {{product.name}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-expansion-panel-header>

              <div class="expansion-body">

                <mat-form-field class="autocomplete-input-container">
                  <input #productInput type="text" matInput placeholder="Choose Subscriptions and Products" [matAutocomplete]="autoProduct" [(ngModel)]="productFilterValue" (keyup)="productInputChanged($event)" (focus)="productInputChanged()">

                  <mat-autocomplete class="three-row-autocomplete" #autoProduct="matAutocomplete" [displayWith]="displayFn" (optionSelected)="productSelected($event, productInput)">
                    <mat-option *ngFor="let product of filteredProducts" [value]="product">
                      <div class="autocomplete-row">{{ product.name }} </div>
                      <div class="autocomplete-row">
                        {{ product.defaultPrice ? product.defaultPrice.usd() : product.initialCycleSchedulesPrice ? product.initialCycleSchedulesPrice.usd() : '-' }}
                      </div>
                      <div class="autocomplete-row">{{product.description || '–'}}</div>
                    </mat-option>
                  </mat-autocomplete>

                </mat-form-field>

              </div>

              <ng-container *ngIf="selectedProducts && selectedProducts.length > 0">
                <table class="highlight products-table">
                  <thead>
                  <th>Items</th>
                  <th class="mid">Quantity</th>
                  <th class="mid">Price</th>
                  <th></th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let product of selectedProducts">
                    <td>{{product.name}}</td>
                    <td class="mid">
                      <div class="quantity-container">
                        <mat-icon (click)="quantityMinus(product)">remove</mat-icon>
                        <div>{{product.quantity || 1}}</div>
                        <mat-icon (click)="quantityPlus(product)">add</mat-icon>
                      </div>
                    </td>
                    <td class="mid">
                      <div class="flex-custom flex-custom--center price-edit-container">
                        <mat-form-field class="input-align-right" [class.error]="productInEdit.id === product.id && productInEdit['error']" [class.solo]="productInEdit.id === product.id || !product.dynamicPrice || !product.dynamicPrice.enabled">
                          <input matInput currencyInput (keydown)="isEnter($event)" [initPrice]="productInEdit.id === product.id ? productInEdit.defaultPrice : product.defaultPrice ? product.defaultPrice : product.initialCycleSchedulesPrice" [disabled]="productInEdit.id !== product.id" (priceChanged)="setProductInEditPrice($event)" name="defaultPrice" type="text">
                        </mat-form-field>
                        <mat-icon *ngIf="productInEdit.id !== product.id && product.dynamicPrice && product.dynamicPrice.enabled" (click)="setProductInEdit(product)">edit</mat-icon>
                      </div>
                    </td>
                    <td class="mid"><mat-icon (click)="removeProduct(product)">delete</mat-icon></td>
                  </tr>
                  </tbody>
                </table>
              </ng-container>

              <div class="buttons">
                <button mat-button (click)="setStep(1)">PREVIOUS</button>
                <button mat-button (click)="productNextStep()">NEXT</button>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
              <mat-expansion-panel-header>
                <div class="expansion-header">
                  <span class="title">
                    <mat-icon *ngIf="selectedShippingAddress; else placeholder">done</mat-icon>
                    Shipping Address
                  </span>

                  <mat-chip-list  [selectable]="false">
                    <mat-chip *ngIf="selectedShippingAddress"
                              [removable]="true"
                              (removed)="removeShippingAddress()">
                      {{selectedShippingAddress.line1}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-expansion-panel-header>

              <div class="expansion-body">

                <form class="shipping-form" #inputForm="ngForm">
                  <div class="customer-name" *ngIf="selectedCustomer">{{selectedCustomer.firstName}} {{selectedCustomer.lastName}}</div>

                  <mat-form-field [class.error]="shippingAddressInvalid && (!shippingAddress.line1 || !isAddressValid(shippingAddress.line1))">
                    <input type="text" matInput [(ngModel)]="shippingAddress.line1" placeholder="Street Address 1" name="line1" required>
                  </mat-form-field>

                  <mat-form-field>
                    <input type="text" matInput [(ngModel)]="shippingAddress.line2" placeholder="Street Address 2 (optional)" name="line2">
                  </mat-form-field>

                  <mat-form-field [class.error]="shippingAddressInvalid && !isCityValid(shippingAddress.city)">
                    <input type="text" matInput [(ngModel)]="shippingAddress.city" placeholder="City" required name="city">
                  </mat-form-field>

                  <mat-form-field [class.error]="shippingAddressInvalid && !isZipValid(shippingAddress.zip)">
                    <input type="text" matInput (keydown)="isAllowedZipKey($event)" [(ngModel)]="shippingAddress.zip" placeholder="Zip" required name="zip">
                  </mat-form-field>

                  <mat-form-field [class.error]="shippingAddressInvalid && !isCountryValid(shippingAddress.country)">
                    <input type="text" matInput [(ngModel)]="shippingAddress.country" placeholder="Country" required name="country" [matAutocomplete]="countriesAutocomplete">
                    <mat-autocomplete #countriesAutocomplete="matAutocomplete">
                      <mat-option *ngFor="let country of countries | filterStrings: shippingAddress.country: plainMapper" [value]="country">
                        <div>{{country}}</div>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field [class.error]="shippingAddressInvalid && !isStateValid(shippingAddress.state)">
                    <input type="text" matInput [(ngModel)]="shippingAddress.state" placeholder="State" required name="state" [matAutocomplete]="statesAutocomplete">
                    <mat-autocomplete #statesAutocomplete="matAutocomplete">
                      <mat-option *ngFor="let state of states | filterStrings: shippingAddress.state: plainMapper" [value]="state">
                        <div>{{state}}</div>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>

              </div>

              <div class="buttons">
                <button mat-button (click)="setStep(2)">PREVIOUS</button>
                <button mat-button (click)="confirmShippingAddress()">NEXT</button>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" [disabled]="shippingDisabled">
              <mat-expansion-panel-header>
                <div class="expansion-header">
                  <span class="title">
                    <mat-icon *ngIf="selectedShippings && selectedShippings.length > 0; else placeholder">done</mat-icon>
                    Shipping
                  </span>

                  <mat-chip-list  [selectable]="false">
                    <mat-chip *ngFor="let shipping of selectedShippings"
                              [removable]="true"
                              (removed)="removeShipping(shipping)">
                      {{shipping.name}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-expansion-panel-header>

              <div class="expansion-body">

                <mat-form-field class="autocomplete-input-container">
                  <input #shippingInput type="text" matInput placeholder="Choose Shipping and Insurance" [matAutocomplete]="autoShipping" [(ngModel)]="shippingFilterValue" (keyup)="shippingInputChanged($event)" (focus)="shippingInputChanged()">

                  <mat-autocomplete class="three-row-autocomplete" #autoShipping="matAutocomplete" [displayWith]="displayFn" (optionSelected)="shippingSelected($event, shippingInput)">
                    <mat-option *ngFor="let shipping of filteredShippings" [value]="shipping">
                      <div class="autocomplete-row">{{ shipping.name }} </div>
                      <div class="autocomplete-row">{{ shipping.defaultPrice ? shipping.defaultPrice.usd() : '$0' }} </div>
                      <div class="autocomplete-row">{{ shipping.description || '–'}}</div>
                    </mat-option>
                  </mat-autocomplete>

                </mat-form-field>

              </div>

              <ng-container *ngIf="selectedShippings && selectedShippings.length > 0">
                <table class="highlight products-table">
                  <thead>
                  <th>Items</th>
                  <th class="mid">Quantity</th>
                  <th class="mid">Price</th>
                  <th></th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let shipping of selectedShippings">
                    <td>{{shipping.name}}</td>
                    <td class="mid">
                      <div class="quantity-container">
                        <mat-icon (click)="quantityMinus(shipping)">remove</mat-icon>
                        <div>{{shipping.quantity || 1}}</div>
                        <mat-icon (click)="quantityPlus(shipping)">add</mat-icon>
                      </div>
                    </td>
                    <td class="mid">{{shipping.defaultPrice ? shipping.defaultPrice.usd() : '$0.00'}}</td>
                    <td class="mid"><mat-icon class="delete-icon" (click)="removeShipping(shipping)">delete</mat-icon></td>
                  </tr>
                  </tbody>
                </table>
              </ng-container>

              <div class="buttons">
                <button mat-button (click)="setStep(3)">PREVIOUS</button>
                <button mat-button (click)="shippingNextStep()">NEXT</button>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)">
              <mat-expansion-panel-header>
                <div class="expansion-header">
                  <span class="title">
                    <mat-icon *ngIf="selectedCreditCard; else placeholder">done</mat-icon>
                    Billing
                  </span>

                  <mat-chip-list [selectable]="false">
                    <mat-chip *ngIf="selectedCreditCard && (!selectedCreditCard.cvv || !cvvInvalid(selectedCreditCard))"
                              [removable]="true"
                              (removed)="removeCreditCard()">
                      **** {{selectedCreditCard.parseLastFour()}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </mat-expansion-panel-header>

              <div class="expansion-body expansion-body--no-margin">
                <payment-form [creditCard]="newCreditCard" [stickyDefaultAddress]="selectedShippingAddress"></payment-form>
              </div>

              <div class="buttons">
                <button mat-button (click)="billingPrevious()">PREVIOUS</button>
                <button mat-button (click)="billingNextStep()">DONE</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <create-order-preview
            *ngIf="showPreview && selectedCustomer?.id && selectedProducts?.length > 0 && selectedCreditCard && (!selectedCreditCard.cvv || !cvvInvalid(selectedCreditCard)) && selectedShippingAddress && selectedCampaign?.id"
            [customer]="selectedCustomer"
            [creditCard]="selectedCreditCard"
            [shippingAddress]="selectedShippingAddress"
            [products]="selectedProducts"
            [shippings]="selectedShippings"
            (confirm)="processOrder()">
          </create-order-preview>
        </div>

        <ng-template #keysloading>
          <div class="load">
            <div class="load__item load__item--first"></div>
            <div class="load__item"></div>
            <div class="load__item"></div>
            <div class="load__item"></div>
            <div class="load__item"></div>
            <div class="load__item"></div>
          </div>
        </ng-template>

        <div class="details">
          <create-order-summary [price]="getPrice()"
                                [shipping]="getShipping()"
                                [total]="getTotal()">
          </create-order-summary>
          <div class="cancel" (click)="close.emit(true)">
            <div>CANCEL ORDER</div>
          </div>
        </div>
      </ng-container>

      <ng-template #successMessage>
        <create-order-success
          (done)="close.emit(true)"
          [customer]="selectedCustomer"
          [products]="selectedProducts"
          [shippings]="selectedShippings"
          [creditCard]="selectedCreditCard"
          [shippingAddress]="selectedShippingAddress"
          [checkoutResponse]="checkoutResponse">
        </create-order-success>
      </ng-template>

    </div>
  </ng-template>

</div>

<ng-template #placeholder>
  <div class="placeholder"></div>
</ng-template>
