@import "../../../assets/scss/colors";

.container {
  background: white;
  font-family: Roboto, sans-serif;

  .header {
    padding: 40px 25px;
    background: $main-color-400;

    &--complete {
      background: $action-color;
    }

    div {
      font-size: 28px;
      color: white;
    }
  }

  .content {
    display: flex;
  }

  .form-container {
    margin: 25px;
    width: calc(100% - 250px);
  }

  .details {
    margin: 25px 25px 25px 0;
    width: 250px;
  }

  .cancel {
    display: flex;
    color: $main-color-200;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;

    div {
      margin: auto;
      cursor: pointer;
    }
  }

  .expansion-header {
    display: flex;
    align-items: center;
    padding: 3px 0;

    .title {
      display: flex;
      align-items: center;
      width: 180px;
      font-size: 13px;

      .placeholder {
        margin-right: 5px;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background: #DFDFDF;
      }

      mat-icon {
        margin-right: 5px;
        height: 14px;
        width: 14px;
        font-size: 14px;
        border-radius: 50%;
        background: $action-color;
        color: white;
      }
    }

    mat-chip {
      font-size: 11px;
    }
  }

  .expansion-body {
    display: flex;
    align-items: center;
    margin-left: 180px;

    &--no-margin {
      margin-left: 0;
    }

    .autocomplete-input-container {
      width: 240px;
    }

    .separator {
      font-size: 12px;
      margin: 0 10px;
    }
  }

  button {
    background: $main-color-200;
    color: white;
    font-size: 12px;
  }

  .shipping-form {
    display: flex;
    flex-direction: column;

    .customer-name {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 500;
    }

    mat-form-field {
      width: 250px;
    }
  }

  .cards-table {
    td {
      vertical-align: top;
    }
  }

  table {
    margin-top: 15px;

    thead {
      th {
        padding: 2px 5px;
        font-weight: 400;
        font-size: 12px;
      }
    }

    tbody {

      tr {
        border-bottom: 1px solid rgba(0,0,0,0.19);

        &:last-of-type {
          border-bottom: none;
        }

        td {
          font-size: 12px;

          &:last-of-type {
            width: 60px;
          }

          mat-form-field {
            display: block;
            font-size: 12px;
            width: 80px;
          }

          .delete-icon {
            margin-top: -4px;
          }
        }
      }

      .quantity-container {
        display: flex;
        align-items: center;

        mat-icon {
          font-size: 16px;
          height: 16px;
          width: 16px;
          padding: 4px;
          background: #DFDFDF;
          color: #9B9797;

          &:first-of-type {
            border-radius: 3px 0 0 3px;
            margin-left: auto;
          }

          &:last-of-type {
            border-radius: 0 3px 3px 0;
            margin-right: auto;
          }
        }

        div {
          background: #F0F0F0;
          height: 24px;
          line-height: 24px;
          width: 22px;
          text-align: center;
        }
      }

      mat-icon {
        color: #6F6F6F;
        background: #F5F5F5;
        font-size: 20px;
        height: 20px;
        width: 20px;
        padding: 4px;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    .mid {
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    margin: 12px -24px 0;
    padding: 16px 24px 0;
    border-top: 1px solid rgba(0,0,0,0.08);
    background-color: white;

    button {
      font-size: 12px;

      &:first-of-type {
        margin-left: auto;
        background: white;
        color: $action-color;
      }

      &:last-of-type {
        background: $action-color;
        color: white;
      }
    }
  }

  .new-card {
    margin-top: 15px;

    mat-radio-button {
      padding: 0 5px 0 5px;
    }
  }

  .price-edit-container {
    mat-form-field {
      margin-left: auto;
      margin-right: 15px;
      text-align: right;
    }

    .solo {
      margin-right: auto;
    }

    mat-icon {
      margin-right: auto;
    }
  }
}

payment-form {
  width: 100%;
}

create-order-preview {
  margin-top: 15px;
}

.no-keys-container {
  padding: 55px 25px;
  text-align: center;

  div {
    color: rgba(0,0,0,0.7);

    &:first-of-type {
      font-size: 22px;
    }

    &:last-of-type {
      margin-top: 15px;
    }
  }

  span {
    cursor: pointer;
    color: $main-color-200;
  }

  button {
    font-size: 16px;
    margin-top: 65px;
    background: $main-color-200;
  }
}

.load {
  padding: 25px;
  width: calc(100% - 250px);

  &__item {
    background: rgba(0,0,0,0.06);
    height: 48px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.12);

    &--first {
      margin-bottom: 16px;
      height: 200px;
    }
  }
}
