<div class="entity-view">
  <div class="entity-view__title">{{'PROFILE_TITLE' | translate}}</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div *ngIf="user">
    <div class="entity-view__info">
      <div class="entity-view__info__image entity-view__info__image--profile">
        <img src="{{ user.picture }}" alt="">
      </div>
      <div class="entity-view__info__data">
        <div class="entity-view__info__data__date">{{'PROFILE_CREATED' | translate}}: {{user.createdAt | formatDateTime}}</div>
        <div class="entity-view__info__data__name">{{user.name}}</div>
        <div class="entity-view__info__data__other">
          <span *ngIf="phone" class="entity-view__info__data__other__item"><md-icon>phone</md-icon>{{phone}}</span>
          <span class="entity-view__info__data__other__item"><md-icon>email</md-icon>{{user.email}}</span>
        </div>
      </div>
    </div>

    <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

    <div class="profile-page__content">
      <md-tab-group [(selectedIndex)]="selectedIndex">
        <md-tab>
          <div *ngIf="userSettings" class="profile-page__content__general">
            <div class="profile-page__content__general__title">
              <div class="profile-page__content__general__title__main">{{'PROFILE_DETAILS_TITLE' | translate}}</div>
              <div class="profile-page__content__general__title__sub">{{'PROFILE_DETAILS_SUBTITLE' | translate}}</div>
              <!--<md-icon>more_vert</md-icon>-->
            </div>

            <div class="profile-page__content__general__data">
              <md-input placeholder="{{'PROFILE_DETAILS_FIRSTNAME' | translate}}" [(ngModel)]="userBackup.firstName"></md-input>
              <md-input placeholder="{{'PROFILE_DETAILS_LASTNAME' | translate}}" [(ngModel)]="userBackup.lastName"></md-input>
              <md-input-container>
                <input md-input placeholder="{{'PROFILE_DETAILS_WORKPHONE' | translate}}" type="text" [textMask]="{mask: mask, guide: false}" [(ngModel)]="userSettingsBackup.workPhone">
              </md-input-container>
              <md-input-container>
                <input md-input placeholder="{{'PROFILE_DETAILS_CELLPHONE' | translate}}" type="text" [textMask]="{mask: mask, guide: false}" [(ngModel)]="userSettingsBackup.cellPhone">
              </md-input-container>
              <div class="profile-page__content__general__data__dropdown">
                <autocomplete-input
                  [initialValue]="userSettingsBackup.timezone"
                  [options]="timezones"
                  [placeholder]="'PROFILE_DETAILS_TIMEZONE' | translate"
                  (selected)="userSettingsBackup.timezone = $event">
                </autocomplete-input>
              </div>

              <md-input placeholder="{{'PROFILE_DETAILS_EMAIL' | translate}}" [value]="user.email"></md-input>

              <div class="profile-page__content__general__data__dropdown">

                <dropdown-component
                  [selected]="userSettingsBackup.language || 'English'"
                  [placeholder]="'PROFILE_DETAILS_LANGUAGE' | translate"
                  [options]="translationsService.getLanguages()"
                  (onSelect)="setLanguage($event)">
                </dropdown-component>

              </div>
            </div>

            <div class="profile-page__content__general__button" (click)="updateUserDetails()">{{'PROFILE_DETAILS_UPDATE' | translate}}</div>
          </div>
        </md-tab>

        <md-tab>
          <notification-devices
            [settings]="userSettings"
            (sendTestNotification)="sendTestNotification()"
            (sendTestAlert)="sendTestAlert()"
            (settingToggled)="updateUserSettings()">
          </notification-devices>
        </md-tab>

        <md-tab>
          <notification-preferences
            [notificationSettings]="notificationSettings"
            (cancel)="cancelNotificationSettingsUpdate()"
            (save)="notificationSettingsUpdated()">
          </notification-preferences>
        </md-tab>

        <md-tab>
          <table-memory
            class="accounts-table"
            [data]="accounts"
            [columnParams]="accountColumnParams"
            [associationEnabled]="false"
            [dissociationEnabled]="false"
            (view)="viewAccount($event)"
            [textOptions]="accountTextOptions">
          </table-memory>
        </md-tab>

        <md-tab>
          <user-signing-strings></user-signing-strings>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>

