<div class="entity-view">

  <div *ngIf="user">
    <blue-header [items]="breadcrumbs" [titleValue]="userBackup.firstName + ' ' + userBackup.lastName"></blue-header>

    <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

    <div class="profile-page__content">
      <mat-tab-group [(selectedIndex)]="selectedIndex">
        <mat-tab>
          <div *ngIf="userSettings" class="profile-page__content__general">
            <div class="profile-page__content__general__title">
              <div class="profile-page__content__general__title__main">{{'PROFILE_DETAILS_TITLE' | translate}}</div>
              <div class="profile-page__content__general__title__sub">{{'PROFILE_DETAILS_SUBTITLE' | translate}}</div>
            </div>

            <div class="profile-page__content__general__data">
              <mat-form-field>
                <input matInput placeholder="{{'PROFILE_DETAILS_FIRSTNAME' | translate}}" [(ngModel)]="userBackup.firstName">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'PROFILE_DETAILS_LASTNAME' | translate}}" [(ngModel)]="userBackup.lastName">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'PROFILE_DETAILS_WORKPHONE' | translate}}" type="text" [textMask]="{mask: mask, guide: false}" [(ngModel)]="userSettingsBackup.workPhone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="{{'PROFILE_DETAILS_CELLPHONE' | translate}}" type="text" [textMask]="{mask: mask, guide: false}" [(ngModel)]="userSettingsBackup.cellPhone">
              </mat-form-field>
              <div class="profile-page__content__general__data__dropdown">
                <autocomplete-input
                  [initialValue]="userSettingsBackup.timezone"
                  [options]="timezones"
                  [placeholder]="'PROFILE_DETAILS_TIMEZONE' | translate"
                  (selected)="userSettingsBackup.timezone = $event">
                </autocomplete-input>
              </div>

              <mat-form-field [class.error]="formInvalid && !validEmail()">
                <input matInput placeholder="{{'PROFILE_DETAILS_EMAIL' | translate}}" [(ngModel)]="user.email">
              </mat-form-field>

              <div class="profile-page__content__general__data__dropdown" *ngIf="featureFlagsService.isEnabled('user-settings-languages')">

                <dropdown-component
                  [selected]="userSettingsBackup.language || 'English'"
                  [placeholder]="'PROFILE_DETAILS_LANGUAGE' | translate"
                  [options]="getLanguages()"
                  (onSelect)="setLanguage($event)">
                </dropdown-component>

              </div>
            </div>

            <div class="profile-page__content__general__button" (click)="updateUserDetails()">{{'PROFILE_DETAILS_UPDATE' | translate}}</div>
          </div>
        </mat-tab>

        <mat-tab>
          <notification-devices
            [settings]="userSettings"
            (sendTestNotification)="sendTestNotification()"
            (sendTestAlert)="sendTestAlert()"
            (settingToggled)="updateUserSettings()">
          </notification-devices>
        </mat-tab>

        <mat-tab>
          <notification-preferences
            [notificationSettings]="notificationSettings"
            (sendTestNotification)="sendTestNotification()"
            (sendTestAlert)="sendTestAlert()"
            (cancel)="cancelNotificationSettingsUpdate()"
            (save)="notificationSettingsUpdated()">
          </notification-preferences>
        </mat-tab>

        <mat-tab>
          <table-memory
            class="accounts-table"
            [data]="accounts"
            [columnParams]="accountColumnParams"
            [associationEnabled]="false"
            [dissociationEnabled]="false"
            (view)="viewAccount($event)"
            [viewEnabled]="false"
            [textOptions]="accountTextOptions">
          </table-memory>
        </mat-tab>

        <mat-tab>
          <user-signing-strings></user-signing-strings>
        </mat-tab>

        <mat-tab>
          <agreements></agreements>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>

