.side-search {
  mat-input-container {
    margin: 30px 20px;
    width: 180px;
  }

  &__item {
    margin-bottom: 24px;
    margin-left: 20px;
    font-size: 16px;

    &__title {
      margin-bottom: 14px;
      font-weight: 500;
      cursor: pointer;

      span {
        border-bottom: 1px solid;
      }
    }

    &__child {
      margin-bottom: 6px;
      white-space: nowrap;
      font-size: 11px;
      cursor: pointer;

      &:hover {
        span {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
