<div class="entity-view__table-component">
  <div class="entity-view__table-component__header">
    <div class="entity-view__table-component__header__title">{{'PRODUCT_SCHEDULES_TITLE' | translate}}</div>
    <mat-input-container class="entity-view__table-component__header__filter">
      <input matInput placeholder="{{'INDEXPAGE_FILTER' | translate}}" [(ngModel)]="filterValue">
    </mat-input-container>
    <table-pagination
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)">
    </table-pagination>
    <table-preferences
      [columnParams]="columnParams"
      [small]="true">
    </table-preferences>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <th (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
            {{params.label | translate}}
            <mat-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
          </th>
        </ng-container>
      </ng-container>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntities: filterValue | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <td [class.cell--align-right]="params.align === 'right'" [routerLink]="['/productschedules', entity.id]">
            <ng-container *ngIf="params.number; else nan">{{params.mappingFunction(entity) | numberlocale}}</ng-container>
            <ng-template #nan>{{params.mappingFunction(entity)}}</ng-template>
          </td>
        </ng-container>
      </ng-container>
      <td>
        <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
        <mat-menu #actionsMenu="matMenu" x-position="before">
          <button mat-menu-item [routerLink]="['/productschedules', entity.id]">{{'PRODUCT_SCHEDULES_VIEW' | translate}}</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>

  <table-loader *ngIf="loadingData && (!entities || entities.length === 0)"></table-loader>
  <div *ngIf="!loadingData && (!entities || entities.length === 0)" class="entity-view__no-results entity-view__no-results--table">{{'PRODUCT_SCHEDULES_NODATA' | translate}}</div>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>

