<div>
  <mat-tab-group class="tab--no-header" [(selectedIndex)]="selectedIndex">

    <mat-tab>

      <mat-tab-group class="tab--no-header" [(selectedIndex)]="selectedOrder ? 1 : selectedGranularityIndex == 1 ? 0 : selectedGranularityIndex ">

        <mat-tab>
          <div>
            <div class="heading">
              <div class="mrw-bi-input">
                <mat-form-field [floatLabel]="'never'">
                  <input matInput type="text" placeholder="Filter Orders" [(ngModel)]="filterString">
                </mat-form-field>
              </div>

              <div class="number-of">{{(orders || []).length}} Orders</div>

              <div class="switcher">
                <mat-icon class="icon" [class.icon--active]="selectedIndex === 0" (click)="setIndex(0)">view_agenda</mat-icon>
                <mat-icon class="icon" [class.icon--active]="selectedIndex === 1" (click)="setIndex(1)">view_headline</mat-icon>
              </div>
            </div>

            <div class="card-body">
              <ng-container *ngFor="let order of orders | filterSimple : filterMapper : filterString">
                <order-item [order]="order"
                            (refund)="openRefundDialog($event)"
                            (ret)="openReturnDialog($event)"
                            (orderSelected)="viewSingleOrder($event)">
                </order-item>
              </ng-container>
            </div>

            <div *ngIf="orders && orders.length === 0" class="no-data">
              No Orders found.
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <div *ngIf="selectedOrder">
            <order-detailed [order]="selectedOrder"
                            (backButtonSelected)="viewAllOrders()"
                            (refund)="openRefundDialog($event)"
                            (ret)="openReturnDialog($event)">
            </order-detailed>
          </div>
        </mat-tab>

      </mat-tab-group>

    </mat-tab>

    <mat-tab>
      <table-memory-advanced
        [title]="'Orders'"
        [items]="orders"
        [columnParams]="columnParams"
        [rowColorFunction]="rowColorFunction"
        [options]="options"
        (optionSelected)="optionSelected($event)">

        <div class="switcher">
          <mat-icon class="icon" [class.icon--active]="selectedIndex === 0" (click)="setIndex(0)">view_agenda</mat-icon>
          <mat-icon class="icon" [class.icon--active]="selectedIndex === 1" (click)="setIndex(1)">view_headline</mat-icon>
        </div>

      </table-memory-advanced>
    </mat-tab>

  </mat-tab-group>
</div>
