<div class="entity-view__table-component">
  <div class="entity-view__table-component__header entity-view__table-component__header--homepage">
    <div class="entity-view__table-component__header__title">{{'AFFILIATE_TRACKING_TITLE' | translate}}</div>
    <table-preferences
      [columnParams]="columnParams"
      [small]="true">
    </table-preferences>
    <mat-icon class="entity-view__table-component__header__action" [matMenuTriggerFor]="optionsMenu">more_vert</mat-icon>
    <mat-menu #optionsMenu="matMenu" x-position="before">
      <button mat-menu-item (click)="showAddTracker()">{{'AFFILIATE_TRACKING_ASSOCIATE' | translate}}</button>
    </mat-menu>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <th (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'" [class.cell--codeblock]="params.code">
            {{params.label | translate}}
            <mat-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
          </th>
        </ng-container>
      </ng-container>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntities: filterValue | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <td [class.cell--align-right]="params.align === 'right'" [routerLink]="['/trackers', entity.id]">
            <div class="codeblock" *ngIf="params.code; else noCode">
              {{params.mappingFunction(entity)}}
            </div>
            <ng-template #noCode>{{params.mappingFunction(entity)}}</ng-template>
          </td>
        </ng-container>
      </ng-container>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="actionsMenu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #actionsMenu="matMenu" x-position="before">
          <button mat-menu-item [routerLink]="['/trackers', entity.id]">{{'AFFILIATE_TRACKING_VIEW' | translate}}</button>
          <button mat-menu-item (click)="dissociate(entity)">{{'AFFILIATE_TRACKING_DISASSOCIATE' | translate}}</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>

  <table-loader *ngIf="loadingData && (!entities || entities.length === 0)"></table-loader>
  <div *ngIf="!loadingData && (!entities || entities.length === 0)" class="entity-view__no-results entity-view__no-results--table">{{'AFFILIATE_TRACKING_NODATA' | translate}}</div>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>
