<div class="container">
  <div class="top-header">

    <button mat-button (click)="addNoteClicked.emit(true)">ADD NOTE</button>
    <mat-form-field class="mrw--search-input" [floatLabel]="'never'">
      <input type="text" matInput [(ngModel)]="filterValue" placeholder="{{'INDEXPAGE_FILTER' | translate}}">
    </mat-form-field>
  </div>

  <div class="content"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <div *ngFor="let byDate of activitiesByDate">
      <div *ngIf="byDate && byDate.entities && byDate.entities.length > 0">
        <div class="header">{{byDate.label | translate}}</div>

        <div *ngFor="let activity of byDate.entities">
          <div class="item">
            <div class="title">
              <div>{{activity.date | formatDateTime: 'date-time'}}</div>
            </div>

            <span class="body">

              <ng-container *ngFor="let word of activity.parse().template.split(' ')">
                <ng-container *ngIf="data && data.values[word]; else other">
                  <span class="link" (click)="navigateTo(data.values[word])" *ngIf="data.values[word].id; else noLink">
                    {{data.values[word].value}}
                  </span>
                  <ng-template #noLink>
                    {{data.values[word].value}}
                  </ng-template>
                </ng-container>
                <ng-template #other>
                  {{word}}
                </ng-template>
              </ng-container>

            </span>
          </div>
        </div>
      </div>
    </div>

    <table-loader *ngIf="loadingData"></table-loader>
    <div class="no-data" *ngIf="!loadingData && isEmpty">{{'CUSTOMER_EVENTS_NODATA' | translate}}</div>

  </div>
</div>
