<div *ngIf="entity; else spinner" class="entity-view">

  <blue-header [items]="breadcrumbs" [titleValue]="entity.alias"></blue-header>

  <tab-header [elements]="tabHeaders" [selectedIndex]="selectedIndex" (select)="setIndex($event)"></tab-header>

  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab>
      <div class="transaction-view">

        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'TRANSACTION_INFO_TITLE' | translate}}</div>
            <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
            <mat-menu #actionsMenu="matMenu" x-position="before">
              <button mat-menu-item (click)="goToRebill()">{{'TRANSACTION_INFO_REBILLVIEW' | translate}}</button>
              <button mat-menu-item (click)="goToMerchantProvider()">{{'TRANSACTION_INFO_MERCHANTPROVIDERVIEW' | translate}}</button>
            </mat-menu>
          </div>

          <div class="entity-view__card__content">
            <mat-form-field class="entity-view__card__content__item">
              <input disabled matInput placeholder="{{'TRANSACTION_INFO_ALIAS' | translate}}" [(ngModel)]="entity.alias" type="text">
            </mat-form-field>

            <mat-form-field class="entity-view__card__content__item">
              <input disabled matInput placeholder="{{'TRANSACTION_INFO_AMOUNT' | translate}}" [(ngModel)]="amount" type="text">
            </mat-form-field>

            <mat-form-field class="entity-view__card__content__item">
              <input disabled matInput placeholder="{{'TRANSACTION_INFO_MERCHANTPROVIDER' | translate}}" [(ngModel)]="entity.merchantProvider.name" type="text">
            </mat-form-field>

          </div>
        </div>

        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'TRANSACTION_PROCESSOR_TITLE' | translate}}</div>
          </div>

          <div class="entity-view__card__content">
            <mat-form-field class="entity-view__card__content__item">
              <input disabled matInput placeholder="{{'TRANSACTION_PROCESSOR_CODE' | translate}}" type="text">
            </mat-form-field>

            <mat-form-field class="entity-view__card__content__item">
              <input disabled matInput placeholder="{{'TRANSACTION_PROCESSOR_MESSAGE' | translate}}" [(ngModel)]="entity.processorResponse.message" type="text">
            </mat-form-field>

            <mat-form-field class="entity-view__card__content__item">
              <textarea rows="2" disabled matInput placeholder="{{'TRANSACTION_PROCESSOR_TEXT' | translate}}" [(ngModel)]="entity.processorResponse.body" type="text"></textarea>
            </mat-form-field>
          </div>
        </div>

        <table-memory
          [data]="entity.products"
          [columnParams]="productColumnParams"
          [textOptions]="productTextOptions"
          [associationEnabled]="false"
          [dissociationEnabled]="false"
          [editEnabled]="false"
          [filterEnabled]="false"
          (view)="goToProduct($event)">
        </table-memory>

      </div>
    </mat-tab>

    <mat-tab>
      <div class="transaction-view__content">

        <div class="entity-view__card">
          <div class="entity-view__card__header">
            <div class="entity-view__card__header__title">{{'TRANSACTION_REFUND_TITLE' | translate}}</div>
          </div>

          <div class="entity-view__card__content">
            <mat-form-field class="entity-view__card__content__item">
              <input disabled matInput placeholder="{{'TRANSACTION_REFUND_AMOUNT' | translate}}" [(ngModel)]="amount" type="text">
            </mat-form-field>

            <div class="transaction-view__content__item transaction-view__content__item--no-border">
              <div class="transaction-view__content__item__label">{{'TRANSACTION_REFUND_AMOUNTTOREFUND' | translate}}</div>
              <mat-form-field>
                <input #refundInput matInput type="text" currencyInput [initPrice]="amountToRefund" (priceChanged)="amountToRefund = $event">
              </mat-form-field>

              <mat-checkbox [(ngModel)]="refundAllSelected" (change)="refundAllSelect()">{{'TRANSACTION_REFUND_REFUNDALL' | translate}}</mat-checkbox>
            </div>
          </div>

          <div class="entity-view__card__actions">
            <div (click)="cancelRefund()">{{'TRANSACTION_REFUND_CANCEL' | translate}}</div>
            <div (click)="refundTransaction()">{{'TRANSACTION_REFUND_CONFIRM' | translate}}</div>
          </div>
        </div>

      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<ng-template #spinner>
  <spe-loader [numberOfTabs]="2" [numberOfCards]="3" [title]="'TRANSACTION_INDEX_TITLE' | translate"></spe-loader>
</ng-template>
