.report {
  &__title {
    font-size: 32px;
    padding: 20px 15px 10px;
    color: #8D8888;
  }
}

.filter-container {
  padding: 0 15px 10px;
}

merchant-report-chart {
  display: block;
  padding: 15px 15px 5px;
}
