.tag-container {
  color: #4A4A4A;
}
.tag-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: calc(100vh - 72px);
  width: 100%;
  background: rgba(0,0,0,0.2);
  display: flex;
  z-index: 5;
}

.tag-modal {
  margin: 100px auto auto;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

md-icon {
  cursor: pointer;
  color: rgba(0,0,0,0.6)
}

table-advanced {
  display: inline-block;
  width: 526px;
  margin: -10px;
}
