<div class="tag-container">
  <md-icon class="toggler" (click)="openTags()">label</md-icon>

  <div *ngIf="showTags" class="tag-modal-container" (click)="overlayClicked($event)">
    <div class="tag-modal">

      <table-advanced class="table-advanced--no-margin"
                      [data]="allTags"
                      [columnParams]="tagParams"
                      [textOptions]="tagTextOptions"
                      [showTopPagination]="false"
                      [entityFactory]="tagFactory"
                      [addEnabled]="service.hasWritePermission()"
                      [editEnabled]="service.hasWritePermission()"
                      [deleteEnabled]="service.hasWritePermission()"
                      [viewEnabled]="false"
                      [showDensity]="false"
                      [showPreferences]="false"
                      [dedicatedOptions]="true"
                      (deleteEntity)="deleteTag($event)"
                      (deleteMultipleEntities)="deleteTags($event)"
                      (add)="addTag($event)"
                      (update)="updateTag($event)">
      </table-advanced>
    </div>
  </div>
</div>

