<md-card *ngIf="entity">
  <md-card-title>Load Balancer {{mode}}</md-card-title>
  <md-card-content>
    <md-input [disabled]="!addMode" placeholder="ID" [(ngModel)]="entity.id" name="id"></md-input>

    <div class="content__block__first">
      <md-card-subtitle>
        Merchant Provider Configurations
        <button *ngIf="!viewMode" md-icon-button [md-menu-trigger-for]="providersMenu">
          <md-icon>add</md-icon>
        </button>
      </md-card-subtitle>

      <md-menu #providersMenu="mdMenu">
        <button md-menu-item *ngFor="let provider of merchantProviders" (click)="addNewConfiguration(provider)">
          {{provider.username}}
        </button>
      </md-menu>

      <ng-container *ngFor="let merchantProviderConfig of entity.merchantProviderConfigurations; let i = index">
        <div class="content__block__second">
          <md-card-subtitle>Merchant Provider Configuration
            <button *ngIf="!viewMode" md-icon-button (click)="removeConfiguration(i)">
              <md-icon>remove</md-icon>
            </button>
          </md-card-subtitle>

          <md-input [disabled]="viewMode" placeholder="distribution" [(ngModel)]="merchantProviderConfig.distribution"></md-input>
          <div class="content__block__fourth">
            <md-card-subtitle class="content__subtitle__fourth">Merchant Provider</md-card-subtitle>
            <md-input disabled placeholder="username" value="{{merchantProviderConfig.merchantProvider.username}}"></md-input>
            <md-input disabled placeholder="password" value="{{merchantProviderConfig.merchantProvider.password}}"></md-input>
            <md-input disabled placeholder="endpoint" value="{{merchantProviderConfig.merchantProvider.endpoint}}"></md-input>
            <md-input disabled placeholder="processor" value="{{merchantProviderConfig.merchantProvider.processor}}"></md-input>
          </div>
        </div>
      </ng-container>
    </div>
  </md-card-content>
  <button md-raised-button color="primary" *ngIf="addMode" (click)="saveEntity(entity)"> Save </button>
  <button md-raised-button color="primary" *ngIf="updateMode" (click)="updateEntity(entity)"> Update </button>
  <button md-raised-button color="primary" *ngIf="updateMode" (click)="cancelUpdate()"> Cancel </button>
</md-card>
