<div #entityContainer class="entity" [class.entity--full-screen]="fullScreen">
  <div *ngIf="!loadingData" class="entity__body" [style.height]="height">

    <entity-view-topnav [service]="service" (close)="closeDetails()" (del)="emitDeleteEntity()"></entity-view-topnav>

    <div *ngIf="entity">
      <div class="entity__caption">
        {{entity.name}}
      </div>

      <div class="entity__content">
        <md-tab-group>
          <md-tab label="Details">

            <entity-view-info
              [title]="'GENERAL DETAILS'"
              [data]="[
                {name:'ID', value: entity.id}
              ]">
            </entity-view-info>

          </md-tab>
          <md-tab label="Edit">

          </md-tab>
        </md-tab-group>
      </div>
    </div>
  </div>
</div>

