<div class="entity-view__card tracker-view" [class.entity-view__card--create]="mode === modes.Add">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{(mode === modes.Add ? 'TRACKER_INFO_CREATETITLE' : 'TRACKER_INFO_TITLE') | translate}}</div>
    <mat-icon *ngIf="mode !== modes.Add" [matMenuTriggerFor]="trackerOptions">more_vert</mat-icon>
    <mat-menu #trackerOptions="matMenu" x-position="before">
      <button md-menu-item (click)="enableEdit()">{{'TRACKER_INFO_EDIT' | translate}}</button>
    </mat-menu>
  </div>

  <div class="entity-view__card__content">
    <div *ngIf="mode !== modes.View" class="tracker-view__card__content__name">
      <mat-input-container [class.error]="formInvalid && !entity.name">
        <input auto-focus matInput type="text" placeholder="{{'TRACKER_INFO_NAME' | translate}}" [(ngModel)]="entity.name">
      </mat-input-container>
    </div>

    <div class="tracker-view__card__content__type">
      <dropdown-component
        class="tracker-view__dropdown--inline"
        [disabled]="mode === modes.View"
        [selected]="entity.type"
        [required]="true"
        [placeholder]="'TRACKER_INFO_TYPE' | translate"
        (onSelect)="setType($event)"
        [options]="['html', 'postback']">
      </dropdown-component>
    </div>

    <div class="tracker-view__card__content__event-type">
      <dropdown-component
        class="tracker-view__dropdown--inline"
        [disabled]="mode === modes.View"
        [selected]="mode !== modes.View ? '' : (entity.eventType && entity.eventType.length > 0 ? entity.eventType : 'all')"
        [placeholder]="(mode !== modes.View ? 'TRACKER_INFO_EVENTTYPEADD' : 'TRACKER_INFO_EVENTTYPE') | translate"
        (onSelect)="addEventType($event)"
        [options]="['upsell', 'lead', 'main']">
      </dropdown-component>
      <ng-container *ngIf="mode !== modes.View">
        <span *ngFor="let t of entity.eventType"> <mat-icon class="cancel" (click)="removeEventType(t)">cancel</mat-icon> {{t}} </span>
      </ng-container>
    </div>

    <div *ngIf="entity.link && mode !== modes.Update" class="tracker-view__card__content__link">
      <div class="tracker-view__card__content__label">{{'TRACKER_INFO_LINK' | translate}}:</div>
      <input type="text" #urlField class="share-link__url__content" value="{{entity.link}}" readonly>
      <mat-icon matTooltip="{{'SHARE_COPY' | translate}}" (click)="copyUrlToClipboard(urlField)">content_copy</mat-icon>
    </div>

    <div class="tracker-view__card__content__body">
      <div class="tracker-view__card__content__label">{{'TRACKER_INFO_DATA' | translate}}:</div>

      <codemirror [class.invisible]="entity.type !== 'html'" [(ngModel)]="entity.body" [config]="config"></codemirror>

      <ng-container *ngIf="entity.type !== 'html'">
        <md-textarea class="codeblock" *ngIf="mode !== modes.View; else bodyNoEdit" [(ngModel)]="entity.body"></md-textarea>

        <ng-template #bodyNoEdit>
          <div class="codeblock">
            {{entity.body}}
          </div>
        </ng-template>
      </ng-container>
    </div>

  </div>

  <div class="entity-view__card__actions" *ngIf="mode !== modes.View">
    <div class="tracker-cancel" (click)="cancelEdit()">{{'TRACKER_INFO_CANCEL' | translate}}</div>
    <div class="tracker-update" (click)="saveTracker()">{{'TRACKER_INFO_SAVE' | translate}}</div>
  </div>
</div>

