<div class="entity-view__card tracker-view" [class.entity-view__card--create]="mode === modes.Add">
  <div class="entity-view__card__header">
    <div class="entity-view__card__header__title">{{mode === modes.Add ? 'Add New Tracker' : 'Tracker Details'}}</div>
    <md-icon [md-menu-trigger-for]="trackerOptions">more_vert</md-icon>
    <md-menu #trackerOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="enableEdit()"> Edit Tracker </button>
    </md-menu>
  </div>

  <div class="entity-view__card__content">
    <div *ngIf="mode !== modes.View" class="tracker-view__card__content__name">
      <md-input-container [class.error]="formInvalid && !entity.name">
        <input md-input type="text" placeholder="Tracker Name" [(ngModel)]="entity.name">
      </md-input-container>
    </div>

    <div class="tracker-view__card__content__type">
      <dropdown-component
        class="tracker-view__dropdown--inline"
        [disabled]="mode === modes.View"
        [selected]="entity.type"
        [required]="true"
        [placeholder]="'Tracking Type'"
        (onSelect)="setType($event)"
        [options]="['html', 'postback']">
      </dropdown-component>
    </div>

    <div class="tracker-view__card__content__event-type">
      <dropdown-component
        class="tracker-view__dropdown--inline"
        [disabled]="mode === modes.View"
        [selected]="mode !== modes.View ? '' : (entity.eventType && entity.eventType.length > 0 ? entity.eventType : 'all')"
        [placeholder]="mode !== modes.View ? 'Add Event Type' : 'Event Type'"
        (onSelect)="addEventType($event)"
        [options]="['upsell', 'lead', 'main']">
      </dropdown-component>
      <ng-container *ngIf="mode !== modes.View">
        <span *ngFor="let t of entity.eventType"> <md-icon class="cancel" (click)="removeEventType(t)">cancel</md-icon> {{t}} </span>
      </ng-container>
    </div>

    <div *ngIf="entity.link && mode !== modes.Update" class="tracker-view__card__content__link">
      <div class="tracker-view__card__content__label">Tracking Link:</div>
      <input type="text" #urlField class="share-link__url__content" value="{{entity.link}}" readonly>
      <md-icon md-tooltip="Copy to clipboard" (click)="copyUrlToClipboard(urlField)">content_copy</md-icon>
    </div>

    <div class="tracker-view__card__content__body">
      <div class="tracker-view__card__content__label">Tracking Data:</div>

      <codemirror [class.invisible]="entity.type !== 'html'" [(ngModel)]="entity.body" [config]="config"></codemirror>

      <ng-container *ngIf="entity.type !== 'html'">
        <md-textarea class="codeblock" *ngIf="mode !== modes.View; else bodyNoEdit" [(ngModel)]="entity.body"></md-textarea>

        <ng-template #bodyNoEdit>
          <div class="codeblock">
            {{entity.body}}
          </div>
        </ng-template>
      </ng-container>
    </div>

  </div>

  <div class="entity-view__card__actions" *ngIf="mode !== modes.View">
    <div class="tracker-cancel" (click)="cancelEdit()">CANCEL</div>
    <div class="tracker-update" (click)="saveTracker()">SAVE</div>
  </div>
</div>

