.container {
  background: white;
}

.chargeback {
  padding: 10px 15px;
  background: #DC2547;
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}

.header {
  padding: 25px;

  .info {
    display: flex;
    align-items: center;

    .refund {
      display: flex;
      align-items: center;
      background: #DC2547;
      font-size: 16px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 4px;
      cursor: pointer;
    }

    div {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #202124;
    }

    .separator {
      margin: 0 24px;
      width: 1px;
      height: 30px;
      background: rgba(0,0,0,0.12);
    }

    mat-icon {
      margin-right: 8px;
      margin-bottom: 2px;
      width: 18px;
      height: 18px;
      font-size: 18px;
    }

    button {
      font-size: 12px;
      color: #202124;
      background: #FAFAFA;
      border-radius: 4px;
      margin-left: 8px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      &:first-of-type {
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }

}

.button-disabled {
  background: rgba(0,0,0,0.06) !important;
  color: rgba(0,0,0,0.24) !important;
}

.general {
  padding: 20px;

  .key {
    margin-top: 15px;
    color: #5F6368;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .value {
    color: #202124;
    font-size: 16px;
    line-height: 24px;
  }
}

.products {

  &--container {
    margin-bottom: 25px;
    padding: 5px;
    background: #F1F3F4;

    .heading {
      display: flex;
      align-items: center;
      padding: 15px 10px 10px;
      font-size: 18px;
      font-weight: 500;
      color: #202124;
    }
  }

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.section {
  padding: 25px;

  .title {
    margin-bottom: 15px;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
  }
}
