<div class="container">

  <div class="chargeback" *ngIf="_order.hasChargeback()">
    CHARGEBACK
  </div>

  <div class="header">
    <div class="info">
      <button mat-button (click)="backButtonSelected.emit(true)"><mat-icon>keyboard_arrow_left</mat-icon> All Orders</button>

      <div>Billed {{_order.rebill.billAt | formatDateTime: 'MMMM DD, YYYY'}}</div>
      <div class="separator"></div>
      <div class="refund" *ngIf="_order.hasRefund(); else norefund" [matMenuTriggerFor]="refundDetails">
        {{_order.amountTotal().usd()}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #refundDetails="matMenu" x-position="before">
        <ng-container *ngFor="let transaction of _order.rebill.transactions">
          <div *ngIf="!transaction.isError()" class="transactions-details-item">
            <div>{{transaction.chargeback ? 'Chargeback' : transaction.isRefund() ? 'Refund' : transaction.processorResponse.message}}</div>
            <div>{{transaction.createdAt | formatDateTime: 'MM/DD/YYYY h:mm A'}}</div>
            <div>{{transaction.creditCard.type}} {{transaction.creditCard.lastFour}}</div>
            <div>{{transaction.amount.usd()}}</div>
          </div>
        </ng-container>
      </mat-menu>

      <ng-template #norefund>
        <div>{{_order.successAmount().usd()}}</div>
      </ng-template>

      <button style="margin-left: auto"
              mat-button
              [class.button-disabled]="!_order.canRefund()"
              [disabled]="!_order.canRefund()"
              (click)="refund.emit(_order)">
        Refund
      </button>
      <button mat-button
              [class.button-disabled]="!_order.canReturn()"
              [disabled]="!_order.canReturn()"
              (click)="ret.emit(_order)">
        Return
      </button>
    </div>
  </div>

  <div class="section">
    <div class="title">General Information</div>
    <info-table [order]="_order"></info-table>
  </div>

  <div class="section">
    <div class="title">Transactions</div>
    <transactions-table [transactions]="_order.rebill.transactions"></transactions-table>
  </div>

  <div *ngIf="shipments && shipments.length > 0" class="section">
    <div class="title">Fulfillment</div>

    <ng-container *ngFor="let shipment of shipments">
      <div class="products--container">
        <div class="heading">

          <shipment-details [shipment]="shipment"></shipment-details>

        </div>

        <div class="products--wrapper">
          <ng-container *ngFor="let product of shipment.products">
            <product-item [product]="product"></product-item>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

</div>
