.reports {
  display: flex;
  background-color: #333333;

  &__item {
    display: flex;
    padding: 30px 0;
    border-right: none;

    .wrapper {
      margin: auto;
      display: flex;
    }

    .icon-holder {
      margin-right: 10px;
      display: flex;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #1ebea5;
      margin-top: 2px;

      mat-icon {
        margin: auto;
        width: 18px;
        height: 18px;
        font-size: 18px;
        color: white;
      }
    }

    .label {
      margin-bottom: 10px;
      line-height: 24px;
      color: white;
      font-weight: 300;
      font-size: 24px;
    }

    .issues {
      &--none {
        color: #828282;
        font-size: 16px;
        font-weight: normal;
      }
    }
  }

  &__item:first-child {
    margin-left: 20px;
  }

  &__item:after {
    content: "";
    display: block;
    width: 50%;
    border-right: 1px solid #4f4f4f;
  }
}
