.reports {
  display: flex;
  background: #1E456A;

  &__item {
    display: flex;
    padding: 30px 0;
    border-right: 1px solid rgba(0,0,0,0.12);

    .wrapper {
      margin: auto;
      display: flex;
    }

    .icon-holder {
      margin-right: 10px;
      display: flex;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background: #2FC362;

      md-icon {
        margin: auto;
        width: 24px;
        height: 24px;
        font-size: 24px;
        color: white;
      }
    }

    .label {
      margin-bottom: 10px;
      line-height: 24px;
      color: white;
      font-weight: 300;
      font-size: 24px;
    }

    .issues {
      &--none {
        color: #63A6E6;
        font-size: 18px;
      }
    }
  }
}
