<md-card class="customer-view__content__card events column__large">
  <md-card-title>
    CUSTOMER EVENTS
    <md-icon class="customer-view__content__card__action">more_vert</md-icon>
  </md-card-title>
  <md-card-content>
    <div class="events__container"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="300"
         [scrollWindow]="false"
         (scrolled)="onScroll()">
      <div *ngFor="let byDate of activitiesByDate">
        <div *ngIf="byDate && byDate.entities && byDate.entities.length > 0">
          <div class="events__title">
            <span class="events__title__label">{{byDate.label}}</span>
          </div>

          <div *ngFor="let activity of byDate.entities">
            <div class="events__content">
              <div class="events__content__image"><img src="assets/images/alert-icon.svg"></div>

              <div class="events__content__info">
                <div>{{activity.date | formatDateTime: 'date-time'}}</div>
                <div>
                  <single-event [data]="activity.parse()"></single-event>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <md-spinner class="customer-view__spinner" *ngIf="loadingData"></md-spinner>
      <div class="customer-view__no-results" *ngIf="!loadingData && (!activities || activities.length === 0)">No customer events found</div>
    </div>
  </md-card-content>
</md-card>
