<div class="entity-view__table-component" [class.entity-view__table-component--homepage]="homepageMode">
  <div style="padding-bottom: 6px;" class="entity-view__table-component__header">
    <div class="entity-view__table-component__header__title">
      <div class="customer-transactions__title-container">
        <div class="title">{{'CUSTOMER_REBILL_TITLE' | translate}}</div>
        <div class="subtitle">{{'CUSTOMER_REBILL_SUBTITLE' | translate}}</div>
      </div>
    </div>

    <md-input *ngIf="!homepageMode" class="entity-view__table-component__header__filter" placeholder="Filter" [(ngModel)]="filterValue"></md-input>
    <table-pagination
      *ngIf="!homepageMode"
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="page <= 0"
      [nextDisabled]="!hasMorePages()"
      (previous)="previous()"
      (next)="next()"
      (updateLimit)="updateLimit($event)">
    </table-pagination>
    <table-preferences
      [class.table-preferences--alone]="homepageMode"
      [columnParams]="columnParams"
      [small]="true">
    </table-preferences>
  </div>
  <table class="highlight table__custom">
    <thead>
    <tr>
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <th (click)="setSortedColumnParams(params)" [class.cell--align-right]="params.align === 'right'">
            {{params.label | translate}}
            <mat-icon *ngIf="params.sortApplied">{{params.sortOrder === 'asc' ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
          </th>
        </ng-container>
      </ng-container>
      <th *ngIf="!homepageMode"></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entity of entities | filterEntities: filterValue | sortEntities: sortedColumnParams.mappingFunction: sortedColumnParams.sortOrder">
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <td [routerLink]="['/rebills', entity.id]" [class.cell--align-right]="params.align === 'right'">
            <ng-container *ngIf="params.number; else nan">{{params.mappingFunction(entity) | numberlocale}}</ng-container>
            <ng-template #nan>{{params.mappingFunction(entity)}}</ng-template>
          </td>
        </ng-container>
      </ng-container>
      <td *ngIf="!homepageMode">
        <mat-icon [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
        <mat-menu #actionsMenu="matMenu" x-position="before">
          <button md-menu-item (click)="updateRebill(entity)">{{'CUSTOMER_REBILL_EDIT' | translate}}</button>
          <button md-menu-item (click)="deleteEntity(entity.id)">{{'CUSTOMER_REBILL_CANCEL' | translate}}</button>
        </mat-menu>
      </td>
    </tr>
    </tbody>
  </table>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else message"></server-error-message>
  <ng-template #message>
    <table-loader *ngIf="loadingData && (!entities || entities.length === 0)"></table-loader>
    <div *ngIf="!loadingData && (!entities || entities.length === 0)" class="entity-view__no-results entity-view__no-results--table">{{'CUSTOMER_REBILL_NODATA' | translate}}</div>
  </ng-template>

  <table-pagination
    *ngIf="!homepageMode"
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="page <= 0"
    [nextDisabled]="!hasMorePages()"
    (previous)="previous()"
    (next)="next()"
    (updateLimit)="updateLimit($event)">
  </table-pagination>
</div>

