<div>
  <div>
    <div class="heading">

      <div class="mrw-bi-input">
        <mat-form-field [floatLabel]="'never'">
          <input matInput type="text" placeholder="Filter Subscriptions">
        </mat-form-field>
      </div>

      <div class="number-of">{{(rebills || []).length}} Subscriptions</div>

    </div>

    <div class="card-body" *ngIf="rebills">
      <ng-container *ngFor="let rebill of rebills">
        <rebill-item [rebill]="rebill"></rebill-item>
      </ng-container>
    </div>

    <div *ngIf="loaded && (!rebills || rebills.length === 0)" class="no-data">
      No Subscriptions found.
    </div>
  </div>

</div>
