<div>
  <div>
    <div class="heading">

      <div class="mrw-bi-input">
        <mat-form-field [floatLabel]="'never'">
          <input matInput type="text" placeholder="Filter Subscriptions" [(ngModel)]="filterString">
        </mat-form-field>
      </div>

      <div class="number-of">{{(rebills || []).length}} Subscriptions</div>

    </div>

    <!--<div class="card-body" *ngIf="confirmationSessions && confirmationSessions.length > 0">-->
      <!--<ng-container *ngFor="let session of confirmationSessions">-->
        <!--<confirmation-item-->
                <!--[sessionConfirmation]="session"-->
                <!--(confirmDelivery)="confirmDelivery.emit($event)"-->
                <!--(confirmTrial)="confirmTrial.emit($event)">-->
        <!--</confirmation-item>-->
      <!--</ng-container>-->
    <!--</div>-->

    <div class="card-body" *ngIf="rebills">
      <ng-container *ngFor="let rebill of rebills | filterSimple : filterMapper : filterString">
        <rebill-item [rebill]="rebill" [sessionMode]="sessionMode"></rebill-item>
      </ng-container>
    </div>

    <div *ngIf="rebills && rebills.length === 0 && confirmationSessions && confirmationSessions.length === 0" class="no-data">
      No Subscriptions found.
    </div>
  </div>

</div>
