.heading {
  display: flex;
  align-items: center;
  margin: 27px 20px 20px;

  .mrw-bi-input {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 16px;
    color: rgba(0,0,0,0.54);
  }

  .number-of {
    margin-left: 15px;
    color: rgba(0,0,0,0.54);
    font-weight: 500;
    font-size: 16px;
  }
}

.card-body {

}

rebill-item {
  display: block;
  margin: 0 20px 20px;
}

