$color-orange: #F16C00;

.dashboard__reports {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: calc(50% - 10px);
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  &__title {
    padding: 20px 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &__main {
      margin-bottom: 5px;
      font-size: 18px;
    }

    &__sub {
      font-size: 12px;
      color: rgba(0,0,0,0.6);
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:hover {
      background: rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }

    &__image {
      margin: 0 10px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }

    &__content {
      flex-grow: 2;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 15px 15px 15px 0;

      &--no-border {
        border: none;
        padding-bottom: 20px;
      }

      &__main {
        font-size: 14px;
      }

      &__sub {
        font-size: 11px;
        color: rgba(0,0,0,0.6);
      }
    }
  }

  &__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    font-size: 12px;
    color: $color-orange;

    span {
      cursor: pointer;
    }
  }
}

.dashboard__reports__item:last-of-type {
  div {
    border: none;
  }
}
