<div class="profile-page">
  <img class="profile-page__image" src="{{ user.picture }}">

  <md-input
    class="profile-page__input"
    disabled
    placeholder="Email Address"
    value="{{user.email}}">
  </md-input>

  <md-input
    class="profile-page__input"
    [disabled]="!editing"
    placeholder="Name"
    [(ngModel)]="user.name">
  </md-input>

  <div class="profile-page__buttons">
    <button *ngIf="!editing" md-raised-button color="primary" (click)="toggleEdit()">edit</button>
    <button *ngIf="editing" md-raised-button color="primary" (click)="cancelEdit()">cancel</button>
    <button *ngIf="editing" md-raised-button color="primary" (click)="save()">save</button>
  </div>
</div>
