token-view {
  font-size: 14px;
}

md-input-container {
  font-size: 14px;
  margin-right: 40px;
}

dropdown-component {
  width: 150px;
  margin-left: auto;
}

.token-list {
  &__container {
    margin-top: 20px;
    overflow: auto;
    max-height: 430px;
  }

  &__header {
    padding: 15px;
  }
}
