<div class="token-list" *ngIf="loaded">

  <div class="entity-view__card__header">
    <div>
      <div class="entity-view__card__header__title">Tokens</div>
      <div class="entity-view__card__header__subtitle">Choose any of the following tokens to add into your email template.</div>
    </div>
  </div>
  <div class="token-list__header">
    <div class="flex-custom">
      <dropdown-component [options]="tokenTypes" [placeholder]="'Event Type'" [showFloatingPlaceholder]="true" [selected]="selectedType" (onSelect)="selectedType = $event"></dropdown-component>

      <md-icon>search</md-icon>
      <md-input-container>
        <input type="text" placeholder="Search" md-input [(ngModel)]="filterString" autocomplete=off>
      </md-input-container>
    </div>
  </div>

  <div class="token-list__container">
    <token-view *ngFor="let token of tokens | filterTokensType: selectedType: true" [token]="token" [filter]="filterString" (tokenSelected)="tokenSelected.emit($event)"></token-view>
  </div>
</div>
