token-view {
  font-size: 14px;
}

.token-list {
  &__container {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 294px;
  }

  &__header {
    padding: 5px 15px;

    md-icon {
      margin: auto 0 auto auto;
      color: rgba(0, 0, 0, 0.5);
    }

    md-input-container {
      width: 150px;
      font-size: 14px;
    }

    dropdown-component {

    }
  }
}
