.container {
  padding: 25px;
  display: flex;
  align-items: flex-start;
  color: #4A4A4A;
}

.explanation {
  margin-bottom: 45px;
  font-size: 15px;
  width: 340px;
}

.appsdevices {
  width: calc(100% - 300px);

  .items {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    margin-right: 80px;

    .title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #353535;
    }
  }
}

.loader {
  div {
    width: 275px;
    height: 50px;
    background: rgba(0,0,0,0.08);
    margin: 5px 0 10px;
    border-radius: 5px;
  }
}
