<div class="entity-index">

  <div class="entity-index__title">
    {{'PRODUCTSCHEDULE_INDEX_TITLE' | translate}}
    <search-input class="entity-index__search" (onSearch)="setSearchString($event)"></search-input>
    <md-input [(ngModel)]="filterValue" placeholder="{{'INDEXPAGE_FILTER' | translate}}"></md-input>
    <table-preferences class="entity-index__preferences" [columnParams]="columnParams"></table-preferences>
  </div>

  <button md-icon-button color="primary" *ngIf="hasWritePermission()" class="entity-index__add" (click)="openAddMode()"><md-icon>add</md-icon></button>

  <md-card class="entity-index__card">
    <md-card-content class="entity-index__card__content">

      <entities-table
        [data]="entities"
        [columnParams]="columnParams"
        [filterString]="filterValue"
        (selected)="viewEntity($event.id)"
        [serverError]="serverError"

        [service]="service"
        (viewClicked)="viewEntity($event.id)"
        (copyClicked)="copyEntity($event.id)"
        (exportClicked)="exportEntity($event.id)"
        (editClicked)="editEntity($event.id)"
        (deleteClicked)="deleteEntity($event.id)"
        (deleteManyClicked)="deleteMany($event)"
        (refreshData)="refreshData()"

        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)">
      </entities-table>

    </md-card-content>
  </md-card>
</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <product-schedule-add-new class="modal-center" [mode]="modes.Add" [entity]="entity" (save)="createEntity($event)" (cancel)="closeAddMode()"></product-schedule-add-new>
</div>
