<div inViewport (inside)="fetch()" class="dashboard__gray-table-chart">
  <div class="dashboard__gray-table-chart__title">
    <div class="main">{{'DASHBOARD_TOPCAMPAIGNS_TITLE' | translate}}</div>
  </div>

  <div class="dashboard__gray-table-chart__chart">
    <chart *ngIf="chartVisible" #chartI class="dashboard-chart" [options]="chartOptions" (load)="loadChart(chartI)"></chart>
  </div>

  <server-error-message (refresh)="refreshData()" *ngIf="serverError; else data"></server-error-message>

  <ng-template #data>
    <div *ngIf="campaigns" class="dashboard__gray-table-chart__table">
      <div class="item" *ngFor="let campaign of campaigns; let i = index" [routerLink]="['/campaigns', campaign.campaign]">
        <div class="num" [style.background-color]="colors[i]">
          <div>{{i + 1}}</div>
        </div>
        <div class="name">{{campaign.campaign_name || campaign.campaign}}</div>
        <div class="amount">{{campaign.amount.usd()}}</div>
      </div>
    </div>

    <table-loader *ngIf="!campaigns"></table-loader>
  </ng-template>
</div>
