<div inViewport (inside)="fetch()" class="dashboard__table-chart">
  <div class="dashboard__table-chart__title">
    <div class="dashboard__table-chart__title__main">Top Campaigns</div>
    <div class="dashboard__table-chart__title__sub">Clicks & Conversions</div>
    <md-icon [md-menu-trigger-for]="downloadOptions">more_vert</md-icon>
    <md-menu #downloadOptions="mdMenu" x-position="before">
      <button md-menu-item (click)="download('json')"> Download JSON </button>
      <button md-menu-item (click)="download('csv')"> Download CSV </button>
      <button md-menu-item (click)="download('excel')"> Download Excel </button>
    </md-menu>
  </div>

  <table *ngIf="campaigns" class="highlight table--no-border">
    <thead>
      <tr>
        <th class="clickable" *ngFor="let params of columnParams" [class.cell--align-right]="params.align === 'right'" (click)="sort(params)">
          {{params.label}}
          <ng-container *ngIf="params.label === sortParams.label">
            <md-icon *ngIf="sortOrder === 'asc'">keyboard_arrow_up</md-icon>
            <md-icon *ngIf="sortOrder !== 'asc'">keyboard_arrow_down</md-icon>
          </ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campaign of campaigns | sortEntities: sortParams.mappingFunction: sortOrder" [routerLink]="['/campaigns', campaign.campaign]">
        <td *ngFor="let params of columnParams" [class.cell--align-right]="params.align === 'right'">{{params.mappingFunction(campaign)}}</td>
      </tr>
    </tbody>
  </table>

  <md-spinner *ngIf="!campaigns"></md-spinner>

  <div class="dashboard__table-chart__actions"><span [routerLink]="['/coming-soon']">VIEW MORE</span></div>
</div>
