.state-machine-details {
  &__container {
    display: flex;
    padding: 25px;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &__info {
    max-width: 300px;

    &__title {
      font-weight: 500;
      font-size: 20px;
      margin-top: 5px;
    }

    &__count {
      font-weight: 500;
      font-size: 56px;
      color: #5B9BE1;
    }

    &__details {
      display: flex;
      margin-top: 5px;
      margin-bottom: 15px;

      &__box {
        margin-right: 10px;

        .item-title {
          font-size: 10px;
          color: #9B9B9B;
        }

        .value-container {
          display: flex;
          align-items: center;

          .item-value {
            font-size: 14px;
          }

          .arrow {
            margin-left: 10px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid black;
          }
        }
      }

    }

    &__description {
      font-size: 16px;
      line-height: 24px;
    }

    &__button {
      display: inline-block;
      margin-top: 15px;
      padding: 8px 20px;
      cursor: pointer;
      background: #5B9BE1;
      color: white;
      font-size: 14px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);

      &--downstream {
        width: 120px;
      }
    }

    &__downstream {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      &__text {
        font-size: 16px;
      }
    }
  }

  &__timeseries {
    margin-left: 15px;
    width: calc(100% - 300px);
  }

  &__polling {
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    mat-icon {
      margin-right: 8px;
      height: 38px;
      width: 38px;
      color: #F2751C;
      font-size: 38px;
    }

    span {
      font-weight: 300;
      font-size: 18px;
    }
  }
}

advanced-filter {
  display: block;
  margin-bottom: 5px;
  text-align: right;
}

.placeholder {
  display: inline-block;
  background: rgba(0,0,0,0.12);

  &--small {
    height: 15px;
    width: 70px;
  }

  &--large {
    width: 80px;
    height: 60px;
  }
}
