$title-color: #979797;

.entity-view {
  position: relative;
  min-height: calc(100vh - 65px);

  &__title {
    padding: 25px 50px;
    font-size: 20px;
    font-weight: 500;
    color: $title-color;
  }

  &__content {
    position: absolute;
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100% - 75px);
    background-color: white;

    &__title {
      background-color: #F3F3F3;
      padding-left: 50px;
      height: 55px;
      line-height: 55px;
      font-size: 16px;
      font-weight: 500;

      &--first {
        margin-top: 50px;
      }
    }

    &__fields {
      margin : 15px 45px;

      &__item {
        display: inline-block;
        margin: 10px 5px;
        width: 250px;
        font-size: 14px;
        vertical-align: top;

        &__label {
          margin-right: 5px;
          font-weight: 600;
        }

        .label {

          &--toggle {
            display: inline-block;
            line-height: 25px;
            vertical-align: top;
          }

          &--active {
            color: #5999E0;
          }
        }

        &__toggle {
          display: inline-block;
          margin: 0;
        }
      }
    }
  }
}

.entity-view {
  &__card {

    &__title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: #1976D2;
      color: white;

      span {
        margin-left: 24px;
        line-height: 60px;
      }
    }

    &__content {
      margin-top: 60px;

      md-card-subtitle {
        margin-top: 40px;
      }

      md-input {
        margin-right: 20px;
        margin-left: 0;
      }

      &__span--dropdown {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        padding-bottom: 4px;
        border-bottom: 1px #9E9E9E solid;
        width: 100px;
        color: #9E9E9E;

        md-icon {
          position: absolute;
          bottom: 0;
          right: 0;
          color: black;
          cursor: pointer;
        }
      }

      .input-active {
        color: black;
      }
    }
  }
}

.entity {
  position:absolute;
  top: -64px;
  right: 0;
  min-height: 100%;
  width: 30%;
  min-width: 380px;
  z-index: 2;
  overflow: auto;

  &--full-screen {
    min-height: 100vh;
  }

  &__body {
    position: absolute;
    top: 65px;
    right: 0;
    width: 99%;
    background: white;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
    overflow: auto;
  }

  &__nav {
    padding: 15px 18px 10px 18px;

    md-icon {
      cursor: pointer;
    }

    &__close {

    }

    &__add {
      float: right;
    }

    &__more{
      float: right;
    }
  }

  &__caption {
    padding: 15px 18px 20px 18px;
    font-weight: 600;
  }

  &__content {
    margin-bottom: 20px;

    .md-tab-label {
      width: 50%;
    }

    .md-tab-list {
      md-ink-bar {
        margin-left: 0 !important;
        width: 50% !important;
      }
    }

    &__general {
      padding: 18px;

      &__title {
        border-bottom: solid 1px gray;
        line-height: 40px;

        button {
          float: right;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
          font-size: 16px;
          font-weight: 500;
        }
      }

      &__content {

        div {
          padding: 5px 18px 10px 18px;
          box-sizing: border-box;

          &:hover {
            background: #F3F3F3;
          }

          span {
            font-size: 15px;
            cursor: default;

            &:first-child {
              margin-right: 10px;
              font-weight: 600;
            }
          }
        }
      }
    }

    &__array {

      &__item {
        padding: 5px 18px 10px 18px;

        &__subtitle {
          font-size: 16px;
          line-height: 24px;

          md-icon {
            float: right;
            cursor: pointer;
          }
        }

        &__field {
          margin: 10px 0;

          span {
            font-size: 15px;
            cursor: default;

            &:first-child {
              margin-right: 10px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  &__edit {

    &__content {
      padding: 18px;
      font-family: Roboto, "Helvetica Neue", sans-serif;

      &__title {
        margin: 5px 18px 15px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
      }

      &__checkbox {
        margin: 5px 18px;

        span {
          font-size: 14px;
        }

        md-checkbox {
          margin-left: 15px;
        }
      }

      md-input {
        margin: 0 18px;
        width: 300px;
        font-size: 14px;
      }
    }
  }

  &__add {

    &__content {
      padding: 0 18px;

      &--invite {
        padding: 0 18px;
        font-size: 14px;

        &__element {
          margin-bottom: 15px;
        }

        &__label {
          font-weight: 600;
          margin-right: 7px;
        }

        &__select {
          display: inline-block;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          width: 210px;

          md-icon {
            float: right;
            height: 18px;
            vertical-align: middle;
            cursor: pointer;
          }
        }

        md-input {
          display: inline-block;
          width: 200px;
        }

        button {
          margin-top: 15px;
        }
      }

      md-input {
        margin: 5px 18px;
        width: 300px;
        font-size: 16px;
      }
    }
  }

  &__buttons {
    margin: 18px;
    text-align: right;
  }
}
