@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin fast-transition {
  @include transition(all 0.2s ease);
}

@mixin short-transition {
  @include transition(all 0.3s ease);
}

@mixin medium-transition {
  @include transition(all 0.5s ease);
}

@mixin long-transition {
  @include transition(all 1.2s ease);
}

@mixin no-transition {
  @include transition(none);
}

@mixin font-headline {
  font-size: 24pt;
  font-weight: 400;
}

@mixin font-title {
  font-size: 20pt;
  font-weight: 500;
}


@mixin font-subheader {
  font-size: 16pt;
  font-weight: 400;
}


@mixin font-menu {
  font-size: 14pt;
  font-weight: 500;
}

@mixin font-body {
  font-size: 14pt;
  font-weight: 400;
}

@mixin font-caption {
  font-size: 12pt;
  font-weight: 400;
}
