@import "mixins";

$sidenav-width: 250px;
$topnav-height: 64px;
$sidebar-color-light: #385F8D;
$sidebar-color-middle: #2C486F;
$sidebar-color-dark: #171F38;

$sidebar-color: #fff;
$sidebar-text-color: #9B9B9B;
$sidebar-text-color-hover: #5AA3E8;

.dashboard {
  margin: auto;

  @media #{$large-and-up} {
    padding-top: 20px;
    width: 90%;
    max-width: none;
  }
  @media #{$medium-and-down} {
    width: 95%;
  }
}

md-sidenav {
  max-width: 70%;
  min-width: 0 !important;

  @media #{$medium-and-down} {
    &.md-sidenav-opened {
      box-shadow: none !important;
    }
  }

  md-toolbar {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .12);
    padding: 0 10px;
    background: url("/assets/images/leftrailtop.png") no-repeat;
    background-size: 100% 100%;

    .logo {
      width: 120px;
    }

    .logo-small {
      width: 44px;
    }
  }
}

md-sidenav-layout > .md-sidenav-content {
  height: 100vh;
}

md-sidenav-layout {
  background-color: rgb(250, 250, 250);
}

md-nav-list.side-navigation {
  padding-top: 0;

  a[md-list-item] {
    position: relative;
  }

  a[md-list-item] > .md-list-item {
    @include font-body();
    color: $sidebar-text-color;
    -webkit-font-smoothing: antialiased;
    line-height: 40px;
    letter-spacing: .14px;

    &:hover {
      color: $sidebar-text-color-hover;
    }

    > i.material-icons:last-child {
      line-height: 40px;
      //position: absolute;
      //right: 20px;
      transition: .4s transform cubic-bezier(.25, .8, .25, 1);
      &:before {
        content: "keyboard_arrow_down";
      }
    }
  }

  a.active > .md-list-item > i.material-icons:last-child {
    transform: rotate(180deg) translateZ(0);
  }

  a.active:not(.nav-dropdown) > .md-list-item:not(:hover) {
    background-color: darken($sidebar-color, 4%) !important;
  }

  .nav-children {
    padding-top: 0;
    overflow: hidden;
    transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    &:not(.active) {
      transition: height 0.75s cubic-bezier(0.35, 0, 0.25, 1);
      height: 0 !important;
    }

    $base-padding: 16px;
    $base-color-change: 2%;
    &.level1 a > .md-list-item {
      padding-left: $base-padding * 2;
      background-color: darken(#ffffff, $base-color-change);
      &:hover, &.active {
        background-color: darken($sidebar-color, $base-color-change * 2);
      }
    }
    &.level2 a > .md-list-item {
      padding-left: $base-padding * 3;
      background-color: darken($sidebar-color, $base-color-change * 2);
      &:hover, &.active {
        background-color: darken($sidebar-color, $base-color-change * 3);
      }
    }
    &.level3 a > .md-list-item {
      padding-left: $base-padding * 4;
      background-color: darken($sidebar-color, $base-color-change * 3);
      &:hover, &.active {
        background-color: darken($sidebar-color, $base-color-change * 4);
      }
    }
    &.level4 a > .md-list-item {
      padding-left: $base-padding * 5;
      background-color: darken($sidebar-color, $base-color-change * 4);
      &:hover, &.active {
        background-color: darken($sidebar-color, $base-color-change * 5);
      }
    }
    &.level5 a > .md-list-item {
      padding-left: $base-padding * 6;
      background-color: darken($sidebar-color, $base-color-change * 5);
      &:hover, &.active {
        background-color: darken($sidebar-color, $base-color-change * 6);
      }
    }
  }
}

.side-navigation {
  &__version {
    margin-top: 20px;
    margin-left: 50px;
    color: $sidebar-text-color;
    font-size: 14px;
  }
}

.side-navigation md-nav-list {
  position: relative;
}

.side-navigation md-nav-list.nav-children:before, .side-navigation md-nav-list.nav-children:after, .side-navigation a.active:not(.nav-dropdown):before, .side-navigation a.active:not(.nav-dropdown):after {
  content: "";
  left: 0;
  position: absolute;
  width: $sidenav-width;
  height: 2px;
  z-index: 3;
}

.side-navigation md-nav-list.nav-children:before, .side-navigation a.active:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, transparent 100%);
  top: 0;
}

.side-navigation md-nav-list.nav-children:after, .side-navigation a.active:after {
  background: linear-gradient(to top, rgba(0, 0, 0, .1) 0%, transparent 100%);
  bottom: 0;
}

@media #{$medium-and-down} {
  main, footer {
    padding-left: 0;
  }
}

header md-toolbar {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: url("/assets/images/top-nav.svg") no-repeat !important;
  background-size: auto 64px !important;

  md-toolbar-row:not(:first-child) {
    @media #{$medium-and-down} {
      height: 44px;
    }
  }
  .breadcrumb-holder {
    white-space: nowrap;
    .breadcrumb {
      &:before {
        content: '\E5CC';
        color: hsla(0, 0%, 100%, .7);
        vertical-align: top;
        display: inline-block;
        font-family: Material Icons;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
        margin: 0 10px 0 8px;
        -webkit-font-smoothing: antialiased
      }

      &:first-child:before {
        display: none;
      }

      > .breadcrumb-link {
        @media #{$large-and-up} {
          color: $font-color;
        }
        @media #{$medium-and-down} {
          color: white;
        }
      }

      line-height: 44px;

      @media #{$large-and-up} {
        color: $font-color;
        &:before {
          color: $font-color
        }
        &:last-child {
          color: $font-color;
        }
      }
      @media #{$medium-and-down} {
        color: white;
        &:before {
          color: white
        }
        &:last-child {
          color: white !important;
        }
      }
    }
  }

  md-toolbar-row > .breadcrumb-holder {
    overflow-x: scroll;
    > .breadcrumb:last-child {
      color: $font-color;
    }
  }

  .md-toolbar-layout {
    z-index: 2;
  }
}

[md-icon-button] {
  height: auto !important;
}

.md-menu-click-catcher {
  z-index: 9999;
}

#menu-toggler {
  margin-right: 16px;
  margin-left: -16px;
  width: 50px;
  z-index: 1000;
  &[md-icon-button] {
    border-radius: 0;
    padding: 10px;
    line-height: 44px;
  }

  @media #{$medium-and-down} {
    color: #ffffff;
  }
}

#user-dropdown-toggler {
  width: auto;
  &[md-icon-button] {
    border-radius: 3px;
    padding: 10px;
    line-height: 44px;
  }
}

.app-flex-filler {
  flex: 1 1 auto;
}

.navbar-search-wrapper {
  position: absolute;
  left: 60px;
  width: calc(100% - 4rem);
  height: 100%;
}

#topnav-search {
  width: 0;
  overflow: hidden;
  animation: .666s ease 0s normal forwards 1 fadeout;
  opacity: 0;
  visibility: hidden;
  transition: width 0.4s cubic-bezier(0.35, 0, 0.25, 1);
  &.search-visible {
    width: 200px;
    visibility: visible;
    opacity: 1;
    animation: .8s ease 0s normal forwards 1 fadein;
  }

  @media #{$medium-and-down} {
    transition: none;
    .md-input-placeholder.md-empty {
      color: white;
    }
  }
}
