.md-tab-header {
  border-bottom: none;
}

.md-tab-label {
  min-width: 100px !important;
  height: 28px !important;
  line-height: 28px !important;
  width: 100px;
  padding: 0 !important;
  font-family: Montserrat, serif;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
}

.md-tab-list {
  md-ink-bar {
    margin-left: 7px !important;
    width: 86px !important;
    background-color: #20A2D1 !important;
  }
}
