<server-error-message (refresh)="refreshData.emit(true)" *ngIf="serverError; else tableData;"></server-error-message>

<ng-template #tableData>
  <div class="entity-index__table__bulk-actions" [class.entity-index__table__bulk-actions--visible]="numberOfSelected() > 0">
    <div class="container" *ngIf="numberOfSelected() > 0">
      <div class="text">
        {{numberOfSelected()}}
        {{'INDEXPAGE_SELECTED' | translate}}
      </div>
      <div #arrow>
        <md-icon (click)="showActionOptions = !showActionOptions" class="arrow" [class.arrow--rotated]="showActionOptions">keyboard_arrow_up</md-icon>
      </div>
      <div #options *ngIf="showActionOptions" class="options__container">
        <div class="options__item" (click)="selectAll()">{{'INDEXPAGE_SELECTALL' | translate}}</div>
        <div class="options__item" (click)="deselectAll()">{{'INDEXPAGE_DESELECTALL' | translate}}</div>
        <div class="options__item" (click)="deleteAll()">{{'INDEXPAGE_DELETEALL' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="entity-index__options">
    <table-pagination
      class="entity-index__pagination--no-margin"
      style="margin-left: auto"
      [limit]="limit"
      [paginationValues]="paginationValues"
      [previousDisabled]="previousDisabled"
      [nextDisabled]="nextDisabled"
      (previous)="previous.emit(true)"
      (next)="next.emit(true)"
      (updateLimit)="updateLimit.emit($event)">
    </table-pagination>
    <filter-input class="entity-index__filter" (valueChanged)="filterChanged.emit($event)"></filter-input>
    <search-input (onSearch)="searchChanged.emit($event)"></search-input>
    <table-density [density]="density" (densityChanged)="density = $event"></table-density>
    <table-preferences class="entity-index__preferences" [columnParams]="columnParams"></table-preferences>
  </div>

  <table class="entity-index__table highlight">
    <thead class="entity-index__table__header">
    <tr>
      <th class="bulk-header"></th>
      <ng-container *ngFor="let params of columnParams">
        <ng-container *ngIf="params.selected">
          <th (click)="setSortParams(params)" [class.cell--align-right]="params.align === 'right'" [class.cell--codeblock]="params.code">
            {{params.label | translate}}
            <ng-container *ngIf="params.sortEnabled">
              <md-icon [class.icon-applied]="params.sortApplied && params.sortOrder === 'asc'" class="up-icon">arrow_drop_up</md-icon>
              <md-icon [class.icon-applied]="params.sortApplied && params.sortOrder === 'desc'" class="down-icon">arrow_drop_down</md-icon>
            </ng-container>
          </th>
        </ng-container>
      </ng-container>
      <th></th>
    </tr>
    </thead>

    <tbody [class.density--s]="density === 0"  [class.density--l]="density === 2"[class.density--m]="density !== 0 && density !==2">
    <ng-container *ngFor="let entity of (data | filterEntitiesByParams: columnParams: filterString | sortEntities: sortParams.mappingFunction: sortParams.sortOrder)">
      <tr [class.selected]="entity.bulkSelected">
        <td class="bulk-option">
          <md-checkbox class="checkbox-blue" [(ngModel)]="entity.bulkSelected"></md-checkbox>
        </td>
        <ng-container *ngFor="let param of columnParams">
          <ng-container *ngIf="param.selected">
            <td (click)="selected.emit(entity)" [class.cell--align-right]="param.align === 'right'">
              <div class="codeblock" *ngIf="param.code; else noCode">
                {{param.mappingFunction(entity)}}
              </div>
              <ng-template #noCode>
                <ng-container *ngIf="param.number; else nan">{{param.mappingFunction(entity) | numberlocale}}</ng-container>
                <ng-template #nan>
                  <ng-container *ngIf="param.translate; else notranslate">{{param.mappingFunction(entity) | translate}}</ng-container>
                  <ng-template #notranslate>{{param.mappingFunction(entity)}}</ng-template>
                </ng-template>
              </ng-template>
            </td>
          </ng-container>
        </ng-container>
        <td>
          <table-actions
            [service]="service"
            [customText]="customOptionText"
            [showView]="showView"
            [showDelete]="showDelete"
            (viewClicked)="viewClicked.emit(entity)"
            (copyClicked)="copyClicked.emit(entity)"
            (exportClicked)="exportClicked.emit(entity)"
            (editClicked)="editClicked.emit(entity)"
            (deleteClicked)="deleteClicked.emit(entity)"
            (customClicked)="customOptionClicked.emit(entity)">
          </table-actions>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <table-pagination
    [limit]="limit"
    [paginationValues]="paginationValues"
    [previousDisabled]="previousDisabled"
    [nextDisabled]="nextDisabled"
    (previous)="previous.emit(true)"
    (next)="next.emit(true)"
    (updateLimit)="updateLimit.emit($event)">
  </table-pagination>
</ng-template>
