.bulk-header {
  width: 66px;
  padding: 0;
}

.bulk-option {
  width: 20px;
  padding: 0 !important;
  text-align: center;
}

md-checkbox {
  color: rgba(0,0,0,0.4);
}

.selected {
  background: #f2f2f2;
}

table-pagination {
  width: 100%;
}

.entity-index__options {
  flex-wrap: wrap;
}
