<blue-header [items]="breadcrumbs" [titleValue]="entity ? entity.firstName + ' ' + entity.lastName : null"></blue-header>

<div class="body">
  <div class="section" [class.section--full]="!infoVisible">
    <tab-header [elements]="tabHeaders"
                [selectedIndex]="selectedIndex"
                (select)="setIndex($event)">
      <mat-icon class="info-icon" [class.info-icon--active]="infoVisible" (click)="infoVisible = !infoVisible">info</mat-icon>
    </tab-header>

    <mat-tab-group class="tab--no-header" [(selectedIndex)]="selectedIndex">

      <mat-tab>
        <customer-advanced-subscriptions [customer]="entity"></customer-advanced-subscriptions>
      </mat-tab>
      <mat-tab>
        <customer-advanced-orders [customer]="entity" (transactionRefunded)="refreshTransactions()"></customer-advanced-orders>
      </mat-tab>
      <mat-tab>
        <customer-advanced-transactions [customer]="entity" (transactionRefunded)="refreshOrders()"></customer-advanced-transactions>
      </mat-tab>
      <mat-tab>
        <customer-advanced-fulfillments [customer]="entity"></customer-advanced-fulfillments>
      </mat-tab>
      <mat-tab>
        <customer-advanced-events [customer]="entity"></customer-advanced-events>
      </mat-tab>

    </mat-tab-group>
  </div>

  <div class="section" [class.section--invisible]="!infoVisible">
    <tab-header [elements]="secondaryTabHeaders"
                [selectedIndex]="selectedSecondaryIndex"
                [ignoreUrl]="true"
                (select)="setSecondaryIndex($event)">
      <mat-icon class="info-icon" (click)="infoVisible = false">close</mat-icon>
    </tab-header>

    <mat-tab-group class="tab--no-header tab--full-height" [(selectedIndex)]="selectedSecondaryIndex">

      <mat-tab>
        <customer-info [customer]="entity"></customer-info>
      </mat-tab>

      <mat-tab>
        <customer-info-notes #customernotes [customer]="entity"></customer-info-notes>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
