@import "../../../assets/scss/entity-view";

.cancel {
  font-size: 12px;
  line-height: 12px;
  color: white;
  background: #EF4339;
  font-weight: 500;
  padding: 6px 16px;
  cursor: pointer;
}

.cancelled-message {
  margin-left: 25px;

  div {
    color: #ffffff;

    &:first-of-type {
      margin-bottom: 3px;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &:last-of-type {
      font-size: 12px;
    }
  }
}