$content-height: calc(100vh - 225px);
$info-width: 290px;

.body {
  display: flex;

  .section {
    overflow: hidden;
    transition: 250ms ease-in-out;

    &--full {
      width: 100% !important;
      transition: 250ms ease-in-out;
    }

    &:first-of-type {
      width: calc(100% - 290px);
    }

    &:last-of-type {
      width: $info-width;
      border-left: 1px solid rgba(0,0,0,0.12);
    }

    &--invisible {
      width: 0 !important;
      transition: 250ms ease-in-out;
    }
  }
}

customer-info, customer-info-notes {
  display: block;
  width: $info-width;
  min-height: $content-height;
  height: 100%;
}

.info-icon {
  color: rgba(0,0,0,0.7);
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;

  &--active {
    color: #2C98F0;
  }
}
