<blue-header [items]="breadcrumbs" [titleValue]="account ? account.name : null"></blue-header>

<div class="body">
  <div class="header">
    <button mat-button (click)="showInviteDialog()">NEW</button>

    <div class="mrw-bi-input">
      <mat-form-field [floatLabel]="'never'">
        <input matInput type="text" placeholder="Find user..." [(ngModel)]="filterString">
      </mat-form-field>
    </div>

    <div class="count" *ngIf="account">{{account.acls.length}} Users</div>

    <div class="sort" [matMenuTriggerFor]="sortoptions">
      <div>Sort by <span>{{selectedSortBy ? ' ' + selectedSortBy.label : ''}}</span></div>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #sortoptions="matMenu" x-position="before">
      <button mat-menu-item *ngFor="let sort of sortBy" (click)="applySortBy(sort)">{{sort.label}}</button>
    </mat-menu>
  </div>

  <div class="content-wrapper" *ngIf="account">

    <div class="user-card" *ngFor="let acl of account.acls | filterStrings: filterString: filterFunction">
      <div class="avatar avatar--pending" *ngIf="!!acl.pending; else accepted">
        <img src="/assets/images/envelope.svg" alt="">
      </div>
      <ng-template #accepted>
        <div class="avatar">{{getAvatar(acl)}}</div>
      </ng-template>
      <div class="data">
        <div class="name">{{acl.user.name}}</div>
        <div class="email">{{acl.user.email}}</div>
        <div class="login">Last login:</div>

        <div class="roles">
          <account-management-roles-selector
            [acl]="acl"
            [sharedRoles]="sharedRoles"
            [roles]="roles"
            (updateRole)="updateAclRole($event)">
          </account-management-roles-selector>
        </div>
      </div>

      <ng-container *ngIf="!acl.role.isOwner() && acl.id !== authService.getActiveAcl().id">
        <mat-icon class="menu-icon" [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
        <mat-menu #actionsMenu="matMenu" x-position="before">
          <button mat-menu-item (click)="deleteAcl(acl)">Delete</button>
          <button mat-menu-item (click)="resendInvite(acl)" *ngIf="!!acl.pending">Resend</button>
        </mat-menu>
      </ng-container>
    </div>

  </div>
</div>
