.payment {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, #4277C2, #2C98F0);

  .blue-screen__account-switcher {
    button {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  margin: auto auto 0 auto;

  .circle {
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    height: 22px;
    width: 22px;

    div {
      top: 24px;
      font-size: 13px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      font-family: 'Roboto', serif;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 500;
    }
  }

  .line {
    width: 46px;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
  }

  .active {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0);
  }

  .finished {
    background: #1EBEA5;
    border-color: #1EBEA5;
  }
}

.container {
  margin: 35px auto auto;
}

.logo {
  height: 38px;
  position: absolute;
  top: 15px;
  left: 15px;
}
