<div class="payment">

  <img class="logo" src="{{'/assets/images/' + sidenavLogo}}" alt="">

  <div class="blue-screen__account-switcher">
    <simple-dropdown
      [mapper]="mapAcl"
      [selectedOption]="authService.activeAcl$ | async"
      [options]="authService.getAcls()"
      [icon]="'domain'"
      (optionSelected)="changeAcl($event)">
    </simple-dropdown>

    <button mat-button (click)="signout()">{{'REGISTER_SIGNOUT' | translate}}</button>
  </div>

  <div class="progress">
    <div class="circle finished"></div>
    <div class="line finished"></div>
    <div class="circle" [class.active]="planInProgress" [class.finished]="paymentInProgress || confirmationInProgress">
      <div *ngIf="planInProgress">PLAN</div>
    </div>
    <div class="line" [class.finished]="paymentInProgress || confirmationInProgress"></div>
    <div class="circle"  [class.active]="paymentInProgress" [class.finished]="confirmationInProgress">
      <div *ngIf="paymentInProgress || confirmationInProgress">PAYMENT</div>
    </div>
  </div>

  <div *ngIf="planInProgress" class="container">
    <plans (planSelected)="setSelectedPlan($event)"></plans>
  </div>

  <div *ngIf="paymentInProgress" class="container">
    <plan-billing
      [creditCard]="creditCard"
      [plan]="plan"
      [errorMessage]="errorMessage"
      (changePlan)="setPlanInProgress()"
      (submitCard)="submitCard($event)">
    </plan-billing>
  </div>

  <div *ngIf="confirmationInProgress" class="container">
    <plan-confirmation
      [card]="creditCard"
      [plan]="plan"
      (issuePayment)="pay()"
      (viewTerms)="openTermsModal()"
      (changePlan)="setPlanInProgress()"
      (changeCard)="setPaymentInProgress()">
    </plan-confirmation>
  </div>

</div>
