<div class="payment">

  <img class="logo" src="{{'/assets/images/' + sidenavLogo}}" alt="">

  <div class="blue-screen__account-switcher">
    <simple-dropdown
      [mapper]="mapAcl"
      [selectedOption]="authService.activeAcl$ | async"
      [options]="authService.getAcls()"
      [icon]="'domain'"
      (optionSelected)="changeAcl($event)">
    </simple-dropdown>

    <button mat-button (click)="signout()">{{'REGISTER_SIGNOUT' | translate}}</button>
  </div>

  <div class="progress">
    <div class="circle finished"></div>
    <div class="line finished"></div>
    <div class="circle" [class.active]="planInProgress" [class.finished]="paymentInProgress || confirmationInProgress">
      <div *ngIf="planInProgress">{{'REGISTER_PROGRESS_PLAN' | translate}}</div>
    </div>
    <div class="line" [class.finished]="paymentInProgress || confirmationInProgress"></div>
    <div class="circle" [class.active]="paymentInProgress" [class.finished]="confirmationInProgress">
      <div *ngIf="paymentInProgress">{{'Billing' | translate}}</div>
    </div>

    <div class="line" [class.finished]="confirmationInProgress"></div>
    <div class="circle" [class.active]="confirmationInProgress">
      <div *ngIf="confirmationInProgress">{{'REGISTER_PROGRESS_PAYMENT' | translate}}</div>
    </div>
  </div>

  <div *ngIf="planInProgress" class="container">
    <plans (planSelected)="setSelectedPlan($event)"></plans>
  </div>

  <div *ngIf="paymentInProgress" class="container">
    <plan-billing
      (changePlan)="setPlanInProgress()"
      (creditCardSelected)="setCreditCard($event)"
      [creditCard]="creditCard"
      [plan]="plan">
    </plan-billing>
  </div>

  <div *ngIf="confirmationInProgress" class="container">
    <plan-payment
      [creditCard]="creditCard"
      [plan]="plan"
      (changePlan)="setPlanInProgress()"
      (changeCreditCard)="setPaymentInProgress()">
    </plan-payment>
  </div>

</div>
