<div class="payment">

  <img class="logo" src="/assets/images/logo-white.svg" alt="">

  <div class="progress">
    <div class="circle finished"></div>
    <div class="line finished"></div>
    <div class="circle" [class.active]="planInProgress" [class.finished]="paymentInProgress">
      <div *ngIf="planInProgress">{{'REGISTER_PROGRESS_PLAN' | translate}}</div>
    </div>
    <div class="line" [class.finished]="paymentInProgress"></div>
    <div class="circle" [class.active]="paymentInProgress">
      <div *ngIf="paymentInProgress">{{'REGISTER_PROGRESS_PAYMENT' | translate}}</div>
    </div>
  </div>

  <div *ngIf="planInProgress" class="container">
    <plans (planSelected)="setSelectedPlan($event)"></plans>
  </div>

  <div *ngIf="paymentInProgress" class="container">
    <plan-payment
      (changePlan)="changePlanEmitted()"
      (paymentSuccessful)="accountPaymentFinished()"
      [plan]="plan">
    </plan-payment>
  </div>

</div>
