.table-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .column {
    display: flex;
    flex-direction: column;

    .item {
      height: 36px;
      line-height: 36px;
      font-size: 13px;
      font-weight: 500;
      text-align: right;
      color: rgba(0, 0, 0, 0.87);
      padding-top: 15px;

      &--title {
        text-align: left;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .first-column {
    div {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal;
    }
  }

  .first-row {
    font-weight: 500 !important;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54) !important;
  }
}

.event-type-options {
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.mat-icon {
  margin-left: inherit;
  vertical-align: text-top;
}

.chart-statistics {
  color: #333333;
  background-color: rgba(0, 0, 0, 0.12);
  margin: auto 10px;
  cursor: pointer;
}

.selected {
  color: #ffffff;
  background-color: #333333;
}

.main {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.simpleChart {
  background-color: #fafafa;

  .event-type-options {
    font-size: 13px;
    line-height: 24px;

    mat-icon {
      margin-left: 0;
    }
  }

  .table-container {
    justify-content: space-between;
    margin-left: 20px;

    .column {
      margin-right: 0;
    }
  }
}
