<div class="entity-view__title">
  <ng-container *ngFor="let item of items; let i = index;">

    <ng-container *ngIf="item.url; else nourl">
      <span [routerLink]="[item.url]" class="entity-view__title__breadcrumb">
        <ng-container *ngIf="item.noTranslate; else translate">{{item.label()}}</ng-container>
      </span>
    </ng-container>

    <ng-template #nourl>
      <span class="entity-view__title__breadcrumb">
        <ng-container *ngIf="item.noTranslate; else translate">{{item.label()}}</ng-container>
      </span>
    </ng-template>

    <ng-template #translate>{{item.label() | translate}}</ng-template>

    <md-icon *ngIf="i < items.length - 1" class="breadcrumb-arrow">keyboard_arrow_right</md-icon>
  </ng-container>
</div>
