.arrow {
  display: flex;
  flex-direction: column;
}

.arrow-body {
  display: inline-block;
  height: 22px;
  width: 4px;
  margin: 5px auto 0;
  background: #9B9B9B;
}

.arrow-head {
  margin: 0 auto 5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 20px solid #9B9B9B;
}
