.status-item {

  &__container {
    margin: 0 10px 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
    display: flex;
  }

  &__main {
    padding: 12px;
    display: flex;
    flex-direction:column;
    border-right: 6px solid;
    width: 50%;

    &__count {
      font-size: 26px;
      font-weight:500;
    }

    &__label {
      margin-top: 5px;
      font-size: 14px;
      color: rgba(0,0,0,0.5);
      text-transform: capitalize;
    }

    &__view-link {
      color: #5B9BE1;
      font-size: 14px;
      margin-top: auto;
      cursor: pointer;
    }
  }

  &__additional {
    width: 50%;

    &__box {
      min-height: 50px;
      width: 100%;
      padding: 12px 5px;
      box-sizing: border-box;

      &--border {
        border-top: 1px solid rgba(0,0,0,0.1);
      }
    }

    &__title {
      font-size: 11px;
      line-height: 15px;
      color: rgba(0,0,0,0.4);
    }

    &__value {
      margin-top:5px;
      line-height: 15px;
      font-size: 14px;
    }
  }
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
}
