<div class="status-item__container">
  <div class="status-item__main"
       [style.border-color]="queue.failureColor || 'rgba(0,0,0,0.3)'">
    <div *ngIf="!queue.loaded" class="placeholder"></div>
    <div *ngIf="queue.loaded" class="status-item__main__count">{{queue.count | numberlocale}}</div>
    <div class="status-item__main__label">{{queue.labelkey | translate}}</div>
    <div class="status-item__main__view-link" [routerLink]="[queue.label.toLowerCase()]">{{'ORDERENGINE_STATUS_VIEW' | translate}}</div>
  </div>

  <div class="status-item__additional">
    <div class="status-item__additional__box">
      <div class="status-item__additional__title">{{'ORDERENGINE_STATUS_AVGTIME' | translate}}</div>
      <div class="arrow-container">
        <div *ngIf="!queue.loaded" class="placeholder"></div>
        <div *ngIf="queue.loaded" class="status-item__additional__value">{{queue.avgTimeInSeconds | formatDuration}}</div>
        <div class="arrow"
             [style.border-bottom-color]="queue.avgTimeColor || 'rgba(0,0,0,0.3)'"
             [style.transform]="(queue.avgTimeColor === 'RED' || queue.avgTimeColor == 'ORANGE') ? 'rotate(180deg)' : 'rotate(0)'">
        </div>
      </div>
    </div>
    <div class="status-item__additional__box status-item__additional__box--border">
      <div class="status-item__additional__title">{{'ORDERENGINE_STATUS_FAILURERATE' | translate}}</div>
      <div class="arrow-container">
        <div *ngIf="!queue.loaded" class="placeholder"></div>
        <div *ngIf="queue.loaded" class="status-item__additional__value">{{queue.failureRate | numberlocale}}%</div>
        <div class="arrow"
             [style.border-bottom-color]="queue.failureColor || 'rgba(0,0,0,0.3)'"
             [style.transform]="(queue.failureColor === 'RED' || queue.failureColor == 'ORANGE') ? 'rotate(180deg)' : 'rotate(0)'">
        </div>
      </div>
    </div>
  </div>
</div>
