<div class="entity-index">
  <div class="entity-index__title">
    {{'USER_INDEX_TITLE' | translate}}
  </div>

  <button md-icon-button color="primary" *ngIf="hasWritePermission() && authService.isActiveAclMasterAccount()" class="entity-index__add" (click)="openAddMode()"><mat-icon>add</mat-icon></button>

  <md-card class="entity-index__card">
    <md-card-content class="entity-index__card__content">

      <entities-table
        [data]="entities"
        [loaded]="initialLoaded"
        [columnParams]="columnParams"
        [filterString]="filterValue"
        [serverError]="serverError"
        (selected)="viewEntity($event.id)"

        [service]="service"
        [showDelete]="authService.isActiveAclMasterAccount()"
        (viewClicked)="viewEntity($event.id)"
        (copyClicked)="copyEntity($event.id)"
        (exportClicked)="exportEntity($event.id)"
        (editClicked)="editEntity($event.id)"
        (deleteClicked)="deleteEntity($event.id)"
        (deleteManyClicked)="deleteMany($event)"
        (refreshData)="refreshData()"

        [limit]="limit"
        [paginationValues]="paginationValues"
        [previousDisabled]="page <= 0"
        [nextDisabled]="!hasMorePages()"
        (previous)="previous()"
        (next)="next()"
        (updateLimit)="updateLimit($event)"
        (filterChanged)="filterValue = $event"
        (searchChanged)="setSearchString($event)"
      >
      </entities-table>

    </md-card-content>
  </md-card>
</div>

<div *ngIf="addMode" (click)="overlayClicked($event)" class="full-overlay">
  <user-add-new class="modal-center"
                [accounts]="accounts"
                [roles]="roles"
                [mode]="modes.Add"
                [entity]="entity"
                (save)="saveUser($event)"
                (cancel)="closeAddMode()">
  </user-add-new>
</div>
