<div *ngIf="entity; else spinner" class="entity-view">
  <div class="entity-view__title">Load Balancer</div>

  <div (click)="navigation.back()" class="entity-view__change-mode"><md-icon>reply</md-icon></div>

  <div class="entity-view__info">
    <div class="entity-view__info__image">
      <img src="/assets/images/result-item-transaction-white.svg" alt="">
    </div>
    <div class="entity-view__info__data">
      <div *ngIf="!addMode" class="entity-view__info__data__date">Created: {{entity.createdAt | formatDateTime: 'date-time'}}</div>
      <div class="entity-view__info__data__name">
        <span *ngIf="viewMode; else createForm">
          {{entityBackup.name}}
        </span>
        <ng-template #createForm>
          <md-input-container [class.error]="detailsFormInvalid && !entity.name">
            <input required md-input placeholder="{{addMode ? 'Name' : ''}}" type="text" [(ngModel)]="entity.name">
          </md-input-container>
        </ng-template>
      </div>
    </div>

    <div class="entity-view__info__edit">
      <div *ngIf="viewMode; else editButtons" class="entity-view__info__edit__update" (click)="setMode(modes.Update)"> EDIT LOAD BALANCER</div>
      <ng-template #editButtons>
        <div *ngIf="updateMode" (click)="cancelUpdate()">CANCEL</div>
        <div class="entity-view__info__edit__update" (click)="updateLoadBalancer()"> {{ addMode ? 'SAVE' : 'UPDATE'}}</div>
      </ng-template>
    </div>
  </div>

  <div class="entity-view__navigation">
    <span class="entity-view__navigation__label entity-view__navigation__label--active">GENERAL DETAILS</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedIndex">
    <md-tab>
      <div class="entity-view__card">
        <div class="entity-view__card__header">
          <div class="entity-view__card__header__title">Add Merchant Provider</div>
          <!--<md-icon>more_vert</md-icon>-->
        </div>
        <form #merchantProviderInputForm="ngForm" class="entity-view__card__content">
          <md-input-container style="width: 110px" class="entity-view__card__content__item" [class.error]="formInvalid && !providerToAdd.distribution">
            <input required md-input placeholder="Distribution" name="distribution" (keydown)="isFloatNumeric($event)" [(ngModel)]="providerToAdd.distribution" type="text">
          </md-input-container>

          <autocomplete-input style="font-size: 14px;"
                              [class.error]="formInvalid && !providerToAdd.merchantProvider.id"
                              [mapFunction]="merchantProviderMapper"
                              [initialValue]="providerToAdd.merchantProvider"
                              [options]="merchantProviderService.entities$ | async"
                              [placeholder]="'Merchant Provider'"
                              [required]="true"
                              (selected)="providerToAdd.merchantProvider = $event">
          </autocomplete-input>
        </form>

        <div class="entity-view__card__actions">
          <div (click)="clearAddProvider()">CLEAR</div>
          <div (click)="addProvider(merchantProviderInputForm.form.valid)">ADD</div>
        </div>
      </div>

      <div class="flex-custom">
        <table-memory class="load-balancer__merchant-providers" [title]="'Merchant Provider'"
                      [data]="entity.merchantProviderConfigurations"
                      [associationEnabled]="false"
                      [associateDataMapper]="merchantProviderConfigMapper"
                      [columnParams]="merchantProviderColumnParams"
                      [filterEnabled]="false"
                      (view)="navigateToMerchantProvider($event)"
                      (disassociate)="disassociateMerchantProvider($event)">
        </table-memory>
      </div>
    </md-tab>
  </md-tab-group>
</div>

<ng-template #spinner>
  <md-spinner class="entity-view__spinner--main"></md-spinner>
</ng-template>
