<md-card class="customer-view__card notes">
  <md-card-title>
    <div class="title">{{'CUSTOMER_NOTES_TITLE' | translate}}</div>
    <div class="subtitle">{{'CUSTOMER_NOTES_SUBTITLE' | translate}}</div>

    <mat-icon [matMenuTriggerFor]="creditCardOptions">more_vert</mat-icon>
    <mat-menu #creditCardOptions="matMenu" x-position="before">
      <button md-menu-item (click)="newNote()">{{'CUSTOMER_NOTES_ADD' | translate}}</button>
    </mat-menu>
  </md-card-title>
  <md-card-content>
    <div *ngIf="showNewNote" class="notes__new">
      <md-textarea [(ngModel)]="note"></md-textarea>

      <div class="notes__new__actions">
        <mat-icon (click)="closeNote()" class="notes__new__actions__close">clear</mat-icon>
        <mat-icon (click)="saveNote()" class="notes__new__actions__done">done</mat-icon>
      </div>
    </div>

    <div class="notes__container"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="300"
         [scrollWindow]="false"
         (scrolled)="onScroll()">

      <div class="note" *ngFor="let n of notes">
        <div class="note__title">
          <span class="note__title__label note__title__label--link" [routerLink]="['/users', n.user.id]">{{n.user.name}}</span>
          <mat-icon>date_range</mat-icon>
          <span class="notes__title__label">{{n.createdAt | formatDateTime}}</span>
          <mat-icon>query_builder</mat-icon>
          <span class="note__title__label">{{n.createdAt | formatDateTime: 'time'}}</span>
        </div>
        <div class="note__content">
          <div><img src="assets/images/alert-icon.svg"></div>
          <span>{{n.body}}</span>
          <mat-icon class="note__content__action" [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>

          <mat-menu #actionsMenu="matMenu" x-position="before">
            <button md-menu-item (click)="deleteEntity(n.id)">{{'CUSTOMER_NOTES_DEL' | translate}}</button>
          </mat-menu>
        </div>
      </div>

      <server-error-message (refresh)="refreshData()" *ngIf="serverError; else message"></server-error-message>
      <ng-template #message>
        <table-loader *ngIf="loadingData"></table-loader>
        <div class="entity-view__no-results customer-view__no-results entity-view__no-results--small-padding" *ngIf="!loadingData && (!notes || notes.length === 0)">{{'CUSTOMER_NOTES_NODATA' | translate}}</div>
      </ng-template>
    </div>

  </md-card-content>
</md-card>
